.StickyFilters {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    padding: 10px;
    background: white;
    z-index: 10;
    /*box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);*/
    @media (max-width: 990px) {
        padding: 0;
    }
}
