.StickyFilters {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    padding: 10px 10px 10px 0;
    background: white;
    z-index: 8;
    @media (max-width: 990px) {
        height: 100px;
    }
    @media (max-width: 720px) {
        height: 135px;
    }
    @media (max-width: 600px) {
        height: 165px;
    }
    @media (max-width: 420px) {
        height: 215px;
    }
}
