.StickyFilters {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    padding: 10px 10px 10px 0;
    background: white;
    z-index: 8;
    @media (max-width: 990px) {
        padding: 0;
    }
}
