.federations-filter {
  margin-bottom: 16px;
  &__title {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    border-right: 1px solid #72839C;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #253c5e;
    letter-spacing: 0.2px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &__chevron {
    width: 24px;
    height: 24px;
    background: url("/static/icons/chevron-down-light.svg") no-repeat center;
    transition: all .2s linear;
    margin-left: 4px;
    &:hover {
      background: url("/static/icons/chevron-down-blue.svg") no-repeat center;
    }
    &._dropdown_open {
      transform: rotate(180deg);
    }
  }
  &__list {
    list-style: none;
    border-top: 1px solid #e8e8e8;
    padding-top: 12px;
    margin-top: 12px;
  }
  &__svg-info:hover {
    fill: #3366ff;
  }
  &__support-link {
    position: relative;
    left: 230px;
    top: 30px;
  }
}