.drop-down {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  padding-right: 20px;

  &__handler {
    position: absolute;
    min-width: 16px;
    height: 100%;
    //background-color: #00cf53;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__items {
    position: absolute;
    background-color: white;
    top: calc(100% + 8px);
    right: -16px;
    border-radius: 8px;
    display: none;
    box-sizing: border-box;

    &--visible {
      display: block;
      padding: 20px 0;
      box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.15);

      &:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: white;
        top: -8px;
        right: 32px;
        transform: rotate(45deg);
      }
    }
  }


  &__item {
    white-space: nowrap;
  }
}