.exhibitions-calendar {
  min-height: 252px;
  border: 1px solid rgba(235, 240, 242, 0.5);
  border-radius: 5px;
  &__widget-switch {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
    letter-spacing: 0.2px;
  }
  .DayPicker-Months {
    height: 295px;
  }
  .DayPicker-Caption > div {
    margin: 16px 0 0 8px;
    color: #253c5e;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  .DayPicker-Weekday {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }
  .DayPicker-NavButton {
    color: #90999e;
    border: 1px solid #90999e;
  }
  .DayPicker-Months {
    height: 295px;
  }
}
