.NurseryGallery {
    .ImageUpload {
        &__wrap {
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 12px;
            box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
            border-radius: 4px;
            margin-bottom: 24px;
            @media (max-width: 560px) {
                margin-bottom: 12px;
                padding: 6px;
            }
        }
        &__preview {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            @media (max-width: 560px) {
                justify-content: center;
            }
            &-item {
                border: 1px solid #eaefff;
                box-shadow: 0px 0px 3px #cdd5ff;
                margin: 6px 3px;
                height: 174px;
                width: 150px;
                @media (max-width: 560px) {
                    height: 144px;
                    width: 144px;
                }
                & > div {
                    width: 100%;
                    height: 150px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    @media (max-width: 560px) {
                        height: 120px;
                        width: 120px;
                    }
                }
                & > input {
                    width: 100%;
                    padding: 0 2px;
                    border: 1px solid #eaefff;
                }
            }
        }
        &__controls {
            display: flex;
            align-items: center;
            margin-top: 12px;
            button {
                padding: 6px 12px !important;
                &:first-child {
                    background: #ebf0ff;
                    color: #3366ff !important;
                    margin-right: 6px;
                }
                &:hover:not(:disabled) {
                    box-shadow: 0 2px 2px rgba(37, 60, 94, 0.24);
                }
            }
            .Loading.inline .Loading__title {
                margin: 0;
            }
        }
    }
}
