.DayPicker {
  font-size: 1rem;
  outline: none;
  div[class^="DayPicker-"] {
    outline: none;
  }
}
.DayPicker {
    display: none;
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    padding: 5px;
    background: white;
    z-index: 1;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.DayPicker-wrapper {
  position: relative;
  user-select: none;
}
.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.DayPicker-Month {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  user-select: none;
}
.DayPicker-NavBar {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 12px;
  align-items: flex-end;
  right: 0;
}
.DayPicker-NavButton {
  display: block;
  margin-top: 2px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
  border: solid 1px;
  border-radius: 50%;
  border-color: #babfc7;
  background-size: 6px 12px;
  &:hover {
    opacity: 0.8;
  }
  &--prev {
    margin-right: 8px;
    background-image: url("/static/icons/chevron_left.svg");
  }
  &--next {
    background-image: url("/static/icons/chevron_right.svg");
  }
  &--interactionDisabled {
    display: none;
  }
}
.DayPicker-Caption {
  position: absolute;
}
.DayPicker-Caption > div {
  margin: 16px 0 0 8px;
  color: #253c5e;
  font-size: 18px;
}
.DayPicker-Weekdays {
  margin-top: 50px;
}
.DayPicker-WeekdaysRow {
  display: flex;
  flex-flow: row nowrap;
}
.DayPicker-Weekday {
  min-width: 24px;
  min-height: 24px;
  margin: 6px;
  color: #8b9898;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}
.DayPicker-Body {
  display: table-row-group;
}
.DayPicker-Week {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.DayPicker-Day {
  display: flex;
  flex-flow: column nowrap;
  min-width: 24px;
  min-height: 24px;
  margin: 6px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  outline: none;
  &--blue {
    &:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      border: solid 1px;
      border-color: white;
      background-color: #00bfdd;
      right: -4px;
      bottom: -4px;
    }
  }
  &--green {
    &:before {
      position: absolute;
      border-radius: 50%;
      content: "";
      width: 8px;
      height: 8px;
      border: solid 1px;
      border-color: white;
      background-color: #00c48c;
      right: -4px;
      top: -4px;
    }
  }
  &--selectedDate {
    background-color: #e5f9f3;
  }
}
.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5em;
  min-width: 1em;
  border-right: 1px solid #eaecec;
  color: #8b9898;
  vertical-align: middle;
  text-align: right;
  font-size: 0.75em;
  cursor: pointer;
}
.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}
.DayPicker-Footer {
  padding-top: 0.5em;
}
.DayPicker-TodayButton {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #4a90e2;
  font-size: 0.875em;
  cursor: pointer;
}

/* default modifiers */
.DayPicker-Day--today {
  color: #00c48c;
  background-color: #e5f9f3;
}
.DayPicker-Day--outside {
  color: #8b9898;
  cursor: default;
}
.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
}

/* Example modifiers */
.DayPicker-Day--sunday {
  background-color: #f7f8f8;
}
.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  background-color: #4a90e2;
  color: #f0f8ff;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #51a0fa;
}
.DayPicker:not(.DayPicker--interactionDisabled)
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #f0f8ff;
}

/* DayPickerInput */
.DayPickerInput {
  display: inline-block;
}
.DayPickerInput-OverlayWrapper {
  position: relative;
}
.DayPickerInput-Overlay {
  position: absolute;
  left: 0;
  z-index: 1;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* DayPickerForm */
.DayPickerForm {
  height: 28px;
  margin: 13px 0 0 8px;
  select {
    background: none;
    outline: none;
    height: 100%;
    border: 1px solid #babfc7;
    border-radius: 4px;
    padding: 0 10px;
    margin-right: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 14px;
    font-weight: normal;
    &::-ms-expand {
      display: none;
    }
  }
}
