.day {
  border-bottom: solid 1px;
  border-color: #EBF0F2;
  margin: 0 0 32px 0;
  padding: 16px 0;
  &__date{
    font-weight: 400;
    margin-bottom: 32px;
  }
  &__span{
    font-size: 20px;
    line-height: 120%;
  }

  &__items {
    margin: 32px 0;
  }

}
