.user-gallery {
  padding: 10px !important;
  margin-top: 16px;
  @media (max-width: 900px) {
    margin-top: 0;
  }

  &__dropdown-wrap {
    border-top: 1px solid #e8e8e8;
    margin-top: 10px;
    padding-top: 12px;
  }

  &__chevron {
    width: 24px;
    height: 24px;
    background: url("/static/icons/chevron-down-light.svg") no-repeat center;
    transition: all .2s linear;
    margin-left: 4px;
    cursor: pointer;

    &:hover {
      background: url("/static/icons/chevron-down-blue.svg") no-repeat center;
    }

    &._dropdown_open {
      transform: rotate(180deg);
    }
  }

  &__cutoff {
    display: block;
    width: 1px;
    height: 24px;
    border-right: 1px solid #72839C;
    margin-left: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div {
      display: flex;
    }

    a {
      text-decoration: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #72839c !important;
      transition: all 0.2s linear;

      &:hover {
        color: #3366ff !important;
      }
    }
  }

  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #253c5e;
    display: inline-block;
    margin-right: 4px;

    &:hover {
      color: #3366ff;
      transition: all 0.2s linear;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      cursor: pointer;
    }

    &-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      line-height: 22px;
      color: #72839C;
    }
  }

  &__disabled {
    text-align: center;
    min-height: 107px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-img {
      width: 150px;
    }
  }

  &__add-btn {
    border: none;
    padding: 0;
    font-size: 32px;
    color: #72839c;
    transition: color 0.2s linear;

    &:hover {
      color: #3366ff;
    }
  }

  .Loading.inline {
    display: block;
    margin: 0 auto;
    max-width: 35px;
  }

  .ReactGridGallery {
    overflow: hidden;

    @media (max-width: 1080px) {
      display: flex;
    }

    @media (max-width: 550px) {
      flex-wrap: wrap;
    }

    @media (max-width: 427px) {
      & > div:nth-child(8),
      & > div:nth-child(9){
        display: none;
      }
    }

    &_tile-viewport {
      @media (min-width: 1080px) {
        width: 88px !important;
        height: 88px !important;
      }
    }

    &__wrap {
      position: relative;
      max-width: 280px;
      margin: auto;
      @media (max-width: 1080px) {
        min-height: auto;
        max-width: none;
      }
    }

    &__placeholder {
      position: absolute;
      top: 0;
      display: flex;
      flex-wrap: wrap;

      & > div {
        margin: 2px;
        height: 88px;
        @media (min-width: 1080px) {
          margin: 3px;
          &:nth-child(3n) {
            margin-right: 0;
          }
        }

        img {
          height: 88px;
          width: 88px;
          object-fit: cover;
        }
      }
    }

    &_tile {
      @media (min-width: 1080px) {
        margin: 3px!important;
        &:nth-child(3n+1) {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.dropdown__gallery {
  &-enter,
  &-appear {
    opacity: 0;
    transform: translateY(-10px);
  }

  &-enter-active,
  &-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s, transform 0.2s;
  }

  &-exit {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s, transform 0.2s;
  }

  &-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s, transform 0.2s;
  }
}