.ReportError {
    .Form {
        padding: 10px;
        margin-top: 6px;
        background: #ebeff9;
        border-radius: 6px;
    }
    .FormInput {
        margin-bottom: 24px;
        &__error {
            background: none;
        }
    }
}
