.details-viewer {
  //position: absolute;
  //z-index: 999;
  background: #fff;
  height: calc(100% - 60px);
  //@media (max-width: 1080px) {
  //  width: 60%;
  //  left: 50%;
  //  transform: translateX(-50%);
  //}
  //@media (max-width: 780px) {
  //  width: 80%;
  //}
  //@media (max-width: 600px) {
  //  width: 90%;
  //}
}
