.date-input {
  width: 100%;
  margin-top: 40px!important;
  &.club-page {
    margin-top: 45px!important;
  }
  .MuiInputBase-root {
    font-family: Roboto, sans-serif;
  }
  .MuiFormControlLabel-root {
    margin: 0;
    align-items: flex-start;
    .MuiTouchRipple-root {
      display: none;
    }
  }
  input {
    height: 17px;
  }
  label {
    color: #212529!important;
    font-size: 1rem;
    line-height: 1.5;
    transform: translate(14px, -25px)!important;
    font-family: "Source Sans Pro", sans-serif;
  }
  fieldset {
    border-color: rgba(0, 0, 0, 0.15)!important;
    height: 38px;
    top: 0!important;
    left: 0!important;
    legend {
      display: none;
    }
  }
}
