.organizations-page {
  display: flex;
  @media (max-width: 990px) {
    display: block;
  }
  &__wrap {
    background: var(--background);
    & + .Footer {
      display: none;
    }
  }
  &__left {
    max-width: 302px;
    width: 100%;
    margin: 0 16px 0 0;
    & > div {
      padding-bottom: 16px;
      @media (max-width: 990px) {
        padding-bottom: 0;
      }
    }
    @media (max-width: 1080px) {
      max-width: 100%;
      width: 100%;
      position: fixed;
      top: 60px;
      right: 0;
      z-index: 99;
      margin: 0;
      padding: 16px;
      background-color: #fff;
      height: calc(100% - 100px);
      overflow-y: auto;
      visibility: hidden;
      transform: translateX(100%);
      transition: all 0.2s ease-out;

      &._open {
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
  &__content {
    width: calc(100% - 316px);
    @media (max-width: 1080px) {
      width: 100%;
    }
  }
  .infinite-scroll-component {
    overflow: hidden !important;
  }
}
