.mark {
  display: block;
  width: 13px;
  min-width: 13px;
  margin-left: 5px;
  &:first-child {
  margin-left: 0;
  }
  &:only-child {
    margin-left: 5px;
  }
  &.active-user-mark {
    width: 15px;
    min-width: 15px;
  }
}