.about-page {
  &__content {
    padding-top: 16px;
    font-style: normal;
    font-weight: normal;
    background-color: #ffffff;

    @media (max-width: 700px) {
      padding-top: 13px;
    }

    & h3,
    & h4 {
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 40px;
      text-align: center;
    }

    & h3 {
      margin-bottom: 36px;
      font-weight: 600;

      @media (max-width: 900px) {
        font-size: 20px;
        margin-bottom: 28px;
      }

      @media (max-width: 700px) {
        margin-bottom: 17px;
        font-size: 18px;
        line-height: 18px;
      }
    }

    & h4 {
      margin-bottom: 39px;
      font-weight: normal;

      @media (max-width: 900px) {
        font-size: 18px;
        margin-bottom: 29px;
      }

      @media (max-width: 700px) {
        margin-bottom: 18px;
        font-size: 15px;
        line-height: 15px;
      }
    }

    & h5 {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }

    &-wrap {
      display: flex;
      margin-bottom: 32px;

      @media (max-width: 990px) {
        display: block;
        margin-bottom: 40px;
      }
    }
  }

  &__scheme {
    margin-bottom: 40px;
    text-align: center;

    & img {
      max-width: 100%;
      background: no-repeat;
      background-size: cover;
    }

    @media (min-width: 701px) {
      &:hover {
        cursor: zoom-in;
      }
    }
  }

  &__info {
    padding: 0 77px;

    @media (max-width: 700px) {
      padding: 0 16px;
    }
  }

  &__info-section {
    border-top: 1px solid #C4C4C4;
  }

  &__modal {

    & > div {
      width: 60%;
    }

    & .Modal__inner {
      overflow: scroll;
    }
  }
}
