.ButtonBannerSm {
  min-height: 234px;
  max-height: 234px;
  min-width: 218px;
  max-width: 218px;
  border: solid 1px;
  border-color: #EBF0F2;
  position: relative;
  text-align: center;
  padding: 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

  &__title {
    text-align: left;
    letter-spacing: -.2px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #3366FF;
    border-bottom: solid 1px;
    border-color: #EBF0F2;
    padding-bottom: 16px;
    margin-top: -32px;
    margin-bottom: 12px;
  }

  &__subTitle {
    font-size: 16px;
    line-height: 20px;
    color: #72839C;
  }

  &__icon {
    width: 100%;
    height: 142px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 40% center;
    //background-size: 160px auto;
  }
}

