.Header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(51, 102, 255, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 24px;
  color: #9DAFBD;
  @media (max-width: 768px) {
    height: 60px;
  }
  @media (max-width: 560px) {
    padding: 0 12px;
  }
  &__logo {
    display: block;
    height: 56px;
    width: 56px;
    min-width: 56px;
    @media (max-width: 768px) {
      width: 48px;
      min-width: 48px;
      height: 48px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__controlls {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__filters {
    display: none;
    margin-left: 64px;
    padding: 0;
    border: 0;
    height: 32px;
    width: 32px;
    background: url("/static/icons/icon-filters.svg") no-repeat center;
    background-size: contain;
    & ~ button {
      margin-left: 0;
    }
    @media (max-width: 768px) {
      display: block;
    }
    @media (max-width: 560px) {
      margin-left: 8px;
    }
  }
  &__button {
    margin-left: auto;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    span {
      width: 28px;
      height: 4px;
      background-color: #4C6BB0;
      transition: all .2s linear;
    }
    &._open span {
      width: 24px;
      &:nth-child(2) {
        opacity: 0;
      }
      &:first-child {
        transform: rotate(45deg);
        transform-origin: left top;
      }
      &:last-child {
        transform: rotate(-45deg);
        transform-origin: left bottom;
      }
    }
  }
  &__nav {
    margin-left: 64px;
    @media (max-width: 560px) {
      margin-left: 8px;
    }
    .click-guard {
      top: 70px;
      left: 0;
      z-index: 0;
      @media (max-width: 768px) {
        top: 60px;
      }
    }
    &-list {
      list-style: none;
      visibility: hidden;
      transform: translateX(100%);
      height: calc(100vh - 70px);
      width: 320px;
      padding: 24px 0;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #fff;
      box-shadow: -2px 2px 4px rgba(51, 102, 255, 0.05);
      transition: all .2s ease-out;
      &._open {
        visibility: visible;
        transform: translateX(0);
      }
      @media (max-width: 768px) {
        height: calc(100vh - 60px);
      }
    }
    &-sublist {
      list-style: none;
      padding-left: 32px;
    }
    &-item {
      a, p {
        display: block;
        padding: 8px 32px;
        text-decoration: none;
        white-space: nowrap;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #253C5E;
        border-left: 2px solid transparent;
        transition: all .2s linear;
        &:hover {
          background-color: #f5f8ff;
          color: #3366FF;
        }
        &.active {
          background-color: #f5f8ff;
          border-color: #3366FF;
          color: #3366FF;
        }
      }
      p {
        cursor: pointer;
        i {
          display: inline-block;
          width: 24px;
          height: 24px;
          font-size: 12px;
          text-align: center;
          transition: all .2s linear;
        }
        &._open i {
          transform: rotate(90deg);
        }
      }
    }
  }
}