.header {
  background-color: #fff;
  box-shadow: 0px 2px 2px -1px rgba(34, 60, 80, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 59px;
  padding: 5px 0;
  .click-guard {
    z-index: 0;
    top: 60px;
  }
  &__nav-item svg {
    margin-right: 6px;
    margin-top: 0;
    vertical-align: middle;
    @media (max-width: 1080px) {
      height: 19px;
      width: 19px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    position: relative;
    & *::selection {
      background: none;
    }
    @media (max-width: 1080px) {
      height: 50px;
    }
  }
  &__logo {
    display: block;
    height: 45px !important;
    width: 45px;
    background: url("/static/images/header/rkf-logo-transparent.svg") no-repeat center;
    background-size: cover;
    margin-right: 30px;
    @media (max-width: 700px) {
      margin-right: 16px;
    }
  }
  &__search {
    width: 230px;
    min-width: 230px;
    margin-right: 24px;
    div {
      display: flex;
      align-items: center;
    }
    @media (max-width: 1130px) {
      width: 190px;
      min-width: 190px;
    }
    @media (max-width: 700px) {
      margin-right: 16px;
      min-width: auto;
    }
    &-control {
      width: 0;
      padding: 6px 5px 6px 5px;
      border: 1px solid transparent;
      border-radius: 6px;
      background-color: #fff;
      font-weight: normal;
      font-size: 16px;
      line-height: 1;
      letter-spacing: 0.2px;
      color: #90999e;
      caret-color: #3366ff;
      box-shadow: none;
      transition: all 0.2s linear;
      display: flex;
      &._open {
        width: 100%;
        transition: all 0.2s linear;
        border-color: #ebf0f2 !important;
        box-shadow: 0 2px 10px rgba(51, 102, 255, 0.05), 0 4px 30px rgba(51, 102, 255, 0.1);
        @media (max-width: 1080px) {
          border-radius: 0;
          transform: translateY(46px);
          z-index: 1;
        }
      }
      @media (max-width: 1080px) {
        width: 100%;
        position: absolute;
        display: block;
        left: 0;
        transform: translateY(-200px);
      }
      @media (max-width: 560px) {
        padding: 6px 0 6px 30px;
        background-position: left 5px center;
        border-color: transparent !important;
        cursor: pointer;
        transition: all 0.2s linear;
        &._open {
          padding: 6px 26px 6px 30px;
          border-color: #ebf0f2 !important;
        }
      }
    }
    button {
      padding: 0;
      border: none;
      line-height: 1;
    }
    &-submit {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 10px;
      left: 85px;
      z-index: 100;
      span {
        color: #979797;
        font-size: 13px;
        line-height: 13px;
      }
      &.__hide {
        display: none;
        @media (max-width: 1080px) {
          display: block;
        }
      }
      @media (max-width: 1225px) {
        left: 100px;
      }
      @media (max-width: 1080px) {
        left: 80px;
        top: 8px;
      }
      @media (max-width: 560px) {
        left: 70px;
    }
    }
    &-btn {
      padding-top: 32px;
      font-size: 12px;
      color: #979797;
      text-align: center;
      z-index: 100;
      cursor: pointer;
      @media (max-width: 1080px) {
        margin-right: auto;
      }
      &._open {
        color: #3366FF;
      }
    }
    &-cancel {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 17px;
      left: 23.5%;
      @media (max-width: 1225px) {
        left: 26%;
      }
      @media (max-width: 560px) {
        right: 5px;
      }
    }
    &-svg {
      cursor: pointer;
      fill: #90999e;
      transition: fill 0.2s linear;
      &._open {
        display: none;
      }
      @media (max-width: 1080px) {
        &._open {
          display: block;
          fill: #3366FF;
        }
      }

    }
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #253c5e;
    font-size: 18px;
  }
  &__filters {
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2px 0 0 16px;
    position: relative;
    cursor: pointer;
    z-index: 100;
    svg {
      transform: scale(1.3);
    }
    svg.no-scale {
      transform: scale(1);
    }
    span {
      font-size: 12px;
      color: #979797;
      line-height: 0;
      padding-top: 7px;
    }

    .open {
      svg path {
        fill: #3366ff;
      }
    }
    &.__hidden {
      display: none;
    }
    button {
      border: none;
      padding: 0;
      font-size: 12px;
      color: #979797;
      line-height: 26px;
      position:absolute;
      left: -19%;
      bottom: -19px;
    }
  }
  &__button {
    display: none;
    padding: 0;
    border: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 32px;
    height: 24px;
    z-index: 100;
    position: relative;
    margin-right: 16px;
    @media (max-width: 560px) {
      align-items: center;
      margin-right: 20px;
    }

    &-span {
      width: 29px;
      height: 3px;
      top: 12px;
      position: absolute;
      background-color: #90999e;
      transition: all 0.2s linear;
      &._open {
        background-color: #3366FF;
        &:after, &:before {
          background-color: #3366FF;
        }
      }
      &:after, &:before {
        content: '';
        position: absolute;
        width: 29px;
        height: 3px;
        left: 0;
        background-color: #90999e;
        transition: all 0.2s linear;
      }
      &:after {
        top: -7px;
      }
      &:before {
        top: 7px;
      }
    }
    @media (max-width: 1080px) {
      display: flex;
    }
  }
  &__nav {
    width: 100%;
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      span {
        font-size: 16px;
        color: #72839C;
        line-height: 16px;
        display: block;
      }
    }
    &-menu {
      font-size: 12px;
      color: #979797;
      line-height: 15px;
      z-index: 100;
      cursor: pointer;
      &._open {
        color: #3366FF;
        transform: translateX(-7px);
      }
    }
    &-icon {
      fill: #90999e;
      transition: fill 0.2s linear;
    }
    &--desktop {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 3px;
       .recording {
        display: flex;
        justify-content: space-evenly;
         margin-right: 36px;
         &:hover  {
           svg {
             path {
               stroke: #3366ff;
             }

           }
           span {
             color: #3366ff;
           }
         }
      }
      .Feedback {
        .feedback-link {
          &:hover  {
            svg {
              path {
                fill: #3366FF;
              }
            }
            span {
              color: #3366FF;
            }
          }
        }
      }
      .Feedback div {
        color: #979797;
        font-size: 13px;
        line-height: 13px;
        padding-top: 4px;
      }
      span {
        padding-top: 4px;
      }
      span, a  {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #979797;
        font-size: 13px;
        line-height: 13px;
        //padding-top: 4px;
        text-decoration: none;
      }
      @media (max-width: 1120px) {
        margin-left: 5px;
      }
      @media (max-width: 990px) {
        margin-left: 0;
      }
    }
    @media (max-width: 1080px) {
      width: auto;
      margin-top: 4px;
      padding-bottom: 2px;
      z-index: 100;
    }
    .click-guard {
      top: 60px;
      left: 0;
      z-index: 0;
    }
    &-list {
      list-style: none;
      display: flex;
      .header__nav-icon {
        width: 18px;
        margin-right: 6px;
        margin-top: 0;
        vertical-align: middle;
      }
      &--desktop {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        li {
          margin-right: 34px;
        }
        .active {
          .header__nav-icon {
            fill: #3366ff;
            div {
              color: red;
            }
          }
        }
      }
      @media (max-width: 1080px) {
        display: block;
        visibility: hidden;
        transform: translateX(-100%);
        height: 332px;
        min-width: 320px;
        overflow-y: auto;
        padding: 16px 0 24px;
        position: absolute;
        top: 62px;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 2px 2px -1px rgba(34, 60, 80, 0.2) inset;
        transition: all 0.2s ease-out;
        &._open {
          visibility: visible;
          transform: translateX(0);

        }
      }
      @media (max-width: 560px) {
        height: calc(100vh - 48px);
        min-width: auto;
        width: 288px;
      }
    }
    &-item {
      position: relative;
      display: block;
      margin-bottom: 18px;
      &-link {
        text-decoration:none;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-link.active {
        .header__nav-item-title {
          color: #3366ff;
        }
        svg {
          path {
            fill: #3366ff;
          }
        }
      }
      &.__about {
        border-top: 1px solid #e8e8e8;
        padding-top: 5px;
        margin-left: -2px;
        a {
          span {
            margin-left: 2px;
          }
        }

      }
      a,
      p {
        display: flex;
        align-items: center;

        text-decoration: none;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        color: #979797 !important;
        cursor: pointer;

        @media (max-width: 1080px) {
          //flex-direction: column;
          padding: 5px 32px;
          white-space: nowrap;
          border-left: 2px solid transparent;
          transition: all 0.2s linear;
          &:hover {
            background-color: #f5f8ff;
            color: #3366ff !important;
          }
          &._disabled {
            opacity: 0.5;
            background-color: transparent;
            color: #72839c !important;
          }
        }
        @media (max-width: 560px) {
          padding: 8px 10px;
        }
      }
      p {
        span {
          vertical-align: middle;
        }
        i {
          display: inline-block;
          font-size: 9px;
          margin-left: 4px;
          vertical-align: middle;
          transform: rotate(90deg);
          transition: all 0.2s linear;
        }
        &._open {
          i {
            transform: rotate(270deg);
          }
        }
      }
      &-title {
        font-size: 13px;
        color: #B9B9B9;
        transition: fill 0.2s linear;
      }
    }
    .slide-down {
      transition-duration: 0.2s;
    }
    &-sublist-wrap {
      min-width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1;
      margin-top: 23px;
      box-shadow: 0 8px 25px rgba(176, 190, 197, 0.5);
      &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #fff;
        position: absolute;
        top: -8px;
        left: 14px;
        z-index: -1;
        transform: rotate(45deg);
        box-shadow: 0 8px 25px rgba(176, 190, 197, 0.5);
      }
    }
    &-sublist {
      list-style: none;
      min-width: 130px;
      background-color: #fff;
      border-radius: 6px;
      overflow: hidden;
      @media (max-width: 1080px) {
        padding-left: 32px;
      }
      @media (max-width: 560px) {
        padding-left: 24px;
      }
    }
    &-subitem {
      a {
        white-space: nowrap;
        display: block;
        padding: 8px 16px;
        transition: all 0.2s linear;
        &:hover {
          background-color: whitesmoke;
          color: #3366ff;
        }
        @media (max-width: 560px) {
          white-space: unset;
        }
      }
      &.disabled {
        opacity: 0.5;
        a {
          cursor: default;
          &:hover {
            background-color: transparent;
            color: #72839c;
          }
          @media (max-width: 1080px) {
            &:hover {
              background-color: transparent;
              color: #72839c;
            }
            &.active {
              background-color: transparent;
              border-color: transparent;
              color: #72839c;
            }
          }
        }
      }
    }
    .feedback-link {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #72839c !important;
      @media (max-width: 1080px) {
        border-bottom: none;
      }
    }
    &-sublist-transition {
      &-enter,
      &-appear {
        opacity: 0;
        transform: translateY(-10px);
      }
      &-enter-active,
      &-appear-active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.2s, transform 0.2s;
      }
      &-exit {
        opacity: 1;
        transform: translateY(0);
      }
      &-exit-active {
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.2s, transform 0.2s;
      }
    }
    &-burger {
      width: 50px;
      cursor: pointer;
      div {
        padding: 5px 0 0 1px;
        svg {
          width: 28px;
          height: 18px;
        }
      }
      span {
        font-size: 12px;
        color: #979797;
      }
    }
  }
  &__widgets {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 1080px) {
      margin-left: auto;
      margin-top: -3px;
    }
    &-notifications-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 35px;
      z-index: 100;
      @media (max-width: 1080px) {
        margin-top: 5px;
        margin-left: 20px;
      }

      & .Notifications {
        align-items: flex-end;
        height: auto;
      }
      span {
        font-size: 12px;
        color: #979797;
        line-height: 12px;
        margin-top: 4px;
        cursor: pointer;
      }
    }
    &--feedback {
      margin-right: 18px;
      position: relative;
      top: 5px;
      @media (max-width: 560px) {
        display: none;
      }
      &.login-page {
        margin-right: -18px;
        background: none;
      }
    }
  }
}
.widget-login {
  display: flex;
  position: relative;
  @media (max-width: 1080px) {
    position: static;
    margin-top: 5px;
    height: 50px;
  }
  &.__noAuth {
    @media (max-width: 1080px) {
      width: 50%;
      margin-left: auto;
      display: flex;
      justify-content: center;

    }
  }
  &__user-icon {
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    transition: border-color 0.2s linear;
    position: relative;
    span {
      color: #8F989D;
      font-size: 13px;
      line-height: 16px;
    }
    @media (max-width: 1080px) {
      margin-left: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: auto;
      width: auto;
    }
  }
  &__wrap {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      transition: all 0.2s linear;
    }
    span {
      color: #979797;
      font-size: 13px;
      line-height: 15px;
      margin-top: 4px;
      &:hover {
        color: #3366FF;
      }
    }
    &._login_open {
      svg path{
        stroke: #3366FF;

      }
    }
  }
  &__content {
    position: absolute;
    right: 0;
    top: 65px;
    z-index: 1;
    box-shadow: 0 8px 25px rgba(51, 102, 255, 0.2);
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    width: 314px;
    padding-bottom: 6px;
    @media (max-width: 1080px) {
      bottom: 60px;
      right: 50%;
      transform: translateX(50%);
      top: auto;
    }
  }
  &__userpic {
    height: 60px;
    width: 60px;
    min-width: 60px;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: -30px;
    &-wrap {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 80px;
      margin: 10px 10px 30px 10px;
      background: url("/static/images/widget-login/userpic-bg.jpg") center/cover no-repeat;
    }
  }
  &__username {
    padding: 4px 10px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    margin: 36px 0 6px 0;
    &:hover {
      background: whitesmoke;
      transition: all 0.2s linear;
    }
    a {
      display: block;
      text-decoration: none;
      max-height: 54px;
      overflow: hidden;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #dfe9fb !important;
    color: #72839c !important;
    width: 100%;
    height: 38px;
    text-align: center;
    border-radius: 6px;
    &:hover {
      opacity: 0.8;
      transition: all 0.2s linear;
    }
    &-wrap {
      padding: 0 10px 10px 10px;
    }
  }
  &__add-user {
    color: #72839c;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    @media (max-width: 1080px) {
      border-bottom: none;
    }
    div {
      padding-left: 35px;
      background: url("/static/icons/add.svg") left center no-repeat;
      line-height: 23px;
      opacity: 0.5;
      cursor: default;
    }
  }
  .slide-down {
    transition-duration: 0.2s;
  }
  &__list {
    list-style: none;
    min-width: 150px;
    max-width: 314px;
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
  }
  &__item {
    position: relative;
    //border-top: 1px solid #ccc;
    a,
    span {
      text-decoration: none;
      white-space: nowrap;
      color: #72839c;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      display: block;
      padding: 4px 10px;
      transition: all 0.2s linear;
      cursor: pointer;
      &:hover {
        background-color: whitesmoke;
        color: #3366ff;
      }
    }
    &--logout {
      border-bottom: 1px solid #e8e8e8;
    }
  }
  &__edit {
    position: absolute;
    top: 10px;
    right: 8px;
    height: 20px;
    width: 20px;
    background: url("/static/icons/pencil-circle.svg") center/cover no-repeat;
    &:hover {
      transform: scale(0.9);
    }
  }

  .login-link__icon,
  .registration-link__icon {
    vertical-align: middle;

    @media (max-width: 560px) {
      width: 24px;
      height: 24px;
      left: 0;
    }
  }
  .login-link {
    margin-right: 36px;
    span {
      padding-top: 6px !important;
    }
    @media (max-width: 1080px) {
      margin-right: auto;
      transform: translateX(-15px);
    }
  }
  .registration-link {
    span {
      padding-top: 6px !important;
    }
    margin-left: auto;

  }
  .login-link,
  .registration-link {
    text-decoration: none;
    border-radius: 4px;
    color: #90999e;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1080px) {
      //margin-left: -5px;
    }
    & span {
      vertical-align: middle;
      margin-left: 5px;
      padding-top: 4px;
      @media (max-width: 1080px) {
        font-size: 13px;
        text-align: center;
      }
    }
    &:hover {
      color: #3366ff;
      transition: fill 0.2s linear;
      .login-link__icon {
        stroke: #3366ff;
      }
    }
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    @media (max-width: 1080px) {
      padding: 0;
      text-transform: none;
      background: none;
      font-size: 16px;
    }
  }
  &__modal {
    & > div {
      max-width: 600px;
    }
  }
  &-transition {
    &-enter,
    &-appear {
      opacity: 0;
      margin-top: -10px;
    }
    &-enter-active,
    &-appear-active {
      opacity: 1;
      margin-top: 0;
      transition: opacity 0.2s, margin-top 0.2s;
    }
    &-exit {
      opacity: 1;
      margin-top: 0;
    }
    &-exit-active {
      opacity: 0;
      margin-top: -10px;
      transition: opacity 0.2s, margin-top 0.2s;
    }
  }

}
.header__nav-item-hover {
  ._disabled {
    opacity: 0.5;
    background-color: transparent;
    color: #979797 !important;
    cursor: not-allowed;
    svg {
      opacity: 0.5;
      stroke: #979797;
      &:hover {
        fill: #90999e;
      }
    }
  }
  &.__hover {
    .header__nav-item-link svg path, .header__nav-item-title {
      fill: #3366ff;
      color: #3366ff;
    }
  }
}
.header__nav-list  {
  top: 54px;
  height: 100vh;
  h3.headerPopupH3 {
    font-size: 18px;
    font-weight: 400;
    color: #253C5E;
    border-bottom: 1px solid #e5e5e5;
    line-height: 24px;
    padding-bottom: 10px;
    margin-left: 10px;
  }
  &._open {
    & .widget-login__item {
      &.popup-menu {
        @media (max-width: 1080px) {
          border-top: 1px solid #e8e8e8;
          a {
            color: #72839c;
            border-left: 2px solid transparent;
            padding: 8px 56px;
            position: relative;
            span {
              padding: 0;
            }
          }
          a:hover, span:hover {
            color: #72839C!important;
          }
          a:first-child:before {
            content: '';
            background: url("/static/icons/base_of_knowledge.svg") no-repeat center/cover;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 32px;
            bottom: 12px;
          }
          a:nth-child(2):before {
            content: '';
            background: url("/static/icons/support_center.svg") no-repeat center/cover;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 32px;
            bottom: 12px;
          }

        }
        @media (max-width: 560px) {
          a {
            padding: 8px 34px;
          }
          a:first-child:before, a:nth-child(2):before {
            left: 10px;
          }
        }
      }
    }
  }
}





