.calendar-filter__range {
  &-title {
    margin-top: 10px;
    display: block;
  }
  &-text {
    font-size: 16px;
    display: flex;
    width: 165px;
    justify-content: space-between;
  }
}
.k-picker-wrap {
  position: relative;
  top: -3px;
}
// .k-input,
// .k-select {
//   pointer-events: none;
// }
.k-calendar-navigation {
  display: none;
}
// .k-picker-wrap.k-state-focused {
//   box-shadow: 0 0 0 1pt  #3366ff !important;
// }