.individual-registration {
  &__form {
    &-submit {
      display: block;
      margin: 0 auto;
      margin-top: 32px;
    }
  }
  &__psw {
    &-wrap {
      position: relative;
    }
    width: 24px;
    height: 24px;
    position: absolute;
    display: inline-block;
    top: 45px;
    right: 10px;
    background: url("/static/icons/psw-eye-closed.svg") center no-repeat;
    background-size: contain;
    border: none;
    @media (min-width: 320px) {
    }
    &._show-password {
      background: url("/static/icons/psw-eye-open.svg") center no-repeat;
      background-size: contain;
    }
  }
  &__psw-confirm {
    width: 24px;
    height: 24px;
    position: absolute;
    display: inline-block;
    top: 158px;
    right: 10px;
    background: url("/static/icons/psw-eye-closed.svg") center no-repeat;
    background-size: contain;
    border: none;
    @media (max-width: 320px) {
    }
    &._show-confirm {
      top: 157px;
      background: url("/static/icons/psw-eye-open.svg") center no-repeat;
      background-size: contain;
    }
  }
}