.IndividualRegistration {
    padding: 10px;
    font-weight: normal;
    overflow: hidden;
    button {
        float: right;
    }
    &__field {
        margin-bottom: 10px;
        input {
            display: block;
            width: 100%;
            border-radius: 6px;
            padding: 5px;
        }
        span {
            color: red;
        }
    }
    .FormInput {
        margin-bottom: 25px;
        &__input {
            border-width: 2px !important;
            padding: 6px !important;
        }
    }
}
