.exhibitions-calendar {
  &__legend {
    color: #253c5e;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  &__legend-item {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 23px;
    margin: 8px 0;
    position: relative;

    &:before {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      border: solid 1px;
      border-color: white;
      border-radius: 50%;
    }

    &--green {
      &:before {
        background-color: #00c48c;
      }
    }

    &--blue {
      &:before {
        background-color: #00bfdd;
      }
    }
  }
}
