.federations-filter {
  margin-bottom: 24px;
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  &__list {
    list-style: none;
  }
}