.menu-component {
  padding: 10px !important;
  margin-bottom: 24px;
  &__modal {
    .Modal__inner {
      margin: 0 auto;
      max-width: 900px;

      @media (max-width: 600px) {
        font-size: 15px;
        white-space: pre-wrap;
      }
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    .active{
      color: #3366FF!important;
      &::before{
        background: url("/static/icons/eventsIcon-blue.svg") no-repeat center/contain!important;
      }
    }
  }

  &__link {
    position: relative;
    padding-left: 30px;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .2px;
    color: #72839c;
    transition: color .2s linear;


    &:visited,
    &:active {
      color: #72839c;
    }

    &:hover {
      color: #3366ff;
    }

    &.disabled {
      color: #babfc7;

      &:visited,
      &:active,
      :hover {
        color: #babfc7;
      }
    }

    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
    }

    &._documents:before {
      background: url("/static/icons/documentsIcon.svg") no-repeat center / contain,
        url("/static/icons/documentsIcon-blue.svg") no-repeat center / contain;
    }

    &._documents:hover:before {
      background: url("/static/icons/documentsIcon-blue.svg") no-repeat center / contain;
    }

    &._gallery:before {
      background: url("/static/icons/galleryIcon.svg") no-repeat center / contain,
        url("/static/icons/galleryIcon-blue.svg") no-repeat center / contain;
    }

    &._gallery:hover:before {
      background: url("/static/icons/galleryIcon-blue.svg") no-repeat center / contain;
    }

    &._video:before {
      background: url("/static/icons/icon-youtube.svg") no-repeat center / contain,
        url("/static/icons/icon-youtube-blue.svg") no-repeat center / contain;
    }

    &._video:hover:before {
      background: url("/static/icons/icon-youtube-blue.svg") no-repeat center / contain;
    }

    &._events:before {
      background: url("/static/icons/eventsIcon.svg") no-repeat center / contain,
        url("/static/icons/eventsIcon-blue.svg") no-repeat center / contain;
    }

    &._events:hover:before {
      background: url("/static/icons/eventsIcon-blue.svg") no-repeat center / contain;
    }

    &._public:before {
      background: url("/static/icons/publicIcon.svg") no-repeat center / contain,
        url("/static/icons/publicIcon-blue.svg") no-repeat center / contain;
    }

    &._public:hover:before {
      background: url("/static/icons/publicIcon-blue.svg") no-repeat center / contain;
    }

    &._club:before {
      background: url("/static/icons/clubIcon.svg") no-repeat center / contain,
        url("/static/icons/clubIcon-blue.svg") no-repeat center / contain;
    }

    &._club:hover:before {
      background: url("/static/icons/clubIcon-blue.svg") no-repeat center / contain;
    }

    &._fees:before {
      background: url("/static/icons/icon-fees.svg") no-repeat top -2px center / contain,
        url("/static/icons/icon-fees-blue.svg") no-repeat top -2px center / contain;
    }

    &._fees:hover:before {
      background: url("/static/icons/icon-fees-blue.svg") no-repeat top -2px center / contain;
    }

    &._blanks:before {
      background: url("/static/icons/icon-blanks.svg") no-repeat center / contain,
        url("/static/icons/icon-blanks-blue.svg") no-repeat center / contain;
    }

    &._blanks:hover:before {
      background: url("/static/icons/icon-blanks-blue.svg") no-repeat center / contain;
    }

    &._requisites:before {
      background: url("/static/icons/icon-requisites.svg") no-repeat center / contain,
        url("/static/icons/icon-requisites-blue.svg") no-repeat center / contain;
    }
    &._requisites, &._fees {
      cursor: pointer;
    }
    &._requisites:hover:before {
      background: url("/static/icons/icon-requisites-blue.svg") no-repeat center / contain;
    }

    &._presidium:before {
      background: url("/static/icons/icon-presidium.svg") no-repeat center / contain,
        url("/static/icons/icon-presidium-blue.svg") no-repeat center / contain;
    }

    &._presidium:hover:before {
      background: url("/static/icons/icon-presidium-blue.svg") no-repeat center / contain;
    }
  }

  &__button {
    text-decoration: none;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: .2px;
    padding: 12px;
    box-shadow: 0 3px 8px rgba(51, 102, 255, 0.15);
    border-radius: 4px;
  }

  &__wrap {
    background-color: #fff;
    white-space: pre-wrap;


    &-title {
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      padding-bottom: 11px;
      border-bottom: 1px solid #E5E5E5;
      margin-bottom: 8px;
    }

    &-list {
      margin-left: 20px;
      padding-right: 90px;
      @media(max-width: 560px){
        padding-right: 30px;
      }
    }
  }

  &__table {
    width: 100%;

    &.fees {
      white-space: normal;

      @media (max-width: 560px) {
        width: 852px;
      }

      td {
        border: 1px solid lightgray;

        &:first-child {
          width: 640px;

          &+td {
            width: 196px;
            text-align: center;
          }
        }
      }
    }

    td {
      padding: 6px 18px 6px 6px;
    }
  }

  &__show-blanks {
    &:not(:last-child) {
      margin-bottom: 35px;
    }

    a {
      padding-left: 18px;
      background: url("/static/icons/icon-doc.svg") left center no-repeat;
    }

    .disabled {
      pointer-events: none;
    }
  }
}

// mobile menu
.user-menu {
  padding: 14px 16px 16px !important;
  margin-bottom: 24px;
  @media (max-width: 1080px) {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  &__button {
    padding: 0;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3366ff;
    box-shadow: 0 0 3px #011f7b;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 2;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 22px;
      background: #fff;
      opacity: 1;
      left: 9px;
      transform: rotate(0deg);
      transition: all .2s ease-in-out;

      &:nth-child(1) {
        top: 13px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 19px;
      }

      &:nth-child(4) {
        top: 25px;
      }
    }

    &._open {
      span {
        &:nth-child(1) {
          top: 19px;
          width: 0;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 19px;
          width: 0;
          left: 50%;
        }
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media (max-width: 1080px) {
      display: none;
    }
  }
  &__inner {
    @media (max-width: 1080px) {
      background: #fff;
      border-radius: 6px;
      box-shadow: 0 8px 25px rgba(51, 102, 255, 0.2);
      position: absolute;
      right: 16px;
      bottom: 1px;
      width: calc(100% - 32px);
      max-width: 476px;
      & .banner-federation {
        margin: 10px;
        max-height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 100%;
        }
      }
    }
    & .close-btn {
      padding-right: 5px;
      display: flex;
      justify-content: flex-end;
      margin-bottom: -20px;
    }
  }
  &__list {
    list-style: none;
    @media (max-width: 1080px) {
      padding: 2px 0;
      z-index: 2;
    }
  }

  &__item {
    @media (max-width: 1080px) {
      padding-left: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    .active{
      color: #3366FF!important;
      &::before{
        background: url("/static/icons/eventsIcon-blue.svg") no-repeat center/contain!important;
      }
    }

  }

  &__link {
    position: relative;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .2px;
    color: #72839c;
    border-bottom: 1px solid transparent;
    transition: all .2s linear;
    &:visited,
    &:active {
      color: #72839c;
    }

    &:hover {
      color: #3366ff;
      border-bottom-color: #3366ff;
    }

    &.disabled {
      color: #babfc7;

      &:visited,
      &:active,
      &:hover {
        color: #babfc7;
      }
    }
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 4px;
    }
    &._documents:before {
      background: url("/static/icons/documentsIcon.svg") no-repeat center / contain,
      url("/static/icons/documentsIcon-blue.svg") no-repeat center / contain;
    }

    &._documents:hover:before {
      background: url("/static/icons/documentsIcon-blue.svg") no-repeat center / contain;
    }

    &._gallery:before {
      background: url("/static/icons/galleryIcon.svg") no-repeat center / contain,
      url("/static/icons/galleryIcon-blue.svg") no-repeat center / contain;
    }

    &._gallery:hover:before {
      background: url("/static/icons/galleryIcon-blue.svg") no-repeat center / contain;
    }

    &._video:before {
      background: url("/static/icons/icon-youtube.svg") no-repeat center / contain,
      url("/static/icons/icon-youtube-blue.svg") no-repeat center / contain;
    }

    &._video:hover:before {
      background: url("/static/icons/icon-youtube-blue.svg") no-repeat center / contain;
    }

    &._events:before {
      background: url("/static/icons/eventsIcon.svg") no-repeat center / contain,
      url("/static/icons/eventsIcon-blue.svg") no-repeat center / contain;
    }

    &._events:hover:before {
      background: url("/static/icons/eventsIcon-blue.svg") no-repeat center / contain;
    }

    &._public:before {
      background: url("/static/icons/publicIcon.svg") no-repeat center / contain,
      url("/static/icons/publicIcon-blue.svg") no-repeat center / contain;
    }

    &._public:hover:before {
      background: url("/static/icons/publicIcon-blue.svg") no-repeat center / contain;
    }

    &._club:before {
      background: url("/static/icons/clubIcon.svg") no-repeat center / contain,
      url("/static/icons/clubIcon-blue.svg") no-repeat center / contain;
    }

    &._club:hover:before {
      background: url("/static/icons/clubIcon-blue.svg") no-repeat center / contain;
    }

    &._fees:before {
      background: url("/static/icons/icon-fees.svg") no-repeat top -2px center / contain,
      url("/static/icons/icon-fees-blue.svg") no-repeat top -2px center / contain;
    }

    &._fees:hover:before {
      background: url("/static/icons/icon-fees-blue.svg") no-repeat top -2px center / contain;
    }

    &._blanks:before {
      background: url("/static/icons/icon-blanks.svg") no-repeat center / contain,
      url("/static/icons/icon-blanks-blue.svg") no-repeat center / contain;
    }

    &._blanks:hover:before {
      background: url("/static/icons/icon-blanks-blue.svg") no-repeat center / contain;
    }

    &._requisites:before {
      background: url("/static/icons/icon-requisites.svg") no-repeat center / contain,
      url("/static/icons/icon-requisites-blue.svg") no-repeat center / contain;
    }

    &._requisites:hover:before {
      background: url("/static/icons/icon-requisites-blue.svg") no-repeat center / contain;
    }

    &._presidium:before {
      background: url("/static/icons/icon-presidium.svg") no-repeat center / contain,
      url("/static/icons/icon-presidium-blue.svg") no-repeat center / contain;
    }

    &._presidium:hover:before {
      background: url("/static/icons/icon-presidium-blue.svg") no-repeat center / contain;
    }


    @media (max-width: 1080px) {
      display: block;
      text-decoration: none;
      margin: 8px 0;
      padding: 2px 16px 2px 25px;

      &:hover {
        background-color: whitesmoke;
      }
    }
  }

  &__transition {

    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(-10px);
    }

    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }

    &-exit {
      opacity: 1;
      transform: translateY(0);
    }

    &-exit-active {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.2s, transform 0.2s;
    }
  }
}
.docsinframe__inner {
  @media (max-width: 1080px) {
    width: 63%;
    margin: 0 auto;
  }
  @media (max-width: 780px) {
    width: 85%;
  }
  @media (max-width: 600px) {
    width: 95%;
  }
  & .close-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;
    padding-top: 10px;
    cursor: pointer;
  }
}