.menu-component {
  padding: 14px 16px 16px !important;
  margin-bottom: 24px;
  &__title {
    max-height: 40px;
    overflow: hidden;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 12px
  }
  &__list {
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__link, & a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #72839c;
    border-bottom: 1px solid transparent;
    transition: all 0.2s linear;
    &:visited,
    &:active {
      color: #72839c;
    }
    &:hover {
      color: #3366ff;
      border-bottom-color: #3366ff;
    }
    &.disabled {
      color: #babfc7;
      &:visited,
      &:active,
      :hover {
        color: #babfc7;
      }
    }
  }
  &__button {
    text-decoration: none;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 12px;
    box-shadow: 0 3px 8px rgba(51, 102, 255, 0.15);
    border-radius: 4px;
  }
  &__presidium {
    background-color: #fff;
    width: calc(100vw - 32px);
    max-width: 600px;
    padding: 24px 32px;
    @media (max-width: 560px) {
      padding: 16px 24px;
    }
    &-title {
      margin-bottom: 16px;
    }
    &-list {
      list-style-position: inside;
    }
    &-item:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}
