.menu-component {
  padding: 3px 10px 6px 10px!important;
  margin-bottom: 24px;
  &__modal {
    .Modal__inner {
      padding: 0;
    }
    .Modal__close {
      right: 20px !important;
      @media (max-width: 560px) {
        right: 12px !important;
      }
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
  &__link,
  & a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #72839c;
    transition: all 0.2s linear;
    &:visited,
    &:active {
      color: #72839c;
    }
    &:hover {
      color: #3366ff;
    }
    &.disabled {
      color: #babfc7;
      &:visited,
      &:active,
      :hover {
        color: #babfc7;
      }
    }
  }
  &__button {
    text-decoration: none;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 12px;
    box-shadow: 0 3px 8px rgba(51, 102, 255, 0.15);
    border-radius: 4px;
  }
  &__wrap {
    background-color: #fff;
    width: calc(100vw - 32px);
    max-width: 900px;
    padding: 24px 32px;
    white-space: nowrap;
    overflow-x: auto;
    @media (max-width: 560px) {
      padding: 24px;
    }
    &-title {
      margin-bottom: 16px;
    }
    &-list {
      list-style-position: inside;
    }
    &-item:not(:last-child) {
      margin-bottom: 4px;
    }
  }
  &__table {
    width: 100%;
    &.fees {
      white-space: normal;
      @media (max-width: 560px) {
        width: 852px;
      }
      td {
        border: 1px solid lightgray;
        &:first-child {
          width: 640px;
          & + td {
            width: 196px;
            text-align: center;
          }
        }
      }
    }
    td {
      padding: 6px 18px 6px 6px;
    }
  }
  &__show-blanks {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    a {
      padding-left: 18px;
      background: url("/static/icons/icon-doc.svg") left center no-repeat;
    }
    .disabled {
      pointer-events: none;
    }
  }
}
