.menu-component {
  padding: 3px 10px 6px 10px!important;
  margin-bottom: 24px;
  &__modal {
    .Modal__inner {
      padding: 0;
    }
    .Modal__close {
      right: 20px !important;
      @media (max-width: 560px) {
        right: 12px !important;
      }
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
    &--documents {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: '';
        display: inline-block;
        background: url(/static/icons/documentsIcon.svg) no-repeat center / cover;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
    &--gallery {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: '';
        display: inline-block;
        background: url(/static/icons/galleryIcon.svg) no-repeat center / 16px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
    &--events {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: '';
        display: inline-block;
        background: url(/static/icons/eventsIcon.svg) no-repeat center / cover;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
    &--public {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: '';
        display: inline-block;
        background: url(/static/icons/publicIcon.svg) no-repeat center / cover;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
    &--club {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: '';
        display: inline-block;
        background: url(/static/icons/clubIcon.svg) no-repeat center / 16px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
  &__link,
  & a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #72839c;
    transition: all 0.2s linear;
    &:visited,
    &:active {
      color: #72839c;
    }
    &:hover {
      color: #3366ff;
    }
    &.disabled {
      color: #babfc7;
      &:visited,
      &:active,
      :hover {
        color: #babfc7;
      }
    }
  }
  &__button {
    text-decoration: none;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 12px;
    box-shadow: 0 3px 8px rgba(51, 102, 255, 0.15);
    border-radius: 4px;
  }
  &__wrap {
    background-color: #fff;
    width: calc(100vw - 32px);
    max-width: 900px;
    padding: 24px 32px;
    white-space: nowrap;
    overflow-x: auto;
    @media (max-width: 560px) {
      padding: 24px;
    }
    &-title {
      margin-bottom: 16px;
    }
    &-list {
      list-style-position: inside;
    }
    &-item:not(:last-child) {
      margin-bottom: 4px;
    }
  }
  &__table {
    width: 100%;
    &.fees {
      white-space: normal;
      @media (max-width: 560px) {
        width: 852px;
      }
      td {
        border: 1px solid lightgray;
        &:first-child {
          width: 640px;
          & + td {
            width: 196px;
            text-align: center;
          }
        }
      }
    }
    td {
      padding: 6px 18px 6px 6px;
    }
  }
  &__show-blanks {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    a {
      padding-left: 18px;
      background: url("/static/icons/icon-doc.svg") left center no-repeat;
    }
    .disabled {
      pointer-events: none;
    }
  }
}
// mobile menu
.user-menu {
  padding: 14px 16px 16px !important;
  margin-bottom: 24px;
  @media (max-width: 990px) {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  &__button {
    padding: 0;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3366ff;
    box-shadow: 0 0 3px #011f7b;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 2;
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 22px;
      background: #fff;
      opacity: 1;
      left: 9px;
      transform: rotate(0deg);
      transition: all .2s ease-in-out;
      &:nth-child(1) {
        top: 13px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 19px;
      }
      &:nth-child(4) {
        top: 25px;
      }
    }
    &._open {
      span {
        &:nth-child(1) {
          top: 19px;
          width: 0;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 19px;
          width: 0;
          left: 50%;
        }
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 12px;
    @media (max-width: 990px) {
      display: none;
    }
  }
  &__list {
    list-style: none;
    @media (max-width: 990px) {
      position: fixed;
      right: 19px;
      bottom: 83px;
      z-index: 2;
      width: 200px;
      background-color: #fff;
      box-shadow: 0 8px 25px rgba(51, 102, 255, 0.2);
      border-radius: 6px;
      &:before {
        content: "";
        position: absolute;
        right: 14px;
        bottom: -8px;
        z-index: -1;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #fff;
        transform: rotate(45deg);
      }
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__link, & a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #72839c;
    border-bottom: 1px solid transparent;
    transition: all .2s linear;
    &:visited,
    &:active {
      color: #72839c;
    }
    &:hover {
      color: #3366ff;
      border-bottom-color: #3366ff;
    }
    &.disabled {
      color: #babfc7;
      &:visited,
      &:active,
      &:hover {
        color: #babfc7;
      }
    }
    @media (max-width: 990px) {
      display: block;
      text-decoration: none;
      margin: 8px 0;
      padding: 2px 16px;
      &:hover {
        background-color: whitesmoke;
      }
    }
  }
  &__transition {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(-10px);
    }
    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }
    &-exit {
      opacity: 1;
      transform: translateY(0);
    }
    &-exit-active {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.2s, transform 0.2s;
    }
  }
}