.redesign {
  min-height: 100vh;
  .Card{
    padding: 10px;

    .search-form__image  {
      float: right;
      width: 145px;
      height: 145px;
      margin: 0 0 10px 10px;
      &.found-info {background: url("/static/images/base_search/found-info.svg");}
      &.documents-status {background: url("/static/images/base_search/documents-status.svg");}
      &.check-registration {background: url("/static/images/base_search/check-registration.svg");}
      &.stamp-search {background: url("/static/images/base_search/stamp-search.svg");}
      &.publication-search {background: url("/static/images/base_search/publication-search.svg");}
    }
  }
  & + .Footer {
    display: none;
  }
  h3 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    // letter-spacing: 0.4px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: normal;
  }
  p {
    letter-spacing: 0.2px;
    line-height: 20px;
    width: 95%;
    color: #72839C;
  }
  .base-search {
    word-break: break-word;
    &.content {
      & .Card:not(:first-child) {
        margin-top: 16px;
      }
    }
    &__content-wrap {
      display: flex;
      @media (max-width: 1080px) {
        display: block;
      }
    }
    &__map {
      height: 300px;
      margin-top: 10px;
      &-wrap {
        @media (max-width: 1100px) {
          display: none;
        }
        h3 {
          padding-bottom: 10px;
          border-bottom: 1px solid #e8e8e8;
        }
        img {
          display: block;
          width: 100%;
        }
      }
      &-title {
        text-decoration: none;
        color: #253c5e;
        transition: all 0.2s linear;
        text-transform: none;
        font-weight: normal;
        &:hover {
          color: #3366ff;
        }
      }
    }  
    &__content {
      width: 870px;
      margin-left: 16px;
      order: 1;
      @media (max-width: 1080px) {
        width: 100%;
        margin-left: 0;
      }
    }

    &__info {
      width: 302px;
      min-width: 302px;
      @media (max-width: 990px) {
        margin-top: 16px;
        width: 100%;
        min-width: unset;
      }
      &-inner {
        h3 {
          text-transform: none;
          font-weight: normal;
        }
      }
      &-inner .Card:not(:first-child),
      .banner-component {
        margin-top: 16px;
      }
    }
    &__copy {
      &-wrap {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #72839c;
        padding-bottom: 16px;
        margin-top: 16px;
        @media (max-width: 990px) {
          display: none;
        }
      }
    }
  }
}
