.redesign {
  background: #f5f8ff;
  min-height: 100vh;
  padding-bottom: 50px;
  .menu-component__list {
    margin-top: 10px;
  }
  & + .Footer {
    display: none;
  }
  h3 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    font-weight: normal;
  }
  p {
    letter-spacing: 0.2px;
  }
  .base-search {
    word-break: break-word;
    &.content {
      padding-top: 65px;
      & .Card:not(:first-child) {
        margin-top: 16px;
      }
    }
    &__socials {
      h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
    &__right-socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      margin-top: 10px;
      a {
        &:first-child {
          width: 10px;
        }
        width: 20px;
        height: 20px;
      }
      @media (max-width: 768px) {
        order: -1;
        margin-bottom: 16px;
      }
    }
    &__content-wrap {
      display: flex;
      justify-content: space-between;
      @media (max-width: 990px) {
        display: block;
      }
    }
    &__map {
      height: 300px;
      margin-top: 10px;
      &-wrap {
        @media (max-width: 1100px) {
          display: none;
        }
        h3 {
          padding-bottom: 10px;
          border-bottom: 1px solid #e8e8e8;
        }
    
      }
      &-title {
        text-decoration: none;
        color: #253c5e;
        transition: all 0.2s linear;
        text-transform: none;
        font-weight: normal;
        &:hover {
          color: #3366ff;
        }
      }
    }  
    &__content {
      width: 100%;
      margin-left: 16px;
      order: 1;
      @media (max-width: 990px) {
        margin-left: 0;
      }
    }
    &__info {
      width: 300px;
      min-width: 300px;
      @media (max-width: 990px) {
        width: 100%;
        min-width: unset;
      }
      &-inner {
        h3 {
          text-transform: none;
          font-weight: normal;
        }
      }
      &-inner .Card:not(:first-child) {
        margin-top: 16px;
      }
    }
    &__copy {
      &-wrap {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #72839c;
        padding-bottom: 16px;
        margin-top: 16px;
        @media (max-width: 990px) {
          display: none;
        }
      }
    }
  }
}

// base-search menu styles
.menu-component {
  &__card {
    padding-bottom: 10px !important;
  }
  &__title {
    padding-bottom: 8px;
    border-bottom: 1px solid #e8e8e8;
  }
  &__list {
      list-style: none;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
    &__link,
    & a {
      text-decoration: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 1;
      letter-spacing: 0.2px;
      color: #72839c;
      transition: all 0.2s linear;
      cursor: pointer;
      &:visited,
      &:active {
        color: #72839c;
      }
      &:hover {
        color: #3366ff;
      }
      &.disabled {
        color: #babfc7;
        &:visited,
        &:active,
        :hover {
          color: #babfc7;
        }
      }
    }
    &__item--judge {
      pointer-events: none;
    }
}
.menu-component__link {
  position: relative;
  &--documents {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
          content: '';
          display: inline-block;
          background: url(/static/icons/documentsIcon.svg) no-repeat center / cover;
          width: 20px;
          height: 20px;
          margin-right: 10px;
      }
  }
  &--club {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
          content: '';
          display: inline-block;
          background: url(/static/icons/clubIcon.svg) no-repeat center / 16px;
          width: 20px;
          height: 20px;
          margin-right: 10px;
      }
  }
  &--org {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
          content: '';
          display: inline-block;
          background: url(/static/icons/orgIcon.svg) no-repeat center / 16px;
          width: 20px;
          height: 20px;
          margin-right: 10px;
      }
  }
  &--mark {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
          content: '';
          display: inline-block;
          background: url(/static/icons/markIcon.svg) no-repeat center / 16px;
          width: 20px;
          height: 20px;
          margin-right: 10px;
      }
  }
  &--appointment {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
          content: '';
          display: inline-block;
          background: url(/static/icons/appointmentIcon.svg) no-repeat center / cover;
          width: 20px;
          height: 20px;
          margin-right: 10px;
      }
  }
  &--report {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
          content: '';
          display: inline-block;
          background: url(/static/icons/report.svg) no-repeat center / cover;
          width: 20px;
          height: 20px;
          margin-right: 10px;
      }
  }
  &--stain {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
          content: '';
          display: inline-block;
          background: url(/static/icons/stain.svg) no-repeat center / cover;
          width: 20px;
          height: 20px;
          margin-right: 10px;
      }
  }
  &--search {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
          content: '';
          display: inline-block;
          background: url(/static/icons/searchIcon.svg) no-repeat center / cover;
          width: 20px;
          height: 20px;
          margin-right: 10px;
      }
  }
}