.club-documents-status__chips {
    .chip-list__wrap {
        margin-bottom: 15px;
        @media (max-width: 720px) {
            margin-top: 35px;
        }
        @media (max-width: 600px) {
            margin-top: 70px;
        }
    }
}

.archive-notification {
    margin-bottom: 20px;
    border: 2px solid #dc3545;
    border-radius: 6px;
    padding: 10px;
    &.full-screen {
        margin-top: 10px;
    }
    &__title {
        text-align: center;
        margin-bottom: 0;
    }
}

.chip-list__wrap {
    display: flex;
    flex-direction: column;
    .custom-checkbox {
        z-index: 8;
        margin-left: 0px;
        margin-top: 3px;
        @media (max-width: 990px) {
            z-index: 1;
        }
    }
}