.exhibitions-filters {
  .phone-hide {
    @media (max-width: 560px) {
      display: none !important;
    }
  }
  background-color: #fff;
  width: 274px;
  min-width: 274px;
  @media (max-width: 990px) {
    width: 300px;
    min-width: 300px;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 3;
    padding: 16px;
    height: calc(100% - 50px);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.2s ease-out;
    &._open {
      visibility: visible;
      transform: translateX(0);
    }
  }
  @media (max-width: 560px) {
    top: 48px;
    height: calc(100% - 48px);
  }
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    & > div {
      display: flex;
      align-items: center;
    }
  }
  &__clear {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #253c5e;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s linear;
    &:hover {
      border-color: #253c5e;
    }
  }
  &__title {
    margin-bottom: 16px;
  }
  &__copy {
    &-wrap {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #72839c;
      padding-bottom: 16px;
      @media (max-width: 1100px) {
        display: none;
      }
    }
  }
  &__svg-info:hover {
    fill: #3366ff;
  }
  &__support-link {
    display: flex;
    margin-left: 10px;
  }
}
