.exhibitions-filters {
  background-color: #fff;
  width: 274px;
  min-width: 274px;
  @media (max-width: 768px) {
    width: auto;
    min-width: auto;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 3;
    padding: 16px;
    height: calc(100% - 70px);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.2s ease-out;
    &._open {
      visibility: visible;
      transform: translateX(0);
    }
  }
  @media (max-width: 560px) {
    top: 48px;
    height: calc(100% - 48px);
  }
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  &__clear {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #253C5E;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    transition: border-color .2s linear;
    &:hover {
      border-color: #253c5e;
    }
  }
  &__title {
    margin-bottom: 16px;
  }
}