.document-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  &__date {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #b9b9b9;
  }

  a {
    &:hover {
      text-decoration: none;
      color: #0056b3;
    }
  }

  &__href {
    display: flex;
    align-items: center;
    text-decoration: none;

    & .k-svg-icon {
      width: 22px !important;
      height: 22px !important;
      flex-shrink: 0 !important;

      & > svg {
        fill: #3366ff !important;
      }
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    color: #007bff;
    cursor: pointer;
    padding-left: 10px;
    &:hover {
      color: #36f;
    }
  }
}
.btn {
  margin-right: 20px;
}