.specialists-filters {
  &__calendar-title {
    cursor: pointer;
    &:hover {
      color: #3366ff;
    }
  }
  .phone-hide {
    @media (max-width: 560px) {
      display: none !important;
    }
  }
  width: 100%;
  max-width: 302px;
  @media (max-width: 1079px) {
    max-width: 100%;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 99;
    padding: 16px;
    height: calc(100% - 60px);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(200%);
    transition: all 0.2s ease-out;
    &._open {
      visibility: visible;
      transform: translateX(0);
      background: white;
    }
  }
  @media (max-width: 560px) {
    top: 60px;
    height: calc(100% - 60px);
  }
  &__wrap {
    overflow: hidden;
    @media (min-width: 1079px) {
      margin-bottom: 16px;
    }
    & .Card:first-child {
      margin-bottom: 16px;
    }
    & .Card {
      padding: 10px;
    }
  }
  h4,
  h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #253c5e;
    display: inline-block;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
  }
  &__clear {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #72839c;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    transition: all 0.2s linear;
    &:hover,
    &:hover svg path {
      fill: #36f;
      color: #36f;
    }
    svg {
      margin-right: 3px;
      path {
        transition: all 0.2s linear;
      }
    }
  }
  &__title {
    margin-bottom: 16px;
  }
  &__copy {
    &-wrap {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #72839c;
      padding-bottom: 16px;
      @media (max-width: 1100px) {
        display: none;
      }
    }
  }
  &__sticky-box {
    top: 225px;
  }
}

.breeds-filter-input-wrap {
  .breed-groups-filter__title {
    margin-bottom: 10px;
  }
  .custom-checkbox {
    padding-top: 10px;
    border-top: 1px solid #ccc !important;
  }
}




