.UserEdit {
    $font-family: "Source Sans Pro", sans-serif;
    @import "~@progress/kendo-theme-bootstrap/dist/all.scss";
    @import "~bootstrap/scss/bootstrap.scss";
    & a {
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        letter-spacing: .2px;
        color: #72839c;
        transition: color .2s linear;
    }
    a:hover {
        color: #36f;
        text-decoration: none;
    }
    display: flex;
    justify-content: space-between;
    @media (max-width: 720px) {
        display: block;
    }
    &__wrap {
        & + .Footer {
            display: none;
        }
    }
    &__right {
        width: 100%;
        @media (max-width: 720px) {
            width: 100% !important;
            margin-top: 0;
            padding-bottom: 1px;
        }
        @media (max-width: 1024px) {
            width: calc(100% - 230px);
            margin-top: 0;
            padding-bottom: 1px;
        }
    }
    &__left {
        width: 300px;
        min-width: 300px;
        margin: 0 16px 16px 0;
        @media (max-width: 1079px) {
            display: none !important;
            width: 100%;
            min-width: auto;
            margin: 0;
            & > div {
                display: none;
                position: static !important;
            }
        }
        .Card {
            padding: 10px !important;
        }
    }
    &__inner {
        display: flex;
        @media (max-width: 720px) {
            flex-direction: column-reverse;
        }
        &-item {
            cursor: pointer;
            display: flex;
            align-items: baseline;
            color: #72839c;
            .k-icon-32 {
                font-size: 20px;
            }
            .k-icon {
                position: relative;
                top: 2px;
            }
            &:hover {
                color: #3366ff;
                transition: all 0.2s linear;
            }
            &.active {
                color: #3366ff;
            }
        }
        &-list {
            list-style: none;
            margin-bottom: 0;
            margin-right: 10px;
            & li {
                margin-left: 6px;
                margin-top: 10px;
            }
        }
        &-left {
            margin-right: 16px;
            width: 100%;

            .Card {
                margin-top: 0 !important;
            }
            .k-form {
                max-width: none !important;
                .k-form-legend {
                    padding-bottom: 5px;
                }
            }
        }
        &-right {
            flex-grow: 1;
            @media (max-width: 720px) {
                position: fixed;
                width: 100%;
                top: 62px;
                right: 0;
                z-index: 99;
                padding: 16px;
                height: 100%;
                overflow-y: auto;
                border-radius: 5px 0 0 5px;
                transform: translateX(100%);
                transition: all 0.2s ease-out;
                background: #fff;
                &._open {
                    padding: 10px 16px 16px 16px;
                    transform: translateX(0);
                    .Card {
                        margin: 0 !important;
                        padding: 0 !important;
                        box-shadow: none;
                    }
                }
            }
            & > .Card {
                @media (max-width: 1024px) {
                    position: fixed;
                    max-width: 230px;
                    min-width: 230px;
                }
            }
        }
        .Card {
            min-width: 230px;
            padding: 12px !important;
        }
        .k-form-buttons {
            margin-top: unset!important;
        }
    }
    .Card {
        margin: 0 0 16px 0;
        padding: 25px;
        div {
            font-weight: normal;
        }

        @media (max-width: 720px) {
            padding: 16px;
        }
        @media (min-width: 720px){
            .UserEdit__profile-label {
                display: block !important;
                margin-top: 3px;
                padding-bottom: 5px;
                font-size: 18px;
                color: #030404;
                border-bottom: 1px solid #E5E5E5;
            }
        }
        .k-form-buttons.text-center > button {
            width: 154px;
            height: 38px;
            background: #3366FF !important;
        }
    }
    .k-notification-group {
        right: 8px;
        bottom: 55px;
        @media (max-width: 720px) {
            left: 5px;
            right: 5px;
            top: 48px;
            bottom: auto;
        }
    }
    .k-icon-disabled {
        opacity: 0.6;
    }
    p,
    ul {
        margin: 0;
    }
    a {
        &.k-select {
            &:hover {
                text-decoration: none;
            }
        }
    }
    button:focus {
            outline: none;
    }
    .user-nav__button {
        border-radius: 50%;
    }
    .k-radio {
        @media (max-width: 720px) {
            &[aria-checked="true"] {
                background-color: #007bff;
                &:before {
                    border-radius: 50%;
                    transform: scale(1) translate(-50%, -50%);
                    background-color: white;
                }
            }
        }
    }
    &__inner-right .Card {
        .UserEdit__inner-item.active,
        .UserEdit__inner-item:hover {
            .k-i-information::before {
                content: url('/static/icons/information2-blue.svg');
            }
            .k-i-track-changes::before {
                content: url('/static/icons/vector2-blue.svg');
            }
            .k-i-lock::before {
                content: url('/static/icons/security2-blue.svg');
            }
            .k-i-trash::before {
                content: url('/static/icons/trash2-blue.svg');
            }
            .k-i-user::before {
                content: url('/static/icons/user2-blue.svg');
            }
        }
        .k-i-information::before {
            content: url('/static/icons/information2.svg');
        }
        .k-i-track-changes::before {
            content: url('/static/icons/vector2.svg');
        }
        .k-i-lock::before {
            content: url('/static/icons/security2.svg');
        }
        .k-i-trash::before {
            content: url('/static/icons/trash2.svg');
        }
        .k-i-user::before {
            content: url('/static/icons/user2.svg');
        }
    }
}
.header__filters {
    & > span {
        font-size: 0;
    }
    & > span::before {
        display: block;
        padding-top: .5px;
        font-size: 12.5px;
        content: "Разделы";
    }
    @media (min-width: 720px){
        display: none;
    }
}