.UserEdit {
    $font-family: "Source Sans Pro", Helvetica, sans-serif;
    @import "~@progress/kendo-theme-bootstrap/dist/all.scss";
    @import "~bootstrap/scss/bootstrap.scss";
    a:hover {
        text-decoration: none;
    }
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
        display: block;
    }
    &__wrap {
        & + .Footer {
            display: none;
        }    
    }
    &__right {
        width: calc(100% - 316px);
        @media (max-width: 990px) {
            width: 100%;
            margin-top: 0;
            padding-bottom: 1px;
        }
    }
    &__left {
        width: 300px;
        min-width: 300px;
        margin: 0 16px 16px 0;
        @media (max-width: 990px) {
            width: 100%;
            min-width: auto;
            margin: 16px 0 0;
            & > div {
                position: static !important;
            }
        }
        .Card {
            padding: 10px !important;
        }
    }
    &__inner {
        display: flex;
        @media (max-width: 560px) {
            flex-direction: column-reverse;
        }
        &-item {
            cursor: pointer;
            display: flex;
            align-items: baseline;
            color: #72839c;
            .k-icon-32 {
                font-size: 20px;
            }
            .k-icon {
                position: relative;
                top: 2px;
            }
            &:hover {
                color: #3366ff;
                transition: all 0.2s linear;
            }
            &.active {
                color: #3366ff;
            }
        }
        &-list {
            list-style: none;
            margin-bottom: 0;
            & li {
                margin-left: 6px;
                margin-top: 10px;
            }
        }
        &-left {
            width: 550px;
            margin-right: 16px;
            @media (max-width: 990px) {
                width: 100%;
                margin: 0;
                .Card {
                    margin-top: 0 !important;
                }
                .k-form {
                    max-width: none !important;
                }
            }
        }
        &-right {
            flex-grow: 1;
            @media (max-width: 990px) {
                position: fixed;
                top: 71px;
                left: 0;
                z-index: 3;
                padding: 16px;
                height: calc(100% - 132px);
                overflow-y: auto;
                visibility: hidden;
                transform: translateX(-100%);
                transition: all 0.2s ease-out;
                &._open {
                    visibility: visible;
                    transform: translateX(0);
                    background: white;
                    .Card {
                        margin: 0 !important;
                        padding: 0 !important;
                        box-shadow: none;
                    }
                }
            }
            @media (max-width: 560px) {
                top: 48px;
                height: calc(100% - 109px);
            }
            & > .Card {
                @media (min-width: 560px) {
                    position: fixed;
                    max-width: 300px;
                    min-width: 300px;
                }
            }
        }
        .Card {
            padding: 12px !important;
        }
    }
    .Card {
        margin: 10px 0 16px 0;
        padding: 25px;
        div {
            font-weight: normal;
        }

        @media (max-width: 560px) {
            padding: 16px;
        }
    }
    .k-notification-group {
        right: 8px;
        bottom: 55px;
        @media (max-width: 560px) {
            left: 5px;
            right: 5px;
            top: 48px;
            bottom: auto;
        }
    }
    .k-icon-disabled {
        opacity: 0.6;
    }
    p,
    ul {
        margin: 0;
    }
    a {
        &.k-select {
            &:hover {
                text-decoration: none;
            }
        }
    }
    button {
        &:focus {
            outline: none;
        }
    }
    .user-nav__button {
        border-radius: 50%;
    }
    .k-radio {
        @media (max-width: 560px) {
            &[aria-checked="true"] {
                background-color: #007bff;
                &:before {
                    border-radius: 50%;
                    transform: scale(1) translate(-50%, -50%);
                    background-color: white;
                }
            }
        }
    }
}
