.ReportDetails {
  overflow-x: auto;
  &__nav {
    margin-bottom: 24px;
    a {
      margin: 0 5px;
      &:first-child {
        margin-left: 0;
      }
      &.active {
        border: none;
      }
    }
  }
  &__button {
    margin-bottom: 10px;
  }
  &__table {
    tfoot {
      border-top: 1px solid #cbcbcb;
    }
    .sort-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .sort-value {
      margin-right: 15px;
    }
    .sort-order {
      margin-left: auto;
    }
    .sort {
      margin-left: 5px;
      cursor: pointer;
      &-none:after {
        content: "\21D5";
        font-size: 1em;
      }
      &-asc:after {
        content: "\25BC";
        font-size: 0.7em;
      }
      &-desc:after {
        content: "\25B2";
        font-size: 0.7em;
      }
    }
    .highlight {
      background: yellow;
    }
    tbody {
      td {
        position: relative;
        padding: 0.4em;
        background-clip: padding-box;
        &:last-child {
          text-align: center;
        }
        input,
        select {
          width: 100%;
          padding: 0;
          margin: 0;
        }
        select {
          margin: -1px;
        }
        .DayPicker {
          position: absolute;
          top: 0.4em;
          left: 0.4em;
          padding: 5px;
          background: white;
          z-index: 1;
          box-shadow: 0 0 10px gray;
          border-radius: 5px;
          margin-bottom: 20px;
        }
      }
    }
  }

  tr.drop-over-downward td {
    border-bottom: 2px dashed #1890ff;
  }
  tr.drop-over-upward td {
    border-top: 2px dashed #1890ff;
  }
  .pure-table {
    margin: 10px 0;
  }
}
