.footer__menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom:0;
  left:0;
  background: #FFFFFF;
  width:100%;
  height: 60px;
  z-index: 100;
  padding: 10px 15px 5px 15px;
  box-shadow: 0px -2px 2px -1px rgba(34, 60, 80, 0.2);
  @media (max-width: 1080px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "block1 block2 . . . . . . block3 block4";
    height: 45px;
    padding: 5px 15px 5px 15px;
    &.unregistered-user {
      grid-template-areas: "block1 block2 . . . . . block3 block5 block4";
    }
    & .class-for-grid-block1 {
      grid-area: block1;
    }
    & .class-for-grid-block2 {
      grid-area: block2;
    }
    & .class-for-grid-block3 {
      grid-area: block3;
    }
    & .class-for-grid4 {
      grid-area: block4;
      height: 100%;
      & .user-nav__button {
        padding: 0;
      }
    }
    & .class-for-grid-block5 {
      grid-area: block5;
    }
    & .class-for-grid-block6 {
      grid-area: block3;
    }
  }
  @media (max-width: 600px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  button {
    border: none;
    padding: 25px 10px;
  }
  &-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: #979797;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    width: 60px;
    span {
      @media (max-width: 1350px) {
        position: relative;
        top: 1px
      }
    }

    &.__active {
      color: #3366FF;
      svg path{
        stroke: #3366FF;
      }
    }
    &.__disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.more_btn-hide {
  display: none;
}