.сontacts {
    &__title {
        font-size: 16px;
        @media (max-width: 768px) {
            margin-bottom: 8px;
        }
    }
    &__button-delete {
        padding: 7px 14px;
        border-color: #fa5d50;
        background: #fa5d50;
        color: white;
        &:hover {
            box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
        }
    }
    &__button-add {
        padding: 7px 14px;
        &:hover {
            box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
        }
        &.disabled {
            opacity: 0.7;
            pointer-events: none;
        }
    }
    &__buttons-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        .btn + .btn {
            @media (min-width: 768px) {
                margin: 0 0 0 12px;
            }
        }
        .btn {
            @media (max-width: 768px) {
                width: 100%;
                margin: 0 0 12px;
            }
        }
    }
    .FormGroup--inline {
        position: relative;
        align-items: flex-end;
        margin-bottom: 6px;
        @media (max-width: 768px) {
            display: grid!important;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 16px;
            padding: 10px;
            box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
            border-radius: 5px;
        }

        .FormInput--text {
            @media (max-width: 768px) {
                grid-row: 2 / 3;
                grid-column: 2 / 6;
            }
        }

        .first-field {
            max-width: 200px;
            margin-left: 30px;

            @media (max-width: 768px) {
                grid-row: 1 / 2;
                grid-column: 1 / 5;
            }
        }

        .add-mini {
            @media (max-width: 768px) {
                margin-left: 16px;
            }
        }
    }

    &__checkbox-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        @media (max-width: 768px) {
            margin: 0;
            grid-row: 1 / 2;
            grid-column: 5 / 6;
        }

        &-label {
            font-size: 13px;
            color: #B9B9B9;
        }

        &-inner {
            display: flex;
            justify-content: space-between;
        }

        .k-icon {
            position: relative;
            right: unset;
            top: 7px;
        }

        & > div > div {
            margin: 0 0 16px 0;
            @media (max-width: 768px) {
                margin: 0 20px 12px;
            }
        }

        .custom-checkbox__label {
            display: flex;
            align-items: center;
            width: 18px;
            height: 38px;
            padding: 0;
            &::before {
                position: static;
            }
            @media (max-width: 768px) {
                bottom: 0;
            }
        }
    }
}

.FormGroup__contact {
    margin-bottom: 35px;
}
.FormGroup--inline {
    margin-bottom: 28px;
}
.Contacts__checkbox-wrap {
    position: relative;
}
.k-icon {
    color: red;
    position: absolute;
    top: 50%;
    right: -22px;
    font-size: 22px;
    opacity: 0.8;
    cursor: pointer;
    @media (max-width: 768px) {
        top: auto;
        bottom: 22px;
    }
}
.сontacts__checkbox-wrap div:nth-child(2) {
    margin-right: 0;
}
.custom-checkbox__input:checked ~ .custom-checkbox__label:before {
    border: 6px solid #007bff;
    background-color: #fff;
    
}
.custom-checkbox__label:before {
    border-radius: 50%;
}
.custom-checkbox__label:after {
    border-right: none; 
    border-bottom: none;
}
.Contacts__button-add {
    height: 40px;
}