.map-page__right {
  display: flex;
  position: absolute;
  width: auto;
  top: 55px;
  right: 0;
  z-index: 1;
}

.map-page__filters .custom-select {
  @media (max-width: 1079px) {
    width: 228px;
  }
}
.map-page__filters {
  .Card {
    .custom-select__values {
      display: none;
    }
  }
}
.map-page__filters {
  .regions-filter,
  .cities-filter {
    margin-bottom: -5px;

    &__title {
      @media (max-width: 1079px) {
        padding-right: 5px;
      }
    }
  }
}
.ymaps-2-1-79-balloon__content {
  .ymaps-2-1-79-b-cluster-content__header {
    display: none;
  }
}

