.map-page__right {
  display: flex;
  position: absolute;
  width: auto;
  top: 55px;
  right: 0;
  z-index: 1;
}

.custom-select {
  @media (max-width: 1079px) {
    width: 228px;
  }
}

.Card {
  .custom-select__values {
    display: none;
  }
}
.regions-filter {
     margin-bottom: -5px;
}