.map-page__right {
  display: flex;
  position: absolute;
  width: auto;
  top: 55px;
  right: 0;
  z-index: 1;

  @media (max-width: 1079px) {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(200%);
    transition: all 0.2s ease-out;
    z-index: 10;

    &._open {
      visibility: visible;
      transform: translateX(0);
    }

    &>div {
      width: 100%;
    }
  }
}

.map-page__filters {
  .Card {
    .custom-select__values {
      display: none;
    }
  }
}
.map-page__filters {
  .regions-filter,
  .cities-filter {
    margin-bottom: -5px;

    @media (max-width: 1079px) {
      margin-bottom: 16px;
    }

    &__title {
      @media (max-width: 1079px) {
        padding-right: 5px;
      }
    }
  }
}
.ymaps-2-1-79-balloon__content {
  .ymaps-2-1-79-b-cluster-content__header {
    display: none;
  }
}

