.ClubHeader {
  box-shadow: 0px 6px 12px rgba(51, 102, 255, 0.08);
  border-radius: 6px;
  margin-bottom: 32px;

  &__info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__footer {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    background-color: white;
    padding: 15px 32px;
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    font-weight: normal;
    letter-spacing: 0.2px;
  }
}
