.clubs-search {
  margin-bottom: 24px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
  overflow: hidden;
  @media (max-width: 560px) {
    margin-bottom: 12px;
  }
  &__control {
    width: 100%;
    padding: 12px 36px;
    border: none;
    background: #fff url("/static/icons/icon-search.svg") no-repeat left 12px center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    letter-spacing: .2px;
  }
  &__cancel {
    background: url("/static/icons/cross.svg") no-repeat center;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}