server {

    listen 80;
    server_name dev.uep24.ru;

    location / {
        root /var/www/public/frontend;
        try_files $uri /index.html;
    }

    location /media/ {
        alias /samba/images/;
    }

    location /api/ {
        proxy_pass http://localhost:60003;
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}