.feedback__form {
    &-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .btn + .btn {
            margin-left: 20px;
        }

        .btn {
            width: 150px;
            text-align: center;
            background: #3366FF;
            border-radius: 4px;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            transition: all 0.2s linear;

            &:hover {
                box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
            }
        }
    }

    .select-subcategory {
        Label {
            color: #B9B9B9;
        }

        .FormInput__error {
            font-size: 13px;
            line-height: 14px;
            color: #FEB5BC;
        }
    }

    .FormGroup {
        position: relative;
    }

    .FormInput {
        margin-bottom: 24px;

        &__error {
            margin-left: 10px;
            font-size: 13px;
            line-height: 14px;
        }

        .RSInput__control {
            min-height: 36px;
            padding-top: 1px;
            padding-bottom: 1px;
        }
    }

    .SubmitError {
        position: absolute;
        display: flex;
        min-width: 270px;
        bottom: -20px;
        left: 50%;
        justify-content: center;
        transform: translateX(-50%);
    }

    Label {
        font-size: 16px;
        line-height: 16px;
    }
}
