.plus-button {
    border: 2px solid #3366ff;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	position: relative;
    box-shadow: 0 4px 8px rgba(51, 102, 255, 0.3);
    background-color: #3366FF;
	
	&:after,
	&:before {
		content: "";
		display: block;
		background-color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	&:before {
		height: 1em;
		width: 0.2em;
	}

	&:after {
		height: 0.2em;
		width: 1em;
	}
}

.plus-button--small {
	font-size: 12px;
}

.plus-button--large {
	font-size: 22px;
}
