.exhibitions-calendar {
  margin-bottom: 24px;
  &__title {
    margin-bottom: 18px;
  }
  &__controls {
    margin-bottom: 12px;
  }
  &__button {
    font-weight: 400;
    color: #00C48C;
    cursor: pointer;
    opacity: .8;
    border-bottom: 1px dashed transparent;
    transition: all .2s linear;
    &.active, &:hover {
      opacity: 1;
      border-color: #00C48C;
    }
    &:first-child {
      margin-right: 12px;
    }
  }
  &__legend {
    position: relative;
    padding-left: 18px;
    margin-top: 6px;
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #00C48C;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .DayPicker {
    display: inline-block;
    background-color: #fff;
    padding: 12px;
    border: 1px solid #ebf0f2;
    border-radius: 4px;
    &-NavBar {
      padding: 0 12px;
    }
    &-Day {
      transition: background-color .2s linear;
      &--today {
        color: inherit;
        background-color: transparent;
      }
      &--selectedDate {
        color: #00C48C;
        background-color: #E5F9F3;
      }
    }
  }
}