.top-banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 472px;
  background: url(/static/images/about/banner_about.jpg) no-repeat center;
  background-size: cover;

  @media (max-width: 1200px) {
    background-position: 0px -40px;
    background-size: 120%;
  }

  @media (max-width: 1000px) {
    background-position: 0px -50px;
    background-size: 125%;
  }

  @media (max-width: 900px) {
    background-position: 0px -30px;
    background-size: 130%;
  }

  @media (max-width: 800px) {
    background-position: 0px -30px;
    background-size: 150%;
  }

  @media (max-width: 700px) {
    height: 310px;
    background-position: 0px -10px;
    background-size: 110%;
  }

  @media (max-width: 600px) {
    background-position: 0 20px;
    background-size: cover;
  }

  @media (max-width: 420px) {
    background-position: -40px 20px;
  }

  & h2 {
    max-width: 370px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-left: 40px;

    @media (max-width: 700px) {
      flex-direction: column;
      width: 195px;
      margin-top: 33px;
    }
  }

  &__logo{
    background: rgba(0, 0, 0, 0) url(/static/images/about/rkf-logo.svg) no-repeat scroll center center / cover;
    display: flex;
    flex-shrink: 0;
    width: 161px;
    height: 162px;
    border-radius: 50%;
    margin-right: 24px;

    @media (max-width: 1000px) {
      width: 121px;
      height: 122px;
    }

    @media (max-width: 700px) {
      width: 85px;
      height: 86px;
      margin: 0 0 20px;
    }
  }

  &__title {
    width: 400px;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    color: #ffffff;

    @media (max-width: 1000px) {
      font-size: 34px;
      line-height: 36px;
    }

    @media (max-width: 700px) {
      width: 165px;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
    }
  }
}

.about-page__top-banner {
  @media (min-width: 601px) {
    padding-top: 60px;
  }
}