.pt-150 {
  padding-top: 150px;
}
.documents-page__left {
  width: 296px;
  min-width: 296px;
  margin-right: 16px;
}
.documents-page__info {
  display: flex;
  justify-content: space-between;
}
.documents-page__right {
  width: 100%;
}