$primary-color: #253C5E;
$primary-color--disabled: transparentize($primary-color, .3);
button {
  font-family: 'Futura New Book', Helvetica, sans-serif;
  font-weight: normal;
  background-color: transparent;
  padding: 6px 12px;
  color: $primary-color;
}

.btn,
a.btn,
a.btn:visited {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 8px 16px;
  border: solid 1px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: transparent;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
  cursor: pointer;

  &--loading {
    color: transparent !important;
    background-image: url('/static/icons/loader_spinning-circles.svg');
  }
}

a.btn-lg,
.btn-lg {
  padding: 13px 16px;
}

.btn-icon,
a.btn-icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 0 auto;
  svg {
    fill: currentColor
  }

  &--left {
    img, svg {
      margin-right: 8px;
    }
  }

  &--right {
    img, svg {
      margin-left: 8px;
    }
  }
}

.btn-primary,
a.btn-primary,
a.btn-primary:visited {
  color: white;
  border-color: $primary-color;
  background-color: $primary-color;

  &:hover, &:active {
    box-shadow: 0px 4px 8px rgba(37, 60, 94, 0.24);
  }

  &:disabled {
    color: #BABFC7;
    background-color: $primary-color--disabled;
    border-color: transparent;
    box-shadow: unset;
  }
}


.btn-secondary {
  color: $primary-color;
  border-color: transparentize(#253C5E, .62);

  &:disabled {
    color: #BABFC7;
    border-color: #EBF0F2;
  }
}

a.btn-text,
.btn-text {
  color: rgba(37, 60, 94, 0.7);
}

a.btn-simple,
.btn-simple {
  background-color: transparent;

  &:hover {
    background-color: #EBF0FE;
  }
}

.btn-i{
  fill: currentColor;
  //transform: translateY(3px);
}

.btn-z{
  padding: 0;
  margin: 8px 16px 8px 0;
  &:last-child{
    margin-right: 0;
  }
}