$primary-color: #253C5E;
$primary-color--disabled: transparentize($primary-color, .3);
button{
  font-family: 'Futura New Book', Helvetica, sans-serif;
  font-weight: normal;
  background-color: transparent;
  padding: 6px 12px;
  color: $primary-color;
}
.btn {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 8px 16px;
  border: solid 1px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: transparent;
  text-decoration: none;
}

a.btn,
a.btn:visited{
  color: white;
}
.btn-lg {
  padding: 12px 16px;
}

.btn-icon{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  span{
    padding: 0 4px;
  }
  img{
    margin: 0 12px;
  }
}
.btn-primary {
  color: white;
  border-color: $primary-color;
  background-color: $primary-color;

  &:hover, &:active {
    box-shadow: 0px 4px 8px rgba(37, 60, 94, 0.24);
  }

  &:disabled {
    color: #BABFC7;
    background-color: $primary-color--disabled;
    border-color: transparent;
    box-shadow: unset;
  }
}


.btn-secondary {
  color: $primary-color;
  border-color: transparentize(#253C5E, .62);

  &:disabled {
    color: #BABFC7;
    border-color: #EBF0F2;
  }
}

.btn-text {
  color: rgba(37, 60, 94, 0.7);
}