.photo-component {
  position: relative;
  box-shadow: 0 4px 12px rgba(51, 102, 255, 0.08);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 24px;
  &__photo {
    display: block;
    width: 100%;
  }
  &__description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #253C5E 0%, rgba(37, 60, 94, 0) 54.74%);
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
  }
  &__title {
    margin-top: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
  }
  &__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #fff;
  }
}