.PropertyP {
    a {
        text-decoration: none;
    }
    &__name {
        color: #253C5E;
    }
    &__name::after {
        content: " ";
        width: .5em;
        display: inline-block;
    }
    &__value {
        text-decoration: none;
        color: #72839C;
    }
}
