.user-info {
  overflow: hidden;
  @media (max-width: 1079px) {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
  }
  .Share {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    & .ya-share2__popup {
      top: 77px;
    }
  }
  ._no_share_name {
    top: 0;
  }
  &__edit-profile {
    display: inline-block;
    margin-top: 10px;
    padding-top: 6px;
    text-decoration: none;
    background-color: #dfe9fb !important;
    color: #72839c !important;
    width: 100%;
    height: 38px;
    text-align: center;
    border-radius: 6px;
    &:hover {
      opacity: 0.8;
      transition: all 0.2s linear;
    }
  }
  @media (max-width: 1079px) {
    display: flex;
    align-items: center;
  }
  &__logo-wrap {
    position: relative;
    max-height: 500px;
    padding-bottom: 10px;
    overflow: hidden;
    z-index: 1;
    @media (max-width: 1079px) {
      padding-bottom: 0;
      border-bottom: none;
      margin-right: 10px;
    }
    &.empty {
      @media (min-width: 1079px) {
        height: 291px;
      }
    }
    & .avatar__initials {
      font-size: 4.5rem;
    }
  }
  &__logo {
    width: 100%;
    display: block;
    @media (max-width: 1079px) {
      width: 100px;
      min-width: 100px;
      height: 100px;
      margin: 0;
      border-radius: 50%;
      background-size: cover;
      object-fit: cover;
    }
  }
  &__edit-btn,
  &__delete-btn {
    padding: 0;
    border: none;
    border-radius: 50% !important;
    background-color: #e4e6eb;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
  }
  &__edit-btn {
    left: 5px;
  }
  &__delete-btn {
    right: 5px;
    svg {
      fill: red !important;
    }
  }
  &__info {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: 1079px) {
      border-bottom: none;
      width: calc(100% - 110px);
      padding: 30px 0;
    }
    @media (max-width: 560px) {
      border-top: none;
      flex-direction: column;
      align-items: flex-start;
    }
    p {
      line-height: 1;
      letter-spacing: 0.2px;
      color: #3366ff;
      font-size: 18px;
      text-overflow: ellipsis;
      white-space: pre-line;
      display: flex;
      @media (max-width: 400px) {
        font-size: 16px;
        line-height: 20px;
        display: inline;
      }
    }
    & > *:not(:last-child) {
      margin-right: 5px;
    }
  }

  & + .UserActionControls {
    margin: 0;
  }

  &__with-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & p {
      position: relative;
      & svg {
        margin-left: 5px;
        @media (max-width: 400px) {
          position: absolute;
        }
      }
    }
  }
  &__transition {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(10px);
    }
    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }
    &-exit {
      opacity: 1;
      transform: translateY(0);
    }
    &-exit-active {
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.2s, transform 0.2s;
    }
  }
}
