.user-info {
  .Share {
    position: relative;
    top: 15px;
  }
  ._no_share_name {
    top: 0;
  }
  &__edit-profile {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 11px;
    text-decoration: none;
    background-color: #DFE9FB !important;
    color: #72839c !important;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    &:hover {
      opacity: 0.8;
      transition: all 0.2s linear;
    }
  }
  @media (max-width: 990px) {
    display: flex;
  }
  &__logo-wrap {
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    @media (max-width: 990px) {
      padding-bottom: 0;
      border-bottom: none;
      margin-right: 10px;
    }
  }
  &__logo {
    width: 100%;
    display: block;
    @media (max-width: 990px) {
      width: 100px;
      min-width: 100px;
      height: 100px;
      margin: 0;
      border-radius: 50%;
      background-size: cover;
      object-fit: cover;
    }
  }
  &__edit-btn, &__delete-btn {
    padding: 0;
    border: none;
    border-radius: 50% !important;
    background-color: #e4e6eb;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
  }
  &__edit-btn {
    left: 5px;
  }
  &__delete-btn {
    right: 5px;
    svg {
      fill: red;
    }
  }
  &__info {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    @media (max-width: 990px) {
      border-bottom: none;
      width: calc(100% - 110px);
      padding: 30px 0;
    }
    p {
      line-height: 1;
      letter-spacing: 0.2px;
      color: #3366ff;
      font-size: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    & > *:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__with-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__transition {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(10px);
    }
    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }
    &-exit {
      opacity: 1;
      transform: translateY(0);
    }
    &-exit-active {
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.2s, transform 0.2s;
    }
  }
}