.user-info {
  .Share {
    position: relative;
    top: 15px;
  }
  ._no_share_name {
    top: 0;
  }
  @media (max-width: 990px) {
    display: flex;
  }
  &__logo-wrap {
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    max-height: 500px;
    overflow: hidden;
    @media (max-width: 990px) {
      padding-bottom: 0;
      border-bottom: none;
      margin-right: 10px;
    }
  }
  &__logo {
    width: 100%;
    @media (max-width: 990px) {
      width: 100px;
      min-width: 100px;
      height: 100px;
      margin: 0;
      border-radius: 50%;
      background-size: cover;
      object-fit: cover;
    }
  }
  &__info {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    @media (max-width: 990px) {
      border-bottom: none;
      width: calc(100% - 110px);
      padding: 30px 0;
    }
    p {
      line-height: 1;
      letter-spacing: 0.2px;
      color: #3366ff;
      font-size: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    & > *:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__with-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}