.delete-page-modal {
  & > div {
    max-width: 600px;
  }
  &__describe {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin: 110px 0;
    @media (max-width: 560px) {
      font-size: 16px;
      line-height: 20px;
      margin: 50px 0;
      br {
        display: none;
      }
    }
    b {
      color: #72839c;
    }
  }
  .k-form-buttons {
    justify-content: center;
  }
  .btn-light {
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    &:hover {
      background-color: #e2e6ea;
    }
  }
  &__img {
    display: block;
    margin: 17px auto 37px;
  }
  &__buttons {
    margin-top: 85px;
  }
  .btn {
    padding: .375rem .75rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
  }
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    &:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }
  }
}