.container {
  width: 1184px;
  margin: 0 auto;
  @media (max-width: 1220px) {
    width: 100%;
    padding: 0 24px;
  }
  @media (max-width: 560px) {
    padding: 0 16px;
  }
}
.content {
  padding-top: 70px;
  min-height: calc(100% - 353px);
  @media (max-width: 768px) {
    min-height: calc(100% - 775px);
  }
  @media (max-width: 560px) {
    padding-top: 48px;
    min-height: calc(100% - 735px);
  }
  &__title {
    margin-top: 30px;
    @media (max-width: 990px) {
      text-align: center;
      margin-top: 24px;
    }
  }
}