.login-form {

  &__holder {
    margin-top: -24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .form-input--checkbox {
      margin: 0;
    }


  }

  button[type="submit"] {
    min-width: 166px;
  }
}