.login-form {
  &__holder {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .FormInput--checkbox {
      margin: 0;
    }
  }
  button[type="submit"] {
    min-width: 166px;
  }
}