$blue-color: #1D6EE3;
.count-down {
  display: flex;
  flex-flow: row nowrap;

  &__wrap {
    color: $blue-color;
  }

  &__title {
    margin: 16px 0;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;

  position: relative;
  min-width: 53px;
  min-height: 53px;
  box-shadow: 0 8px 15px rgba(29, 110, 227, 0.2);
  margin-right: 40px;

  &:last-child {
    margin-right: 0;

    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    content: ":";
    right: -20px;
    color: transparentize($blue-color, .5);
  }

  &--days {
    &:after {
      position: absolute;
      bottom: -28px;
      font-size: 16px;
      font-weight: 200;
      content: "День";
    }
  }
  &--hours {
    &:after {
      position: absolute;
      bottom: -28px;
      font-size: 16px;
      font-weight: 200;
      content: "Час";
    }
  }
  &--minutes {
    &:after {
      position: absolute;
      bottom: -28px;
      font-size: 16px;
      font-weight: 200;
      content: "Минута";
    }
  }
}