$blue-color: #3366ff;
.CountDown {
  display: flex;
  flex-flow: row nowrap;

  &__wrap {
    color: $blue-color;
  }

  &__title,
  &__timeIsOver {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 16px 0;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  position: relative;
  min-width: 53px;
  min-height: 53px;
  box-shadow: 0 8px 15px rgba(29, 110, 227, 0.2);
  margin-right: 40px;

  &:last-child {
    margin-right: 0;

    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    content: ":";
    right: -20px;
    color: transparentize($blue-color, 0.5);
  }

  &--days,
  &--days2,
  &--days3 {
    &:after {
      position: absolute;
      bottom: -28px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      content: "День";
    }
  }
  &--days2 {
    &:after {
      content: "Дня";
    }
  }

  &--days3 {
    &:after {
      content: "Дней";
    }
  }
  &--hours,
  &--hours2,
  &--hours3 {
    &:after {
      position: absolute;
      bottom: -28px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      content: "Час";
    }
  }
  &--hours2 {
    &:after {
      content: "Часа";
    }
  }
  &--hours3 {
    &:after {
      content: "Часов";
    }
  }
  &--minutes,
  &--minutes2,
  &--minutes3 {
    &:after {
      position: absolute;
      bottom: -28px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      content: "Минута";
    }
  }
  &--minutes2 {
    &:after {
      content: "Минуты";
    }
  }

  &--minutes3 {
    &:after {
      content: "Минут";
    }
  }
}
