$blue-color: #3366ff;
.CountDown {
  display: flex;
  flex-flow: row nowrap;

  &__wrap {
    color: $blue-color;
  }

  &__title, &__timeIsOver {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 16px 0;
  }
}


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  position: relative;
  min-width: 53px;
  min-height: 53px;
  box-shadow: 0 8px 15px rgba(29, 110, 227, 0.2);
  margin-right: 40px;

  &:last-child {
    margin-right: 0;

    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    content: ":";
    right: -20px;
    color: transparentize($blue-color, 0.5);
  }

  &--days {
    &:after {
      position: absolute;
      bottom: -28px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      content: "День";
    }
  }
  &--hours {
    &:after {
      position: absolute;
      bottom: -28px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      content: "Час";
    }
  }
  &--minutes {
    &:after {
      position: absolute;
      bottom: -28px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      content: "Минута";
    }
  }
}
