.ButtonBanner {
  min-height: 384px;
  max-height: 284px;
  min-width: 234px;
  max-width: 234px;
  border: solid 1px;
  border-color: #EBF0F2;
  position: relative;
  text-align: center;
  padding: 16px;
  background-color: white;
  border-radius: 5px;
  &__title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
  }

  &__subTitle {
    font-size: 18px;
    line-height: 24px;
    color: #72839C;
  }

  &__icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 40% center;
    background-size: 160px auto;
  }
}

