.ExhibitionsList {
  &__content {
    list-style: none;
  }
  &__item {
    margin-bottom: 24px;
    @media (max-width: 560px) {
      margin-bottom: 8px;
    }
  }
  .ListItem {
    display: flex;
    padding: 16px;
    height: 200px;
    @media (max-width: 560px) {
      height: 148px;
      flex-direction: column-reverse;
      padding: 8px 12px 12px;
    }
    &__photo {
      min-height: 164px;
      max-height: 164px;
      min-width: 164px;
      max-width: 164px;
      border-radius: 6px;
      margin: 0;
      background-size: cover;
      background-position: center center;
      @media (max-width: 560px) {
        display: none;
      }
      &-wrap {
        margin: 0 24px 0 0;
        @media (max-width: 560px) {
          margin: 0;
        }
      }
      @media (max-width: 560px) {
        min-height: 154px;
        max-height: 154px;
        min-width: 100%;
        max-width: 100%;
      }
    }
    &__content {
      justify-content: space-between;
      overflow: hidden;
      flex-grow: 1;
      &-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: 560px) {
          height: 100%;
        }
      }
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 4px;
      @media (max-width: 560px) {
        flex-direction: column-reverse;
      }
      & > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        padding-right: 30px;
        @media (max-width: 560px) {
          padding-right: 0;
        }
      }
    }
    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #253c5e;
      text-decoration: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      @media (max-width: 560px) {
        font-size: 15px;
        line-height: 20px;
        max-height: 40px;
        white-space: initial;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &__subtitle {
      display: block;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #90999e;
    }
    &__author {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
      color: #253c5e;
      @media (max-width: 560px) {
        display: none;
      }
      & > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #253c5e;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__club-name {
      max-height: 40px;
      overflow: hidden;
    }
    &__club-logo {
      display: flex;
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin: 4px 8px 4px 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__info {
      display: flex;
      @media (max-width: 560px) {
        display: none;
      }
      & > div {
        max-width: 125px;
        margin-right: 64px;
        white-space: nowrap;
        a {
          margin: 0;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          text-decoration: none;
          color: #253c5e;
          &:hover {
            text-decoration: underline;
          }
        }
        p {
          margin: 0;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #90999e;
        }
      }
    }
    &__city {
      font-weight: normal;
      position: relative;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #72839c;
      text-decoration: none;
      padding-left: 18px;
      white-space: nowrap;
      @media (max-width: 560px) {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 8px;
      }
      &:before {
        content: "";
        width: 12px;
        height: 16px;
        background: (url("/static/icons/pin-gray.svg")) center center/contain no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &__show-all {
      text-decoration: none;
      display: inline-block;
      margin-top: 6px;
      padding-right: 12px;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.2px;
      position: relative;
      transition: none;
      &:after {
        content: "";
        position: absolute;
        top: 6px;
        right: 0;
        height: 10px;
        width: 6px;
        background: url("/static/icons/chevron_right-blue.svg") center no-repeat;
      }
      &:hover {
        border-bottom: 1px solid #3366ff;
      }
      @media (max-width: 560px) {
        display: none;
      }
    }
  }
  .ListItemMobile {
    display: none;
    @media (max-width: 560px) {
      display: flex;
      flex: 1 1 auto;
      max-width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__date {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #253c5e;
      span + span {
        margin-left: 32px;
      }
    }
    &__author {
      display: flex;
      align-items: center;
      text-decoration: none;
      & > div {
        display: flex;
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 4px 0 0;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      & > span {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #253c5e;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .Placeholder {
    height: 200px;
    box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    @media (max-width: 560px) {
      min-width: auto;
      height: 148px;
      margin-bottom: 8px;
      padding: 8px 12px 12px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &__image {
      width: 164px;
      height: 164px;
      flex-shrink: 0;
      margin-right: 24px;
      border-radius: 6px;
      background-color: #444;
      animation: fading 1.5s infinite;
      @media (max-width: 560px) {
        display: none;
      }
    }
    &__content {
      width: 100%;
      @media (max-width: 560px) {
        display: none;
      }
      .text {
        display: inline-block;
        background-color: #444;
        height: 12px;
        border-radius: 100px;
        margin: 5px 0;
        min-width: 100px;
        opacity: 0.1;
        animation: fading 1.5s infinite;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.longer {
          min-width: 150px;
        }
        &.line {
          width: 100%;
        }
      }
      .heading.line.text {
        height: 20px;
        margin: 3px 0 24px 0;
      }
      .button.line.text {
        height: 46px;
        margin: 12px 0 0;
        border-radius: 4px;
      }
    }
    &__mobile {
      display: none;
      .text {
        display: inline-block;
        background-color: #444;
        height: 12px;
        border-radius: 100px;
        margin: 5px 0;
        min-width: 100px;
        opacity: 0.1;
        animation: fading 1.5s infinite;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.longer {
          min-width: 150px;
        }
        &.line {
          width: 100%;
        }
      }
      .heading.line.text {
        height: 20px;
        margin: 3px 0 8px 0;
      }
      .button.line.text {
        height: 46px;
        margin: 12px 0 0;
        border-radius: 4px;
      }
      @media (max-width: 560px) {
        display: block;
      }
    }
  }
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.1;
  }
}
