.schedule-item{
  display: flex;
  flex-flow: row nowrap;
  font-size: 18px;
  line-height: 22px;
  margin: 16px;
  &__start{
    margin-right: 16px;
    position: relative;
    &:after{
      content: "-";
      position: absolute;
      right: -12px;
      top: -1px
    }
  }
  &__end{
    margin-right: 16px;
  }
}
