.DocItem {
    &.error {
        outline: 1px solid red;


    }

    &__chevron {
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        margin: 5px;
        cursor: pointer;
        transform: rotate(0deg);
        transition: .2s transform;

        &.active {
            transform: rotate(-90deg);
        }
    }

    &.collapse {
        display: none;
    }

    &.active {
        display: table-row;
    }

    &.active .card {
        margin-bottom: 1em;
        margin-top: .5em;
    }

    .plus-button {
        position: relative;
        left: 7.5px;
    }

    &__calendar {
        margin-top: 10px;
        height: 50px;

        .k-input {
            margin-top: 10px;
            margin-left: 5px;
        }
    }

    &__two-inline-columns, &__two-inline-columns_rows {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 1079px) {
            display: inline-block;
            width: 100%;
        }
    }

    &__two-inline-columns_rows {
        div:first-child {
            display: grid;
            grid-template-rows: 1.3fr 1fr;

            @media (max-width: 1079px) {
                grid-template-rows: 1fr 1fr;
            }
        }

        div:first-of-type div label {
            @media (max-width: 1079px) {
                margin-bottom: -2px;
            }
        }

        div:last-of-type div label {
            @media (max-width: 1079px) {
                margin-bottom: 10px;
            }
        }
        :nth-of-type(2) {
            align-self: flex-end;
        }
    }

    &__three-inline-columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width: 1079px) {
            display: inline-block;
            width: 100%;
        }
    }
    
    &__birthday span {
        width: 100%;
    }

    & table {
        margin-bottom: 0!important;
        td {
                padding-left: 0 !important;
        }
    }
}
.flex-row  {
    @media (max-width: 1079px) {
        margin-top: 15px;
    }
}
.mode-documents-wrap {
    @media (max-width: 1079px) {
        display: grid;
        grid-template-columns: 1fr;
        label {
            left: 300px;
            bottom: 70px;
        }
        div:last-child a {
            max-width:141px;
        }
    }
}