.check-status {
    font-weight: normal;
    min-height: 182px;
    form {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 5px;
    }
    h3 {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 26px;
    }
    p {
        margin-bottom: 5px;
    }
    &__text_wrap {
        @media (min-width: 1080px) {
            display: flow-root;
        }
    }
    &__input {
        border: 1px solid lightgray;
        border-radius: 0.25rem;
        padding: 5px 34px 5px 10px;
        margin: 26px 0 6px 0;
        height: 32px;
        width: 100%;
    }

    &__wrap {
        position: relative;
        width: 314px;
        margin-right: 10px;
    }
    &__nickname, .check-status__breed {
        font-size: 16px;
        color: #72839C !important;
        text-transform: capitalize !important;
        span {
            font-weight: 600;
            font-size: 16px;
            color: #253C5E;
            margin-left: 5px;
        }
    }
    &__cancel {
        background: url("/static/icons/cross-gray.svg") no-repeat center;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 50%;
        z-index: 1;
      }
    &__litter__icon {
        float: right;
        width: 145px;
        height: 145px;
        margin: 0 0 10px 10px;
        background: url("/static/images/base_search/litter-search.svg") center center/contain no-repeat;
        @media (max-width: 560px) {
          width: 100px;
          height: 100px;
        }
      }
    &__button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        word-break: normal;
        margin-top: 20px;

    &--clear {
        margin-top: 25px;
        button {
            display: block;
            background-color: #ffffff;
            margin-left: 3px;
            border: none;
            padding: 0;
            span {
                display: inline-block;
                width: 20px;
                height: 25px;
                background: url("/static/icons/delete-red.svg") center no-repeat;
                cursor: pointer;
             }
        }
    }
        .Loading__title {
            margin: 0;
            width: 5em;
            height: 5em;
        }
    }
    &__table {
        width: 100%;
        margin-bottom: 5px;
        overflow-x: hidden !important;
        &-heading {
            text-align: start;
            font-weight: normal;
        }
        td {
            border:  none;
            padding: 5px;
            min-width: 120px;
            color: #72839C;
        }
        tr {
           border-bottom: 0.5px solid #D1D1D1;
        }
        @media (max-width: 475px) {
            overflow-x: scroll;
        }
    }
    &__info {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        margin: 10px 0 0 0;
        padding: 12px 0 !important;
    }
}
._hide {
    display: none;
}