.educational-info {
  &.two {
    display: flex;
    flex-direction: row;
  }
  &.two > * {
    width: 50%;
  }
  &:not(:first-child) {
    margin-top: 12px;
  }
  &.lecturers {
    flex-direction: column;
    .educational-page__lecturer {
      &-logo {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 15px;
        flex-shrink: 0;
      }
      &-left {
        display: flex;
        align-items: center;
        div {
          span {
            font-weight: bold;
            display: block;
          }
        }
      }
      &-right {
        display: flex;
        align-items: center;
      }
    }
  }
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  @media (max-width: 990px) {
    display: block;
  }
  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #72839c;
    margin-bottom: 6px;
    & + div {
      margin-bottom: 6px;
    }
  }
  &__right {
    width: 320px;
    min-width: 320px;
    &.reports {
      width: 100%;
      max-width: 60%;
      @media (max-width: 990px) {
        max-width: none;
      }
    }
    @media (max-width: 560px) {
      width: 100%;
      min-width: 100%;
    }
  }
  &__left {
    margin-right: 24px;
    @media (max-width: 990px) {
      margin-right: 0;
    }
  }
  &__date {
    font-weight: 600;
  }
  &__time {
    margin-bottom: 16px;
  }
  &__address {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding-left: 30px;
    background: url("/static/icons/exhibitions/pin.svg") 0 no-repeat;
  }
  &__table {
    width: 100%;
    margin: 24px 0;
    @media (max-width: 560px) {
      margin: 24px 0;
    }
    td {
      padding-left: 12px;
      &:first-child {
        color: #72839c;
        padding-left: 0;
        vertical-align: top;
      }
    }
  }
  &__block {
    &-list {
      list-style: none;
      margin-bottom: 24px;
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
      &.not-active a {
        color: #72839c !important;
      }
    }
  }
  .countdown {
    &__title {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 24px;
    }
    &__timer {
      justify-content: center;
    }
  }
}
.educational-schedule {
  &__date {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    @media (max-width: 560px) {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  &__event {
    margin-left: 12px;
  }
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
.educational-page {
  &__description,
  &__schedule,
  &__catalog,
  &__documents {
    font-weight: 300;
    &-title {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
  }
  &__document {
    margin-bottom: 12px;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #72839c;
      &:hover {
        color: #3366ff;
      }
    }
    &-icon {
      display: inline-block;
      cursor: pointer;
      height: 22px;
      width: 18px;
      margin-right: 10px;
      background: url("/static/new-icons/pdf.svg") no-repeat center;
    }
  }
}
