.ImageInput {
  position: relative;
  min-height: 96px;
  max-height: 96px;
  border: dashed 1px;
  border-radius: 6px;
  background-color: #F5F8FF;
  background-image: url("/static/icons/forms/camera.svg");
  background-repeat: no-repeat;
  background-position: center 40%;

  .ImagePreview {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

  }

  .FormInput__input {
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    min-height: 100%;
    opacity: 0;
  }
}