.user-nav {
  &__list {
    list-style: none;
    text-align: start;
    @media (max-width: 1080px) {
      z-index: 2;
      width: 240px;
      border-top: 1px solid #e8e8e8;
      padding-top: 7px;
    }
    @media (max-width: 1080px) {
      width: 100%;
      max-width: 476px;
      right: 16px;
    }
    @media (max-width: 600px) {
      width: 100%;
      &:before {
        background-size: 100% 80px;
      }
    }
  }
  &__new-menu {
    width: 100%;
    list-style: none;
    border-top: 1px solid #e8e8e8;
    padding-top: 7px;
  }
}
._desktop_card {
  padding: 10px !important;
  background-color: #fff !important;
  border-radius: 6px;
  margin-bottom: 16px;
  box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
}