.ClientClubContactListItem {
  position: relative;

  &__controls {
    .btn{
      margin-right: 4px;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__edit {
    position: absolute;
    top: 3px;
    right: 0;
    border: 0;
    padding: 0;
  }

  .FormInput .FormInput__input {
    width: 100%;
  }
}

.ClintClubContact {
  display: flex;

  &__type,
  &__description {
    margin-right: 4px;
  }

  &__description {
    font-weight: 400;
  }
}

#contact_type_id {
  padding: 0;
  border: none;
  min-width: 150px;
}
