.ClubEditPage {
  padding-bottom: 60px;
  &__tabs {
    .tabs__tab {
      background-color: white;
      border-radius: 6px;
      margin: 6px;
      min-height: 40px;
      padding: 16px 20px;
      outline: none;
      font-weight: 200;
      color: #cccccc;

      &--active {
        box-shadow: 0px 8px 20px rgba(51, 102, 255, 0.1);
        text-decoration: none;
        color: #3366ff;
      }
    }
  }
  h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    margin: 22px 0 27px;
  }
  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  .Dropdown {
    height: 10px;
    width: 20px;
    &__content--visible {
      right: -20px !important;
      top: calc(100% + 20px);
    }
    &__button {
      height: 100%;
      width: 100%;
      padding: 0;
      &::after {
        top: 0;
        height: 20px;
        width: 20px;
        background: url("/static/icons/ico-dots-horizontal.svg") center no-repeat;
      }
    }
    &__button--visible::after {
      top: 0;
      height: 20px;
      width: 20px;
      background: url("/static/icons/ico-dots-horizontal.svg") center no-repeat;
      filter: invert(1);
      transform: none;
    }
    button {
      text-align: left;
      border: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #72839c;
      letter-spacing: 0.2px;
      padding: 8px 16px;
      white-space: nowrap;
      min-width: 160px;
      cursor: pointer;
      a {
        text-decoration: none;
        color: currentColor !important;
        display: block;
      }
      &:hover {
        color: #3366ff;
        background-color: whitesmoke;
      }
    }
  }
}
