.documents-page__info .Loading { width: 100%; }
.documents-page__modal {
  &._blue {
    & > div {
      max-width: 600px;
    }
    .Modal__inner {
      background: #f0f2f3;
    }
  }
  & > div {
    height: 80% !important;
  }
  .Modal__inner {
    height: 100%;
    max-height: none;
    overflow-y: unset;
    padding: 0;
  }
  iframe {
    width: 100%;
    height: calc(100% - 48px);
    margin-top: 48px;
    border: none;
  }
}
.Card__link._not-active {
  opacity: .5;
}