.application-form {
  &__title-block {
    margin-top: 20px;
  }
  &__additional-title {
    text-transform: uppercase;
    margin-bottom: 15px !important;
  }
  .k-label {
    margin-bottom: 5px;
  }
  &__content {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    &:nth-child(2) {
      border: none;
      padding-bottom: 0;
    }
  }
  &__controls {
    text-align: right;
    margin-top: 10px;
  }
  &__date {
    position: relative;
    top: 56px;
    width: 155px;
    @media (max-width: 790px) {
      top: 0;
    }
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__additional-title {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 15px;
    padding-top: 10px;
  }
  &__year {
    flex-grow: 0 !important;
    position: relative;
    top: 86px;
    min-width: 155px;
    @media (max-width: 683px) {
      flex-grow: 1 !important;
      top: 0;
    }
    &._status {
      top: 34px;
      @media (max-width: 560px) {
        top: 0;
      }
    }
  }
  &__disclaimer {
    margin-top: 16px;
  }
  &__row {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    @media (max-width: 1090px) {
      &._payment-info {
        display: block;
        & > div:not(:last-child) {
          margin-right: 0;
        }
      }
    }
    @media (max-width: 990px) {
      &._payment-info {
        display: flex;
        & > div:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
    @media (max-width: 730px) {
      &._payment-info {
        display: block;
        & > div:not(:last-child) {
          margin-right: 0;
        }
      }
    }
    @media (max-width: 560px) {
      display: block;
      & > div:not(:last-child) {
        margin-right: 0 !important;
      }
      & > .btn {
        margin-top: 16px !important;
      }
    }
    & > div {
      flex: 1 1;
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
    & > .btn {
      margin-top: 40px;
      margin-right: 16px;
      &.btn-red {
        margin-right: 0;
      }
    }
    &-is-actual {
      .k-checkbox-label {
        color: #72839C;
      }
      display: flex;
      @media (max-width: 700px) {
        display: block;
      }
      & > div:first-child {
        width: 70%;
        margin-right: 16px;
        @media (max-width: 700px) {
          width: auto;
          margin-right: 0;
        }
        & + div {
          width: 30%;
          padding-top: 24px;
          @media (max-width: 700px) {
            width: auto;
            padding-top: 0;
          }
          .k-state-default,
          .k-state-disabled {
            display: flex;
            align-items: center;
            input {
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  &__doc-type-id {
    @media (min-width: 560px) {
      max-width: calc(50% - 8px);
    }
  }
  &__danger {
    display: block;
    color: #721c24;
    background-color: #f8d7da;
    padding: 0.75rem 1.25rem;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    margin-bottom: 40px;
    margin-top: 16px;
  }
  &__how-to-link {
    text-decoration: none;
  }
  &__declarant {
    p.k-label {
      display: block;
      margin-bottom: 0;
      opacity: 1 !important;
      letter-spacing: normal;
      &.k-text-disabled {
        opacity: .65 !important;
      }
    }
    .k-form-field {
      margin-top: 0;
    }
  }
  &__file {
    margin-top: 15px;
  }
  .btn {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .Card {
    padding: 24px 32px !important;
    @media (max-width: 990px) {
      padding: 10px !important;
    }
  }
  p.k-label {
    margin-top: 16px;
    opacity: 0.65;
    filter: grayscale(0.1);
  }
  .k-form-field + .nomargin {
    margin-top: 8px;
  }
  .k-notification-group {
    right: 8px;
    bottom: 55px;
    @media (max-width: 560px) {
      left: 5px;
      right: 5px;
      top: 48px;
      bottom: auto;
    }
  }
  .k-textarea {
    resize: none;
    & > .k-input {
      resize: none;
    }
  }
}

.club-documents-status__head {
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  border-bottom: 1px solid #cbcbcb;
  @media (max-width: 560px) {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
  }
  &-link {
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #253c5e;
    &:first-child {
      position: relative;
      padding-left: 19px;
      &:before {
        content: "\2039";
        font-size: 40px;
        line-height: 1;
        position: absolute;
        left: 0;
        top: -8px;
      }
      @media (max-width: 560px) {
        padding-left: 17px;
        &:before {
          font-size: 32px;
          top: -9px;
        }
      }
    }
  }
}