.user-description {
  position: relative;
  padding: 10px;
  overflow: hidden;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
  &__city {
    color: #72839c;
    letter-spacing: .2px;
    white-space: nowrap;
    padding-left: 20px;
    margin-left: 10px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 20px;
      left: 0;
      top: 2px;
      background: url("/static/icons/ico-pointer2.svg") center no-repeat;
    }
  }
  &__disabled {
    color: #72839c;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    color: #72839c;
    padding-left: 30px;
    margin-bottom: 6px;
    position: relative;
    &-title {
      padding-right: 5px;
      color: #253c5e;
    }
    &-lists{
      display: flex!important;
      flex-direction: row;
      padding-top: 3px;
      @media (max-width: 860px) {
        display: block!important;
      }
    }

    &-list {
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
    }

    a {
      text-decoration: none;
      color: #72839c;
      &:hover {
        color: #3366ff;
      }
    }

    &-list + &-list,
    a + a {
      margin-left: 10px;

      @media (max-width: 600px) {
        margin-top: 10px;
        margin-left: 0;
      }
    }
    &-specs{
      display: flex!important;
      flex-direction: row;
      @media (max-width: 860px) {
        flex-direction: column;
        width: 100%;
        margin-top: 5px;
      }
    }
    &-spec+&-spec{
      margin-left: 10px;
      @media (max-width: 860px) {
        margin: 10px 0 0;
      }
    }
    &-spec {
      display: inline-block;
      padding: 2px 10px 4px;
      width: fit-content;
      max-width: 100%;
      background: #DFE9FB;
      border-radius: 11px;
      line-height: 20px;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #72839c;
    }
    &:before {
      content: "";
      width: 22px;
      height: 22px;
      position: absolute;
      left: 0;
      top: 1px;
      background-repeat: no-repeat;
      background-position: 50%;
    }
    &._birthday:before {background-image: url("/static/icons/owner2.svg")}
    &._email:before {background-image: url("/static/icons/ico-contact-email2.svg")}
    &._phone:before {background-image: url("/static/icons/ico-contact-phone2.svg")}
    &._full-info:before {background-image: url("/static/icons/information2.svg")}
    &._specialization:before {background-image: url("/static/icons/favorit.svg")}
    &._lists:before {background-image: url("/static/icons/information2.svg")}
    &._address:before {background-image: url("/static/icons/ico-pointer2.svg")}
    &._site:before {background-image: url("/static/icons/ico-web2.svg")}
    &._socials {
      display: block;
      &:before {background-image: url("/static/icons/social/network.svg")}
    }
    &._describe {
      display: block;
      &:before {
        background: url("/static/icons/icon-about2.svg") no-repeat center / contain;
      }
      & > *:last-child {
        display: block;
      }
    }

    span:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      & > a, & > span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
      }
    }
    &._full-info,
    &._specialization, {
      @media (max-width: 860px) {
        flex-direction: column;
      }
    }
  }
  &__btn {
    border: none;
    padding: 0;
    margin-top: -20px;
    width: 44px;
    height: 40px;
    position: relative;
    left: calc(50% - 22px);
    bottom: -25px;
    background: url("/static/images/slider/slider-button.svg") no-repeat center / cover;
    transform: rotate(90deg);
    transition: all .2s linear;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &._open {
      transform: rotate(-90deg);
    }
  }
  .ReactCollapse--collapse {
    transition: height .5s;
  }
}