.authorization {
  &__logo {
    width: 80px;
    height: 80px;
    background-image: url("/static/images/header/rkf-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px auto 8px auto;
  }

  &__wrap {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 300;
  }

  &__image {
    max-width: 500px;
    flex: 1;
    img {
      min-height: 100%;
    }
  }

  &__holder {
    box-sizing: border-box;
    max-width: 572px;
    min-width: 572px;
    padding: 40px;
    margin: 40px auto;
    border: solid 1px;
    border-color: transparent;
    flex: 2;
    @media (max-width: 720px) {
      min-width: auto;
    }
  }

  &__title {
    text-align: center;
    font-size: 38px;
    line-height: 42px;
    font-weight: 400;
    margin: 0 0 24px 0;
  }

  &__subtitle {
    text-align: center;
    color: #72839c;
    font-size: 22px;
    line-height: 30px;
    margin: 24px 0;
  }

  &__tabs {
    flex-flow: row nowrap;
    margin: 0 0 16px 0;

    .tabs__tab {
      font-family: "Futura New", Helvetica, sans-serif;
      text-decoration: none;
      color: #cccccc;
      white-space: nowrap;
      text-transform: uppercase;
      padding: 16px;
      box-shadow: 0 1px 0 0 #cccccc;
      font-weight: 400;
      outline: none;

      &--active {
        color: #253c5e;
        box-shadow: 0 2px 0 0 #253c5e;
      }
    }
  }

  &__signature {
    color: #72839c;
    margin: 12px 0;
  }

  &__switch-to-login {
    text-align: center;
    margin: 32px 0;
  }

  &__holder {
    .form-controls {
      text-align: center;
    }
  }
}

.FormInput__custom-error {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fa5d50;
}

@media screen and(max-width: 1024px) {
  .authorization {
    &__image {
      display: none;
    }
    &__holder {
      padding: 16px;
    }
  }
}
