.president-block {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 60px;

    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        padding: 28px 0 35px;
    }

    &__avatar-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 113px;

        @media (max-width: 900px) {
            margin: 0;
        }
    }

    &__avatar {
        width: 212px;
        height: 212px;
        margin-bottom: 18px;
        border-radius: 50%;
        background: url(/static/images/about/president.jpg) no-repeat;
        background-size: contain;

        @media (max-width: 900px) {
           margin: 0 auto 18px;
        }

        @media (max-width: 700px) {
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
        }
    }

    &__name {
        & span {
            display: block;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            text-align: center;

            @media (max-width: 700px) {
                font-size: 16px;
            }
        }
    }

    &__info-text {
        width: 610px;
        margin-top: 10px;
        font-size: 16px;
        line-height: 18px;

        @media (max-width: 900px) {
            width: auto;
            margin-top: 12px;
            font-size: 14px;
            line-height: 16px;
        }
    }
}