.bs-menu-component {
  &__card {
    padding-bottom: 10px !important;
    @media (max-width: 990px) {
      margin-bottom: 16px;
    }
  }
  &__title {
    padding-bottom: 8px;
    border-bottom: 1px solid #e8e8e8;
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  &__list {
    list-style: none;
    margin-top: 10px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__link {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .2px;
    color: #72839c;
    transition: all .2s linear;
    cursor: pointer;
    position: relative;
    padding-left: 27px !important;
    &:visited,
    &:active {
      color: #72839c;
    }
    &:hover,
    &.active {
      color: #3366ff;
      svg path{
        fill: #3366ff;
      }
    }
    &.disabled {
      color: #babfc7;
      &:visited,
      &:active,
      &:hover {
        color: #babfc7;
      }
    }
  }
  &__item--judge {
    pointer-events: none;
  }
}