.nursery-page {
  &__content-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &__gallery {
    &-wrap {
      margin-bottom: 24px;
      @media (max-width: 560px) {
        margin-bottom: 12px;
      }
      &.Card {
        padding: 12px;
      }
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      a:first-child {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        text-decoration: none;
        color: #253c5e;
      }
    }
    &-placeholder {
      width: 100px;
      display: block;
      margin: auto;
    }
    &-show-all {
      text-decoration: none;
      display: inline-block;
      padding-right: 12px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 9px;
        right: 0;
        height: 10px;
        width: 6px;
        background: url("/static/icons/chevron_right-blue.svg") center no-repeat;
      }
    }
  }
  &__content {
    width: 100%;
    margin-left: 24px;
    order: 1;
    @media (max-width: 990px) {
      margin-left: 0;
    }
  }
  &__breeds {
    width: 300px;
    min-width: 300px;
    margin-bottom: 24px;
    h4 {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    &-list {
      list-style: none;
    }
    &-item {
      color: #61797c;
    }
  }
  &__info {
    width: 300px;
    min-width: 300px;
    @media (max-width: 990px) {
      width: 100%;
      min-width: unset;
    }
  }
}

.NewsPage {
  &__endMessage {
    margin: 20px 0;
    text-align: center;
    font-weight: normal;
  }
  .infinite-scroll-component,
  .infinite-scroll-component__outerdiv {
    overflow: visible !important;
  }
}
