.redesign {
  background: #f5f8ff;
  min-height: 100vh;
  & + .Footer {
    display: none;
  }
  .nursery-page {
    .user-gallery__wrap .ReactGridGallery_tile-viewport {
      @media (min-width: 991px) {
        width: 88px !important;
        height: 88px !important;
      }
    }
    &.content {
      padding-top: 65px;
    }
    &__content-wrap {
      display: flex;
      justify-content: space-between;
      @media (max-width: 990px) {
        display: block;
      }
    }
    &-title {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
      color: #253c5e;
      display: inline-block;
      margin-right: 4px;
    }
    &-placeholder {
      width: 100px;
      display: block;
      margin: auto;
    }
    &__content {
      width: 100%;
      margin-left: 16px;
      order: 1;
      @media (max-width: 990px) {
        margin-left: 0;
      }
      &-banner {
        padding: 0;
        border: 1px solid #e8e8e8;
        background-image: url("/static/images/noimg/empty-gallery.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150px;
        overflow: hidden;
        &.Card {
          margin-bottom: 16px;
          @media (max-width: 560px) {
            margin-bottom: 12px;
          }
        }
        & > div {
          height: 235px;
          margin: auto;
          object-fit: cover;
          width: 100%;
          max-width: none;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          @media (max-width: 560px) {
            height: 25vw;
          }
        }
      }
      & > .Card:not(.nursery-page__content-banner) {
        margin-bottom: 16px !important;
      }
    }
    &-banner {
      padding: 0;
      background-color: #ececec;
      background-image: url("/static/icons/camera.svg");
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;
      border: 1px solid #e8e8e8;
      & > div {
        height: 235px;
        margin: auto;
      }
    }
    &__breeds {
      width: 300px;
      min-width: 300px;
      margin-bottom: 16px;
      padding: 10px;
      h4 {
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 2px;
      }
      &-list {
        list-style: none;
      }
      &-item {
        color: #61797c;
      }
    }
    &__info {
      width: 300px;
      min-width: 300px;
      @media (max-width: 990px) {
        width: 100%;
        min-width: unset;
      }
    }
    &__exhibitions {
      max-width: 860px;
    }
    @media (max-width: 990px) {
      .user-header {
        display: flex;
        align-items: center;
        &__wrap > div:first-child > * {
          line-height: 1.3;
        }
        &__federation {
          display: block;
        }
        &__content {
          flex-grow: 1;
          min-width: 0;
          padding: 12px 12px 12px 0;
        }
        .menu-component__list, hr {
          display: none;
        }
      }
      .nursery-page__breeds {
        display: block;
        width: 100%;
        padding: 12px;
        .menu-component__list, hr {
          display: none;
        }
      }
    }
    &__publication {
      height: 340px;
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 990px) {
        display: none !important;
      }
      & img {
        border-radius: 6px;
        box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
      }
    }
  }
}