.nursery-page {
  &__content-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &__gallery {
    &-wrap {
      padding: 14px 16px;
      margin-bottom: 24px;
      @media (max-width: 560px) {
        margin-bottom: 12px;
      }
    }
    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        text-decoration: none;
        color: #253c5e;
      }
    }
    &-placeholder {
      width: 100px;
      display: block;
      margin: auto;
    }
  }
  &__content {
    width: 100%;
    margin-left: 24px;
    order: 1;
    @media (max-width: 990px) {
      margin-left: 0;
    }
  }
  &__info {
    width: 300px;
    min-width: 300px;
    @media (max-width: 990px) {
      width: 100%;
      min-width: unset;
    }
  }
}

.NewsPage {
  &__endMessage {
    margin: 20px 0;
    text-align: center;
    font-weight: normal;
  }
  .infinite-scroll-component,
  .infinite-scroll-component__outerdiv {
    overflow: visible !important;
  }
}
