.Footer {
  background: #253c5e;
  &__inner {
    box-sizing: border-box;
    max-width: 1280px;
    margin: auto;
    height: 64px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  span {
    margin-right: auto;
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  a {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #72839c;
    margin-left: 34px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
