.ListFilter {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      margin-bottom: 12px;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 8px;
        a,
        span {
          padding: 4px 15px;
          background: #ebf0f2;
          border-radius: 4px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #72839c;
          text-decoration: none;
          &.active {
            color: white;
            background: #3366ff;
          }
        }
      }
    }
  }