.UserEdit {
    .Contacts {
        .city-and-post {
            @media (min-width: 561px) {
                justify-content: space-between;
                width: 100%;
                .form-group {
                    width: 35%;
                    &:first-child {
                        width: 65%;
                        padding-right: 15px;
                    }
                }
            }
        }
        .street-and-house {
            @media (min-width: 561px) {
                display: flex;
                justify-content: space-between;
                .form-row {
                    width: 50%;
                    &:first-child {
                        padding-right: 10px;
                    }
                    &__house > div {
                        width: 29%;
                        @media (min-width: 1025px) {
                            width: 33%;
                        }
                    }
                }
            }
        }
        .k-form-hint {
                display: none;
        }
        .phone-number {
            flex: unset;
            @media (max-width: 768px) {
                max-width: 100%;
                padding: 0 !important;
            }
            @media (max-width: 560px) {
                max-width: 70%;
                padding: 0 !important;
            }
            &__description {
                @media (max-width: 560px) {
                    width: 100%;
                }
            }
            &__wrapper {
                .form-group:nth-child(2) > div {
                    justify-content: space-between;
                }
                @media (min-width: 561px) {
                    display: flex;
                    flex-wrap: unset;
                    justify-content: flex-start;
                    width: 100%;
                    .form-group:nth-child(2) {
                        max-width: 40%;
                        padding: 0 15px 0 0;
                        @media (max-width: 768px) {
                            max-width: 38%;
                        }
                    }
                    .form-group:nth-child(3) {
                        max-width: 40%;
                        padding: 0;
                        @media (max-width: 768px) {
                            max-width: 35%;
                        }
                    }
                }
                @media (min-width: 1025px) {
                    .form-group:nth-child(2) {
                        max-width: 265px;
                        padding: 0 20px 0 0;
                    }
                    .form-group:nth-child(3) {
                        max-width: 200px;
                        padding: 0;
                    }
                }
            }
        }
        .row {
            flex-direction: row;
            flex-wrap: unset;
            width: 50%;
            padding-right: 5px;
            padding-left: 15px;
            .col-md-4 {
                width: 60px;
                padding-left: 0;
            }
            .col-md-8 {
                min-width: 150px;
                @media (max-width: 768px) {
                    min-width: 150px;
                    margin-left: 20px;
                    padding-left: 0;
                }
                @media (max-width: 560px) {
                    margin-left: 5px;
                    padding-left: 0;
                }
            }
            @media (max-width: 1024px) {
                width: 46%;
                padding-right: 15px;
            }
            & > div {
                padding-right: 0;
                @media (min-width: 1025px){
                    padding-right: 5px;
                }
            }
        }
        .form-row {
            margin-left: unset;
            margin-right: unset;
            .d-none, .d-block, .d-sm-none, .d-sm-block {
                display: none !important;
                width: 20px;
            }
            .checkbox-before-description__delete {
                @media (max-width: 560px){
                    display: block !important;
                    margin: 0 10px;
                }
            }
            .checkbox-after-description__main {
                display: unset !important;
                width: 30px;
                margin-left: 15px;
                .k-radio:checked::after {
                    content: "Основной";
                    position: absolute;
                    top: -28px;
                    right: -16px;
                    font-size: 12px;
                    line-height: 15px;
                    color: #B9B9B9;

                }
                @media (max-width: 560px) {
                    display: none !important;
                }
            }
            .checkbox-after-description__delete {
                display: unset !important;
                margin-left: 10px;
                width: 30px;
                @media (max-width: 560px) {
                    display: none !important;
                }
            }
            .Contacts__custom-plus__before {
                display: flex !important;
                align-items: flex-start;
                justify-content: center;
                min-width: 30px;
                padding: 7px 0 0 0;
                margin: 0 5px 5px 0 !important;
                span.k-i-plus-circle {
                    font-size: 18px;
                    color: #007bff;
                    &:hover {
                        cursor: pointer;
                    }
                }
                @media (max-width: 560px) {
                    display: none !important;
                }
            }
            .Contacts__custom-plus__after {
                display: none !important;
                align-items: flex-start;
                justify-content: center;
                padding-top: 7px;
                margin-bottom: 5px !important;
                span.k-i-plus-circle {
                    font-size: 24px;
                    color: #007bff;
                    &:hover {
                        cursor: pointer;
                    }
                }
                @media (max-width: 560px) {
                    display: flex !important;
                    margin: 0 10px;
                    padding-top: 5px;
                }
            }
            .k-form-field {
                margin-top: 0;
            }
            &__house {
                @media (max-width: 1024px) {
                    padding: 0 5px;
                    display: flex;
                    justify-content: space-between;
                    > div {
                        width: 30%;
                        padding: 0;
                    }
                }
            }
            .form-group {
                flex: unset;
                max-width: unset;
            }
        }
        &__custom-label {
            display: flex;
            align-items: center;
            min-width: 50px;
            height: 100%;
        }
        &__custom-checkbox {
            display: flex;
            align-items: flex-start;
            padding-top: 4px;
            justify-content: center;
            &-label {
                display: none;
            }
        }
        &__custom-trash {
            padding-top: 4px;
            text-align: center;
            margin-bottom: 5px !important;
            & > span {
                max-width: 100%;
                color: red;
                font-size: 24px;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
            @media (max-width: 990px) {
                margin: 0 5px;
            }
        }
    }
}
