.ue-delete-page {
  &__describe {
    line-height: 20px;
    text-align: center;
    margin: 150px 0 !important;
    b {
      color: #72839c;
    }
  }
  .k-form-buttons {
    justify-content: center;
  }
}