.user-page {
  @media (max-width: 1080px) {
    min-height: calc(100vh - 108px);
  }

  & + .Footer {
    display: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1080px) {
      display: block;
    }
  }

  &__right {
    width: calc(100% - 316px);
    @media (max-width: 1080px) {
      width: 100%;
      margin-top: 0;
      padding-bottom: 1px;
    }
  }

  &__left {
    width: 300px;
    min-width: 300px;
    margin: 0 16px 0 0;
    padding-bottom: 16px;
    @media (max-width: 1080px) {
      width: 100%;
      min-width: auto;
      margin-right: 0;
      & > div {
        position: static !important;
      }
    }
  }

  .Card {
    padding: 10px;
    margin-bottom: 16px;
    @media (max-width: 560px) {
      margin-bottom: 12px;
    }
  }

  .k-notification-group {
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  @media (min-width: 561px) and (max-width: 990px) {
    &__left {
      padding-bottom: 0;

      .user-banner {
        padding: 0;

        .user-banner__img {
          border-radius: 5px;
        }
      }

      .Card:nth-child(2) {
        height: 115px;
        margin-bottom: 0 !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .user-info {
          border-bottom: none;

          &__logo {
            height: 80px;
            width: 80px;
            min-width: 80px;
          }

          &__info {
            flex-grow: 1;

            p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          &__with-share {
            width: 47%;
          }

          &__edit-profile {
            position: absolute;
            z-index: 1;
            width: 200px;
            right: 70px;
            top: 367px;
          }
        }

        .UserActionControls {
          position: relative;
          bottom: 80px;
          margin: 0 40px 0 auto;
          width: 40%;
        }
      }
    }
    &__right {
      .user-description {
        padding-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        &:before {
          content: '';
          display: flex;
          border-top: 1px solid #E5E5E5
        }

        &__head {
          margin-top: 10px;
        }
      }

      ._video {
        .user-gallery__dropdown-wrap {
          display: flex;

          .user-gallery__item {
            &:not(:only-child) {
              width: 49%;

              &:first-child {
                margin-right: 10px;
              }
            }

            &:only-child {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
