.ClubEdit{
    .Contacts{
        .contacts__wrap {
            display: flex;
            flex-direction: column;
        }
        .contacts__phone {
            margin-top: 10px;
            &:before {
                content: 'Телефон';
                position: relative;
                bottom: 10px;
                font-size: 16px;
                line-height: 20px;
                color: #253C5E;
            }
            .FormGroup {
                display: grid;
                width: 100%;
                grid-template-columns: 20px 160px 60fr 80px;
                gap: 16px;
                margin: 0 0 10px 0;
                .FormInput:nth-child(1) {
                    margin: 0;
                    grid-column: 2 / 3;
                }
                .FormInput:nth-child(2) {
                    margin: 0;
                    grid-column: 3 / 4;
                }

                label {
                    display: none;
                }
            }
        }
        .contacts__email {
            margin-top: 10px;
            &:before {
                content: 'E-mail';
                position: relative;
                bottom: 10px;
                font-size: 16px;
                line-height: 20px;
                color: #253C5E;
            }
            .FormGroup {
                display: grid;
                width: 100%;
                grid-template-columns: 20px 160px 60fr 80px;
                gap: 16px;
                margin: 0 0 10px 0;
                .FormInput:nth-child(1) {
                    margin: 0;
                    grid-column: 2 / 3;
                }
                .FormInput:nth-child(2) {
                    margin: 0;
                    grid-column: 3 / 4;
                }

                label {
                    display: none;
                }
            }

        }
        .contacts__address {
            margin-top: 10px;
            &:before {
                content: 'Фактический адрес клуба';
                position: relative;
                bottom: 10px;
                font-size: 16px;
                line-height: 20px;
                color: #253C5E;
            }
            .FormGroup.info{
                display: none;
            }
            .FormInput {
                display: grid;
                width: 100%;
                grid-template-columns: 115px 100fr;
                gap: 10px;
                margin: 0 0 10px 0;
                label {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    padding: 0;
                    //margin: auto 0;
                    font-size: 16px;
                    line-height: 16px;
                    text-align: right;
                    color: #253C5E;
                }
                label[for='address'] {
                    margin-bottom: auto;
                }
                label[for='city_id'] {
                    margin: auto 0;
                }
                input {
                    grid-column: 2/3;
                    padding: 5px 10px;
                }
                &--select > div > div {
                    padding: 0;
                }
            }
        }
    }
}
