.UserUploadedDocuments {
    a:hover {
        text-decoration: none;
    }
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
        display: block;
    }
    &__right {
        width: calc(100% - 316px);
        margin-top: 16px;
        @media (max-width: 990px) {
            width: 100%;
            margin-top: 0;
            padding-bottom: 1px;
        }
        a:hover {
            text-decoration: none;
        }
    }
    &__left {
        width: 300px;
        min-width: 300px;
        margin: 16px 16px 16px 0;
        @media (max-width: 990px) {
            width: 100%;
            min-width: auto;
            margin: 16px 0 0;
            & > div {
                position: static !important;
            }
        }
        .Card {
            padding: 10px !important;
        }
    }
}