.layout {
  //position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.image {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  max-width: 30%;
  background-repeat: no-repeat;
  background-color: #333333;
  background-position: center;
  background-size: cover;
  flex: 1;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 0 48px;
  max-width: 668px;
  margin: 0 auto;
  //background-color: #FA5D50;
  //margin-left: auto;
}