.ContestEvent{
  display: flex;
  flex-flow: row nowrap;
  font-size: 16px;
  line-height: 24px;
  margin: 0 8px 0 0;
  &__time {
    margin-right: 8px;
    min-width: 90px;
    font-weight: normal;
  }
}

.ContestEvent-form {
  .form-controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }

  input[name='start'],
  input[name='end'] {
    max-width: 160px;
  }

  .form-group--inline {
    .FormInput {
      flex: none
    }

    .btn {
      color: #72839C;
    }
  }
}
