.exhibitions-page {
  display: flex;
  @media (max-width: 768px) {
    display: block;
  }
  @media (max-width: 560px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  &__content {
    width: 100%;
    margin: 24px 0;
    @media (max-width: 560px) {
      margin: 12px 0;
    }
  }
}
