.exhibitions-page {
  display: flex;
  & + .Footer {
    display: none;
  }
  &.content {
    padding-top: 65px;
  }
  @media (max-width: 990px) {
    display: block;
  }
  @media (max-width: 560px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  &__wrap {
    background: #f5f8ff;
  }
  &__filters {
    margin: 0 16px 0 0;
    @media (max-width: 990px) {
      margin: 0;
    }
  }
  &__content {
    width: calc(100% - 314px);
    max-width: 870px;
    @media (max-width: 990px) {
      width: 100%;
      max-width: 100%;
    }
    @media (max-width: 560px) {
      margin: 12px 0;
    }
  }
  &__list-filter {
    width: 100%;
    overflow: hidden;
    padding: 10px 10px 0;
    position: sticky;
    top: 50px;
    background: white;
    z-index: 1;
    @media (max-width: 560px) {
      top: 48px;
    }
  }
  &__top-wrap {
    margin: 50px auto -50px;
    @media (max-width: 560px) {
      margin: 45px auto -45px;
    }
    .top-component {
      margin-bottom: 0;
    }
  }
  .menu-component {
    @media (max-width: 768px) {
      display: none;
    }
  }
  .exhibitions-calendar,
  .breeds-filter,
  .cities-filter {
    margin-bottom: 24px;
  }
  .ranks-filter {
    margin: 0;
  }
}
