.exhibitions-page {
  display: flex;
  @media (max-width: 768px) {
    display: block;
  }
  &__content {
    width: 100%;
    margin: 24px 0;
    @media (max-width: 560px) {
      margin: 12px 0;
    }
    .Card {
      padding: 12px;
    }
  }
  &__exhibitions-list {
    list-style: none;
  }
  &__exhibitions-item {
    margin-bottom: 24px;
  }
}