.exhibitions-page {
  display: flex;
  &.content {
    padding-top: 65px;
  }
  @media (max-width: 990px) {
    display: block;
  }
  @media (max-width: 560px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  &__wrap {
    background: #f5f8ff;
    & + .Footer {
      display: none;
    }  
  }
  &__mobile-only {
    display: none;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &__filters {
    margin: 0 16px 0 0;
    @media (max-width: 990px) {
      margin: 0;
    }
  }
  &__content {
    width: calc(100% - 314px);
    max-width: 870px;
    @media (max-width: 990px) {
      width: 100%;
      max-width: 100%;
    }
    @media (max-width: 560px) {
      margin: 12px 0;
    }
  }
  &__list-filter {
    width: 100%;
    overflow: hidden;
    padding: 10px 10px 0;
    position: sticky;
    top: 50px;
    background: white;
    z-index: 1;
    @media (max-width: 560px) {
      top: 48px;
    }
  }
  &__top-wrap {
    margin: 50px auto -50px;
    @media (max-width: 560px) {
      margin: 45px auto -45px;
    }
    .top-component {
      margin-bottom: 0;
    }
  }
  .menu-component {
    @media (max-width: 768px) {
      display: none;
    }
  }
  // .exhibitions-calendar,
  // .breeds-filter,
  // .cities-filter {
  //   margin-bottom: 24px;
  // }
  .ranks-filter {
    margin: 0;
  }
  &__club-banner {
    padding: 0;
    border: 1px solid #e8e8e8;
    background-image: url("/static/images/noimg/empty-gallery.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    overflow: hidden;
    &.Card {
      margin-bottom: 16px;
      @media (max-width: 560px) {
        margin-bottom: 12px;
      }
    }
    & > div {
      height: 235px;
      margin: auto;
      object-fit: cover;
      width: 100%;
      max-width: none;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      @media (max-width: 560px) {
        height: 25vw;
      }
    }
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__control {
    display: block;
    padding: 0;
    border: none;
    margin: 10px 0 10px 10px;
    letter-spacing: .2px;
    color: #72839c;
    transition: color .2s linear;
    &:hover {
      color: #3366FF;
    }
  }
}
