.user-documents__info {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    .user-documents__right {
        order: 2;
        width: calc(100% - 316px);
    }
    .user-documents__left {
        order: 1;
        width: 300px;
        min-width: 300px;
        margin-right: 16px;
    }
    .Card {
        padding: 10px;
        margin-bottom: 16px;
    }
}