.ranks-filter {
  margin-bottom: 24px;
  height: 200px;
  overflow-x: scroll;
  &__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #72839C;
  }
  &__list {
    list-style: none;
  }
}
