.list-item {
  &__wrap {
    display: flex;
  }
  &__content {
    flex-grow: 1;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
    text-align: right;
    white-space: nowrap;
    &-info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__city {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #72839c;
  }
  &__about {
    max-width: 65%;
  }
  &__author {
    font-size: 14px;
    color: #72839c;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      text-decoration: none;
      color: #72839c;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__club {
    display: flex;
    height: 40px;
    &-logo {
      display: flex;
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin: 4px 8px 4px 0;
    }
    &-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 8px;
      a {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        text-decoration: none;
        color: #253c5e;
      }
      span {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #72839c;
      }
    }
  }
  &__remove {
    height: 24px;
    margin-left: 12px;
    border: none;
    padding: 0;
    letter-spacing: 0;
    line-height: 0;
    color: #72839c;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #253c5e !important;
    @media (max-width: 560px) {
      display: block;
    }
  }
  &__photo {
    min-height: 164px;
    min-width: 164px;
    max-height: 164px;
    max-width: 164px;
    margin-right: 24px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 560px) {
      width: 100%;
      height: 250px;
      margin-bottom: 12px;
    }
  }
  &__info {
    width: 100%;
    height: 116px;
    display: flex;
    word-break: break-word;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text {
    max-height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #72839c;
    overflow: hidden;
    white-space: pre-wrap;
    @media (max-width: 560px) {
      height: auto;
      max-height: 120px;
    }
    * {
      max-width: 100% !important;
    }
  }
  &__show-all {
    text-decoration: none;
    display: inline-block;
    margin-top: 12px;
    padding-right: 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 9px;
      right: 0;
      height: 10px;
      width: 6px;
      background: url("/static/icons/chevron_right-blue.svg") center no-repeat;
    }
    .Card {
      padding: 16px !important;
    }
  }
}
