.list-item {
  &__wrap {
    display: flex;
    @media (max-width: 560px) {
      display: block;
    }
  }
  &__content {
    flex-grow: 1;
  }
  &__photo {
    display: block;
    min-height: 164px;
    min-width: 164px;
    max-height: 164px;
    max-width: 164px;
    margin-right: 24px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 560px) {
      width: 100%;
      max-width: none;
      height: 250px;
      margin: 0 0 12px;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
    text-align: right;
    white-space: nowrap;
    &-info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__club {
    display: flex;
    height: 40px;
    &-logo {
      display: flex;
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin: 4px 8px 4px 0;
    }
    &-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 8px;
      h4 {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        color: #253c5e;
        & > span {
          color: #72839c;
        }
      }
      span {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #72839c;
      }
    }
  }
  &__city {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #72839c;
  }
  &__remove {
    height: 24px;
    width: 24px;
    margin-left: 12px;
    border: none;
    padding: 0;
    line-height: 0;
    background: url("/static/icons/delete.svg") no-repeat center;
  }
  &__text {
    height: 80px;
    max-height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #72839c;
    overflow: hidden;
    white-space: pre-wrap;
    @media (max-width: 560px) {
      height: auto;
      max-height: 120px;
    }
    * {
      max-width: 100% !important;
    }
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-top: 6px;
    border-top: 1px solid #e8e8e8;
  }
  &__show-all, &__share {
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .2px;
    color: #36f;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .2s linear;
    &:hover {
      border-bottom-color: #36f;
    }
  }
  &__share {
    &:after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url("/static/icons/icon-share-2.svg") no-repeat 50%/contain;
      vertical-align: middle;
      margin-left: 4px;
    }
  }
}