.list-item {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
    text-align: right;
    white-space: nowrap;
    &-info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__date {
    color: #72839c;
    font-size: 14px;
  }
  &__author {
    font-size: 14px;
    color: #72839c;
    margin-right: 10px;
    max-width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      text-decoration: none;
      color: #72839c;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__remove {
    height: 24px;
    margin-left: 12px;
    border: none;
    padding: 0;
    letter-spacing: 0;
    line-height: 0;
    color: #72839c;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #253c5e !important;
    @media (max-width: 560px) {
      display: block;
    }
  }
  &__photo {
    height: 156px;
    width: 200px;
    min-width: 200px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 560px) {
      width: 100%;
      height: 250px;
      margin-bottom: 12px;
    }
  }
  &__info {
    width: 100%;
    display: flex;
    word-break: break-word;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text {
    height: 120px;
    overflow: hidden;
    white-space: pre-wrap;
    @media (max-width: 560px) {
      height: auto;
      max-height: 120px;
    }
    * {
      max-width: 100% !important;
    }
  }
  &__text-short {
    height: 48px;
    overflow: hidden;
    white-space: pre-wrap;
    @media (max-width: 560px) {
      height: auto;
      max-height: 48px;
    }
  }
  &__show-all {
    text-decoration: none;
    display: inline-block;
    margin: 12px 0 0 auto;
    padding: 0;
    border: 0;
    background: transparent;
    color: #4c6bb0 !important;
    letter-spacing: 0;
    transition: color 0.2s linear;
    &:hover {
      color: #36f !important;
    }
  }
}
