.DocItem {
    &.error {
        outline: 1px solid red;
    }
    .heading-row {
        justify-content: flex-start!important;
    }
    .heading-row * {
        margin-bottom: 0!important;
    }
    &__chevron {
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        cursor: pointer;
        transform: rotate(0deg);
        transition: .2s transform;
        &.active {
            transform: rotate(-90deg);
        }
    }
    &.collapse {
        display: none;
    }
    &.active {
        display: table-row;
    }
    &.active .card {
        margin-bottom: 1em;
        margin-top: .5em;
    }
    .plus-button {
        position: relative;
        left: 7.5px;
    }
    &__pedigree-warning {
        color: #FA5D50;
        position: relative;
        top: 24px;
        left: 220px;
    }
    &__pedigree-nursery-wrap {
        margin-right: 16px;
    }
    &__pedigree-nursery-calendar {
        margin-top: 10px;
        height: 50px;
        .k-input {
            margin-top: 10px;
            margin-left: 5px;
        }
    }
}

.DocItem.table:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
}
