.NewsStory {
  margin-bottom: 48px;
  &__Head {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 24px;
  }

  &__StoryInfo {
    padding-left: 12px;
    & + div {
      //OutsidClickHandler div
      margin-left: auto;
    }
  }

  &__Title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &__Signature {
    color: #72839c;
  }
  &__Heading {
    cursor: pointer;
  }
  &__Text {
    display: block;
    display: -webkit-box;
    margin-bottom: 24px;
    max-height: 72px;
  }
  &__ImagePreview {
    text-align: center;
    img {
      max-width: 100%;
      max-height: 300px;
    }
  }
  .Dropdown {
    height: 10px;
    width: 20px;
    &__content--visible {
      right: -20px !important;
      top: calc(100% + 20px);
    }
    &__button {
      height: 100%;
      width: 100%;
      padding: 0;
      &::after {
        top: 0;
        height: 20px;
        width: 20px;
        background: url("/static/icons/ico-dots-horizontal.svg") center no-repeat;
      }
    }
    &__button--visible::after {
      top: 0;
      height: 20px;
      width: 20px;
      background: url("/static/icons/ico-dots-horizontal.svg") center no-repeat;
      filter: invert(1);
      transform: none;
    }
  }
  .DeleteButton {
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #72839c;
    letter-spacing: 0.2px;
    padding: 8px 16px;
    white-space: nowrap;
    min-width: 160px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: currentColor !important;
      display: block;
    }
    &:hover {
      color: #3366ff;
      background-color: whitesmoke;
    }
  }
}
.Modal {
  .NewsStory {
    margin-bottom: 0;
    &__Text {
      max-height: none;
    }
    &__Heading {
      cursor: default;
    }
    &__ImagePreview {
      img {
        max-height: none;
      }
    }
  }
}
