.card-news-new {
  padding: 10px 0 10px 0 !important;
  position: relative;

  &__wrap {
    &.is_closed {
      .card-news-new__controls,
      .card-news-new__photo,
      .card-news-new__text-wrap,
      .card-news-new__club,
      .card-news-new__city {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  &__content {
    margin-bottom: 15px;
    position: initial;

      @media (max-width: 560px) {
        position: relative;
      }
  }

  &__media {
    & > div + div {
      margin-top: 3px;
    }
    .ReactGridGallery {
      display: grid;
      grid-template-rows: 50% 50%;
      margin: 10px 10px 0 ;
      gap: 2px;
      max-height: 500px;
      list-style-type: none;
      &_tile {
        margin: 0!important;
      }
      &_tile:first-of-type{
        grid-area: first;
      }
      &_tile:nth-of-type(2){
        grid-area: second;
      }
      &_tile:nth-of-type(3){
        grid-area: third;
      }
      &_tile:nth-of-type(4){
        grid-area: fourth;
      }
      &_tile:nth-of-type(5){
        grid-area: fifth;
      }
    }
    &-wrap {
      &._1 {
        .ReactGridGallery {
          display: flex;
          justify-content: center;
          &_tile {
            width: 100%;
            height: auto;
            img {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }
      &._2 {
        .ReactGridGallery {
          display: flex;
          flex-direction: row;
          &_tile {
            width: 50%;
            height: auto;
            img {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }
      &._3 {
        .ReactGridGallery {
          display: grid;
          grid-template-areas:
            "first first second second"
            "first first third third";
          &_tile {
            width: auto;
            height: auto;
            img {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }
      &._4 {
        .ReactGridGallery {
          display: grid;
          grid-template-areas:
            "first first second second"
            "first first third fourth";
          &_tile {
            width: auto;
            height: auto;
            img {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }
      &._5 {
        .ReactGridGallery {
          display: grid;
          grid-template-areas:
            "first first first second second second"
            "third third fourth fourth fifth fifth";
          &_tile {
            width: auto;
            height: auto;
            img {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }
    }
  }

  &__photo {
    padding-bottom: 75%; /* 3:4 горизонтальное фото*/
    height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &-wrap {
      display: grid;
      grid-template-rows: 1fr 1fr;
      margin: 0 10px;
      gap: 2px;
      list-style-type: none;

      & li {
        height: auto;
      }
      &.__all {
        display: flex;
        flex-direction: column;
        .card-news-new__photo {
          padding: 0;
          height: auto;
          width: 100%;
          cursor: unset;
        }
      }
    }
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9*/
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &._disabled {
      display: none;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: right;
    margin: 0 10px 5px 10px;
    &-control {
      position: relative;

      & > button {
        outline: none !important;
      }

      & > div {
        position: absolute;
        right: -4px;
        top: 100%;
        z-index: 1;
        margin-top: 6px;
        min-width: 170px;
        box-shadow: 0 5px 10px rgba(176, 190, 197, 0.5);
        background-color: #fff;
        border-radius: 4px;

        &:before {
          content: "";
          display: block;
          width: 14px;
          height: 14px;
          border-radius: 4px;
          background-color: #fff;
          position: absolute;
          top: -7px;
          right: 2px;
          z-index: -1;
          transform: rotate(45deg);
          box-shadow: 0 8px 25px rgba(176, 190, 197, 0.5);
        }
      }

      &-list {
        list-style: none;
        padding: 8px 0;
        background-color: #fff;
        margin-bottom: 0 !important;
      }

      &-item {
        text-align: left;
        cursor: pointer;
        padding: 0 10px;
        a {
          text-decoration: none;
        }
        &:hover {
          background-color: #3366ff;

          & > * {
            color: white !important;
          }
        }

        & > * {
          color: #253c5e !important;
          transition: none;

          &:hover {
            color: white !important;
            text-decoration: none !important;
          }
        }
      }

      &-btn {
        display: block;
        width: 10px;
        height: 20px;
        margin-left: 10px;
        margin-top: 2px;
        padding: 0;
        border: none;
        background: url("/static/icons/chevron-down-light.svg") no-repeat center;
        background-size: contain;
        transition: all 0.2s linear;

        &:hover {
          background: url("/static/icons/chevron-down-blue.svg") no-repeat center;
          background-size: contain;
        }

        &._open {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__left {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    position: relative;

    @media (max-width: 560px) {
      width: 100%;
    }

    &-inner {
      position: initial;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      flex-direction: column;
    }

    &-city {
      width: 100%;
    }

    &__city-inner {
      display: flex;

        @media (max-width: 560px) {
          flex-direction: column;
        }
    }

    &-mark {
      display: flex;
      align-items: center;

      & span {
        margin-left: 5px;
      }

      @media (max-width: 560px) {
        top: 66%;
        left: 0;
      }
    }

    &-city {

     &:first-child {
      white-space: nowrap;
     }
    }

    &-logo {
      display: flex;
      flex-shrink: 0;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin: 0 10px 0 0;
    }

    &-name {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      width: 100%;
      min-width: 0;

      @media (min-width: 560px) {
        width: 100%;
      }

      a {
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        color: #36f;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;

        @media (max-width: 375px) {
          font-size: 14px;
        }

        span {
          display: inline-block;
        }
      }

      div {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #b9b9b9;
        display: flex;
        margin-bottom: 5px;

        @media (max-width: 375px) {
          font-size: 14px;
        }

        span {
          color: #72839c;
        }
      }

      & > span {
        display: flex;
        align-items: center;
        color: #b9b9b9;
        font-size: 18px;
        max-width: 100%;

        @media (max-width: 375px) {
          font-size: 14px;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }

  &__right {
    display: flex;

    .k-chip.k-chip-filled,
    .k-chip.k-chip-filled.k-chip-selected {
      height: 26px;
      padding: 4px 6px !important;
      background-color: #7899ff4d !important;
      color: #72839c !important;

      &:hover {
        background: #7899ff5d;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__city {
    position: relative;
    padding-left: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #72839c;
    white-space: nowrap;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      width: 13px;
      height: 18px;
      left: 0;
      top: 1px;
      margin-right: 4px;
      background: url("/static/icons/ico-pointer2.svg") center no-repeat;
      background-size: contain;
    }

     &:hover {
       color: #3366ff;

       &:before {
         background: url("/static/icons/ico-pointer2-blue.svg") center no-repeat;
         background-size: contain;
       }
     }
  }

  &__text-wrap {
    max-height: 100px;
    margin: 5px 10px 0;
    overflow: hidden;

    &__collapsed {
      height: auto;
      margin: 5px 10px 0;
      max-height: none;
      min-height: 100px;
    }

    @media (max-width: 560px) {
      height: auto;
      max-height: 200px;
    }

  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #72839c;
    word-wrap: break-word;
    transition: height 0.2s linear;
    margin-bottom: 0 !important;

    &._disabled {
      margin-bottom: 10px !important;
    }

    * {
      max-width: 100% !important;
      line-height: 20px;
    }
  }

  &__ad {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #72839c;
    white-space: pre-wrap;
    word-wrap: break-word;
    transition: height 0.2s linear;

    &-price {
      margin-bottom: 10px !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-breed {
      margin: 15px 0!important;
      & span:first-child {
        color: #B9B9B9;
      }
    }

    &-breed {
      span:first-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 130px);
        line-height: 16px;
      }
    }

    &-price {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & p span:first-child {
        color: #B9B9B9;
      }
    }

    &-inactive {
      color: red;
    }

    &-city,
    &-age,
    &-sex,
    &-name,
    &-color {
      margin-bottom: 10px;
      & span:first-child {
        color: #B9B9B9;
      }
    }
  }

  &__documents {
    clear: both;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 1px solid #e5e5e5;
    margin: 0 10px;

    &-list {
      list-style: none;
      margin-bottom: 0 !important;
    }

    &-link {
      position: relative;
      padding-left: 26px;
      text-decoration: none;
      color: #72839c;
      transition: color 0.2s linear;

      &:before {
        content: "";
        display: inline-block;
        height: 20px;
        width: 20px;
        background: url("/static/icons/icon-pdf.svg") no-repeat center/contain,
          url("/static/icons/icon-pdf-blue.svg") no-repeat center/contain;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &:hover {
        color: #3366ff;

        &:before {
          background: url("/static/icons/icon-pdf-blue.svg") no-repeat center/contain;
        }
      }
    }

    &-item-name {
      color: #007bff;

      &:hover {
        color: #3366ff;
        cursor: pointer;
      }
    }
  }

  &__show-all {
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #36f;
    cursor: pointer;

    &:hover {
      color: #36f;
    }

    &._disabled {
      display: none;
    }

    a {
      color: #253c5e !important;

      &:hover {
        color: #36f !important;
        text-decoration: none !important;
      }
    }
  }

  &__modal {

    & > div {
      max-width: 80%;

      @media (max-width: 560px) {
        max-width: 92%;
      }
    }

    .Modal__inner {
      padding: 0;
    }

    .Modal__close {
      right: 20px !important;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1), 1px -1px 2px rgba(0, 0, 0, 0.1),
        -1px 1px 2px rgba(0, 0, 0, 0.1);
      opacity: 0.8;
      transition: opacity 0.2s linear;

      &:before {
        content: "✕";
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        opacity: 1;
      }

      @media (max-width: 560px) {
        right: 12px !important;
      }
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__transition {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(-10px);
    }

    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }

    &-exit {
      opacity: 1;
      transform: translateY(0);
    }

    &-exit-active {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.2s, transform 0.2s;
    }
  }

  &__show-all-wrap {
    margin: 0 10px;
  }

  .document-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &__pdf {
      width: 18px;
      height: 22px;
      margin-right: 10px;
    }

    &__date {
      font-weight: normal;
      font-size: 14px;
      line-height: 1;
      color: #b9b9b9;
    }

    &__delete-btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      width: 24px;
      height: 24px;
      max-width: 100%;
      border: none;
      outline: none !important;

      .k-svg-i-trash {
        flex-shrink: 0;
      }

      svg {
        fill: red !important;
      }
    }

    a {

      &:hover {
        text-decoration: none;
        color: #0056b3;
      }
    }

    &__href {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &__name {
      display: flex;
      flex-direction: column;
    }
  }

  .ya-share2__popup {
    z-index: 0;
    right: -25px;
  }

  &__controls {
    padding: 0 10px;
  }

  &__category {

    &-wrap {
      display: flex;
      justify-content: space-between;
      line-height: 16px;

      div {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &-value {
      width: fit-content;
      font-weight: 600;
    }

    &-name {
      color: #B9B9B9;
    }
  }

  &__photo-modal {
    .slick-slider {
      background-color: #4B4B4B;
    }
    .slick-slide img {
      width: auto;
      max-width: 100%;
      height: 420px;
      margin: 0 auto;
      object-fit: cover;
    }

    @media (min-width: 1079px) {
      &>div {
        width: 982px;
        
        .Modal__inner {
          max-height: 800px;
        }
      }
    }

    .slick-prev {
      left: 20px;
      background: url("/static/new-icons/arrow-left.svg") no-repeat center;
    }

    .slick-next {
      right: 20px;
      background: url("/static/new-icons/arrow-right.svg") no-repeat center;
    }

    .slick-arrow {
      width: 21px;
      height: 42px;
      z-index: 1;

      &:before {
        content: '';
      }
    }

    &__count {
      position: relative;
      top: -7px;
      width: 100%;
      height: 52px;
      padding-left: 30px;
      color: white;
      background-color: #4B4B4B;
      line-height: 52px;
    }

    .card-news-new__text-wrap {
      word-wrap: break-word;
      margin-bottom: 5px;
      overflow: auto;
    }
  }
}
