.UploadedDocuments {
    &__category {
        h1.UploadedDocuments__category-title {
            font-size: 18px;
            line-height: 24px;
        }
        button.UploadedDocuments__category-btn {
            padding: 0;
            border: none;
            width: 24px;
            height: 24px;
            margin-left: 4px;
            .k-svg-i-pencil {
                width: 16px;
                height: 16px;
                svg {
                    fill: #72839c !important;
                }
            }
        }
        .UploadedDocuments__category-placeholder {
            text-align: center;
            h4 {
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                text-decoration: none;
                color: #253c5e;
                margin-bottom: 0;
            }
        }
    }
}
