Modal__body {
    @media (max-width: 1280px){
        min-width: auto;
    }
}

.puppy-modal-content {
    margin-top: 20px;
}

.DocItem__warning {
    color: #FA5D50;
    position: relative;
    top: -34px;
}

.modal__body {
    min-width: auto;
}

.puppy-modal-content {

    .FormGroup--inline {

        .btn {

            @media (max-width: 1280px) {
                align-self: unset !important;
            }
        }

        .RSInput__value-container {
            min-width: 100px;
        }

        @media (max-width: 1280px) {
            flex-direction: column;
            gap: 20px;

            .FormInput {
                width: 100%;
            }
        }
    }
}