.exhibition-details{
  &__attrs-table{
    width: 100%;
    td:first-child{
      font-weight: bold;
    }
  }
  &__signature{
    &--top{
      display: flex;
      flex-flow: row wrap;
      div{
        margin-right: 65px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}