.SocialNetworks {
    .FormGroup {
        position: relative;

        .FormInput {
            display: grid;
            grid-template-columns: 6% 83% 7%;
            gap: 10px;
            margin-bottom: 17px;
            @media (max-width: 1024px) {
                grid-template-columns: 5% 84% 5%;
            }
            @media (max-width: 768px) {
                grid-template-columns: 20% 53% 20%;
            }

            &__error {
                left: 48px;
                bottom: -20px;
                padding: 0 4px 4px;
                @media (max-width: 768px) {
                    left: 0;
                }
            }
        }

        .FormInput--text {
            & > label {
                grid-column: 1 / 4;
                width: 100%;
                @media (max-width: 768px) {
                    grid-column: 1 / 3;
                    text-align: start;
                    margin-left: 2px;
                }
            }

            & > input {
                grid-column: 2 / 3;
                @media (max-width: 768px) {
                    grid-column: 1 / 3;
                }
            }

            & > input:nth-child(2) {
                @media (max-width: 768px) {
                    grid-column: 1 / 4;
                }
            }
        }
    }

    .btn-mini {
        position: absolute;
        top: -43px;
        height: 18px;
        width: 18px;
        margin: 0;
        padding: 0;
        font-size: 0;
        border: none;
        border-radius: 50%;
        background: url("/static/icons/add-blue.svg") no-repeat center / contain;
    }

    &__button-delete {
        position: absolute;
        right: 4px;
        top: 88px;
        padding: 0;
        margin: 9px 0;
        width: 15px;
        height: 18px;
        cursor: pointer;
        background: url('/static/icons/delete-red.svg');
        background-size: cover;
        border: none;
        transition: all 0.2s linear;

        &:hover {
            box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
        }

        @media (max-width: 768px) {
            grid-column: 3 / 4;
            right: 70px;
        }
        @media (max-width: 700px) {
            right: 60px;
        }
        @media (max-width: 680px) {
            right: 100px;
        }
        @media (max-width: 560px) {
            right: 80px;
        }
        @media (max-width: 440px) {
            right: 60px;
        }
        @media (max-width: 380px) {
            right: 40px;
        }
    }

    &__button-add {
        margin: 0 auto 15px;
        width: 240px;
        white-space: nowrap;
        padding: 7px 14px;
        transition: all 0.2s linear;

        &:hover {
            box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
        }
    }

    &__buttons-wrap {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        min-height: 5px;
        width: 99%;
        margin: 0 auto;
        padding: 0 12px;

        @media (max-width: 1024px) {
            width: 96%;
            padding: 0;
        }
        @media (max-width: 900px) {
            width: 95%;
        }
        @media (max-width: 768px) {
            justify-content: flex-end;
            width: 96%;
        }
        @media (max-width: 560px) {
            width: 96%
        }
    }

    .FormGroup--inline {
        align-items: flex-end;

        @media (max-width: 768px) {
            padding: 8px;
            box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
        }
    }
}
