.client-layout {
  width: 100%;
  min-height: 100%;
  padding: 64px 0;
  //background-color: #1a63df;
  &__sidebar {
    padding: 115px 0 72px 0;
    box-sizing: border-box;
    position: fixed;
    max-width: 250px;
    left: 0;
    top:0;
    overflow-y: auto;
    height: 100%;
    min-height: 100%;
    box-shadow: 3px 0 20px rgba(0, 0, 0, 0.03);
    background-color: white;
  }
  &__content{
    max-width: 960px;
    margin: 0 auto;
  }
}
@media screen and(max-width: 1440px){
  .client-layout{
    &__content{
      min-width: 640px;
      margin: 0 64px 0 240px;
    }
  }

}