.add-pdf {
  @media (max-width: 560px) {
    padding-bottom: 24px;
  }
  &__form {
    &-row {
      display: flex;
      align-items: flex-start;
      margin-bottom: 16px;
      @media (max-width: 560px) {
        display: block;
      }
    }
    &-item {
      margin-right: 16px;
      @media (max-width: 560px) {
        margin: 0 0 16px;
      }
      .btn {
        display: block;
        @media (max-width: 560px) {
          display: inline-block;
        }
      }
    }
    &-label {
      display: block;
      margin-bottom: 8px;
    }
    &-input {
      width: 100%;
      padding: 12px 14px;
      border: 1px solid #EBF0F2;
      border-radius: 6px;
      letter-spacing: .2px;
      transition: border-color .2s linear;
      &:hover {
        border-color: #b3b3b3;
      }
      &:focus {
        border-color: #3366FF;
      }
      &._error {
        border-color: #FA5D50;
      }
    }
    &-error {
      color: #FA5D50;
      line-height: 1;
      margin-top: 4px;
    }
    &-hidden {
      display: none;
    }
    &-attached {
      display: block;
      margin-top: 20px;
    }
    &-delete {
      border: none;
      padding: 0;
      width: 14px;
      height: 18px;
      margin: 46px 0 0 auto;
      background: url("/static/icons/delete.svg") no-repeat center / contain,
                  url("/static/icons/delete-red.svg") no-repeat center / contain;
      &:hover {
        background: url("/static/icons/delete-red.svg") no-repeat center / contain;
      }
      @media (max-width: 560px) {
        margin: 0;
      }
    }
    &-add-row {
      text-align: right;
      margin-bottom: 16px;
      &-btn {
        border: none;
        padding: 0;
        letter-spacing: normal;
        color: #72839c;
        transition: color .2s linear;
        &:hover {
          color: #3366FF;
        }
      }
    }
    &-controls {
      text-align: right;
      button:first-child {
        margin-right: 16px;
      }
    }
    .btn {
      @media (max-width: 560px) {
        padding: 10px 20px;
      }
    }
  }
}