.club-schedule {
  &__controls {
    display: flex;
    list-style: none;
    margin: 12px 0;
    &-item {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    &-btn {
      border: none;
      background-color: #ccc;
      padding: 0;
      width: 27px;
      line-height: 27px;
      font-size: 12px;
      font-weight: 400;
      transition: all .2s linear;
      &._active {
        color: #fff;
        background-color: #00c48c;
      }
    }
  }
  &__form {
    &-day {
      align-self: center;
      font-weight: 400;
      margin: 32px 16px 0 0;
    }
  }
}