.Schedule {
    .FormGroup {
        display: grid;
        grid-template-columns: 100px 63fr 37fr;
        gap: 16px;
    }
    .FormInput {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        &:nth-child(2) {
            display: grid;
            grid-template-columns: 50fr 50fr;
            gap: 16px;
        }
        &:nth-child(3) {
            display: grid;
            grid-template-columns: 15px 30fr;
            gap: 16px;
        }
        label {
            margin: auto 0;
            font-size: 16px;
            line-height: 16px;
            text-align: right;
            color: #253C5E;
        }
        input {
            min-width: 100px;
            padding: 7px 10px 5px;
        }
        &__error {
            font-size: 12px;
            line-height: 12px;
            top: 42px;
            bottom: 0;
            right: 0;
        }
    }
    .club-schedule {
        &__controls {
            display: flex;
            list-style: none;
            margin: 12px 0;

            &-item {
                &:not(:last-child) {
                    margin-right: 12px;
                }
            }

            &-btn {
                border: none;
                background-color: #ccc;
                padding: 0;
                width: 27px;
                line-height: 27px;
                font-size: 12px;
                font-weight: 400;
                transition: all .2s linear;

                &._active {
                    color: #fff;
                    background-color: #00c48c;
                }
            }
        }

        &__form {
            &-day {
                align-self: center;
                font-weight: 400;
            }
        }
    }
}