.list-filter {
  list-style: none;
  display: flex;
  justify-content: space-between;
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__control {
    display: block;
    padding: 4px 15px;
    background: #ebf0f2;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #72839c;
    text-decoration: none;
    border: none;
    white-space: nowrap;
    transition: all .2s linear;
    &._active {
      color: #fff;
      background-color: #3366ff;
    }
    &._not-active {
      opacity: .5;
    }
  }
}