.slider {
  width: 100%;
  overflow: hidden;
  &-wrap {
    transition: .2s;
    display: flex;
    align-items: center;
    div {
      height: 100%;
      letter-spacing: .2px;
      color: #72839c;
      line-height: 20px;
      font-weight: 600;
      font-size: 16px;
      padding:10px 15px;
      white-space: nowrap;
      text-align: center;
      border-bottom: 2px solid transparent;
      display: flex;
      align-items: center;
      cursor: pointer;
      &._active {
        border-bottom-color: #36f;
      }
      &._disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
.list-filter {
  list-style: none;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    @media (max-width: 560px) {
      width: 100%;
      margin-bottom: 10px;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 10px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__control {
    display: block;
    padding: 0 6px 10px 0;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #72839c;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: border-bottom-color 0.2s linear;
    &._active {
      border-bottom-color: #3366ff;
    }
    &._disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
