.drop-down__item{
  padding: 8px;
  white-space: nowrap;
  min-width: 160px;
  a{
    text-decoration: none;
    color: currentColor;
    display: block;
  }
  &:hover{
    background-color: whitesmoke;
  }
}