.ClubContact {
  display: flex;
  position: relative;
  margin-bottom: 4px;
  &__description {
    padding-right: 4px;
  }

  &__value {
    color: #61797c;
  }



  //&--1 {
  //  &:after {
  //    background-image: url("/static/icons/ico-contact-email.svg");
  //  }
  //}
  //
  //&--2 {
  //  &:after {
  //    background-image: url("/static/icons/ico-contact-phone.svg");
  //  }
  //}
}