.ClubContact {
  position: relative;
  margin-bottom: 4px;
  &__description {
    max-width: 260px;
    color: #253c5e;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__value {
    color: #767b84;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  //&--1 {
  //  &:after {
  //    background-image: url("/static/icons/ico-contact-email.svg");
  //  }
  //}
  //
  //&--2 {
  //  &:after {
  //    background-image: url("/static/icons/ico-contact-phone.svg");
  //  }
  //}
}
