.ClubContact {
  display: flex;
  position: relative;
  margin-bottom: 4px;
  &__description {
    max-width: 165px;
    overflow-wrap: break-word;
    padding-right: 4px;
  }

  &__value {
    display: flex;
    align-items: center;
    color: #61797c;
  }

  //&--1 {
  //  &:after {
  //    background-image: url("/static/icons/ico-contact-email.svg");
  //  }
  //}
  //
  //&--2 {
  //  &:after {
  //    background-image: url("/static/icons/ico-contact-phone.svg");
  //  }
  //}
}
