.swipe-tabs {
  &__tab {
    display: block;
    max-width: 288px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .2px;
    color: #72839c;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid transparent;
    padding: 10px 15px;
    transition: border-bottom-color .2s linear;
    &._active {
      border-bottom-color: #36f;
    }
    &._disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }
  .swiper-slide {
    width: auto;
    height: auto;
    display: flex;
  }
}