.swipe-tabs {

  &__tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .2px;
    color: #72839c;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid transparent;
    padding: 10px 15px;
    transition: border-bottom-color .2s linear;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &-count {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 20px;
      height: 20px;
      margin-left: 4px;
      padding: 0 4px;
      font-size: 12px;
      color: #fff;
      background-color: #3366FF;
      border-radius: 10px;
      box-sizing: border-box;

      @media (max-width: 600px) {
        min-width: 10px;
        height: 10px;
        font-size: 0;
        border-radius: 50%;
      }
    }

    &._active {
      border-bottom-color: #36f;
    }

    &._disabled {
      cursor: not-allowed;
      opacity: .5;
    }

    @media (max-width: 600px) {
      &:first-child {
        padding-left: 0;
      }
    }

    @media (max-width: 360px) {
      max-width: 220px;
      text-align: center;
    }
  }

  .swiper-slide {
    width: auto;
    height: auto;
    display: flex;
  }
}

.search-page__horizontal-menu {
  .swipe-tabs .swiper-wrapper {
    @media (min-width: 612px) {
      transform: none !important;
    }
  }
}
