.statistics-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0 120px;

    @media (max-width: 1080px) {
        justify-content: space-around;
    }

    @media (max-width: 900px) {
        padding: 60px 0 80px;
    }

    @media (max-width: 700px) {
        padding: 35px 0 6px;
    }

    &__section {
        width: 212px;
        text-align: center;

        @media (max-width: 1080px) {
            width: 300px;
            margin-bottom: 31px;
        }

        @media (max-width: 820px) {
            width: 206px;
        }

        @media (max-width: 700px) {
            width: 212px;
        }

        @media (max-width: 445px) {
            margin: 15px auto;
        }
    }

    &__count {
        margin: 0 auto 16px;
        font-weight: 700;
        font-size: 48px;
        line-height: 25px;
        color: #6C91FF;

        @media (max-width: 900px) {
            font-size: 32px;
            line-height: 16px;
        }

        @media (max-width: 700px) {
            width: 190px;
        }
    }

    &__description {
        max-width: 212px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;

        @media (max-width: 700px) {
            width: 170px;
            font-size: 13px;
            line-height: 16px;
        }
    }
}