.nbc-page {
  &__content-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1080px) {
      display: block;
    }
  }
  &__content {
    width: calc(100% - 316px);
    margin-left: 16px;
    order: 1;
    @media (max-width: 1080px) {
      width: 100%;
      margin-left: 0;
    }
    .Card:not(.club-page__content-banner) {
      padding: 12px;
      margin-bottom: 20px !important;
    }
  }
  &__info {
    width: 300px;
    min-width: 300px;
    padding-bottom: 16px;
  }
  & .user-info {
    &__logo-wrap {
      border-bottom: none;
    }
  }
  &__breadcrumbs {
    font-size: 24px;
    line-height: 35px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    &-title {
      max-width: 644px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      line-height: 24px;
    }
  }
  & .user-header {
    @media (max-width: 1080px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      & .user-info {
        &__logo {
          min-width: 80px;
          width: 80px;
          height: 80px;
          &-wrap {
              padding: 10px;
          }
        }
      }
      &__user-wrap {
        padding: 0 0 10px 0;
        &:before {
            display: none;
        }
      }
      &__content {
        width: 100%;
        padding: 10px;
      }
      &__name-wrap {
        min-height: auto!important;
      }
      &__wrap {
        position: relative;
        & div {
          & .widget-login {
            &__button-wrap {
              width: 40%;
              position: static;
              margin: 0;
              padding: 0;
            }
          }
        }
        & .Share {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 35px;
      }
    }
  }
}