.nbc-page {
  &__content-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1080px) {
      display: block;
    }
  }
  &__content {
    width: calc(100% - 316px);
    margin-left: 16px;
    order: 1;
    @media (max-width: 1080px) {
      width: 100%;
      margin-left: 0;
    }
    .Card:not(.club-page__content-banner) {
      padding: 12px;
      margin-bottom: 20px !important;
    }
  }
  &__inner {
    width: 100%;
  }
  &__info {
    width: 300px;
    min-width: 300px;
    padding-bottom: 16px;
    @media (max-width: 1080px) {
      padding-bottom: 0;
    }
  }
  & .user-info {
    &__logo-wrap {
      border-bottom: none;
    }
  }
  &__breadcrumbs {
    font-size: 24px;
    line-height: 35px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    &-title {
      max-width: 644px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      line-height: 24px;
      & a:hover {
        color: #36f;
      }
    }
  }
  & .user-header {
    @media (max-width: 1080px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      & .user-info {
        &__logo {
          min-width: 80px;
          width: 80px;
          height: 80px;
          &-wrap {
              padding: 10px;
          }
        }
      }
      &__user-wrap {
        padding: 0 0 10px 0;
        &:before {
            display: none;
        }
      }
      &__content {
        width: 100%;
        padding: 10px;
      }
      &__name-wrap {
        min-height: auto!important;
      }
      &__wrap {
        position: relative;
        & div {
          & .widget-login {
            &__button-wrap {
              position: static;
              margin: 0;
              padding: 0;
            }
          }
        }
        & .Share {
          position: absolute;
          right: 0;
        }
      }
    }
  }
  &__count-buttons {
    text-align: right;
    color: #72839c;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    margin: 24px 0 8px;
    & span:first-child {
      margin-right: 10px;
    }
  }
  &__content-banner {
    div {
      height: 235px;
      background-size: cover;
      background-position: center center;
    }
  }
  &__no-images {
    text-align: center;
    & img {
      width: 150px;
    }
  }
  &__breadcrumbs {
    font-size: 18px;
    line-height: 32px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    &-title {
      max-width: 644px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      line-height: 24px;
    }
    & .btn-backward {
      text-decoration: none;
      font-size: 18px;
      line-height: 24px;
      color: #72839c;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    &-link {
      display: flex;
      align-items: center;
      margin-right: 15px;
      color: #72839c;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #36f;
        & svg {
          fill: #36f;
        }
      }
      &__icon {
        width: 15px;
        height: 20px;
        margin-right: 3px;
      }
    }
  }
}