.dropdown {
  &__title {
    display: block;
    position: relative;
    padding: 0 20px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .2px;
    color: #253C5E;
    cursor: pointer;
    transition: all .2s linear;
    &:hover {
      color: #3366ff;
    }
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      right: 22px;
      width: 1px;
      height: 15px;
      background: #72839C;
    }
    &:after {
      content: '';
      width: 12px;
      height: 6px;
      background: url("/static/icons/chevron-down-light.svg") no-repeat center;
      position: absolute;
      top: 5px;
      right: 1px;
      transition: all .2s linear;
    }
  }
  &._open .dropdown__title {
    padding: 0 20px 10px 0;
  }
  &._open .dropdown__title:after {
    transform: rotate(180deg);
  }
  &._active .dropdown__list:before {
    background: #3366ff;
  }
  &:last-child .dropdown__list {
    margin-bottom: 0 !important;
  }
  &__transition {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(-10px);
    }
    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }
    &-exit {
      opacity: 1;
      transform: translateY(0);
    }
    &-exit-active {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.2s, transform 0.2s;
    }
  }
  &__list {
    position: relative;
    list-style: none;
    margin: 10px 0;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: #E5E5E5;
      top: -10px;
      left: 0;
    }
  }
  &__item {
    &._active .dropdown__item-title {
      color: #3366ff;
    }
    &._disabled .dropdown__item-title {
      color: #72839c;
      cursor: default;
      opacity: .5;
    }
    &:not(:last-child) {
      margin-bottom: 13px;
    }
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      font-size: 16px;
      border-radius: 10px;
      color: #fff;
      background-color: #3366FF;
      padding: 0 0 2px 1px;
      @media (max-width: 375px) {
        padding: 0 0 2px 0;
      }
      &._disabled {
        background-color: #e8e8e8;
      }
    }
    &-title {
      letter-spacing: .2px;
      color: #253C5E;
      cursor: pointer;
      transition: all .2s linear;
      max-width: 250px;
      width: 100%;
      &:hover {
        color: #3366ff;
      }
    }
    &-body {
      padding-top: 16px;
      .Card {
        padding: 0 !important;
        box-shadow: none !important;
      }
    }
  }
}

.longCount {
  width: 32px;
  border-radius: 16px;
}