.week-days {
  display: flex;
  flex-flow: row nowrap;
  margin: 40px 0;
  justify-content: space-between;
}

.week-day {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  //flex: 1;
  border-bottom: solid 5px;
  border-color: transparent;
  min-width: 136px;
  cursor: pointer;

  &--active {
    color: #1D6EE3;
    border-color: #1D6EE3;
  }

  &__date {
    font-size: 38px;
    line-height: 100%;
    font-weight: 400;
    margin-right: 8px;
  }

  &__month {
    font-size: 18px;
  }

  &__week-day {
    font-size: 16px;
  }
}