.ClubSocial {
  background-image: url("/static/icons/social/share.svg");
  background-position: 0 4px;
  margin: 12px 0;
  padding-left: 32px;
  background-repeat: no-repeat;
  .SocialLink {
    display: flex;
    position: relative;
    margin-bottom: 4px;
    &__description {
      padding-right: 4px;
    }

    &__value {
      color: #61797c;
    }
  }
}
