.article-edit {
  &__text {
    margin-bottom: 16px;
    .FormInput {
      margin-bottom: 0;
      &__error {
        position: static;
        padding: 0;
        margin-top: 10px;
      }
    }
    textarea {
      resize: vertical;
    }
  }
  &__content-length {
    display: block;
    text-align: right;
    margin-top: 10px;
  }
  &__controls {
    box-sizing: content-box !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    & > *:not(:last-child) {
      margin-right: 33px;
    }
    @media (max-width: 680px) {
      & > *:not(:last-child) {
        margin-right: 32px;
      }
    }
    @media (max-width: 561px) {
      & > *:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
  &__attach-img {
    input {
      display: none;
    }
    &-label {
      padding-left: 24px;
      color: #72839c;
      line-height: 1;
      cursor: pointer;
      position: relative;
      transition: color 0.2s linear;
      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("/static/icons/client/attach-image.svg") no-repeat center / cover,
          url("/static/icons/client/attach-image-active.svg") no-repeat center / cover;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &:hover {
        color: #3366ff;
        &:before {
          background: url("/static/icons/client/attach-image-active.svg") no-repeat center / cover;
        }
      }
    }
  }
  &__attach-video,
  &__attach-pdf {
    border: none;
    padding: 0 0 0 28px;
    position: relative;
    letter-spacing: normal;
    line-height: 1;
    cursor: pointer;
    color: #72839c;
    transition: color 0.2s linear;
    &:before {
      content: "";
      display: inline-block;
      height: 22px;
      width: 24px;
      background: url("/static/icons/icon-youtube.svg") no-repeat center / cover,
        url("/static/icons/icon-youtube-blue.svg") no-repeat center / cover;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:hover {
      color: #3366ff;
      &:before {
        background: url("/static/icons/icon-youtube-blue.svg") no-repeat center / cover;
      }
    }
  }
  &__attach-pdf {
    &:before {
      background: url("/static/icons/icon-pdf.svg") no-repeat center / contain,
        url("/static/icons/icon-pdf-blue.svg") no-repeat center / contain;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:hover {
      &:before {
        background: url("/static/icons/icon-pdf-blue.svg") no-repeat center / contain;
      }
    }
  }
  &__advert-control {
    margin: 0;
    label {
      padding-left: 24px;
      color: #72839c;
      transition: color 0.2s linear;
      &:hover {
        color: #3366ff;
      }
    }
  }
  &__media {
    & > div + div {
      margin-top: 10px;
    }
  }
  &__img {
    position: relative;
    padding-bottom: 56.25%; /* 16:9*/
    height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 767px) {
      margin-right: 0;
    }
    @media (max-width: 560px) {
      width: 100%;
    }
    &-delete {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: none;
      padding: 0;
      position: absolute;
      top: 6px;
      right: 6px;
      background: rgba(255, 255, 255, 0.85);
      border-radius: 50% !important;
      svg {
        fill: red !important;
      }
    }
    img {
      display: block !important;
      height: 180px !important;
      @media (max-width: 560px) {
        width: 100%;
        height: auto !important;
      }
    }
    .k-svg-i-youtube {
      position: absolute !important;
      left: calc(50% - 50px);
      top: calc(50% - 50px);
      width: 100px !important;
      height: 100px !important;
      svg {
        fill: rgba(255, 255, 255, 0.7) !important;
      }
    }
  }
  &__documents {
    margin: 0 0 16px;
    &-title {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 4px;
    }
    &-list {
      list-style: none;
    }
    &-item {
      span {
        vertical-align: middle;
      }
      .k-svg-icon {
        width: 16px;
        height: 16px;
        margin-left: 10px;
        &:hover {
          cursor: pointer;
        }
        svg {
          fill: red;
        }
      }
    }
  }
  &__advert {
    margin: 8px 0 16px;
  }
  &__ad {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: normal;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .FormInput:not(:last-child) {
        margin: 0 0 16px;
      }
    }
  }
  &__form-controls {
    display: flex;
    justify-content: center;
    .btn {
      @media (max-width: 560px) {
        padding: 8px 24px;
      }
      &:first-child {
        @media (max-width: 560px) {
          margin-right: 10px;
        }
      }
    }
  }
  &__button {
    color: #fff;
    background: #3366ff;
    opacity: 0.7;
    cursor: default;
    &._active {
      opacity: 1;
      cursor: pointer;
    }
  }
  &__modal {
    & > div {
      max-width: 600px;
    }
    .Modal__body {
      padding: 12px;
      min-width: auto;

      .k-file-validation-message.k-text-success:before {
        content: 'Файл успешно загружен';
        position: absolute;
        background: #fff;
        width: 200px;
      }
    }
    .Modal__close {
      width: 12px;
      height: 12px;
      top: 18px;
      right: 15px;
    }
  }
}
.k-upload .k-dropzone {
  @media (max-width:480px) {
    flex-direction: column;
  }
}
