.about-component {
  padding: 10px 10px 15px;
  margin-bottom: 24px;
  @media (max-width: 560px) {
    padding: 8px;
    margin-bottom: 16px;
  }
  h4 {
    margin-bottom: 16px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #72839C;
    @media (max-width: 560px) {
      font-size: 14px;
      line-height: 18px;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}