.ExhibitionsSearch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 100%;
  background-color: rgba(186, 191, 199, 0.05);
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;

  img {
    position: absolute;
    left: 6px;
    top: 11px;
  }

  input {
    display: flex;
    flex: 1;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    border-width: 0;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    padding-left: 29px;

    &::placeholder {
      color: #babfc7;
    }
  }
  &__cancel {
    background: url(/static/icons/cross.svg) center no-repeat;
    outline: none;
    border: none;
    margin-right: 5px;
    cursor: pointer;
  }
}
