.ClubGallery {
    &__content {
        width: 100%;
        order: 1;
        @media (max-width: 990px) {
            margin-left: 0;
        }
        &-wrap {
            display: flex;
            justify-content: space-between;
            @media (max-width: 990px) {
                display: block;
            }
            p span:last-child {
                color: #61797c;
            }
        }
        .Card {
            padding: 12px;
        }
    }
    &__info {
        width: 300px;
        min-width: 300px;
        @media (max-width: 990px) {
            width: 100%;
            min-width: unset;
        }
    }
    &__upload {
        height: 200px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        &:hover {
            cursor: pointer;
        }
        @media (max-width: 560px) {
            height: 125px;
        }
    }
    &__buttons {
        text-align: right;
        margin-top: 24px;
    }
    &__delete-button {
        color: red;
        border-color: red;
    }
    &__back {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .btn {
            font-size: 16px;
            padding: 10px 34px;
            color: white;
            font-size: 16px;
            line-height: 24px;
            @media (max-width: 560px) {
                width: 100%;
                text-align: center;
                margin: 12px 0 0;
            }
        }

        a {
            font-size: 24px;
            line-height: 32px;
            text-decoration: none;
            color: #253c5e;
            span {
                font-size: 32px;
            }
        }
    }
}
.NewsPage {
    &__endMessage {
        margin: 20px 0;
        text-align: center;
        font-weight: normal;
    }
    .infinite-scroll-component,
    .infinite-scroll-component__outerdiv {
        overflow: visible !important;
    }
}
