.specialists-page {
  display: flex;
  @media (max-width: 1079px) {
    display: block;
  }
  @media (max-width: 560px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  &__wrap {
    background: var(--background);
    & + .Footer {
      display: none;
    }
  }
  &__mobile-only {
    display: none;
    @media (max-width: 1079px) {
      display: block;
    }
  }
  &__filters {
    margin: 0 16px 0 0;
    @media (max-width: 1079px) {
      margin: 0;
    }
  }
  &__content {
    width: calc(100% - 314px);
    max-width: 870px;
    @media (max-width: 1080px) {
      width: 100%;
      max-width: 100%;
    }
  }
  &__list-filter {
    width: 100%;
    padding: 10px 10px 0;
    border-radius: 6px;
    position: sticky;
    top: 15px;
    background: white;
    z-index: 2;
    box-shadow: 0 2px 10px rgba(51, 102, 255 ,0.05), 0 4px 30px rgba(51, 102, 255, 0.1);

    h4{
      padding-left: 15px;
      margin-left: 0;
    }
  }
  &__top-wrap {
    margin: 50px auto -50px;
    @media (max-width: 560px) {
      margin: 45px auto -45px;
    }
    .top-component {
      margin-bottom: 0;
    }
  }
  &__club-banner {
    padding: 0;
    border: 1px solid #e8e8e8;
    background-image: url("/static/images/noimg/empty-gallery.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    overflow: hidden;
    &.Card {
      margin-bottom: 16px;
      @media (max-width: 560px) {
        margin-bottom: 12px;
      }
    }
    & > div {
      height: 235px;
      margin: auto;
      object-fit: cover;
      width: 100%;
      max-width: none;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      @media (max-width: 560px) {
        height: 25vw;
      }
    }
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__control {
    display: inline-flex;
    align-items: center;
    padding: 0;
    border: none;
    margin: 10px 0 10px 20px;
    letter-spacing: 0.2px;
    color: #72839c;
    transition: color 0.2s linear;
    position: relative;
    &:hover {
      color: #3366ff;
    }
    &--tableIcon {
      z-index: 99;
    }
    &--tableIcon:before {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 10px;
      background: url(/static/icons/tableIcon.svg) no-repeat center / cover;
    }
    &--backIcon:before {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 10px;
      background: url(/static/icons/backIcon.svg) no-repeat center / cover;
    }
    &--downloadIcon {
      z-index: 99;
    }
    &--downloadIcon:before {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 10px;
      background: url(/static/icons/downloadIcon.svg) no-repeat center / cover;
    }
  }
  &__checkbox-wrap {
    display: flex;
    justify-content: flex-start;
  }
}
