.registration-page {
  &__message {
    margin-top: 24px;
    text-align: center;
    &._error {
      color: #FA5D50;
    }
  }
  &__login{
    margin: 20px 0;
    padding: 0 10px;
    &-link{
      text-decoration: none;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__title {
    text-align: center;
    font-size: 38px;
    line-height: 42px;
    font-weight: bold;
    margin: 0 0 18px;
  }
  &__tabs {
    width: 100%;
    max-width: 572px;
    margin: 0 auto 24px;
    &-controls {
      display: flex;
      margin-bottom: 24px;
      @media (max-width: 560px) {
        padding: 0 12px;
        justify-content: center;
      }
    }
  }
  &__tab {
    width: 50%;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #ccc;
    cursor: pointer;
    position: relative;
    transition: all 0.2s linear;
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: transparent;
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: -1px;
      transition: background-color 0.2s linear;
    }
    &._active {
      color: #253c5e;
      border-bottom-color: #253c5e;
      &:after {
        background-color: #253c5e;
      }
    }
    &._disabled {
      cursor: default;
    }
    @media (max-width: 560px) {
      width: auto;
      padding: 0 6px 10px;
    }
  }
  &__support-links {
    font-weight: normal;
    border-top: 1px solid #ccc;
    margin: 24px 0 10px;
    padding: 12px 10px 0;
    p {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      margin-bottom: 10px;
      background: url("/static/icons/registration/info.svg") left center/contain no-repeat;
      padding-left: 25px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
