.UserEdit {
    .MainInfo {
        .form-row {
            .k-form-field {
                margin-top: 0;
            }
            .no-label-field {
                align-self: flex-end;
            }
        }
    }
    .k-form-legend {
        text-transform: none !important;
        font-size: 18px !important;
    }
}