.DocItem {
    &.error {
        outline: 1px solid red;
    }
    &__chevron {
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        cursor: pointer;
        transform: rotate(0deg);
        transition: .2s transform;
        &.active {
            transform: rotate(-90deg);
        }
    }
    &.collapse {
        display: none;
    }
    &.active {
        display: table-row;
    }
    &.active .card {
        margin-bottom: 1em;
        margin-top: .5em;
    }
    .plus-button {
        position: relative;
        left: 7.5px;
    }
    &__calendar-nursery {
        margin-top: 10px;
        height: 50px;
        .k-input {
            margin-top: 10px;
            margin-left: 5px;
        }
    }
}
