.HomePage {
  &__wrap {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 24px;
  }

  &__content {
    flex: 2;
    margin-right: 40px;
    .btn {
      font-weight: normal;
      letter-spacing: 0.2px;
    }
  }

  &__side {
    flex: 1;
  }
}

.container.home {
  margin-top: 70px;
}

.NewsFeed {
  &__sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 352px;
    min-width: 310px;
    height: 470px;
    background: rgba(51, 102, 255, 0.2);
    color: #253c5e;
    border-radius: 6px;
    padding: 26px 32px;
    margin-left: 5px;
    h3 {
      margin: 0;
    }
    p {
      margin: 16px 0 40px;
      font-weight: normal;
      letter-spacing: 0.2px;
    }
  }
  &__contacts {
    margin-top: 12px;
    span {
      display: block;
      margin-bottom: 12px;
      letter-spacing: 0.2px;
      font-weight: normal;
      padding-left: 30px;
    }
    &--pin {
      background: url(/static/icons/public/pin.svg) -8px 50% no-repeat;
    }
    &--phone {
      background: url(/static/icons/public/phone.svg) -8px 50% no-repeat;
    }
    &--email {
      background: url(/static/icons/public/email.svg) -8px 50% no-repeat;
    }
    &--web {
      background: url(/static/icons/public/web.svg) -8px 50% no-repeat;
    }
  }
}

.Card {
  .text-upper {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin: 0 0 16px;
  }
}
