.ImagePreview {
  img {
    max-width: 100%;
    max-height: 100%;
  }

  &__full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    img{
      max-width: 600px;
      max-height: 400px;
    }
  }
}