.events-filter {
  margin-bottom: 16px;
  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2px;
    color: #253c5e;
    flex-grow: 1;
    border-right: 1px solid #72839C;
  }
  &__wrap {
    margin-top: 12px;
    border-top: 1px solid #e8e8e8;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &__chevron {
    width: 24px;
    height: 24px;
    background: url("/static/icons/chevron-down-light.svg") no-repeat center;
    transition: all .2s linear;
    margin-left: 4px;
    &:hover {
      background: url("/static/icons/chevron-down-blue.svg") no-repeat center;
    }
    &._dropdown_open {
      transform: rotate(180deg);
    }
  }
  &__list {
    list-style: none;
    padding: 12px 0;
    max-height: 180px;
    overflow-y: auto;
  }
  &__item {
    background-color: transparent;
    cursor: pointer;
    transition: background-color .2s linear;
    &:hover {
      background-color: #DEEBFF;
    }
    .custom-checkbox__label {
      width: 100%;
    }
  }
  &__no-options {
    padding: 12px 0;
    text-align: center;
    color: #ccc;
  }
  .dropdown__filters {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(-10px);
    }
    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }
    &-exit {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }
    &-exit-active {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.2s, transform 0.2s;
    }
  }
}