.home-page {
  &__news {
    @media (max-width: 560px) {
      padding: 0 16px;
    }
  }
  &__news-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
    @media (max-width: 560px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  h3 {
    margin-bottom: 12px;
  }
  &__projects {
    a {
      display: block;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    &-wrap {
      @media (max-width: 560px) {
        display: none;
      }
    }
  }
  &__map {
    height: 300px;
    &-wrap {
      @media (max-width: 560px) {
        display: none;
      }
    }
  }
  &__right {
    h3 {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }
    h4 {
      margin: 12px 0 8px;
    }
    &-wrap {
      @media (max-width: 1220px) {
        margin-top: 0 !important;
      }
      &--fixed {
        @media (min-width: 1220px) {
          position: fixed;
          max-width: 368px;
        }
      }
    }
    &-map {
      display: none;
      a {
        color: #253c5e;
        text-decoration: none;
      }
      @media (max-width: 560px) {
        display: block;
      }
    }
    &-socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      a {
        width: 20px;
        height: 20px;
      }
      @media (max-width: 768px) {
        order: -1;
        margin-bottom: 16px;
      }
    }
    &.side {
      margin-left: 40px;
      width: 368px;
      z-index: 2;
      @media (max-width: 1220px) {
        width: 100%;
      }
      @media (max-width: 990px) {
        width: 650px;
        margin-left: 0;
      }
      @media (max-width: 768px) {
        width: 100%;
        margin: 0 0 40px;
      }
      @media (max-width: 560px) {
        margin: 0;
      }
    }
    .Card {
      background-color: white;
      padding: 16px;
      margin-bottom: 24px;
      h3 {
        margin-bottom: 24px;
      }
      &:not(:last-child) {
        h3 {
          margin-bottom: 8px;
        }
        @media (max-width: 560px) {
          margin-bottom: 8px;
        }
      }
      @media (max-width: 1220px) {
        min-height: 0;
      }
      @media (max-width: 560px) {
        padding: 16px;
        h3 {
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 8px;
        }
        p {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
  &__partners {
    @media (max-width: 560px) {
      padding: 0;
    }
  }
}
.Homepage {
  &__news {
    &-title {
      padding: 4px 0;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #253c5e;
      margin: 0 10px 0 0;
      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 12px;
      }
      @media (max-width: 560px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 6px;
        padding-bottom: 0;
      }
      &-wrap {
        display: flex;
        align-items: center;
        margin: 0 -10px;
        padding: 0 10px;
        @media (min-width: 1220px) {
          position: sticky;
          top: 50px;
          background: white;
          z-index: 1;
        }
        @media (max-width: 560px) {
          position: sticky;
          top: 48px;
          background: white;
          z-index: 1;
        }
        @media (max-width: 375px) {
          overflow-x: scroll;
          margin-right: -10px;
        }

        .ListFilter {
          display: flex;
          list-style: none;
          &__wrap {
            overflow-x: hidden;
            @media (max-width: 560px) {
              margin-right: -16px;
            }
          }
          li {
            a,
            span {
              display: block;
              margin: 0;
              padding: 2px 5px 0 5px;
              line-height: 18px;
              //background: #ebf0f2;
              //border-radius: 4px;
              font-weight: 600;
              font-size: 16px;
              letter-spacing: 0.2px;
              color: #72839c;
              text-decoration: none;
              white-space: nowrap;
              transition: all 0.2s linear;
              border-bottom: 2px solid transparent;
              &.active {
                //color: white;
                //background: #3366ff;
                border-bottom: 2px solid #3366ff;
              }
            }
          }
        }
      }
    }
  }
  &__partners,
  &__exhibitions,
  &__map {
    list-style: none;
    &-title {
      text-decoration: none;
    }
    &-header {
      padding: 40px 0 32px 0;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      a {
        color: #253c5e;
      }
      @media (max-width: 768px) {
        padding: 0;
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 12px;
      }
      @media (max-width: 560px) {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        padding: 0 16px;
        margin-bottom: 8px;
      }
    }
    &-list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li:not(:last-child) a {
        margin-right: 16px;
      }
      a {
        display: block;
        img {
          display: block;
          height: 100%;
        }
      }
    }
  }
  &__partners-wrap {
    overflow-x: hidden;
    margin-bottom: 80px;
    @media (max-width: 1220px) {
      a {
        height: 60px;
      }
    }
    @media (max-width: 768px) {
      a {
        height: 48px;
      }
    }
    @media (max-width: 630px) {
      a {
        height: 38px;
      }
    }
    @media (max-width: 560px) {
      margin-bottom: 40px;
      padding-left: 16px;
    }
  }
  &__exhibitions,
  &__map {
    &-header {
      padding-top: 0;
    }
    &-list {
      justify-content: space-between;
      li:not(:last-child) a {
        margin-right: 40px;
      }
      @media (max-width: 768px) {
        align-items: flex-end;
        justify-content: flex-start;
        li:not(:last-child) a {
          margin-right: 32px;
        }
      }
      a {
        @media (max-width: 768px) {
          max-height: 70px;
          img {
            max-height: 70px;
          }
        }
        @media (max-width: 630px) {
          img {
            height: 70px;
            min-height: 70px;
          }
          &:not(:nth-child(2)) img {
            height: 52px;
            min-height: 52px;
          }
        }
      }
    }
  }
  &__exhibitions-wrap {
    overflow-x: hidden;
    margin-bottom: 80px;
    @media (max-width: 560px) {
      margin-bottom: 40px;
      padding-left: 16px;
    }
  }
  &__map {
    &-wrap {
      width: 100%;
      height: 400px;
      margin-bottom: 80px;
      iframe {
        height: 100%;
        width: 100%;
        border: none;
      }
      @media (max-width: 768px) {
        padding: 0;
        margin-bottom: 0;
      }
    }
  }
}
