.home-page {
  &__news {
    @media (max-width: 560px) {
      padding: 0 16px;
    }
  }
  &__news-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
  }
  h3 {
    margin-bottom: 12px;
  }
  &__projects {
    p {
      display: block;
      background-color: #fff;
      border-radius: 6px;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      padding: 15px;
      span {
        display: block;
      }
      a {
        margin-top: 4px;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
      }
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      @media (max-width: 560px) {
        background-color: transparent;
        padding: 0;
        text-align: left;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        span {
          display: inline-block;
          &:after {
            content: ":";
            margin-right: 4px;
          }
        }
      }
    }
  }
  &__right {
    &.side {
      margin-left: 40px;
      width: 368px;
      @media (max-width: 1220px) {
        width: 100%;
      }
      @media (max-width: 990px) {
        width: 650px;
        margin-left: 0;
      }
      @media (max-width: 768px) {
        width: 100%;
        margin: 0 0 40px;
      }
    }
    .Card {
      background-color: rgba(51, 102, 255, 0.1);
      padding: 26px 32px;
      h3 {
        margin-bottom: 24px;
      }
      &:not(:last-child) {
        margin-bottom: 24px;
        h3 {
          margin-bottom: 8px;
        }
        @media (max-width: 560px) {
          margin-bottom: 8px;
        }
      }
      @media (max-width: 1220px) {
        min-height: 0;
      }
      @media (max-width: 560px) {
        padding: 16px;
        h3 {
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 8px;
        }
        p {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
  &__partners {
    @media (max-width: 560px) {
      padding: 0;
    }
  }
}
.Homepage {
  &__news {
    &-title {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: #253c5e;
      margin: 0 0 18px;
      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 12px;
      }
      @media (max-width: 560px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
  }
  &__partners,
  &__exhibitions,
  &__map {
    list-style: none;
    &-header {
      padding: 40px 0 32px 0;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: #253c5e;
      @media (max-width: 768px) {
        padding: 0;
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 12px;
      }
      @media (max-width: 560px) {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        padding: 0 16px;
        margin-bottom: 8px;
      }
    }
    &-list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li:not(:last-child) a {
        margin-right: 16px;
      }
      a {
        display: block;
        img {
          display: block;
          height: 100%;
        }
      }
    }
  }
  &__partners-wrap {
    overflow-x: hidden;
    margin-bottom: 80px;
    @media (max-width: 1220px) {
      a {
        height: 60px;
      }
    }
    @media (max-width: 768px) {
      a {
        height: 48px;
      }
    }
    @media (max-width: 630px) {
      a {
        height: 38px;
      }
    }
    @media (max-width: 560px) {
      margin-bottom: 40px;
      padding-left: 16px;
    }
  }
  &__exhibitions,
  &__map {
    &-header {
      padding-top: 0;
    }
    &-list {
      justify-content: space-between;
      li:not(:last-child) a {
        margin-right: 40px;
      }
      @media (max-width: 768px) {
        align-items: flex-end;
        justify-content: flex-start;
        li:not(:last-child) a {
          margin-right: 32px;
        }
      }
      a {
        @media (max-width: 768px) {
          max-height: 70px;
          img {
            max-height: 70px;
          }
        }
        @media (max-width: 630px) {
          img {
            height: 70px;
            min-height: 70px;
          }
          &:not(:nth-child(2)) img {
            height: 52px;
            min-height: 52px;
          }
        }
      }
    }
  }
  &__exhibitions-wrap {
    overflow-x: hidden;
    margin-bottom: 80px;
    @media (max-width: 560px) {
      margin-bottom: 40px;
      padding-left: 16px;
    }
  }
  &__map {
    &-wrap {
      width: 100%;
      height: 400px;
      margin-bottom: 80px;
      iframe {
        height: 100%;
        width: 100%;
        border: none;
      }
      @media (max-width: 768px) {
        padding: 0;
        margin-bottom: 0;
      }
    }
  }
}
