.home-page {
  &__wrap {
    background: var(--background);
    padding-top: 20px;
    .infinite-scroll-component {
      overflow: visible !important;
    }
    & + footer {
      display: none;
    }
  }
  &__about {
    h3 {
      padding-bottom: 10px;
      border-bottom: 1px solid #e8e8e8;
      & + p {
        margin-top: 10px;
        line-height: 20px;
      }
    }
    @media (max-width: 1100px) {
      flex-basis: 50%;
      margin-right: 16px;
    }
    @media (max-width: 660px) {
      margin-right: 0;
    }
  }
  &__tablet-inner {
    @media (max-width: 1100px) {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;  
    }
    @media (max-width: 660px) {
      display: block;
    }
  }
  &__tablet-wrap {
    @media (max-width: 1100px) {
      display: flex;
    }
    @media (max-width: 660px) {
      display: block;
    }
  }
  &__news-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
    @media (max-width: 1100px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__projects {
    margin-top: 3px;
    a {
      display: block;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    &-wrap {
      @media (max-width: 1100px) {
        display: none;
      }
      h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
  &__map {
    height: 300px;
    margin-top: 16px;
    &-wrap {
      @media (max-width: 1100px) {
        display: none;
      }
      h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid #e8e8e8;
        a {
          color: #253C5E;
          text-decoration: none;
          &:hover {
            color: #3366ff;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__copy {
    &-wrap {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #72839c;
      @media (max-width: 1100px) {
        display: none;
      }
    }
  }
  &__right {
    margin-right: 16px;
    width: 302px;
    min-width: 302px;
    z-index: 2;
    @media (max-width: 1080px) {
      width: 100%;
      min-width: auto;
      margin: 0;
    }
    h3 {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }
    h4 {
      margin: 12px 0 8px;
    }
    &-wrap {
      padding-bottom: 16px;
      @media (max-width: 1100px) {
        margin-top: 0 !important;
        padding-bottom: 1px;
      }
      @media (max-width: 560px) {
        margin-bottom: -13px;
      }
    }
    &-map {
      display: none;
      a {
        color: #253c5e;
        text-decoration: none;
      }
      @media (max-width: 560px) {
        display: block;
      }
    }
    &-socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      margin-top: 10px;
      a {
        &:first-child {
          width: 10px;
        }
        width: 20px;
        height: 20px;
      }
      @media (max-width: 768px) {
        order: -1;
        margin-bottom: 16px;
      }
    }
    .Card {
      background-color: white;
      padding: 10px;
      margin-bottom: 16px;
      h3 {
        margin-bottom: 0;
      }
      @media (max-width: 1220px) {
        min-height: 0;
      }
      @media (max-width: 560px) {
        padding: 16px;
        h3 {
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 8px;
        }
        p {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
  &__partners {
    @media (max-width: 560px) {
      padding: 0;
    }
  }
  h3 {
    margin-bottom: 10px;
  }
}