.home-page {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1220px) {
    flex-wrap: wrap;
  }
  @media (max-width: 990px) {
    display: block;
  }
  h3 {
    margin-bottom: 12px;
  }
  &__left {
    margin: 24px 24px 0 0;
    flex-grow: 1;
    .Card {
      background-color: rgba(51, 102, 255, 0.1);
    }
    @media (max-width: 1220px) {
      max-width: 400px;
      width: 33.33%;
    }
    @media (max-width: 990px) {
      display: none;
    }
    //@media (max-width: 768px) {
    //  width: 100%;
    //}
    //@media (max-width: 560px) {
    //  margin: 12px 0;
    //}
    h3 {
      text-align: center;
    }
  }
  &__contacts {
    margin-top: 77px;
    p {
      margin-bottom: 3px;
    }
  }
  &__right {
    margin: 24px 0 0 24px;
    .Card {
      background-color: rgba(51, 102, 255, 0.1);
      @media (max-width: 1220px) {
        min-height: 0;
      }
    }
    @media (max-width: 1220px) {
      margin: 0 0 24px;
      width: 100%;
    }
    @media (max-width: 990px) {
      margin: 24px auto;
      width: 600px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 560px) {
      margin: 12px 0;
    }
    h3 {
      text-align: center;
    }
  }
  &__exhibitions {
    a:not(.link) {
      display: block;
      text-align: center;
      margin-bottom: 12px;
      @media (max-width: 480px) {
        display: none;
      }
    }
    &-mobile {
      display: none;
      @media (max-width: 480px) {
        display: block;
        margin-bottom: 8px;
      }
    }
    li:last-child a {
      margin: 0;
    }
    @media (max-width: 1220px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media (max-width: 990px) {
      display: initial;
    }
    &-title {
      text-align: center;
      font-size: 21px;
    }
  }
  &__partners {
    list-style: none;
    a:not(.link) {
      display: block;
      text-align: center;
      margin-bottom: 12px;
      @media (max-width: 480px) {
        display: none;
      }
    }
    &-mobile {
      display: none;
      @media (max-width: 480px) {
        display: block;
        margin-bottom: 8px;
      }
    }
    @media (max-width: 1220px) {
      display: flex;
    }
    @media (max-width: 990px) {
      justify-content: space-between;
    }
    @media (max-width: 480px) {
      display: block;
    }
    &-item {
      @media (max-width: 1220px) {
        &:not(:last-child) {
          margin-right: 48px;
        }
      }
      @media (max-width: 990px) {
        &:not(:last-child) {
          margin-right: 6px;
        }
      }
      @media (max-width: 480px) {
        margin: 0;
      }
    }
  }
  .news {
    width: 600px;
    min-width: 600px;
    flex-grow: 2;
    @media (max-width: 990px) {
      margin: 24px auto;
    }
    @media (max-width: 768px) {
      width: 100%;
      min-width: auto;
    }
    @media (max-width: 560px) {
      margin: 12px 0;
    }
  }
}
