.Partners {
  padding: 0 48px;
  margin-bottom: 20px;
  &__row {
    display: flex;
    justify-content: flex-start;
    h3 {
      white-space: nowrap;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }
    &-item {
      width: 139px;
      text-align: center;
      margin-left: 50px;
    }
  }
}
