.add-article {
  padding: 10px;
  margin-bottom: 24px !important;

  @media (max-width: 700px) {
    padding: 0 10px 0 10px;
  }

  @media (max-width: 560px) {
    margin-bottom: 12px !important;
  }

  &__help {
    text-align: right;
  }
}

.ArticleCreateForm {
  position: relative;

  textarea {
    resize: initial;
  }

  ._textarea_focus {
    #content {
      border-bottom: 1px solid #ebf0f2;
      border-radius: 0;
    }
  }

  .custom-checkbox {
    margin-left: 20px;

    @media (max-width: 700px) {
      position: relative;
      top: -4px;
      left: -8px;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    flex-grow: 1;

    #content {
      border: 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      padding: 7px 16px 7px 0;

      &:empty {
        height: auto !important;
      }

      @media (max-width: 560px) {
        width: 100%;
        font-size: 14px;
      }
    }

    .FormInput--text {
      flex-grow: 1;
      margin: 0 0 0 12px;

      @media (max-width: 700px) {
        margin: 0;
      }
    }

    .FormInput--error .FormInput__error {
      display: none;
    }
  }

  &__length-hint {
    display: flex;
    justify-content: flex-end;
  }

  &__content-length {
    color: #253C5E;
  }

  &__controls {
    padding-left: 10px;
    align-items: center;

    @media (max-width: 700px) {
      position: relative;
      top: -1px;
    }

    &._focus {
      margin-left: 43px;
      display: flex;
      flex-direction: row;

      @media (max-width: 700px) {
        margin-left: 0;
        padding-left: 0;
      }
    }

    &>* {
      margin-right: 15px;

      @media (max-width: 700px) {
        margin-right: 5px;
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;

      @media (max-width: 700px) {
        margin-top: 12px;
      }
    }
  }

  &__labelfile {
    padding-left: 24px;
    margin-bottom: 0;
    min-height: 24px;
    color: #72839c;
    cursor: pointer;
    position: relative;
    transition: color 0.2s linear;

    @media (max-width: 700px) {
      margin-bottom: 10px;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url("/static/icons/client/attach-image.svg") no-repeat center / cover,
        url("/static/icons/client/attach-image-active.svg") no-repeat center / cover;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &:hover {
      color: #3366ff;

      &:before {
        background: url("/static/icons/client/attach-image-active.svg") no-repeat center / cover;
      }
    }
  }

  &__attach-video,
  &__attach-pdf {
    border: none;
    padding: 0 0 0 28px;
    min-height: 24px;
    position: relative;
    letter-spacing: normal;
    line-height: 20px;
    cursor: pointer;
    color: #72839c;
    transition: color 0.2s linear;

    @media (max-width: 700px) {
      margin-bottom: 10px;
    }

    &:before {
      content: "";
      display: inline-block;
      height: 22px;
      width: 24px;
      background: url("/static/icons/icon-youtube-add-article.svg") no-repeat center / cover,
        url("/static/icons/icon-youtube-add-article-blue.svg") no-repeat center / cover;
      position: absolute;
      background-size: contain;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &:hover {
      color: #3366ff;

      &:before {
        background: url("/static/icons/icon-youtube-add-article-blue.svg") no-repeat center / cover;
        background-size: contain;
      }
    }

    &._disabled {
      opacity: 0.5;
      cursor: default;
      color: #72839c !important;

      &:before {
        background: url("/static/icons/icon-youtube-add-article.svg") no-repeat center / cover !important;
        background-size: contain;
      }
    }
  }

  &__attach-pdf {
    margin-right: 0;
    padding: 0 0 0 20px;

    &:before {
      background: url("/static/icons/icon-pdf.svg") no-repeat center / contain,
        url("/static/icons/icon-pdf-blue.svg") no-repeat center / contain;
      height: 22px;
      width: 24px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &:hover {
      &:before {
        background: url("/static/icons/icon-pdf-blue.svg") no-repeat center / contain;
      }
    }
  }

  .FormControls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media(max-width: 400px) {
      flex-wrap: nowrap;
    }

    .custom-checkbox {
      &__label {
        color: #72839c;
        padding-left: 22px;
      }
    }
  }

  &__button-wrap {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__advert {
    color: #72839C;

    @media (max-width: 767px) {
      display: block;
      margin-bottom: 10px;

      .FormInput:not(:last-child) {
        margin: 0 0 10px;
      }
    }

    .FormInput__input {
      padding: 7px 16px 7px 16px !important;

      &:first-child {
        padding: 0 !important;
      }
    }

    .css-shvkw9-control,
    .css-8rvjbo-control,
    .css-shvkw9-control {
      padding: 1px 0 1px 0 !important;
    }

    #advert_breed_id {
      padding: 0 !important;
    }

    &-wrap {
      margin-top: 20px;
      color: #72839C;

      &._desktop {
        margin-left: 50px;
      }
    }
  }

  &__button {
    color: white !important;
    background: #007bff;
    opacity: 0.7;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    padding: 6px 16px;
    cursor: default;
    height: 38px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    margin: 0 auto;

    &.active {
      background: #007bff;
      box-shadow: 0 4px 8px rgba(51, 102, 255, 0.3);
      opacity: 1;
      cursor: pointer;

      &:hover {
        border-color: #0062cc;
        color: #ffffff;
        background-color: #0069d9;
      }
    }
  }

  &__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .FormInput--file {
    margin-bottom: 6px;
  }

  .ClientAvatar {
    align-self: flex-start;

    @media (max-width: 700px) {
      display: none;
    }
  }

  .ImagePreview {
    text-align: center;
    margin: 16px 0 12px;

    &__wrap {
      position: relative;
    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    img {
      display: block;
      max-height: 680px;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  &__modal {
    &>div {
      max-width: 600px;
    }

    .Modal__header {
      line-height: 1;
      padding-bottom: 8px;
    }

    .Modal__body {
      padding: 12px;
    }

    .Modal__close {
      width: 14px;
      height: 14px;
      top: 14px;
      right: 12px;
    }
  }

  &__documents {
    margin: 16px 0 12px;

    &-title {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 4px;
    }

    &-list {
      list-style: none;
    }

    &-item {
      span {
        vertical-align: middle;
      }

      button {
        vertical-align: middle;
        border: none;
        padding: 0;
        width: 14px;
        height: 18px;
        margin-left: 10px;

        span {
          vertical-align: baseline;
        }

        svg {
          fill: red;
        }
      }
    }
  }
}

#advert_breed_id {
  &>div {
    z-index: 2;
  }
}

._focus {
  display: flex;
  flex-direction: column;
}

._no_focus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.k-chip-filled:focus,
.k-chip-filled.k-chip-focused {
  box-shadow: none !important;
}

.k-chip {
  color: #72839C;
  border: 0 !important;
}

.k-chip-selected {
  background-color: #BFD3F7 !important;
}

.css-1ox0dji-singleValue {
  color: #72839C !important;
}