@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-Heavy-Reg.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Heavy-Reg.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-ExtraBold-Reg.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-ExtraBold-Reg.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-Bold-Reg.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Bold-Reg.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-Medium-Reg.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Medium-Reg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New Demi';
    src: url('/static/fonts/FuturaNew-Demi-Reg.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Demi-Reg.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-Light-Reg.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Light-Reg.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New Book';
    src: url('/static/fonts/FuturaNew-Book-Reg.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Book-Reg.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-ExtraBold-Obl.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-ExtraBold-Obl.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-Bold-Obl.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Bold-Obl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-Medium-Obl.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Medium-Obl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
















@font-face {
    font-family: 'Futura New Book';
    src: url('/static/fonts/FuturaNew-Book-Obl.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Book-Obl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}





@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-Heavy-Obl.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Heavy-Obl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}





@font-face {
    font-family: 'Futura New Demi';
    src: url('/static/fonts/FuturaNew-Demi-Obl.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Demi-Obl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Futura New';
    src: url('/static/fonts/FuturaNew-Light-Obl.woff2') format('woff2'),
        url('/static/fonts/FuturaNew-Light-Obl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

