@import './reset';
@import './fonts';
@import '../__shared-sass-vars/typography';

html{
  height: 100%;
}

body{
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color: #253C5E;
  height: 100%;
}

#wrap{
  top:0;
  min-height: 100%;
  //overflow: hidden;
  &.client_layout{
    background-color: #F5F8FF//#f5f6f6;
  }
}

.text-upper{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}

.flex-row{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.centered-block{
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}


