@import './reset';
@import './fonts';

html{
  height: 100%;
}

body{
  font-family: 'Futura New', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #253C5E;
  height: 100%;
}

#wrap{
  top:0;
  min-height: 100%;
  //overflow: hidden;
}

@import '../__shared-sass-vars/typography';