.UserEdit {
    .About {
        .form-row {
            .k-form-field {
                margin-top: 0;
            }
        }
        &__custom-label {
            display: flex;
            align-items: center;
            height: 100%;
        }
        &__custom-plus {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-top: 7px;
            span.k-i-plus-circle {
                font-size: 24px;
                color: #007bff;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__custom-trash {
            padding-top: 4px;
            text-align: center;
            & > span {
                max-width: 100%;
                color: red;
                font-size: 24px;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
        .FormEditorTextarea {
            border-radius: 6px;
            &__counter {
                color: #72839c;
            }
        }
    }
}
