.FormEditorTextarea {
    .k-button-icon {
        background-image: url('/static/icons/icon-italic.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    .k-group-start {
        background-image: url('/static/icons/icon-bold.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    .k-group-end {
        background-image: url('/static/icons/icon-underline.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    .k-icon {
        display: none !important;
    }
}