.PublicationSearch {
    &__filters {
        display: flex;
        width: calc(100% - 32px);
        @media (max-width: 1079px) and (min-width: 561px) {
            width: calc(100% - 217px);
        }
        @media (max-width: 560px) {
            flex-direction: column;
        }
        & > div {
            //width: 50%;
            flex-grow: 1;
            @media (max-width: 560px) {
                width: 100%;
                padding: 0;
            }
            &:first-child {
                padding-right: 6px;
                @media (max-width: 560px) {
                    padding-right: 0;
                }
            }
        }
        &-title {
            margin-bottom: 3px;
            color: #253C5E!important;
        }
    }
    &__text_wrap {
        @media (min-width: 1080px) {
            display: flow-root;
        }
    }
    &__price {
        position: relative;
        top: 15px;
        margin-top: 10px;
        color: #253C5E!important;
    }
    .user-news {
        margin-bottom: 24px;
        @media (max-width: 560px) {
            margin-bottom: 12px;
        }
        &__content {
            text-align: center;
            padding: 8px;
        }
        &__text {
            padding: 8px;
            font-weight: normal;
        }
    }
    .infinite-scroll-component {
        overflow: visible!important;
      }
    .search-form {
        @media (max-width: 560px) {
            display: block;
        }
    }
    .search-form__wrap-with_but .search-form__button{
        margin: 20px 0 0 6px;
    }
    .search-form__wrap-with_but {
        margin-right: 0;
        @media (max-width: 738px) {
            input {
                margin-top: 0;
                gap: 5px;
            }
            .search-form__button {
                margin-top: 5px;
            }
        }
    }
    .search-form__wrap{
        margin-bottom: 0;
    }
    .search-form div:first-of-type {
        @media (max-width: 738px) {
            input {
                width: calc(100% - 26px);
            }
        }
    }
    .search-form__input{
        margin: 17px 0 6px 0;
    }
    .search-form__cancel{
        top: 36px;
    }
}
.Card._active_card {
    box-shadow: 0 6px 12px #3366ff;
    transition: all 0.2s linear;
}
.k-multiselect-wrap,
.k-floatwrap {
    border: 1px solid lightgray !important;
    border-radius: 6px !important;
}