@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-ExtraLightIt.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-Light.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-Light.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-LightIt.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-LightIt.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-Regular.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-It.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-Semibold.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-SemiboldIt.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-Bold.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-BoldIt.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-BoldIt.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-Black.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('/static/fonts/SourceSansPro/EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
    url('/static/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-BlackIt.ttf.woff2') format('woff2'),
    url('/static/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
    url('/static/fonts/SourceSansPro/OTF/SourceSansPro-BlackIt.otf') format('opentype'),
    url('/static/fonts/SourceSansPro/TTF/SourceSansPro-BlackIt.ttf') format('truetype');
}

//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-Regular.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-Regular.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-SemiBold.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-SemiBold.woff') format('woff');
//    font-weight: 600;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-LightItalic.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-LightItalic.woff') format('woff');
//    font-weight: 300;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-Italic.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-Italic.woff') format('woff');
//    font-weight: normal;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-Bold.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-Bold.woff') format('woff');
//    font-weight: bold;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-BoldItalic.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-BoldItalic.woff') format('woff');
//    font-weight: bold;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-BlackItalic.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-BlackItalic.woff') format('woff');
//    font-weight: 900;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-ExtraLight.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-ExtraLight.woff') format('woff');
//    font-weight: 200;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-SemiBoldItalic.woff') format('woff');
//    font-weight: 600;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-Black.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-Black.woff') format('woff');
//    font-weight: 900;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-ExtraLightItalic.woff') format('woff');
//    font-weight: 200;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'Source Sans Pro';
//    src: url('/static/fonts/SourceSansProGooF/SourceSansPro-Light.woff2') format('woff2'),
//        url('/static/fonts/SourceSansProGooF/SourceSansPro-Light.woff') format('woff');
//    font-weight: 300;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'fontello';
//    src: url('/static/fonts/Fontello/fontello.eot?32364516');
//    src: url('/static/fonts/Fontello/fontello.eot?32364516#iefix') format('embedded-opentype'),
//    url('/static/fonts/Fontello/fontello.woff2?32364516') format('woff2'),
//    url('/static/fonts/Fontello/fontello.woff?32364516') format('woff'),
//    url('/static/fonts/Fontello/fontello.ttf?32364516') format('truetype'),
//    url('/static/fonts/Fontello/fontello.svg?32364516#fontello') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}
//
//[class^="icon-"]:before, [class*=" icon-"]:before {
//    font-family: "fontello";
//    font-style: normal;
//    font-weight: normal;
//    speak: none;
//    display: inline-block;
//    text-decoration: inherit;
//    width: 1em;
//    margin-right: .2em;
//    text-align: center;
//    font-variant: normal;
//    text-transform: none;
//    line-height: 1em;
//    margin-left: .2em;
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//}
//
//.icon-right-open:before { content: '\e800'; }