@import "./reset";
@import "./fonts";

html {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color: #253c5e;
  height: 100%;
  background-color: white;
}

#wrap {
  top: 0;
  height: 100%;
}

/* maintenance-message */
#maintenance-message {
  text-align: center;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  position: fixed;
  z-index: 100;
  opacity: 0.8;
  width: 100%;
}
#wrap {
  padding-top: 20px !important;
}
.header {
  padding-top: 20px !important;
  &__nav {
    .click-guard {
      top: 90px !important;
      @media (max-width: 560px) {
        top: 68px !important;
      }
    }
  }
}
/* maintenance-message */
