@import "./reset";
@import "./fonts";

html {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color: #253c5e;
  height: 100%;
  background-color: white;
}

#wrap {
  top: 0;
  height: 100%;
}