$blue-color: invert(52%) sepia(84%) saturate(6200%) hue-rotate(218deg) brightness(101%) contrast(102%);

.Notifications {
    display: flex;
    align-items: center;
    height: 50px;
    @media (min-width: 560px) {
        position: relative;
    }
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 22px;
        margin-right: 35px;
        font-size: 13px;
        color: #979797;
        background-position: top center;
        background-repeat: no-repeat;
        cursor: pointer;
        background-image: url("/static/new-icons/notifications/bell.svg");
        background-size: 20px 23px;
        line-height: 22px;
        margin-top: 6px;
        @media (max-width: 1080px) {
            margin-right: 5px;
        }
        &:hover {
            filter: $blue-color;
            @media (max-width: 1080px) {
                filter: none;
            }
        }
        &._active {
            filter: $blue-color;
        }
        &-wrap {
            position: relative;
            top: 2px;
        }
        &-dot {
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: red;
            top: -2px;
            right: 58px;
            border: 3px white solid;
            box-sizing: content-box;
            @media (max-width: 1080px) {
                top: -2px;
                right: 30px;
            }
        }
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        height: 79px;
        background: url("/static/images/notifications/title-bg.jpg") center center/cover no-repeat;
        a {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: #ffffff;
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            align-self: stretch;
            flex-grow: 1;
            &:hover {
                backdrop-filter: blur(2px);
            }
        }
        &-inner {
            position: absolute;
            right: 2px;
            left: 50px;
            top: 42px;
            z-index: 1;
            box-shadow: 0px 0px 4px rgba(51, 102, 255, 0.3);
            background: white;
            border-radius: 5px;
            padding: 15px;
        }
    }
    &__tabs {
        margin: 15px 0 0;
        & .NotificationCategories {
            display: flex;
            border-bottom: 1px solid #e5e5e5;
            &__item {
                width: 33.3%;
                &:nth-child(1) {
                    color: #51dea3;
                    .NotificationCategories__item-count {
                        background: #51dea3;
                    }
                }
                &:nth-child(2) {
                    color: #ff6977;
                    .NotificationCategories__item-count {
                        background: #ff6977;
                    }
                }
                &:nth-child(3) {
                    color: #5097ff;
                    .NotificationCategories__item-count {
                        background: #5097ff;
                    }
                }
                &-inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    margin: auto;
                    cursor: pointer;
                    padding-bottom: 12px;
                    border-bottom: 3px solid transparent;
                    font-size: 17px;
                    line-height: 17px;
                }
                &._active .NotificationCategories__item-inner {
                    border-bottom: 3px solid #3366ff;
                }
                &-icon {
                    width: 18px;
                    height: 18px;
                    margin-left: 8px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    @media (max-width: 424px) {
                        display: none;
                    }
                }
                &-name {
                    margin: 0 8px;
                }
                &-count {
                    padding: 3px 7px 5px;
                    color: white;
                    border-radius: 12px;
                    line-height: 1;
                    font-size: 12px;
                    margin-right: 8px;
                    @media (max-width: 424px) {
                        display: none;
                    }
                }
            }
        }
    }
    &__content {
        position: absolute;
        right: 0px;
        top: 58px;
        z-index: 1;
        box-shadow: 0px 0px 4px rgba(51, 102, 255, 0.3);
        background: white;
        width: 476px;
        border-radius: 5px;
        @media (max-width: 1080px) {
            right: 15px;
        }
        @media (max-width: 560px) {
            right: 15px;
            left: 15px;
            top: 64px;
            width: calc(100% - 30px);
        }
        & > div:first-child {
            position: relative;
            padding: 10px 10px 0;
        }
    }
    &__list {
        padding: 0 0 7px 0;
        &-wrap {
            height: 378px;
            overflow: hidden;
            .Loading__title {
                margin: 220px auto;
            }
        }
        &-inner {
            max-height: 308px;
            min-height: 308px;
            overflow-x: auto;
            border-bottom: 1px solid #e5e5e5;
            scrollbar-color: #c5d0db transparent;
            scrollbar-width: thin;
            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background: #c5d0db;
                border-radius: 3px;
            }
            .NotificationItem {
                display: flex;
                font-size: 14px;
                line-height: 18px;
                padding: 4px 10px 8px 10px;
                cursor: pointer;
                &.nothing-found {
                    padding: 64px 10px;
                    min-height: 307px;
                    text-align: center;
                    cursor: default;
                    display: block;
                    h4 {
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: normal;
                    }
                }
                &.end-message {
                    padding: 10px 0 0 0;
                    text-align: center;
                    cursor: default;
                    display: block;
                    h4 {
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: normal;
                    }
                }
                &:not(.nothing-found):not(.end-message) {
                    border-bottom: 1px solid #e5e5e5;
                    &:hover {
                        background: #fafafa;
                    }
                }
                &.unread {
                    background: #f2f5ff;
                    &:hover {
                        background: #eceffb;
                    }
                }
                &__logo {
                    flex-shrink: 0;
                    margin-right: 10px;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    background-color: #e4e4e4;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    &-wrap {
                        padding-top: 3px;
                    }
                }
                &__content {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    max-width: calc(100% - 45px);
                }
                &__header {
                    display: flex;
                    a {
                        display: block;
                        text-decoration: none;
                        color: #72839c;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: color 0.2s linear;
                        &:hover {
                            color: #3366ff;
                        }
                    }
                    span {
                        white-space: nowrap;
                        color: #72839c;
                    }
                }
                &__body {
                    overflow: hidden;
                    max-height: 54px;
                    margin: 5px 0;
                    color: #b9b9b9;
                    a {
                        text-decoration: none;
                        color: #72839c;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: color 0.2s linear;
                        &:hover {
                            color: #3366ff;
                        }
                    }
                    span {
                        white-space: nowrap;
                        color: #72839c;
                    }
                }
            }
        }
        &-see-all {
            display: flex;
            justify-content: center;
            padding: 15px 10px 10px;
            .btn {
                padding: 9px 28px;
            }
            a {
                font-size: 14px;
                line-height: 18px;
                text-decoration: none;
            }
        }
    }
    &-transition {
        &-enter,
        &-appear {
            opacity: 0;
            margin-top: -10px;
        }
        &-enter-active,
        &-appear-active {
            opacity: 1;
            margin-top: 0;
            transition: opacity 0.2s, margin-top 0.2s;
        }
        &-exit {
            opacity: 1;
            margin-top: 0;
        }
        &-exit-active {
            opacity: 0;
            margin-top: -10px;
            transition: opacity 0.2s, margin-top 0.2s;
        }
    }


}
