.UploadedDocuments {
    $font-family: "Source Sans Pro", Helvetica, sans-serif;
    @import "~@progress/kendo-theme-bootstrap/dist/all.scss";
    @import "~bootstrap/scss/bootstrap.scss";
    display: flex;
    @media (max-width: 560px) {
        flex-direction: column-reverse;
    }
    &-item {
        cursor: pointer;
        display: flex;
        align-items: baseline;
        color: #72839c;
        .k-icon-32 {
            font-size: 20px;
        }
        .k-icon {
            position: relative;
            top: 2px;
        }
        &:hover {
            color: #3366ff;
            transition: all 0.2s linear;
        }
        &.active {
            color: #3366ff;
        }
    }
    &-left {
        width: 600px;
        margin-right: 16px;
        flex-shrink: 0;
        @media (max-width: 560px) {
            width: auto;
            margin: 0;
        }
        .Card {
            word-break: break-all;
        }
    }
    &-right {
        flex-grow: 1;
        @media (min-width: 560px) {
            max-width: 250px;
        }
    }
    &__category {
        &-item {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            & > a {
                display: block;
                cursor: pointer;
                align-items: baseline;
                color: #72839c;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                    color: #3366ff;
                    transition: all 0.2s linear;
                }
            }
            &.active {
                & > a {
                    color: #3366ff;
                }
            }
            &:hover {
                & > .UploadedDocuments__category-controls {
                    display: flex;
                    flex-grow: 1;
                    justify-content: space-between;
                }
            }
            &:first-child {
                margin-top: 0;
            }
        }
        &-controls {
            display: none;
            flex-shrink: 0;
        }
    }
    .Card {
        margin: 10px 0 16px 0;
        padding: 12px !important;
        div {
            font-weight: normal;
        }

        @media (max-width: 560px) {
            padding: 16px;
        }
    }
    .k-notification-group {
        right: 8px;
        bottom: 55px;
        @media (max-width: 560px) {
            left: 5px;
            right: 5px;
            top: 48px;
            bottom: auto;
        }
    }
    .k-icon-disabled {
        opacity: 0.6;
    }
    p,
    ul {
        margin: 0;
    }
    a {
        &.k-select {
            &:hover {
                text-decoration: none;
            }
        }
    }
    button {
        &:focus {
            outline: none;
        }
    }
    .user-nav__button {
        border-radius: 50%;
    }

    .UploadedDocuments__category {
        &-add {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover {
                cursor: pointer;
                h3 {
                    color: #3366ff;
                    transition: all 0.2s linear;
                }
            }
            h3 {
                line-height: 1;
                letter-spacing: 0.2px;
                color: #72839c;
                font-size: 16px;
                margin-bottom: 0;
            }
            svg {
                fill: #3366ff !important;
            }
        }
        &-devider {
            margin: 0.5rem 0;
        }
    }
    &__add-btn,
    &__edit-btn,
    &__delete-btn {
        padding: 0;
        border: none;
        width: 24px;
        height: 24px;
    }
    &__edit-btn {
        svg {
            fill: #72839c !important;
        }
    }
    &__delete-btn {
        svg {
            fill: red !important;
        }
    }
    .k-textbox {
        font-size: 15px;
    }
    a:hover {
        text-decoration: none;
    }
    .col-11 {
        @media (max-width: 385px) {
            max-width: 91%;
        }
        & + .col-1 {
            @media (max-width: 385px) {
                padding: 0px 5px;
                max-width: 5%;
            }
        }
    }
    .col-1 {
        @media (max-width: 385px) {
            padding: 0px 5px;
            max-width: 6.5%;
        }
    }
}
