.check-status {
    font-weight: normal;
    min-height: 182px;
    h3 {
        margin-bottom: 20px;
    }
    &__input {
        min-width: 250px;
        border-radius: 6px;
        padding: 5px;
        width: 100%;
        margin-bottom: 10px;
    }
    &__button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;
        button {
            padding: 5px;
            margin-left: 5px;
        }
        .Loading__title {
            margin: 0;
            width: 5em;
            height: 5em;
        }
    }
    &__table {
        width: 100%;
        &-heading {
            text-align: center;
            font-weight: bold;
        }
        td {
            border: 1px solid;
            padding: 5px;
            min-width: 120px;
        }
        @media (max-width: 475px) {
            overflow-x: scroll;
        }
    }
}
