.ExhibitionDocumentList{
 margin: 48px 0;
}
.ExhibitionDocument{
  margin: 6px 0;
  display: flex;
  margin-left: 24px;
  position: relative;

  &:before {
    top: -4px;
    left: -32px;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/icons/ico-document-link.svg");
  }
  a{
    text-decoration: none;
  }
  &__description{
    font-weight: 400;
  }

}