.user-documents {
  & + .Footer {
      display: none;
  }
  &__horizontal-menu {
    padding-top: 76px;
    ul {
      border-radius: 6px;
    }
  }
}
.documents-card__link {
  color: #3366ff;
  font-weight: 600;
  cursor: pointer;
}
.documents-card__link:hover{
  text-decoration: underline;
}