.metrics-doc-page {
    height: 100vh;
    background: #E5E5E5;
    margin-top: 60px;

    @media (max-width: 1080px) {
        margin: 0 10px 60px;
    }

    &__content {
        height: 100%;

        @media (max-width: 1080px) {
            display: flex;
            justify-content: center;
            align-items:center;
        }
    }

    &__iframe {
        width: 100%;
        height: 100%;
        border: none;

        &-wrap {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            overflow: visible;
        }
    }

    & .mobile-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 382px;
        padding: 15px 15px 10px;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgba(120, 153, 255, 0.1);
        border-radius: 5px;

        &__heading {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 18px;
            text-align: center;
        }

        &__icon {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
            background: url(/static/new-icons/open_file.svg);
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items:center;
            width: 154px;
            height: 38px;
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            background: #3366FF;
            border-radius: 4px;
        }
    }
}