.club-page__exhibitions {
  padding: 12px;
  margin-bottom: 24px;
  @media (max-width: 560px) {
    margin-bottom: 12px;
  }
  &-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .4px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  &-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &-item {
    width: 33.33%;
    max-width: 380px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(51,102,255,.08);
    transition: all .2s linear;
    &:hover {
      box-shadow: 0 4px 12px rgba(51,102,255,.16);
    }
    &:not(:last-child) {
      margin-right: 12px;
      @media (max-width: 990px) {
        margin-right: 0;
        margin-bottom: 12px;
      }
    }
    @media (max-width: 990px) {
      width: 100%;
      max-width: none;
    }
  }
  .future-exhibition {
    text-decoration: none;
    @media (max-width: 990px) {
      padding: 12px;
      display: flex;
    }
    @media (max-width: 560px) {
      display: block;
      padding: 0;
    }
    &__img {
      height: 220px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      @media (max-width: 990px) {
        width: 220px;
        min-width: 220px;
        height: 130px;
        margin-right: 12px;
      }
      @media (max-width: 560px) {
        width: 100%;
        min-width: unset;
        height: 150px;
      }
    }
    &__content {
      padding: 12px;
      @media (max-width: 990px) {
        padding: 0;
        width: calc(100% - 232px);
      }
      @media (max-width: 560px) {
        padding: 12px;
        width: 100%;
      }
    }
    &__title {
      color: #253c5e;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0;
      @media (max-width: 560px) {
        font-size: 16px;
      }
    }
    &__description {
      color: #72839c;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0;
      @media (max-width: 990px) {
        white-space: normal;
        text-overflow: clip;
        height: 100px;
      }
      @media (max-width: 560px) {
        white-space: nowrap;
        text-overflow: ellipsis;
        height: auto;
        font-size: 14px;
      }
    }
  }
}