.feedback-component {
  padding: 10px;
  margin-bottom: 16px;
  // @media (max-width: 990px) {
  //   padding: 16px;
  // }
  // @media (max-width: 560px) {
  //   padding: 12px;
  // }
  &__title {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
    text-transform: capitalize;
    @media (max-width: 560px) {
      line-height: 18px;
      letter-spacing: 0.3px;
      margin-bottom: 14px;
    }
  }
  &__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-bottom: 24px;
    @media (max-width: 560px) {
      font-size: 15px;
      line-height: 20px;
      max-width: 354px;
      margin: 0 auto 24px;
    }
  }
  &__button {
    text-decoration: none;
    display: block;
    padding: 11px;
    border: 1px solid #3366FF;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #3366FF !important;
    margin-bottom: 5px;
    @media (max-width: 560px) {
      font-size: 14px;
      line-height: 18px;
      padding: 7px;
    }
  }
}