.feedback-component {
  padding: 32px;
  margin-bottom: 16px;
  &__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-bottom: 24px;
  }
  &__button {
    text-decoration: none;
    display: block;
    padding: 11px;
    border: 1px solid #3366FF;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #3366FF !important;
  }
}