.reports-page {
  &__list {
    @media (max-width: 560px) {
      padding: 16px 8px 8px;
    }
    &-title {
      margin-bottom: 24px;
      @media (max-width: 560px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
      }
    }
    &-controls {
      text-align: right;
      margin-bottom: 24px;
      @media (max-width: 560px) {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
      }
    }
    &-button {
      border: none;
      border-radius: 2px;
      padding: 0 5px;
      font-size: 14px;
      line-height: 20px;
      background-color: #ebf0ff;
      &:not(:last-child) {
        margin-right: 5px;
        @media (max-width: 560px) {
          margin: 0 0 5px;
        }
      }
      @media (max-width: 560px) {
        letter-spacing: normal;
      }
      &._red {
        color: #721c24;
        background-color: #f5c6cb;
      }
      &._yellow {
        color: #856404;
        background-color: #ffeeba;
      }
      &._green {
        color: #0c5460;
        background-color: #bee5eb;
      }
    }
  }
  .ExhibitionsList {
    list-style: none;
    margin-top: 5px;
    padding: 0;
    &__item {
      display: block;
      text-decoration: none;
      margin: 0 0 5px;
      padding: 10px;
      color: #856404 !important;
      background-color: #ffeeba;
      transition: background-color 0.2s linear;
      overflow: hidden;
      &:hover {
        background-color: #ffe8a1;
      }
      &._red {
        color: #721c24 !important;
        background-color: #f5c6cb;
        &:hover {
          background-color: #f1b0b7;
        }
      }
      &._green {
        color: #0c5460 !important;
        background-color: #bee5eb;
        &:hover {
          background-color: #abdde5;
        }
      }
      &._gray {
        color: #383d41 !important;
        background-color: #d6d8db;
        &:hover {
          background-color: #c8cbcf;
        }
      }
      &._expire {
        opacity: 0.45;
      }
      &--last-date {
        float: right;
      }
    }
  }
}
