.documents-page__feedback {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-end;

    .btn {
        position: relative;
        bottom: 65px;
        height: 46px;
        text-align: center;
        background: #3366FF;
        border-radius: 4px;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        transition: all 0.2s linear;
        @media (max-width: 1079px) {
            width: calc(100% - 30px);
            bottom: 0;
            margin: 0 auto;
        }

        &:hover {
            box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
        }

    }

    .hidden-item {
        position: relative;
        height: 46px;
        width: 305px;
        margin: 0 30px 0 16px;
        @media (max-width: 1079px) {
            display: none;
        }
    }
}

.feedback__form {
    &-group{

    }
    &-buttons{
        display: flex;
        justify-content: center;

        .btn+.btn {
            margin-left: 20px;
        }

        .btn {
            width: 150px;
            text-align: center;
            background: #3366FF;
            border-radius: 4px;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            transition: all 0.2s linear;
            &:hover {
                box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
            }
        }
    }
}