.nursery-contacts {
    &__address {
        .FormGroup {
            margin: 0;
            width: 100%;

            .FormInput__error {
                left: 0;
            }

            .FormInput > div {
                width: 100%;
            }

            &--inline:nth-child(1) {
                display: grid;
                grid-template-columns: 58.5% 40%;
                grid-template-rows: 75px;

                .FormInput--select {
                    display: block;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100% !important;
                }
            }

            &--inline:nth-child(2) {
                display: grid;
                grid-template-columns: 58.5% 19% 19%;
                @media (max-width: 560px) {
                    grid-template-columns: 49% 48.5%;
                    grid-template-rows: 34px 34px;
                    gap: 3%;
                    row-gap: 34px;
                    margin-bottom: 40px;
                    &:nth-child(2) {
                        grid-column: 1 / 3;
                    }
                }
            }

            .FormInput--text {
                display: block;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                @media (max-width: 560px) {
                    &:nth-child(1) {
                        grid-column: 1 / 3;
                    }
                }
            }

            label {
                white-space: nowrap;
                margin: 0 0 5px 0 !important;
                padding: 0;
            }

            input {
                width: 100%;
            }
        }
    }

    &__contacts {
        margin-bottom: 15px;

        .Contacts {
            h4 {
                margin-bottom: 15px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #253C5E;
            }

            label[for="is_public"] {
                width: 100%;
                line-height: 18px;

                &:before {
                    height: 18px;
                    width: 18px;
                    top: 0;
                }

                &:after {
                    top: 2px;
                }
            }

            .FormGroup {
                display: grid;
                grid-template-columns: 5% 28% 43% 9% 5%;
                grid-template-rows: 55px;
                gap: 3%;
                @media (max-width: 900px) {
                    grid-template-columns: 5% 37% 35% 7% 5%;
                }
                @media (max-width: 760px) {
                    grid-template-columns: 75% 22%;
                    margin-bottom: 24px;
                }

                .FormInput__input {
                    width: 100%;
                }

                input[type='tel'],
                .FormInput--text {
                    display: block;
                    margin: 0;

                    &:nth-child(1) {
                        grid-column: 2 / 3;
                        @media (max-width: 760px) {
                            grid-column: 1 / 2;
                        }
                    }

                    &:nth-child(2) {
                        @media (max-width: 760px) {
                            grid-column: 1 / 3;
                        }
                    }
                }

                input[type='tel'] {
                    padding: 5px 6px;
                    height: 38px;
                    font-size: 16px;
                    line-height: 24px;
                    border-radius: 6px;
                    border-style: solid;
                    border-width: 2px;
                    border-color: #EBF0F2;
                    background-color: white;
                }
            }

            .FormInput {
                display: inline-block;
                &__error {
                    left: 0;
                    bottom: 0;
                }
            }

            .btn-mini {
                position: absolute;
                top: -43px;
                height: 18px;
                width: 18px;
                margin: 0;
                padding: 0;
                font-size: 0;
                border: none;
                border-radius: 50%;
                background: url("/static/icons/add-blue.svg") no-repeat center / contain;
                @media (max-width: 760px) {
                    top: -119px;
                }
            }

            &__button-delete {
                padding: 0;
                margin: 9px 0;
                width: 15px;
                height: 18px;
                cursor: pointer;
                background: url('/static/icons/delete-red.svg');
                background-size: cover;
                border: none;
                transition: all 0.2s linear;

                &:hover {
                    box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
                }

                @media (max-width: 760px) {
                    grid-row: 1 / 2;
                    grid-column: 2 / 3;
                    margin-left: 10px;
                }
            }

            &__button-add {
                margin: 0 auto;
                padding: 7px 14px;
                width: 170px;
                transition: all 0.2s linear;

                &:hover {
                    box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
                }

                &.disabled {
                    opacity: 0.7;
                    pointer-events: none;
                }
            }

            &__buttons-wrap {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                min-height: 5px;
                margin: 0 15px 15px 15px;
                @media (max-width: 768px) {
                    margin: 0 10px 15px 10px;
                }
                @media (max-width: 760px) {
                    justify-content: flex-end;
                }
            }

            &__checkbox-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 760px) {
                    display: none;
                }

                & > div {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    text-align: center;

                    color: #B9B9B9;
                    position: relative;
                    top: -10px;
                }

                .custom-checkbox__label {
                    height: 26px;
                    width: 18px;
                    padding: 0;
                }
            }
        }
    }

    .FormInput {
        label {
            text-align: left !important;
        }
    }
}


