.Card {
  padding: 24px 32px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);

  //*:first-child {
  //  margin-top: 0;
  //}
  //
  //*:last-child {
  //  margin-bottom: 0;
  //}

  &--lg {
    margin: 32px 0;
    padding: 32px 48px;
  }
}