.ClubEdit {
    $font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;

    a:hover {
        text-decoration: none;
    }

    @media (max-width: 560px) {
        display: block;
    }


    &__left {
        width: 300px;
        min-width: 300px;
        margin: 0 16px 16px 0;
        @media (max-width: 1024px) {
            display: none !important;
            width: 100%;
            min-width: auto;
            margin: 0;
            & > div {
                display: none;
                position: static !important;
            }
        }

        .user-header {
            padding: 0;

            &__contant {
                padding: 10px;
            }

            &__container {
                display: flex;
                width: 100%;
                justify-content: space-between;
                height: 22px;
                margin-bottom: 14px;
            }

            &__info {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: normal;
            }

            &__logo-wrap {
                padding: 10px;
            }

            &__logo {
                display: block;
                width: 100%;
            }

            &__user {
                font-weight: normal;
                font-size: 18px;
                line-height: 18px;
                color: #72839c;

                &-wrap {
                    position: relative;
                    margin-bottom: 17px;
                    @media (max-width: 560px) {
                        margin-bottom: 8px;
                    }
                }
            }

            &__name {
                color: #36f;
                font-weight: normal;
                font-size: 18px;
                line-height: 20px !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0;
                @media (max-width: 990px) {
                    font-size: 20px;
                    line-height: 1.2;
                }
                @media (max-width: 560px) {
                    font-size: 16px;
                }
            }

            &__federation {
                display: block;
                margin-bottom: 0 !important;
                text-decoration: none;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #72839c;
                transition: all 0.2s linear;
                position: relative;

                &:hover {
                    color: #3366ff;
                }

                @media (max-width: 560px) {
                    font-size: 14px;
                    line-height: 1.2;
                    letter-spacing: normal;
                    padding-top: 8px;
                }
            }

            &-link {
                position: relative;
            }

            .btn-share {
                margin-left: 8px;
                width: 15px;
                height: 20px;
                border: none;
                background: url("/static/icons/icon-share-2.svg") no-repeat 50% / contain;
            }

            .ya-share2__icon_more {
                height: 16px;
                background-color: white;

                &:after {
                    background: url("/static/icons/icon-share-3-gray.svg") no-repeat 50% / contain;
                    background-color: white;
                }

                &:hover:after {
                    background: url("/static/icons/icon-share-3.svg") no-repeat 50% / contain;
                    background-color: white;
                }
            }
        }
    }

    &__right {
        width: 100%;
        @media (max-width: 560px) {
            width: 100% !important;
            margin-top: 0;
            padding-bottom: 1px;
        }
        @media (max-width: 1024px) {
            width: calc(100% - 160px);
            margin-top: 0;
            padding-bottom: 1px;
        }
    }

    &__inner {
        display: flex;
        width: 100%;
        @media (max-width: 560px) {
            flex-direction: column-reverse;
        }

        &-left {
            margin-right: 16px;
            width: 100%;
            @media (max-width: 680px) {
                margin-right: 0;
            }

            .ClubEdit__delete {
                display: flex;
                flex-direction: column;
                min-height: 125px;

                @media (max-width: 560px) {
                    margin: 120px auto !important;
                    padding: 0 !important;
                    max-width: 400px;

                    h3 {
                        background: linear-gradient(90deg, #4067AC 0%, #5791F8 100%);
                        border-radius: 5px 5px 0 0;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        padding-left: 14px;
                        font-size: 18px !important;
                        line-height: 18px !important;
                        color: #FFFFFF !important;
                    }
                }

                p {
                    text-align: center;
                    margin: 25px auto 40px;

                    @media (max-width: 768px) {
                        margin: 80px auto 100px;
                    }
                }

                .button-delete__disable {
                    width: 155px;
                    height: 38px;
                    padding: 0;
                    align-self: center;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    vertical-align: center;
                    color: #FFFFFF;
                    background: #D6D6D6;
                    border: 1px solid #D6D6D6;
                    border-radius: 4px;
                    @media (max-width: 560px) {
                        margin-bottom: 10px;
                    }
                }
            }

            .Card {
                margin: 0 0 16px 0;
                padding: 10px;

                h3 {
                    padding-bottom: 10px;
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: normal;
                    color: #030404;
                    border-bottom: 1px solid #E5E5E5;
                    margin: 20px 0;
                }

                .support-link {
                    display: block;
                    margin-bottom: 12px;
                    padding-bottom: 8px;
                    text-align: end;
                    text-decoration: none;
                    color: #3366FF;
                    border-bottom: 1px solid #E5E5E5;
                }

                .Submit-button__save {
                    display: block;
                    margin: 0 auto;
                    padding: 0;
                    width: 154px;
                    height: 38px;
                    background: #3366FF;
                    border-radius: 4px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                    transition: all 0.2s linear;

                    &:hover {
                        box-shadow: 0 4px 8px rgba(37, 60, 94, 0.24);
                    }
                }

                .button-save__disable {
                    display: block;
                    width: 155px;
                    height: 38px;
                    padding: 0;
                    margin: 0 auto;
                    align-self: center;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    background: #D6D6D6;
                    border: 1px solid #D6D6D6;
                    border-radius: 4px;
                }
            }

            .k-form {
                max-width: none !important;
            }
        }

        &-right {
            flex-grow: 1;

            @media (max-width: 680px) {
                position: fixed;
                width: 100%;
                height: 100vh;
                top: 0px;
                right: 0;
                z-index: 99;
                padding: 16px;
                overflow-y: auto;
                right: -100%;
                transition: all 0.2s ease-out;
                background: #fff;

                &._open {
                    padding: 10px 24px 16px;
                    right: 0;
                    @media (max-width: 560px) {
                        padding: 10px 16px 16px;
                    }

                    .Card {
                        margin: 0 !important;
                        padding: 0 !important;
                        box-shadow: none;

                        span {
                            display: none;
                        }
                    }
                }
            }

            & > .Card {
                @media (min-width: 561px) {
                    position: fixed;
                    max-width: 230px;
                    min-width: 230px;
                }
            }

            .Card {
                min-width: 230px;
                padding: 10px !important;

                @media (max-width: 560px) {
                    padding: 16px;
                }

                @media (min-width: 680px) {
                    .ClubEdit__profile-label {
                        display: block !important;
                        padding-bottom: 10px;
                        font-size: 18px;
                        line-height: 18px;
                        color: #030404;
                        border-bottom: 1px solid #E5E5E5;

                    }
                }
            }

            .ClubEdit__inner {
                &-list {
                    list-style: none;
                    margin-bottom: 0;
                    margin-right: 10px;

                    & li {
                        margin-left: 6px;
                        margin-top: 10px;
                    }
                }

                &-item {
                    cursor: pointer;
                    display: flex;
                    align-items: baseline;
                    color: #72839c;
                    transition: all 0.2s linear;

                    svg {
                        height: 18px;
                        position: relative;
                        top: 2px;
                        font-size: 20px;
                    }

                    &:hover,
                    &.active {
                        color: #3366ff;
                        transition: all 0.2s linear;

                        & > svg > path,
                        & > svg > g > path {
                            fill: #3366ff;
                        }
                    }
                }
            }
        }

        .k-notification-group {
            position: absolute;
            right: 1vh;
            top: 80vh;
        }
    }
}

.header__filters {
    & > span {
        font-size: 0;

        &::before {
            display: block;
            padding-top: .5px;
            font-size: 13px;
            content: "Разделы";
        }
    }

    @media (min-width: 681px) {
        display: none;
    }
}
