.DocumentLinksArray {
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    width: 45%;
    color: #72839c;
    word-break: break-all;

    &:nth-child(odd) {
      @media (min-width: 560px) {
        margin-right: 10%;
      }
    }
    @media (max-width: 560px) {
      width: 100%;
    }
    & > div {
      display: flex;
      align-items: center;
      max-width: calc(100% - 16px);
      cursor: pointer;
    }
    &-name {
      margin-right: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .k-svg-i-file {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    flex-shrink: 0;
    svg {
      fill: #3366ff !important;
    }
  }
  &__delete-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    svg {
      fill: red !important;
    }
  }
  &__embed {
    width: 100%;
    height: 100%;
    min-height: 70vh;
  }
}
