.NBCGallery {
  &__breadcrumbs {
    font-size: 18px;
    line-height: 32px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    &-title {
      max-width: 644px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      line-height: 24px;
    }
    & .btn-backward {
      text-decoration: none;
      font-size: 18px;
      line-height: 24px;
      color: #72839c;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #e8e8e8;
  }
}