.exhibition-info {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  @media (max-width: 990px) {
    display: block;
  }
  &__right {
    order: 1;
    width: 400px;
    min-width: 400px;
    @media (max-width: 560px) {
      width: 100%;
      min-width: 100%;
    }
  }
  &__left {
    margin-right: 24px;
    @media (max-width: 990px) {
      margin-right: 0;
    }
  }
  &__img {
    display: block;
    border-radius: 6px;
    width: 100%;
  }
  &__address {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .2px;
    padding-left: 30px;
    background: url("/static/icons/exhibitions/pin.svg") 0 no-repeat;
  }
  &__table {
    width: 100%;
    margin: 32px 0;
    @media (max-width: 560px) {
      margin: 24px 0;
    }
    td {
      padding-left: 12px;
      &:first-child {
        color: #72839c;
        padding-left: 0;
      }
    }
  }
  .tabs {
    margin: 24px 0;
    justify-content: space-between;
    @media (max-width: 560px) {
      margin: 24px 0 12px;
    }
    &__tab {
      flex: initial;
      padding: 0;
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      color: #90999e;
      text-decoration: none;
      border-bottom: 1px dashed #90999e;
      transition: all .2s linear;
      &--active {
        color: #253c5e;
        border-color: transparent;
      }
      @media (max-width: 560px) {
        font-size: 15px;
        line-height: 1.2;
      }
    }
    &__content {
      margin-bottom: 24px;
    }
  }
}
.exhibition-schedule {
  &__date {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    @media (max-width: 560px) {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  &__event {
    margin-left: 12px;
  }
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
.exhibition-documents__doc:not(:last-child) {
  margin-bottom: 6px;
}