.exhibition-info {
  font-weight: 400;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: none;
  border-radius: 0;
  @media (max-width: 990px) {
    display: block;
  }

  &.two {
    display: flex;
    flex-direction: row;
    gap: 10px;
    @media (max-width: 990px) {
      display: block;
    }
  }

  &.two.main-info {
    .exhibition-info__right {
      @media(min-width: 991px) {
        display: flex;
        justify-content: right;
      }
    }
  }

  &.two > * {
    width: 50%;
    @media (max-width: 990px) {
      width: 100%;
    }
  }

  &:not(:first-child) {
    border-bottom: 1px solid #E5E5E5;
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #253C5E;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #90999E;
  }

  &__right {
    width: 300px;
    min-width: 300px;

    &:last-child {
      margin-top: 15px;
    }

    &.reports {
      width: 100%;
      max-width: 60%;
      @media (max-width: 990px) {
        max-width: none;
      }
    }

    @media (max-width: 560px) {
      width: 100%;
      min-width: 100%;
    }
  }

  &__left {
    margin-right: 24px;
    @media (max-width: 990px) {
      margin-right: 0;
    }
  }

  &__dates {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #253C5E;
  }

  &__date {
    margin-bottom: 10px;
    font-weight: 600;
  }

  &__time {
    margin-bottom: 16px;
  }

  &__address {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding-left: 30px;
    background: url("/static/icons/exhibitions/pin.svg") 0 no-repeat;
  }

  &__table {
    width: 100%;
    margin: 24px 0;
    @media (max-width: 560px) {
      margin: 24px 0;
    }

    td {
      padding-left: 12px;

      &:first-child {
        color: #72839c;
        padding-left: 0;
        vertical-align: top;
      }
    }
  }

  &__block {
    &-list {
      list-style: none;
      margin-bottom: 24px;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &.not-active a {
        color: #72839c !important;
      }
    }
  }
}

.exhibition-schedule {
  &__date {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    @media (max-width: 560px) {
      font-size: 16px;
      line-height: 1.2;
    }
  }

  &__event {
    margin-left: 12px;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.exhibition-documents__doc:not(:last-child) {
  margin-bottom: 6px;
}

.exhibition-page {
  &__judges-info,
  &__description,
  &__schedule,
  &__catalog,
  &__documents {
    margin-bottom: 24px;
    font-weight: 300;

    &-title {
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: #253C5E;
    }

    p{
      color: #72839C;
    }
  }

  .judge-info__header-wrap {
    display: flex;
    margin-top: 15px;
    justify-content: flex-start;
    column-gap: 50px;

    @media (max-width: 450px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__judge {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;

    h5 {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }

    .btn {
      width: 155px;
      height: 36px;
      padding: 0;
      text-align: center;
    }

    &-select {
      position: relative;
      bottom: 10px;
      width: 154px;

      .btn {
        width: 165px;
        height: 38px;
        margin-top: 5px;
        margin-right: 10px;
        padding: 10px 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
      }
    }

    &-item > li {
      display: inline-block;
      margin: 15px  30px 15px 0;
    }

    &__modal .Modal__body {
      display: flex;
      flex-direction: column;
      width: 720px;
      height: 484px;

      @media (max-width: 899px) {
        height: 588px;
      }

      button {
        height: 38px;
        width: 154px;
        align-self: center;
        margin-top: 15px;
        margin-bottom: 10px;
        padding-top: 8px;
      }

      h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-family: Source Sans Pro, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #253C5E;
      }
    }

    &-list {
      height: 373px;
      overflow: auto;
      border: 1px solid #CED4DA;

      li {
        border-bottom: 1px solid #CED4DA;

        .judge-item {
          &__wrap {
            display: flex;
            flex-direction: row;
            height: 109px;

            div {
              display: flex;
              flex-direction: column;
            }
          }

          &__name {
            width: 40%;
            padding-left: 15px;

            &-rus {
              margin-top: 3px;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 22px;
              text-decoration: none;

              p {
                color: #253C5E;

                &:last-child {
                  display: flex;

                  svg {
                    margin-top: auto;
                    margin-left: 5px;
                  }
                }
              }
            }
            a.judge-item__name-rus {
              text-decoration: none;
              &:hover p{
                color: #3366ff;
              }
            }

            &-eng {
              font-size: 15px;
            }

            span {
              margin-bottom: 5px;
            }
          }

          &__cert-number {
            font-size: 15px;
          }

          &__info {
            width: 50%;

            span {
              display: flex;
              font-size: 15px;
              margin-bottom: 5px;

              p {
                font-weight: 400;
              }

              &:first-child {
                margin-top: 25px;
              }
            }
          }

          &__checkbox {
            z-index: -1;
            opacity: 0;

            &-wrap {
              align-self: center;
              position: relative;

              & > span {
                position: absolute;
                top: 25px;
                left: -25px;
                text-align: center;
                line-height: 12px;
                font-size: 12px;
                font-weight: normal;
              }
            }

            &+label::before {
              content: '';
              display: inline-block;
              width: 20px;
              height: 20px;
              flex-shrink: 0;
              flex-grow: 0;
              border: 1px solid #adb5bd;
              border-radius: 4px;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 60% 60%;
              cursor: pointer;
            }

            &:checked+label::before {
              border-color: #0b76ef;
              background-color: #0b76ef;
              background-image: url(/static/new-icons/check_mark.svg);
            }

            &__disabled {
              &+label::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #adb5bd;
                border-radius: 4px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 60% 60%;
              }

              &:checked+label::before {
                border-color: #5a5c5e;
                background-color: #5a5c5e;
                background-image: url('/static/new-icons/check_mark.svg');
              }

              display: none;
            }
          }

          @media (max-width: 899px) {
            &__wrap {
              min-width: 330px;
              width: auto;
            }

            &__name {
              width: 100%;

              &-rus {
                margin-right: 0;
              }
            }

            &__info {
              span:first-child {
                position: relative;
                margin-top: 5px;
                margin-bottom: 20px;
                margin-right: 10px;
                align-self: flex-end;
                font-weight: 400;
                white-space: nowrap;
                padding-left: 20px;

                &:before {
                  content: "";
                  width: 17px;
                  height: 17px;
                  background: url(/static/icons/ico-pointer2.svg) center center/contain no-repeat;
                  position: absolute;
                  left: 0;
                }
              }
            }

            &__checkbox {
              height: 21px;
              width: 21px;
              align-self: flex-end;
              margin-right: 20px;
              &-wrap {
                align-self: flex-end;
              }
            }
          }
        }

        & span {
          margin-right: 25px;
          font-family: Source Sans Pro, serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px;
          text-align: left;
          color: #72839C;
        }
      }

      @media (max-width: 899px) {
        height: 477px;
      }
    }

    &__modal .Modal__inner {
      overflow: hidden;
      height: 533px;

      @media (max-width: 899px) {
        height: 637px;
        .Modal__body {
          width: auto;

          .exhibition-edit__judge-list {
            li {
              height: auto;
              grid-template-columns: 1fr 140px 2fr 1fr;
              @media (max-width: 400px) {
                span {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 799px) {
      flex-direction: column;
      align-items: flex-start;
      .btn {
        width: auto;
        padding: 8px 27px;
      }
    }
  }
}
