.horizontal-menu {
  list-style: none;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(51, 102, 255 , 0.05), 0 4px 30px rgba(51, 102, 255 , 0.1);
  background: #fff;
  margin-bottom: 16px;
  border-radius: 6px;
  & #horizontal-menu__swipe {
    display: flex;
  }
  li {
    text-align: center;
    a {
      text-decoration: none;
      &.active {
        span {
          border-bottom-color: #3366ff
        }
      }
      &._disabled {
        span {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
      span {
        padding: 15px 10px;
        border-bottom: 2px solid transparent;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #72839c;
        text-decoration: none;
        cursor: pointer;
        transition: border-bottom-color 0.2s linear;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
      }
    }
  }
}