._chips_full_screen {
    margin-bottom: 10px;
}
.custom-font-size {
    font-size: 25px;
}
.archive-notification {
    margin-bottom: 20px;
    border: 2px solid #dc3545;
    border-radius: 6px;
    padding: 10px;
    &__title {
        text-align: center;
        margin-bottom: 0;
    }
}

.chip-list__wrap {
    display: flex;
    flex-direction: column;
    .custom-checkbox {
        margin-left: 0px;
        margin-top: 3px;

    }
}