.organizations-page__list-filter {
  margin-bottom: 16px;
  .list-filter {
    list-style: none;
    display: flex;
    &__item {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
    &__control {
      display: block;
      padding: 10px 6px;
      line-height: 20px;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid transparent;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: .2px;
      color: #72839c;
      white-space: nowrap;
      transition: all .2s linear;
      &._active {
        border-bottom-color: #36f;
      }
      &._not-active {
        opacity: .5;
        cursor: default;
      }
    }
  }
}