.add-video-link {
  margin-top: 22px;
  &__form-controls {
    text-align: center;
    margin-top: 14px;
  }
  &__form-submit {
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    padding: 9px 0;
    width: 154px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    transition: all .2s linear;
    &:hover {
      background-color: #0069d9;
    }
    &:disabled {
      background-color: #007bff !important;
      opacity: .65;
      filter: grayscale(.1);
    }
  }
}