.add-video-link {
  margin-top: 22px;
  &__form-controls {
    text-align: center;
    margin-top: 14px;
  }
  &__form-submit {
    background-color: #3366FF;
    border: none;
    border-radius: 3px;
    padding: 9px 0;
    width: 154px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    transition: background-color .2s linear;
    &:disabled {
      background-color: #B9B9B9;
    }
  }
}