.NewsListSearch {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f6f7f7;
  margin-bottom: 30px;
  &__heading {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin: 3px 0 6px;
  }
  img {
    margin: 3px 0 6px;
  }
}
