.must-read {
    position: fixed;
    top: 350px;
    max-width: 250px;
    min-width: 250px;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
    flex-basis: 100%;
    margin-bottom: 16px;
    line-height: 1;

    @media (max-width: 1080px) {
        top: 270px;
        left: 7px;
        box-shadow: none;
    }

    @media (max-width: 560px) {
        position: fixed;
        left: 11px;
    }
}

