.redesign {
  min-height: 100vh;

  & + .Footer {
    display: none;
  }

  .club-page {
    word-break: break-word;

    .user-gallery__wrap .ReactGridGallery_tile-viewport {
      @media (min-width: 991px) {
        width: 88px !important;
        height: 88px !important;
      }
    }

    .menu-component {
      padding: 14px 16px 16px;

      h4 {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        margin-bottom: 8px;
      }

      &__title {
        margin-bottom: 8px;
      }
    }

    &__content-wrap {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1080px) {
        display: block;
      }
    }

    &__content {
      width: calc(100% - 316px);
      margin-left: 16px;
      order: 1;
      @media (max-width: 1080px) {
        width: 100%;
        margin-left: 0;
      }

      &-banner {
        padding: 0;
        background: #fff url("/static/images/noimg/no-banner.png") no-repeat center center;
        background-size: cover;
        overflow: hidden;
        @media (max-width: 560px) {
          background: #fff url("/static/images/noimg/no-banner-mobile.png") no-repeat center center;
          background-size: cover;
          height: 25vw;
        }

        &.Card {
          margin-bottom: 16px;
          @media (max-width: 560px) {
            margin-bottom: 12px;
          }
        }

        & > div {
          height: 235px;
          margin: auto;
          object-fit: cover;
          width: 100%;
          max-width: none;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          @media (max-width: 560px) {
            height: 25vw;
          }
        }

        &-inactive {
          display: flex;
          align-items: center;
          justify-content: center;
          background: url('/static/icons/banner-club.svg') no-repeat center, white;
        }
      }

      & > .Card:not(.club-page__content-banner) {
        padding: 10px;
        margin-bottom: 20px !important;
      }
    }

    &__info {
      width: 300px;
      min-width: 300px;
      padding-bottom: 16px;
      @media (max-width: 990px) {
        width: 100%;
        min-width: unset;
      }
    }

    &__exhibitions {
      max-width: 860px;
    }

    @media (max-width: 990px) {
      &__info > div {
        position: static !important;
      }
      .user-header {
        display: flex;
        align-items: center;

        &__wrap > div:first-child > * {
          line-height: 1.3;
        }

        &__federation {
          display: block;
        }

        &__content {
          flex-grow: 1;
          min-width: 0;
          padding: 12px 10px 10px 10px;
        }
      }
    }
  }

  @media (min-width: 561px) and (max-width: 990px) {
    .content.club-page .club-page__content-wrap .club-page__content {
      display: flex;
      flex-flow: column;

      .Card {
        margin-bottom: 15px !important;
      }

      .user-banner {
        order: -5;
        padding: 0;
        height: 200px;

        &__img {
          border-radius: 5px;
        }
      }

      .user-header {
        order: -4;
        flex-direction: row;
        height: 130px;
        margin-bottom: 0 !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &__content {
          position: relative;
          height: 105px;
        }

        &__name-wrap {
          .user-header__user-wrap {
            display: flex;
            margin-bottom: 5px;

            &:before {
              display: none;
            }
          }

          .user-header-link {
            &:after {
              display: none;
            }

            a {
              padding-top: 0;
            }
          }

          .user-header__name {
            width: 50%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &__wrap {
          .UserActionControls, .widget-login__button-wrap {
            position: relative;
            bottom: 86px;
            margin: 0 0 0 auto;
            width: 40%;
            min-width: 200px;
          }

          .widget-login__button-wrap {
            justify-content: flex-end;
            bottom: 75px;

            .widget-login__button {
              width: 200px;
              margin-top: 0;
            }
          }

          .UserActionControls {
            display: flex;
            flex-flow: column;

            &__subscribe-text._subscribed {
              padding-right: 0;
            }
          }
        }

        .user-info__logo {
          height: 80px;
          width: 80px;
          min-width: 80px;

          &-wrap {
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }

      .user-description {
        order: -2;
        padding-top: 5px !important;

        &__title {
          padding-bottom: 5px;
        }
      }

      .user-contacts__info-wrap {
        order: -3;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid #E5E5E5;

        @media (max-width: 560px) {
          border-top: none;
        }

        .ReactCollapse--collapse {
          @media (max-width: 560px) {
            border-top: 1px solid #E5E5E5;
          }
        }
      }

      .user-gallery {
        margin-top: 0 !important;

        &._photo {
          padding-top: 2px !important;

          .user-gallery__header {
            height: 23px;
          }

          .user-gallery__dropdown-wrap {
            margin-top: 5px;
          }
        }

        &._video {
          .user-gallery__header {
            height: 18px;
          }

          .user-gallery__dropdown-wrap {
            display: flex;

            .user-gallery__item {
              &:not(:only-child) {
                width: 49%;

                &:first-child {
                  margin-right: 10px;
                }
              }

              &:only-child {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .club-page__content-wrap {
      &._isFederation {
        .UserActionControls {
          bottom: 62px!important;
        }
      }
    }
  }
}