.club-page {
  word-break: break-word;
  .menu-component {
    padding: 14px 16px 16px;
    @media (max-width: 768px) {
      display: none;
    }
    h4 {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    &__title {
      margin-bottom: 8px;
    }
  }
  &__content-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &__content {
    width: 100%;
    margin-left: 24px;
    order: 1;
    @media (max-width: 990px) {
      margin-left: 0;
    }
  }
  &__info {
    width: 300px;
    min-width: 300px;
    @media (max-width: 990px) {
      width: 100%;
      min-width: unset;
    }
  }
  &__gallery {
    &-wrap {
      margin-bottom: 24px;
      @media (max-width: 560px) {
        margin-bottom: 12px;
      }
      &.Card {
        padding: 12px;
      }
    }
    &-header {
      margin-bottom: 12px;
      a {
        text-decoration: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #72839c !important;
        border-bottom: 1px solid transparent;
        transition: all 0.2s linear;
        &:hover {
          color: #3366ff !important;
          border-bottom-color: #3366ff;
        }
      }
    }
    &-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      text-decoration: none;
      color: #253c5e;
      display: inline-block;
      margin-right: 4px;
    }
    &-placeholder {
      width: 100px;
      display: block;
      margin: auto;
    }
  }
}
.NewsPage {
  &__endMessage {
    margin: 20px 0;
    text-align: center;
    font-weight: normal;
  }
  .infinite-scroll-component,
  .infinite-scroll-component__outerdiv {
    overflow: visible !important;
  }
  .user-news {
    margin-bottom: 24px;
    @media (max-width: 560px) {
      margin-bottom: 12px;
    }
    &__content {
      text-align: center;
      padding: 8px;
    }
    &__text{
      padding: 8px;
    }
  }
}