.club-page {
  word-break: break-word;
  .menu-component {
    padding: 14px 16px 16px;
    @media (max-width: 768px) {
      display: none;
    }
    h4 {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    &__title {
      margin-bottom: 8px;
    }
  }
  &__content-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &__content {
    width: 100%;
    margin-left: 24px;
    order: 1;
    @media (max-width: 990px) {
      margin-left: 0;
    }
  }
  &__info {
    width: 300px;
    min-width: 300px;
    @media (max-width: 990px) {
      width: 100%;
      min-width: unset;
    }
  }
}
.NewsPage {
  &__endMessage {
    margin: 20px 0;
    text-align: center;
    font-weight: normal;
  }
  .infinite-scroll-component,
  .infinite-scroll-component__outerdiv {
    overflow: visible !important;
  }
}
