.redesign {
  .club-page {
    word-break: break-word;
    &.content {
      padding-top: 55px;
    }
    .menu-component {
      padding: 14px 16px 16px;
      @media (max-width: 768px) {
        display: none;
      }
      h4 {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      &__title {
        margin-bottom: 8px;
      }
    }
    &__content-wrap {
      display: flex;
      justify-content: space-between;
      @media (max-width: 990px) {
        display: block;
      }
    }
    &__content {
      width: 100%;
      margin-left: 24px;
      order: 1;
      @media (max-width: 990px) {
        margin-left: 0;
      }
      &-banner {
        padding: 0;
        & > div {
          height: 235px;
          margin: auto;
          object-fit: cover;
          width: 100%;
          max-width: 848px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
        }
      }
      & > .Card {
        margin-bottom: 24px !important;
      }
    }
    &__info {
      width: 300px;
      min-width: 300px;
      @media (max-width: 990px) {
        width: 100%;
        min-width: unset;
      }
      &-inner {
        position: sticky;
        top: 55px;
      }
    }
    &__gallery {
      &-wrap {
        margin-bottom: 24px;
        @media (max-width: 560px) {
          margin-bottom: 12px;
        }
        &.Card {
          padding: 12px;
        }
      }
      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;
        a {
          text-decoration: none;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #72839c !important;
          border-bottom: 1px solid transparent;
          transition: all 0.2s linear;
          &:hover {
            color: #3366ff !important;
            border-bottom-color: #3366ff;
          }
        }
      }
      &-title {
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        color: #253c5e;
        display: inline-block;
        margin-right: 4px;
      }
      &-placeholder {
        width: 100px;
        display: block;
        margin: auto;
      }
    }
    &__exhibitions {
      max-width: 860px;
    }
    .exhibitions-component__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .NewsPage {
    &__endMessage {
      margin: 20px 0;
      text-align: center;
      font-weight: normal;
    }
    .infinite-scroll-component,
    .infinite-scroll-component__outerdiv {
      overflow: visible !important;
    }
    .user-news {
      margin-bottom: 24px;
      @media (max-width: 560px) {
        margin-bottom: 12px;
      }
      &__content {
        text-align: center;
        padding: 8px;
      }
      &__text {
        padding: 8px;
      }
    }
  }
}

.club-page {
  .menu-component {
    padding: 14px 16px 16px;
    @media (max-width: 768px) {
      display: none;
    }
    h4 {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    &__title {
      margin-bottom: 8px;
    }
  }
  &__content-wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &__content {
    width: 100%;
    margin-left: 24px;
    order: 1;
    @media (max-width: 990px) {
      margin-left: 0;
    }
    &-banner {
      padding: 0;
      & > div {
        height: 235px;
        margin: auto;
        object-fit: cover;
        width: 100%;
        max-width: 848px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
      }
    }
    & > .Card {
      margin-bottom: 24px !important;
    }
  }
  &__info {
    width: 300px;
    min-width: 300px;
    @media (max-width: 990px) {
      width: 100%;
      min-width: unset;
    }
    &-inner {
      position: sticky;
      top: 55px;
    }
  }
  &__gallery {
    &-wrap {
      margin-bottom: 24px;
      @media (max-width: 560px) {
        margin-bottom: 12px;
      }
      &.Card {
        padding: 12px;
      }
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6px;
      a {
        text-decoration: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #72839c !important;
        border-bottom: 1px solid transparent;
        transition: all 0.2s linear;
        &:hover {
          color: #3366ff !important;
          border-bottom-color: #3366ff;
        }
      }
    }
    &-title {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
      color: #253c5e;
      display: inline-block;
      margin-right: 4px;
    }
    &-placeholder {
      width: 100px;
      display: block;
      margin: auto;
    }
  }
  &__exhibitions {
    max-width: 860px;
  }
  .exhibitions-component__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}