.user-info {
  &__logo-wrap {
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
  }
  &__logo {
    min-width: 162px;
    height: 158px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }
  &__info {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    p {
      line-height: 1;
      letter-spacing: .2px;
      color: #72839c;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}