.DocItem__dysplasia-payment {
    &-wrap {
        margin-left: 10px;
        margin-right: 16px;
    }
    margin-top: 8px;
    height: 50px;
    .k-input {
        margin-top: 10px;
        margin-left: 5px;
    }


}
.dysplasiaApplication .dysp div:first-child {
    display: grid;
    grid-template-rows: 2fr 1fr;

}
.dysplasiaApplication .dyspSearch  {
    display: grid;
    grid-template-columns: 2.75fr 157px 2fr;
    margin-top: 20px;
    margin-bottom: 20px!important;
    @media (max-width: 700px) {
        display: inline-block;
        width: 280px;

        :first-child {
            margin-right: 0!important;
        }
    }
}
.dysplasiaApplication .dysp2 div:first-child {
    display: grid;
    grid-template-rows: 2fr 1fr;
}


//.dysplasiaApplication .dyspLast {
//    display: grid;
//}


@media (max-width: 700px) {
    .dysplasiaApplication {
        a {
           display: block;
        }
        .dysp {
            display: block;
        }
        .dysp2 {
            display: block;
        }
        .dyspLast {
            display: block;
            :first-child {
                margin-right: 0!important;
            }
        }
        .dysp3 {
            display: block;
        }
    }
}

