.DocApply {
    .special .FormInput__input {
        width: 100%;
    }

    h3 {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        color: #253C5E;
        text-align: center;
    }

    .shadow {
        box-shadow: 0px 10px 20px rgba(51, 102, 255, 0.1);
    }

    .divider {
        background: #EBF0F2;
        width: 100%;
        height: 1px;
        margin-bottom: 24px;
    }
    
    & input, & .caps {
        text-transform: uppercase;
    }

    & .no-caps {
        text-transform: none;
    }

    .FormInput__custom-error, .FormInput__error {
        color: #FA5D50;
        position: absolute;
        line-height: 100%;
        bottom: -24px;
        padding: 4px;
        white-space: nowrap;
        background-color: white;
    }
    .FormGroup {
       .flex-row{
           margin-top: 5px;
       }
    }


    .FormGroup .btn {
        align-self: flex-start;
        margin-bottom: 22px;
    }

    .FormGroup--inline {
        margin-bottom: 0;
        @media (max-width: 1079px) {
            height: min-content;
        }
    }

    .red {
        //color: #FA5D50;
        color: #00c48c!important;
    }

    .hidden {
        display: none!important;
    }

    &.view {
        pointer-events: none;
        opacity: 0.75;
    }

    .FormInput {
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        text-align: left;
        margin-bottom: 1rem;
        color: #212529;
        @media (max-width: 820px) {
            display: block;
            overflow: scroll;
        }

        td, th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            font-weight: normal;
            color: #72839C;
        }

        thead th {
            vertical-align: bottom;
        }

        td {
            color: #253C5E;
        }
    }

    .alert {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    .stage-controls {
        background-color: white;
        padding: 8px 14px;
    }

    .stage-controls .btn:first-child {
        margin-right: auto;
    }

    .stage-controls .btn:last-child {
        margin-right: 1em;
    }

    .stage-controls .btn-green.btn-light {
        background: transparent;
        color: #00c48c;
    }

    &.error {
        outline: 1px solid red;
    }

    .heading-row {
        justify-content: flex-start!important;
    }

    .heading-row * {
        margin-bottom: 0!important;
    }

    .heading-row h4 {
        margin-left: 0!important;
    }

    &__chevron {
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        margin: 5px;
        cursor: pointer;
        transform: rotate(0deg);
        transition: .2s transform;

        &.active {
            transform: rotate(-90deg);
        }
    }

    &.collapse {
        display: none;
    }

    &.active {
        display: table-row;
    }

    &.active .card {
        margin-bottom: 1em;
        margin-top: .5em;
    }

    .plus-button {
        position: relative;
        left: 7.5px;
    }

    &__payment {
        &-wrap {
            margin-left: 10px;
            margin-right: 16px;
        }

        margin-top: 10px;
        height: 50px;
        .k-input {
            margin-top: 10px;
            margin-left: 5px;
        }
    }

    &__federation-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__personal-docs {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .FormInput {
            display: grid;
            grid-template-rows: 1.3fr 1fr;
        }
    }

    &__three-inline-columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width: 1079px) {
            display: inline-block;
            width: 100%;
        }
    }

    &__stamp-code_inline {
        display: grid;
        grid-template-columns: 1.36fr 1fr 141px;
        button {
            align-self: flex-end!important;
        }
    }

    &__breed-name_inline {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

   &__pedigree-copy {
        display: grid;
       grid-template-columns: 1fr 1fr;
       div:first-child, &__trunned-pedigree div:first-child {
           display: grid;
           grid-template-rows: 1fr 1fr;
       }
   }

    &__payment-receipt-wrap {
        display: grid;
        grid-template-columns: 2fr 1fr 49%;

        .FormGroup--inline {
            > div:last-child {
                label {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 1079px) {
        &__federation-info {
            display: inline-block;
            width: 100%;
        }

        &__stamp-code_inline {
            display: inline-block;
            width: 100%;
            & button {
                width: 141px;
            }
        }

        .FormInput {
            margin-right: 0;
        }

        &__breed-name_inline {
            display: inline-block;
            width: 100%;
        }

        &__personal-docs {
            display: block;

            & div {
                width: 100%;
                &:last-of-type div {
                    grid-template-rows: 1fr 1fr;
                }
            }
        }

        &__pedigree-copy  {
            display: block;
            & div {
                width: 100%;
                & :first-child {
                   grid-template-rows: 1fr 1fr;
                }
            }
        }

        &__trunned-pedigree {
            display: block;
            & div {
                width: 100%;
                & :first-child {
                    grid-template-rows: 2fr 1fr;
                }
            }
        }

        &__payment-receipt-wrap {
            display: inline-block;
            width: 100%;
            & div:first-of-type {
                width: 100%;
                & label {
                    margin-bottom: 15px;
                }
            }
        }

        &__payment {
            min-width: 100%;
            &-wrap {
                margin: 0;
                margin-bottom: 10px;
            }
        }

        &__payer-info-wrap {
            display: inline-block;
            width: 100%;
        }
    }
}