.CardFooter {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;

        &-left,
        &-right {
            display: flex;
            align-items: center;
            & > div {
                display: flex;
                align-items: center;
                margin-right: 30px;
                color: #72839c;
                span:first-child {
                    color: #b9b9b9;
                    font-size: 18px;
                    font-weight: 700;
                    margin-right: 10px;
                    &.k-i-preview {
                        font-size: 21px;
                    }
                    & + span {
                        font-size: 16px;
                        line-height: 1;
                    }
                }
            }
        }

        &-left {
             .k-i-heart-outline,
             .colored-icon {
               cursor: pointer;
             }
            .colored-icon {
                color: #FF6977 !important;
            }
            .Share {
                height: 18px;
                & .ya-share2__popup {
                    z-index: 0;
                    right: -25px;
                }

                & .ya-share2__badge.ya-share2__badge_more {
                    display: flex;
                }

                & .ya-share2__link {
                    display: flex;
                    align-items: center;
                }

                & .ya-share2__list.ya-share2__list_direction_horizontal {
                    margin: 0;
                }
            }
        }

        &-right {
            & > div {
                margin-right: 0;
            }
        }

        &-center {
            display: flex;
            justify-content: center;
        }
    }

}