.CardFooter {
    width: 100%;

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        margin-bottom: 5px !important;

        &-left,
        &-right {
            display: flex;
            align-items: center;
            & > div {
                display: flex;
                align-items: center;
                margin-right: 30px;
                color: #72839c;
                span:first-child {
                    color: #b9b9b9;
                    font-size: 18px;
                    margin-right: 10px;
                    & + span {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }

        &-left {
             .k-i-heart-outline {
               cursor: pointer;
             }
            .colored-icon {
                color: #FF6977 !important;
            }
            .Share {
                height: 18px;
                & .ya-share2__popup {
                    z-index: 0;
                    right: -25px;
                }

                & .ya-share2__icon_more {
                    height: 16px;
                    background-color: white;

                    &:after {
                        width: 16px;
                        height: 16px;
                        top: 0;
                        background: url("/static/icons/icon-share-3-gray.svg") no-repeat 50% / contain;
                        background-color: white;
                    }

                    &:hover:after {
                        background: url("/static/icons/icon-share-3.svg") no-repeat 50% / contain;
                        background-color: white;
                    }
                }

                & .ya-share2__badge.ya-share2__badge_more {
                    background: none!important;
                    width: 16px!important;
                    height: 16px!important;
                }

                & .ya-share2__link {
                    display: flex;
                    align-items: center;
                }

                & .ya-share2__list.ya-share2__list_direction_horizontal {
                    margin: 0;
                }
            }
        }

        &-right {
            & > div {
                margin-right: 0;
            }
        }

        &-center {
            display: flex;
            justify-content: center;
        }
    }

}