.Alert {
    position: fixed;
    width: 19rem;
    height: auto;
    top: 154px;
    left: calc(50% - 9.5rem);
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 10px 50px rgba(51, 102, 255, 0.2);
    padding: 20px 24px 24px;
    color: #253C5E;
    z-index: 99;

    @keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
    @keyframes slide-out-top{0%{transform:translateY(0);opacity:1}100%{transform:translateY(-1000px);opacity:0}}
    animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;
    &.exit{animation:slide-out-top .5s cubic-bezier(.55,.085,.68,.53) both}
    
    @media (min-width: 768px) {
        width: 500px;
        left: calc(50% - 250px);
    }
    
    &__title {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }

    &__text {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
    }

    &__bt {
        margin-top: 62px;
        display: flex;
        justify-content: flex-end;
    }

    &__cross {
        position: absolute;
        width: 10.5px;
        height: 10.5px;
        top: 18.75px;
        right: 18.75px;
        cursor: pointer;
    }

    &__cross svg {
        position: absolute;
    }
}
