.news-list {
    &__no-news {
        text-align: center;
        padding: 8px;
        h4 {
            font-size: 18px !important;
        }
        img {
            margin: 20px 0;
        }
    }
}
