body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #253c5e;
  font-weight: normal;
}

h1, h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #3366ff;
  &.no-ul {
    text-decoration: none;
  }
}

a.lnkText,
a.lnkText:visited,
a.lnkText:active {
  text-decoration: none;
  color: currentColor;
}