:root {
  //--background: fixed url("/static/images/rkf/sf_background.jpg"); // New Year BG
  --background: #f5f8ff; // Default BG
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.hidden {
  overflow-y: hidden;
}
body.auto {
  overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #253c5e;
  font-weight: normal;
}

h1,
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #3366ff;
  &.no-ul {
    text-decoration: none;
  }
}

a.lnkText,
a.lnkText:visited,
a.lnkText:active {
  text-decoration: none;
  color: currentColor;
}

input::placeholder {
  color: #757575 !important;
}

// добавление стилей для корректного отображения цвета в Сафари
.k-textbox {
  -webkit-text-fill-color: #495057;
  -webkit-opacity: 1;
  color: #495057;
}

// добавление стилей для меню в таблице заявок
.k-list .k-item,
.k-list .k-item:focus,
.k-list .k-item.k-state-focused,
.k-list .k-item.k-state-focused:hover {
  width: 100%;
  padding: 0;
  box-shadow: none;

  & a,
  & span {
    padding: 0 16px;
  }
}
.k-animation-container-relative {
  @media (max-width: 1079px) and (min-width: 900px) {
    left: 85%!important;
    right: 30px;

    //min-width: 100px;
  }
}