:root {
  //--background: fixed url("/static/images/rkf/sf_background-min.jpg"); // New Year BG
  --background: #f5f8ff; // Default BG
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.hidden {
  overflow-y: hidden;
}
body.auto {
  overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #253c5e;
  font-weight: normal;
}

h1,
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #3366ff;
  &.no-ul {
    text-decoration: none;
  }
}

a.lnkText,
a.lnkText:visited,
a.lnkText:active {
  text-decoration: none;
  color: currentColor;
}

input::placeholder {
  color: #757575 !important;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

._display-none {
  display: none;
}

._flex {
  display: flex;
}

._flex-align-top {
  display: flex;
}

._flex-start-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.caps_margin-top {
  margin-top: 10px;
}
