.article-edit {
  &__text {
    margin-bottom: 16px;
    .FormInput {
      margin-bottom: 0;
      &__error {
        position: static;
        padding: 0;
        margin-top: 10px;
      }
    }
    textarea {
      resize: vertical;
    }
  }
  &__content-length {
    display: block;
    text-align: right;
    margin-top: 10px;
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 16px;
    & > *:not(:last-child) {
      margin-right: 33px;
    }
    @media (max-width: 680px) {
      & > *:not(:last-child) {
        margin-right: 0;
      }
    }
  }
  &__attach-img {
    input {
      display: none;
    }
    &-label {
      padding-left: 24px;
      color: #72839c;
      line-height: 1;
      cursor: pointer;
      position: relative;
      transition: color .2s linear;
      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("/static/icons/client/attach-image.svg") no-repeat center / cover,
        url("/static/icons/client/attach-image-active.svg") no-repeat center / cover;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &:hover {
        color: #3366ff;
        &:before {
          background: url("/static/icons/client/attach-image-active.svg") no-repeat center / cover;
        }
      }
    }
  }
  &__attach-video, &__attach-pdf {
    border: none;
    padding: 0 0 0 28px;
    position: relative;
    letter-spacing: normal;
    line-height: 1;
    cursor: pointer;
    color: #72839c;
    transition: color .2s linear;
    &:before {
      content: '';
      display: inline-block;
      height: 22px;
      width: 24px;
      background: url("/static/icons/icon-video.svg") no-repeat center / cover,
      url("/static/icons/icon-video-blue.svg") no-repeat center / cover;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:hover {
      color: #3366FF;
      &:before {
        background: url("/static/icons/icon-video-blue.svg") no-repeat center / cover;
      }
    }
  }
  &__attach-pdf {
    &:before {
      background: url("/static/icons/icon-pdf.svg") no-repeat center / contain,
      url("/static/icons/icon-pdf-blue.svg") no-repeat center / contain;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:hover {
      &:before {
        background: url("/static/icons/icon-pdf-blue.svg") no-repeat center / contain;
      }
    }
  }
  &__advert-control {
    margin: 0;
    label {
      padding-left: 24px;
      color: #72839c;
      transition: color .2s linear;
      &:hover {
        color: #3366FF;
      }
    }
  }
  &__media {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__img {
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
    @media (max-width: 767px) {
      margin-right: 0;
    }
    @media (max-width: 560px) {
      width: 100%;
    }
    &-delete {
      width: 30px;
      height: 30px;
      background: url("/static/icons/file-cross.svg") no-repeat top -4px center;
      border: none;
      padding: 0;
      position: absolute;
      top: 6px;
      right: 6px;
    }
    img {
      display: block !important;
      height: 180px !important;
      @media (max-width: 560px) {
        width: 100%;
        height: auto !important;
      }
    }
  }
  &__video {
    position: relative;
    margin-bottom: 16px;
    @media (max-width: 560px) {
      width: 100%;
    }
    img {
      display: block !important;
      height: 180px !important;
      @media (max-width: 560px) {
        width: 100%;
        height: auto !important;
      }
    }
  }
  &__documents {
    margin: 0 0 16px;
    &-title {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 4px;
    }
    &-list {
      list-style: none;
    }
    &-item {
      span {
        vertical-align: middle;
      }
      button {
        vertical-align: middle;
        border: none;
        padding: 0;
        width: 14px;
        height: 18px;
        margin-left: 10px;
        background: url("/static/icons/delete.svg") no-repeat center / contain,
        url("/static/icons/delete-red.svg") no-repeat center / contain;
        &:hover {
          background: url("/static/icons/delete-red.svg") no-repeat center / contain;
        }
      }
    }
  }
  &__advert {
    margin: 8px 0 16px;
  }
  &__ad {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: normal;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .FormInput:not(:last-child) {
        margin: 0 0 16px;
      }
    }
  }
  &__form-controls {
    display: flex;
    justify-content: flex-end;
    .btn {
      @media (max-width: 560px) {
        padding: 8px 24px;
      }
      &:first-child {
        margin-right: 12px;
        @media (max-width: 560px) {
          margin-right: 10px;
        }
      }
    }
  }
  &__button {
    color: #fff;
    background: #3366ff;
    opacity: .7;
    cursor: default;
    &._active {
      opacity: 1;
      cursor: pointer;
    }
  }
  &__modal {
    & > div {
      max-width: 550px;
    }
    .Modal__inner {
      box-shadow: 2px 2px 10px rgba(0,0,0,.5);
      padding: 24px;
    }
    .Modal__close {
      width: 16px;
      height: 16px;
      top: 8px;
      right: 8px;
    }
  }
}