.exhibitions-invite {
  .exhibitions-invite__judges_list-wrap p {
      margin-bottom: 5px;
      letter-spacing: normal;
  }

  &__main-info {
    display: grid;
    grid-template-areas:
      "club club exh exh exh exh"
      "city city sdate sdate edate edate";
    gap: 30px 0;
    margin-top: 25px;

    p:first-of-type{
      grid-area: club;
    }

    p:nth-of-type(2) {
      grid-area: exh;
    }

    p:nth-of-type(3) {
      grid-area: city;
    }

    p:nth-of-type(4) {
      grid-area: sdate;
    }

    p:nth-of-type(5) {
      grid-area: edate;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: #3366FF;
      }
    }
  }

  &__judges_list-wrap {
    margin-top: 30px;

    .judge-item {
      border: 1px solid #CED4DA;
      border-bottom: none;
      padding-left: 45px;
      list-style-type: none;

      &:last-of-type {
        border: 1px solid #CED4DA;
      }

      &__wrap {
        display: grid;
        grid-template-columns: 25% 27% 23% 25%;
      }

      &__name,  &__info {
        display: flex;
        flex-direction: column;
      }

      &__info {
        p {
          display: flex;
          flex-direction: row;
          font-weight: 600;
          color: #72839c;

          span {
            font-weight: 400;
          }
        }
      }

      &__name {
        &-rus {
          text-decoration: none;
          color: black;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;

          &:hover {
            color: #3366FF;
          }

          p:last-of-type {
            display: flex;
          }
        }
      }

      &__name-eng, &__cert-number {
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        color: #72839C;
      }

      &__invite {
        text-align: center;

        button {
          margin-bottom: 15px;
        }

        p {
          display: flex;
          flex-direction: column;

          span {
            font-style: italic;
            color: #72839C;
          }
        }
      }
    }
  }

  .green {
    color: #51DEA3;
  }

  .red {
    color: #FF6977;
  }

  @media (max-width: 1079px) {
    &__main-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__judges_list-wrap {
      margin-top: 5px;

      .judge-item {
        padding: 10px;

        &__wrap {
          grid-template-areas:
            "name agreement"
            "invite invite";
          grid-template-rows: 1fr auto;
          grid-template-columns: 50% 50%;

          .judge-item__info {
            display: none;
          }
        }

        &__name {
          grid-area: name;
        }

        &__agreement {
          grid-area: agreement;
        }

        &__invite {
          grid-area:invite;
          justify-self: flex-end;
          text-align: end;
          width: 60%;

          button {
            margin-right: 0;
            padding: 10px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}