header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9;

  .container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    color: #9DAFBD;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    align-items: center;
  }

  .Dropdown {
    .css-ulftuk-option, .drop-down__item {
      color: #72839c;
      background: transparent;
      transition: all .2s linear;
    }
    .css-19y6th-option, .drop-down__item:hover {
       color: #253C5E;
       background: #f6f7f7;
     }
  }
}

.header {
  &__content {

  }

  &__logo {
    display: block;
    height: 56px;
    width: 56px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
