header {

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9;

  .container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    color: #9DAFBD;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    align-items: center;
  }


}

.header {
  &__content {

  }

  &__logo {
    display: block;
    height: 73px;
    width: 73px;
    transform: translateY(7px);

    img {
      height: 73px;
      width: 73px;
    }
  }
}
