.redesign {
  .user-contacts__info {
    margin-bottom: 24px;
    @media (max-width: 990px) {
      margin-top: 0;
    }
    @media (max-width: 560px) {
      margin-bottom: 12px;
    }
    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 12px;
      &-wrap {
        display: flex;
        justify-content: space-between;
      }
      &.subtitle {
        margin-top: 12px;
      }
    }
    &-wrap {
      position: relative;
      padding: 12px;
      a {
        border: none;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        &:not(:first-child) {
          margin-top: 6px;
          margin-bottom: 6px;
        }
        span {
          &:first-child {
            font-weight: 400;
          }
          &:last-child {
            color: #61797c;
          }
        }
      }
      .ReactCollapse--collapse {
        min-height: 125px;
        transition: height 500ms;
      }
    }
    &-address,
    &-owner,
    &-email,
    &-name,
    &-phone,
    &-site,
    &-socials,
    &-work-time {
      position: relative;
      padding-left: 30px;
      margin-bottom: 6px;
      color: #61797c;
      &:before {
        content: "";
        width: 22px;
        height: 22px;
        position: absolute;
        left: 0;
        top: 1px;
        background-repeat: no-repeat;
        background-position: 50%;
      }
      span:first-child {
        color: #253c5e;
      }
    }
    &-address:before {
      background-image: url("/static/icons/ico-pointer.svg");
    }
    &-owner:before {
      background-image: url("/static/icons/owner.svg");
    }
    &-name:before {
      background-image: url("/static/icons/icon-name.svg");
    }
    &-site:before {
      background-image: url("/static/icons/ico-web.svg");
    }
    &-email:not(:empty):before {
      background-image: url("/static/icons/ico-contact-email.svg");
    }
    &-email p,
    &-phone p,
    &-site p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
    &-phone:not(:empty):before {
      background-image: url("/static/icons/ico-contact-phone.svg");
    }
    &-socials:before {
      background-image: url("/static/icons/social/network.svg");
    }
    &-work-time {
      span {
        font-weight: 400;
      }
      p {
        color: #61797c;
      }
      &:before {
        background-image: url("/static/icons/time.svg");
      }
    }
    &-documents {
      margin-top: 12px;
      a {
        &:not(:first-child) {
          margin-top: 6px;
        }
        &:before {
          content: "";
          display: inline-block;
          width: 12px;
          height: 16px;
          margin-right: 6px;
          background: url("/static/icons/ico-document-link.svg") no-repeat center;
        }
      }
    }
    &-bank {
      margin-top: 36px;
      .club-page__info-details {
        color: #61797c;
        font-weight: 300;
        span {
          color: #253c5e !important;
          font-weight: 400 !important;
        }
      }
    }
    &-show-more {
      display: block;
      width: 50px;
      height: 45px;
      position: absolute;
      right: calc(50% - 25px);
      bottom: -20px;
      background: url("/static/images/slider/slider-button.svg") center center no-repeat;
      transform: rotate(90deg);
      &.opened {
        transform: rotate(-90deg);
      }
    }
    &-city {
      position: relative;
      padding-left: 22px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #72839c;
      white-space: nowrap;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      &:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 20px;
        left: 0;
        top: 2px;
        background: url("/static/icons/pin-gray.svg") center no-repeat;
        @media (max-width: 560px) {
          height: 16px;
          background-size: contain;
        }
      }
      @media (max-width: 560px) {
        display: block;
        text-align: left;
        font-size: 14px;
        line-height: 22px;
        padding-left: 18px;
        margin-left: 0;
      }
    }
  }
}
