.search-form {
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 560px) {
        justify-content: flex-end;
    }
    h3 {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
    }
    &__text_wrap {
        @media (min-width: 1080px) {
            display: flow-root;
        }
    }
    &__wrap-with_but{
        display: flex;
        align-items: center;
        .search-form__cancel{
            right: 40px;
        }
        .search-form__button{
            margin: 26px 0 0 6px;
        }
    }

    &__text{
        margin-bottom: 20px;
    }
    &__icon {
        float: right;
        width: 145px;
        height: 145px;
        margin: 0 0 10px 40px;
        background: url("/static/images/news/empty_list.png") center center/contain no-repeat;
        @media (max-width: 560px) {
            width: 100px;
            height: 100px;
        }
        &.global-search {
            background-image: url("/static/images/base_search/global-search.svg");
            background-size: 134px 121px;
            @media (max-width: 560px) {
                width: 95px;
                background-size: contain;
            }
        }
    }
    &__button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        word-break: normal;
        button {
            margin-left: 6px;
            padding: 0;
            display: block;
            border: none;
            background: #ffffff;
            box-sizing: border-box;
            & svg:hover {
                fill: #3366ff;
                transition: fill 0.2s linear;
            }

        }
        .Loading__title {
            margin: 0;
            width: 5em;
            height: 5em;
        }
    }
}

.Card._active_card {
    box-shadow: 0 6px 12px #3366ff;
    transition: all 0.2s linear;
}

.global-search-form__input{
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 5px 34px 5px 10px;
    margin: 5px 0 6px 0 !important;
    height: calc( 1.5em + 0.75rem + 2px);
    width: 100%;
}

.global-search-form__wrap{
    position: relative;
    flex-grow: 1;
    margin: 0 6px 6px 0;
    &:not(:first-child) {
        @media (max-width: 768px) {
            margin-left: 0;
        }
    }
    &:nth-child(3) {
        @media (max-width: 768px) {
            margin-left: 0;
        }
    }
}
