.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media (max-width: 560px) {
    padding: 12px;
  }
  &-page {
    display: flex;
  }
  &__wrap-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    @media (max-width: 560px) {
      display: block;
      .btn {
        padding: 8px 24px;
      }
    }
  }
  &__item-head {
    text-decoration: none;
    display: flex;
    align-items: center;
    @media (max-width: 560px) {
      margin-bottom: 24px;
    }
  }
  &__item-body {
    h1 {
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    flex-grow: 1;
    img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
    }
    iframe {
      max-width: 100%;
    }
  }
  &__avatar {
    width: 46px;
    min-width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-right: 12px;
  }
  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  &__date {
    color: #72839c;
    font-size: 14px;
  }
  &__text {
    white-space: pre-wrap;
    margin-bottom: 24px;
    iframe {
      max-width: 100%;
      display: block;
      margin: auto;
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    margin: 24px auto;
  }
  &__video {
    display: block;
    margin: 0 auto;
    padding-top: 24px;
    width: 100%;
    max-width: 780px !important;
    height: 35.40vw;
    max-height: 438px;
    &._disabled {
      display: none;
    }
    @media (max-width: 990px) {
      width: 700px;
      height: 394px;
    }
    @media (max-width: 767px) {
      width: 493px;
      height: 277px;
    }
    @media (max-width: 560px) {
      width: 100%;
      height: 51vw;
    }
  }
  &__documents {
    margin-top: 24px;
    &-title {
      color: #72839c;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 6px;
    }
    &-list {
      list-style: none;
    }
    &-link {
      position: relative;
      padding-left: 26px;
      text-decoration: none;
      color: #72839c;
      transition: color .2s linear;
      &:before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        background: url("/static/icons/icon-pdf.svg") no-repeat center/contain,
        url("/static/icons/icon-pdf-blue.svg") no-repeat center/contain;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &:hover {
        color: #3366FF;
        &:before {
          background: url("/static/icons/icon-pdf-blue.svg") no-repeat center/contain;
        }
      }
    }
  }
  &__buttons {
    text-align: right;
    button + button {
      margin-left: 20px;
    }
    .edit-button,
    .back-button {
      text-decoration: none;
      display: inline-block;
      margin-top: 12px;
      padding: 0;
      border: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      position: relative;
      align-self: flex-end;
    }
    .back-button {
      padding-left: 12px;
      color: #3366ff;
      &:after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        height: 10px;
        width: 6px;
        background: url("/static/icons/chevron_right-blue.svg") center no-repeat;
        transform: scaleX(-1);
      }
    }
  }
}
