.GalleryAlbums {
    &__link {
        color: #36f;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        cursor: pointer;
        margin-left: 10px;
        white-space: nowrap;
    }
    &__items-wrap {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 10px;
        @media (max-width: 560px) {
            flex-wrap: nowrap;
            overflow-x: auto;
        }
    }
    &__item {
        width: 200px;
        min-width: 200px;
        height: 170px;
        margin: 0 10px 10px 0;
        &-cover {
            position: relative;
            width: 100%;
            height: 150px;
            border-radius: 6px;
            box-shadow: 0px 2px 6px rgba(51, 102, 255, 0.3);
        }
        &-name {
            position: absolute;
            bottom: 4px;
            left: 4px;
            max-width: calc(100% - 40px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
            font-size: 16px;
            line-height: 22px;
        }
        &-count {
            position: absolute;
            bottom: 4px;
            right: 4px;
            font-size: 12px;
            line-height: 1;
            padding: 3px 7px 4px;
            border-radius: 12px;
            color: #fff;
            background-color: #3366ff;
        }
    }
    h4 {
        margin-bottom: 5px;
    }
}
.AddAlbum__modal {
    & > div {
        width: 50%;
        @media (max-width: 560px) {
            width: 92%;
        }
    }
    h3 {
        margin-bottom: 20px;
    }
    .Modal__inner {
        padding: 10px;
    }
    &-button {
        padding: 5px 15px;
        float: right;
    }
}
.EditAlbum {
    overflow: hidden;
    margin-bottom: 28px;
    &__button {
        padding: 5px 15px;
        float: right;
    }
}
