.Submit-button {
    &__save {
        margin-bottom: 20px;
        color: #fff;
        background: #00c48c;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        padding: 11px 36px;
        cursor: pointer;
        transition: background-color .2s linear;

        &:hover {
            background-color: #1ba889;
        }
    }
}
