.user-page {
  background: #f5f8ff;
  @media (max-width: 990px) {
    min-height: calc(100vh - 108px);
    .user-banner {
      display: none;
    }
  }
  & + .Footer {
    display: none;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &__right {
    width: calc(100% - 316px);
    margin-top: 16px;
    @media (max-width: 990px) {
      width: 100%;
      padding-bottom: 1px;
    }
  }
  &__left {
    width: 300px;
    min-width: 300px;
    margin: 16px 16px 0 0;
    @media (max-width: 990px) {
      width: 100%;
      min-width: auto;
      margin-right: 0;
      & > div {
        position: static !important;
      }
    }
  }
  .Card {
    padding: 10px;
    margin-bottom: 16px;
  }
  .mobile-only {
    display: none;
    @media (max-width: 990px) {
      display: block;
      .user-banner {
        display: block;
      }
    }
  }
}