.exhibition-documents{
  .ExhibitionListItem {
    border: none;
    padding: 0;
    &__form {
      display: flex;
      .FormGroup {
        margin: 0;
      }
      .btn {
        padding: 14px 34px;
        max-height: 50px;
        margin-right: 16px;
      }
      > .btn {
        align-self: end;
        margin-right: 0;
      }
    }
  }
  .Dropdown button {
    text-align: left;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #72839c;
    letter-spacing: 0.2px;
    padding: 8px 16px;
    white-space: nowrap;
    min-width: 160px;
    cursor: pointer;
    &:hover {
      color: #3366ff;
      background-color: whitesmoke;
    }
  }
}

.ExhibitionListItem {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
  &__controls{
    margin-left: auto;
  }
  .Dropdown__button {
    width: 20px;
    height: 20px;
    &:after {
      top: 0;
      height: 20px;
      width: 20px;
      background: url("/static/icons/ico-dots-horizontal.svg") center no-repeat;
    }
    &--visible {
      width: 20px;
      height: 20px;
      &:after {
        top: 0;
        height: 20px;
        width: 20px;
        background: url("/static/icons/ico-dots-horizontal.svg") center no-repeat;
        filter: invert(1);
        transform: none;
      }
    }
  }
}
