.user-nav {
  cursor: pointer;
  text-align: center;
  color: #979797;
  font-size: 13px;


  @media (max-width: 1080px) {
    z-index: 99;
    width: 50px;
    height: 50px;
    background: url("/static/icons/footer-menu/more.svg") no-repeat;
  }
  &__button {
    padding: 25px 10px;
    border: none;
    align-items: center;
    color: #979797;
    font-size: 13px;

    //span {
    //  display: block;
    //  position: absolute;
    //  height: 2px;
    //  width: 22px;
    //  background: #fff;
    //  opacity: 1;
    //  left: 9px;
    //  transform: rotate(0deg);
    //  transition: all .2s ease-in-out;
    //}
    &._open {
      //span {
      //  &:nth-child(1) {
      //    top: 19px;
      //    width: 0;
      //    left: 50%;
      //  }
      //  &:nth-child(2) {
      //    transform: rotate(45deg);
      //  }
      //  &:nth-child(3) {
      //    transform: rotate(-45deg);
      //  }
      //  &:nth-child(4) {
      //    top: 19px;
      //    width: 0;
      //    left: 50%;
      //  }
      //}
      svg path{
        stroke: #3366FF;
      }
    }
  }
  &__list {
    list-style: none;
    text-align: start;
    @media (max-width: 1080px) {
      position: fixed;
      right: 19px;
      bottom: 65px;
      z-index: 2;
      width: 240px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 8px 25px rgba(51, 102, 255, 0.2);
      border-radius: 6px;
    }
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &-notification {
      line-height: 1;
      letter-spacing: .2px;
      color: #ffffff;
      font-size: 15px;
      background-color: #3366FF;
      border-radius: 33px;
      padding: 2px 10px 4px;
      position: absolute;
      left: 244px;
      top: 5px;
      @media (max-width: 990px) {
        left: 184px;
      }
      &._plus {
        left: 234px;
        padding-right: 20px;
        @media (max-width: 990px) {
          left: 174px;
        }  
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 7px;
          height: 7px;
          background: url("/static/icons/icon-plus.svg") center no-repeat;
          top: 7px;
          left: 30px;
        }
      }
    }
    &._hidden {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    line-height: 1;
    letter-spacing: .2px;
    color: #72839c !important;
    transition: color .2s linear;
    svg {
      width: 20px;
      margin-right: 6px;
      fill: #72839c;
      vertical-align: middle;
      opacity: 1 !important;
      cursor: pointer !important;
      transition: fill .2s linear;
    }
    span {
      vertical-align: middle;
      font-size: 16px;
    }
    &:hover, &.active {
      color: #3366FF !important;
      svg {
        fill: #3366FF;
      }
    }
    &._disabled {
      color: #72839c !important;
      cursor: default;
      opacity: .5;
      svg {
        fill: #72839c !important;
        cursor: default;
      }
    }
  }
  &__transition {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(-10px);
    }
    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity .2s, transform .2s;
    }
    &-exit {
      opacity: 1;
      transform: translateY(0);
    }
    &-exit-active {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity .2s, transform .2s;
    }
  }
}
._desktop_card {
  padding: 10px !important;
  background-color: #fff !important;
  border-radius: 6px;
  margin-bottom: 16px;
  box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
}
