.user-nav {
  @media (max-width: 990px) {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 2;
  }
  &__button {
    padding: 0;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3366ff;
    box-shadow: 0 0 3px #011f7b;
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 22px;
      background: #fff;
      opacity: 1;
      left: 9px;
      transform: rotate(0deg);
      transition: all .2s ease-in-out;
      &:nth-child(1) {
        top: 13px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 19px;
      }
      &:nth-child(4) {
        top: 25px;
      }
    }
    &._open {
      span {
        &:nth-child(1) {
          top: 19px;
          width: 0;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 19px;
          width: 0;
          left: 50%;
        }
      }
    }
  }
  &__list {
    list-style: none;
    @media (max-width: 990px) {
      position: fixed;
      right: 19px;
      bottom: 83px;
      z-index: 2;
      width: 240px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 8px 25px rgba(51, 102, 255, 0.2);
      border-radius: 6px;
      &:before {
        content: "";
        position: absolute;
        right: 14px;
        bottom: -8px;
        z-index: -1;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #fff;
        transform: rotate(45deg);
      }
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__link {
    text-decoration: none;
    line-height: 1;
    letter-spacing: .2px;
    color: #72839c !important;
    transition: color .2s linear;
    svg {
      width: 20px;
      margin-right: 6px;
      fill: #72839c;
      vertical-align: middle;
      opacity: 1 !important;
      cursor: pointer !important;
      transition: fill .2s linear;
    }
    span {
      vertical-align: middle;
    }
    &:hover, &.active {
      color: #3366FF !important;
      svg {
        fill: #3366FF;
      }
    }
    &._disabled {
      color: #72839c !important;
      cursor: default;
      opacity: .5;
      svg {
        fill: #72839c !important;
        cursor: default;
      }
    }
  }
  &__transition {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(-10px);
    }
    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity .2s, transform .2s;
    }
    &-exit {
      opacity: 1;
      transform: translateY(0);
    }
    &-exit-active {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity .2s, transform .2s;
    }
  }
}