.individual-registration {
  &__form {
    &-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 154px;
      height: 40px;
      margin: 30px auto 0;
    }
  }
  &__psw {
    &-wrap {
      position: relative;
    }
    width: 24px;
    height: 24px;
    position: absolute;
    display: inline-block;
    top: 40px;
    right: 10px;
    background: url("/static/icons/psw-eye-closed.svg") center no-repeat;
    background-size: contain;
    border: none;
    &._show-password {
      background: url("/static/icons/psw-eye-open.svg") center no-repeat;
      background-size: contain;
    }
  }
  &__psw-confirm {
    width: 24px;
    height: 24px;
    position: absolute;
    display: inline-block;
    top: 135px;
    right: 10px;
    background: url("/static/icons/psw-eye-closed.svg") center no-repeat;
    background-size: contain;
    border: none;
    &._show-confirm {
      background: url("/static/icons/psw-eye-open.svg") center no-repeat;
      background-size: contain;
    }
  }
  #passwordConfirm {
    padding-right: 38px;
  }
}