.individual-registration {
  &__form {
    &-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 154px;
      height: 40px;
      margin: 30px auto 0;
    }
  }
  &__psw {
    &-wrap {
      position: relative;
      & > div {
        position: relative;

        .FormInput__error {
          position: relative;
          white-space: unset;
          top: 0;
        }
        &:last-of-type {
          .individual-registration__psw-confirm {
            top: 30px;
          }
        }
      }
    }
    width: 24px;
    height: 24px;
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 10px;
    background: url("/static/icons/psw-eye-closed.svg") center no-repeat;
    background-size: contain;
    border: none;
    &._show-password {
      background: url("/static/icons/psw-eye-open.svg") center no-repeat;
      background-size: contain;
    }
  }
  &__psw-confirm {
    width: 24px;
    height: 24px;
    position: absolute;
    display: inline-block;
    top: 106px;
    right: 10px;
    background: url("/static/icons/psw-eye-closed.svg") center no-repeat;
    background-size: contain;
    border: none;
    &._show-confirm {
      background: url("/static/icons/psw-eye-open.svg") center no-repeat;
      background-size: contain;
    }
  }
  #passwordConfirm {
    padding-right: 38px;
  }

  .custom-checkbox {
    margin-top: -15px;
  }

  label[for=individual-registration__data-privacy] {
    display: inline-block;
    top: 12px;
    margin-bottom: 0 !important;
    padding-top: 5px;
    padding-left: 30px;
    max-width: 330px;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;

    a {
      text-decoration: none;
    }
  }
}