.wiki-help {
  text-decoration: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  background: url("/static/icons/icon-question.svg") center/contain no-repeat;
  @media (max-width: 560px) {
    margin: 0 0 0 10px;
  }
}
