.Footer {
  background: #ebf0ff;
  &__inner {
    width: 1184px;
    margin: auto;
    overflow: hidden;
    hr {
      height: 1px;
      border: none;
      background: #90999e;
      opacity: 0.5;
      margin-bottom: 24px;
    }
    & > p {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #676d75;
      margin-bottom: 24px;
    }
    &-wrap {
      margin: auto;
      display: flex;
      padding: 32px 0 52px;
      h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
      }
      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-bottom: 4px;
      }
    }
  }
  &__bottom {
    background: #282a2b;
    border-top: 1px solid #4b4c4d;
    &-wrap {
      margin: auto;
      padding: 10px 0 20px;
      @media (max-width: 1220px) {
        padding: 15px 24px;
      }
      @media (max-width: 560px) {
        padding: 12px;
      }
      p {
        margin: 0;
        text-align: center;
        font-size: 10px;
        line-height: 15px;
        font-weight: 400;
      }
    }
    &-social {
      font-size: 20px;
      text-align: center;
      line-height: 1;
      padding-bottom: 20px;
      a {
        display: inline-block;
        margin-right: 10px;
        &:hover {
          opacity: 0.8;
        }
        img {
          display: block;
          height: 20px;
          width: 20px;
        }
      }
    }
  }
  &__address {
    margin-left: 162px;
  }
  &__sections,
  &__socials {
    margin-left: 105px;
    a {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      text-decoration: underline;
      color: #253c5e;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__socials h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
  }
  p.Footer__language {
    font-weight: 300;
    span {
      font-weight: 400;
    }
  }
}
