.Footer {
  background: #ebf0ff;
  &__inner {
    overflow: hidden;
    @media (max-width: 560px) {
      padding: 0 16px;
    }
    hr {
      height: 1px;
      border: none;
      background: #90999e;
      opacity: 0.5;
    }
    & > p {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #676d75;
      margin-bottom: 24px;
    }
    &-wrap {
      margin: auto;
      display: flex;
      padding: 42px 0 88px;
      @media (max-width: 990px) {
        padding: 40px 0;
        justify-content: space-between;
      }
      @media (max-width: 768px) {
        padding: 24px 0;
        display: block;
        & > div {
          margin: 0 0 24px;
          &:last-child {
            margin: 0;
          }
        }
      }
      @media (max-width: 560px) {
        padding: 16px 0;
        & > div {
          margin: 0 0 16px;
          &:last-child {
            margin: 0;
          }
        }
      }
      h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
        @media (max-width: 768px) {
          margin-bottom: 8px;
        }
      }
      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-bottom: 4px;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #72839c;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__address {
    margin-left: 257px;
    p {
      margin-bottom: 8px;
      padding-left: 30px;
    }
    &-pin {
      background: url(/static/icons/public/pin.svg) -8px 50% no-repeat;
    }

    &-phone {
      background: url(/static/icons/public/phone.svg) -8px 50% no-repeat;
    }

    &-email {
      background: url(/static/icons/public/email.svg) -8px 50% no-repeat;
    }

    &-web {
      background: url(/static/icons/public/web.svg) -8px 50% no-repeat;
    }
  }
  &__sections,
  &__company,
  &__exhibitions {
    margin-left: 94px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 990px) {
      margin-left: 24px;
    }
    .link {
      color: #253c5e;
      margin-bottom: 8px;
      border-bottom-color: rgba(37, 60, 94, 0.1);
      font-weight: normal;
      &:hover {
        border-bottom-color: rgba(37, 60, 94, 1);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    span {
      display: block;
      margin-bottom: 8px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #90999e;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__sections {
    margin-left: 74px;
    @media (max-width: 990px) {
      margin-left: 24px;
    }
  }
  &__company {
    margin-left: 0;
    @media (max-width: 990px) {
      margin-left: 24px;
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    a {
      width: 20px;
      height: 20px;
    }
    @media (max-width: 768px) {
      order: -1;
      margin-bottom: 16px;
    }
  }
  p.Footer__language {
    font-weight: 300;
    span {
      font-weight: 400;
    }
  }
}
