.calendar-filter__range {
  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  &-title {
    margin-top: 10px;
    display: block;
  }
  &-text {
    font-size: 16px;
    display: flex;
    width: 165px;
    justify-content: space-between;
  }
  &-from,
  &-to {
    width: 135px;
  }
}
.k-dateinput-wrap,
.k-state-invalid {
  border-color: #ebf0f2 !important;
}
.k-calendar-navigation {
  display: none;
}
.k-animation-container::before {
  content: '';
  position: relative;
  left: 1px;
  display: block;
  width: 20px;
  height: 15px;
  background: url('/static/icons/triangle.svg') no-repeat center;
  background-size: contain;
}