.calendar-filter__range {
  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  &-title {
    margin-top: 10px;
    display: block;
  }
  &-text {
    font-size: 16px;
    display: flex;
    width: 165px;
    justify-content: space-between;
  }
  &-from,
  &-to {
    width: 135px;
  }
}
.k-dateinput-wrap,
.k-state-invalid {
  border-color: #ebf0f2 !important;
}
.k-calendar-navigation {
  display: none;
}
.k-input {
  pointer-events: none;
}
.k-picker-wrap.k-state-focused {
  box-shadow: 0 0 0 1pt #36f !important;
}