.calendar-filter__range {
  &-wrap {
    width: 275px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
  }
  &-title {
    margin-top: 10px;
    display: block;
  }
  &-text {
    font-size: 16px;
    display: flex;
    width: 160px;
    justify-content: space-between;
    margin-right: auto;
    margin-left: calc(50% - 138px);
    &._search_range {
      width: 160px;
    }
  }
  &-from,
  &-to {
    width: 135px;
  }
}
.k-dateinput-wrap,
.k-state-invalid {
  border-color: #ebf0f2 !important;
}
.k-picker-wrap.k-state-focused {
  border-color: #80bdff !important;
  box-shadow: 0 0 5px 2px #80bdff !important;
}
.calendar-filter {
  &__controls {
    width: 275px;
    margin-right: auto;
    margin-left: auto;
  }
}