.rkf-page {
  @media (max-width: 990px) {
    padding-bottom: 24px;

    .rkf_profile-slider {

      .slick-slider {
        margin: 0 0 0 -12px;

        .slick-list {
          padding-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 560px) {
    padding-bottom: 16px;
  }
  h4 {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #253C5E;
  }
  & + .Footer {
    display: none;
  }
  &__banner {
    margin-bottom: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(51, 102, 255, 0.08);
    border-radius: 6px;
    img {
      display: block;
      width: 100%;
    }
    @media (max-width: 560px) {
      margin-bottom: 16px;
    }
  }
  &__photo._mobile {
    display: none;
    @media (max-width: 990px) {
      display: flex;
      margin: 16px 0;

      .photo-component {
        display: flex;
        width: 100%;
        min-width: auto;
        padding: 10px;
        background-color: #fff;
        margin: 0;

        &__photo {
          min-width: 164px;
          max-width: 264px;
          margin-right: 20px;
        }

        &__description {
          position: static;
          justify-content: center;
          background: transparent;
          padding: 0;
          gap: 10px;
        }

        &__title, &__subtitle {
          color: #253c5e;
        }

        &__title {
          font-size: 18px;
          margin-top: 0;
        }
      }
    }
    @media (max-width: 560px) {
      .photo-component {
        display: block;
        background-color: transparent;
        padding: 0;
        margin-bottom: 16px;
        &__photo {
          min-width: 100%;
          max-width: 100%;
          margin-right: 0;
          border-radius: 0;
        }
        &__description {
          position: absolute;
          background: linear-gradient(0deg, #253C5E 0%, rgba(37, 60, 94, 0) 54.74%);
          padding: 8px 16px;
        }
        &__title, &__subtitle {
          color: #fff;
        }
        &__title {
          font-size: 16px;
          margin-top: auto;
        }
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      flex-direction: column-reverse;
    }
  }
  &__left {
    .Card {
      padding: 10px;
    }
    //width: 266px;
    //min-width: 266px;
    width: 300px;
    min-width: 300px;
    margin-right: 15px;
    @media (max-width: 990px) {
      margin-right: 0;
      display: block;
      width: 100%;
      order: 1;
      & > div {
        min-width: 100%;
        margin-bottom: 16px;
        &:last-child {
          margin-left: 0;
        }
      }
      .photo-component, .menu-component {
        display: none;
      }

      .about-component {

        h4 {
          padding-bottom: 10px;
          border-bottom: 1px solid #E5E5E5;
        }

        p {
          line-height: 20px;
        }
      }

      .contacts-component {

        &__title {
          padding-bottom: 10px;
          border-bottom: 1px solid #E5E5E5;
        }
      }

      @media (min-width: 450px) {
        .members-component {
          &__title {
            padding-bottom: 10px;
            border-bottom: 1px solid #E5E5E5;
          }

          &__list {
            display: flex;
            justify-content: space-around;
          }

          &__item {
            margin-bottom: 6px;
          }
        }
      }
    }
    @media (max-width: 560px) {
      display: block;
      & > div {
        width: 100%;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        &:nth-child(odd) {
          margin-right: 0;
        }
        &:nth-child(even) {
          margin-left: 0;
          margin-bottom: 16px;
        }
      }
    }
  }
  &__right {
    width: 100%;
    @media (min-width: 990px) and (max-width: 1100px) {
      width: 68%;
     }
    .news-card__text img {
      display: none;
    }
  }
}