.photo-component {
  & button {
    z-index: 999;
    &.user-info__edit-btn,
    &.user-info__delete-btn {
      padding: 0;
      border: none;
      border-radius: 50% !important;
      background-color: #e4e6eb;
      display: flex;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 15px;
    }
    &.user-info__edit-btn {
      right: 50px;
      &.empty-photo {
        right: 15px;
      }
    }
    &.user-info__delete-btn {
      right: 15px;

      svg {
        fill: red !important;
      }
    }
  }
  position: relative;
  box-shadow: 0 4px 12px rgba(51, 102, 255, 0.08);
  border-radius: 6px;
  overflow: hidden;
  margin: 0 0 16px 0;
  &__photo {
    display: block;
    width: 100%;
  }
  &__description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #253C5E 0%, rgba(37, 60, 94, 0) 54.74%);
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    @media (max-width: 990px) {
      gap: 0!important;
    }
    @media (max-width: 561px) {
      gap: 10px;
    }
  }
  &__title {
    margin-top: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
  }
  &__subtitle {
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #fff;
    @media (max-width: 990px) {
      margin-top: 10px;
    }
    @media (max-width: 561px) {
      margin-top: unset;
    }
  }
}
.user-info {
  &__transition {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(10px);
    }

    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }

    &-exit {
      opacity: 1;
      transform: translateY(0);
    }

    &-exit-active {
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.2s, transform 0.2s;
    }
  }
}