.exhibitions-component {
  margin: 0;
  width: 100%;
  @media (max-width: 560px) {
    overflow: hidden;
  }
  & .slick-list {
    padding-bottom: 16px;
  }
  &__header {
    margin-bottom: 12px;
    a {
      text-decoration: none;
      text-transform: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #72839c !important;
      transition: all 0.2s linear;
      &:hover {
        color: #3366ff !important;
      }
    }
  }
  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    margin-right: 4px;
  }
  #exhibitions-component {
    display: flex;
    justify-content: space-between;
  }
  .slick-slider {
    @media (max-width: 1220px) {
      margin: 0 -12px 0 0;
    }
    @media (max-width: 768px) {
      margin: 0 0 0 -12px;
    }
    @media (max-width: 560px) {
      margin: 0 0 0 -4px;
    }
  }
  .slick-list {
    @media (max-width: 768px) {
      padding: 0 100px 0 0 !important;
    }
  }
  .slick-track {
    display: flex;
    align-items: stretch;
    margin: 0;
  }
  .slick-slide {
    display: flex;
    margin: 0 8px;
    @media (max-width: 1220px) {
      margin: 0 12px;
    }
    @media (max-width: 1080px) {
      padding-bottom: 5px;
    }
    & > div {
      display: flex;
      @media (max-width: 1220px) {
        width: 100%;
      }
    }
  }
  .slick-slide:first-child {
    margin: 0 8px 0 0;
    @media (max-width: 900px) {
      margin: 0 12px;
    }
    @media (max-width: 600px) {
      margin: 0 8px;
    }
  }
  .slick-next {
    width: 44px;
    height: 40px;
    right: -8px;
    top: calc(50% - 25px);
    @media (max-width: 1250px) {
      right: 13px;
    }
    @media (max-width: 1220px) {
      right: -7px;
    }
  }
  .slick-prev {
    width: 44px;
    height: 40px;
    left: -8px;
    z-index: 1;
    top: calc(50% - 44px);
    transform: rotate(180deg);
    @media (max-width: 1250px) {
      left: 13px;
    }
    @media (max-width: 1220px) {
      left: -7px;
    }
  }
  .slick-disabled {
    display: none !important;
  }
  &__one-slide {
    border-radius: 6px;
    & .slick-list {
      padding: 0!important;
      & .slick-track {
        width: 100%!important;
        & .slick-slide {
          width: 100%!important;
          margin: 0!important;
        }
      }
    }
  }

  &.exhibitions-homepage {
    width: 1184px;
    margin: 0 auto 0 auto;
    @media (max-width: 1250px) {
      width: 100%;
      padding: 0 24px;
      height: 435px;
    }
    @media (max-width: 1180px) {
      height: auto;
    }
    @media (max-width: 1980px) {
      margin: 0 auto 0 auto;
    }
    @media (max-width: 768px) {
      padding: 0 0 0 24px;
    }
    @media (max-width: 399px) {
      margin-bottom: 10px;
      padding: 0 0 0 16px;
    }
    .exhibitions-component__header {
      margin: 0;
    }
    .exhibitions-component__title {
      a {
        color: #253c5e !important;
        text-decoration: none;
        text-transform: none;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
      }
      margin-bottom: 12px;
      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 12px;
      }
      @media (max-width: 560px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
    .exhibitions-homepage__show-more {
      text-align: center;
      img {
        width: 285px;
        margin: 0 auto;
      }
      @media (max-width: 560px) {
        img {
          width: auto;
          max-height: 150px;
          margin: 0 auto;
        }
      }
      &-wrap {
        margin: 10px;
        @media (max-width: 560px) {
          margin: 16px 8px 16px;
        }
      }
      h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
        padding: 0;
      }
      p {
        max-width: 320px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-bottom: 33px;
      }
      a {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
        color: #ffffff;
        padding: 9px 0;
        display: block;
        width: 100%;
        background: #3366ff;
        box-shadow: 0px 4px 8px rgba(51, 102, 255, 0.3);
        border-radius: 4px;
        text-decoration: none;
        &:hover {
          background: #3366ff;
          box-shadow: 0px 3px 15px rgba(51, 102, 255, 0.5);
        }
        @media (max-width: 560px) {
          font-size: 14px;
          line-height: 20px;
          padding: 8px 0;
        }
      }
    }
    .slick-list {
      padding: 0 100px 15px 0 !important;
    }
    .slick-slide {
      & > div {
        display: flex;
        @media (max-width: 1220px) {
          width: 100%;
          margin: 0 12px 0 0;
        }
        @media (max-width: 560px) {
          margin: 0;
          padding-bottom: 0;
        }
      }
    }
    .slick-slide:last-child {
      width: 416px;
      div {
        width: 100%;
      }
      .exhibitions-homepage__show-more-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        padding: 0 10px;
      }
      @media (max-width: 1181px) {
        img {
          height: 26.4vw;
          min-height: 26.4vw
        }
        & .exhibitions-homepage__show-more-wrap {
          height: 195px;
        }
      }
      @media (max-width: 800px) {
        margin-right: -40px;
        img {
          height: 37.2vw;
          min-height: 37.2vw;
        }
      }
      @media (max-width: 561px) {
        & .exhibitions-homepage__show-more-wrap {
          height: 227px;
        }
      }
      @media (max-width: 450px) {
        & .exhibitions-homepage__show-more-wrap {
          height: 224px;
        }
      }
      @media (max-width: 400px) {
        & .exhibitions-homepage__show-more-wrap {
          height: 222px;
        }
      }
    }
  }
  &.rkf_profile-slider {
    @media (max-width: 768px) {
      & .slick-slider {
        & .slick-slide:last-child {
          margin-right: -50px!important;
        }
      }
    }
  }
}
