.exhibitions-component {
  margin: 0;
  width: 100%;
  @media (max-width: 560px) {
    overflow: hidden;
  }
  &__header {
    margin-bottom: 12px;
    a {
      text-decoration: none;
      text-transform: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #72839c !important;
      border-bottom: 1px solid transparent;
      transition: all 0.2s linear;
      &:hover {
        color: #3366ff !important;
        border-bottom-color: #3366ff;
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 4px;
  }
  #exhibitions-component {
    display: flex;
    justify-content: space-between;
  }
  .slick-slider {
    margin: 0 -20px;
    @media (max-width: 1220px) {
      margin: 0 -12px;
    }
    @media (max-width: 768px) {
      margin: 0 0 0 -12px;
    }
    @media (max-width: 560px) {
      margin: 0 0 0 -4px;
    }
  }
  .slick-list {
    @media (max-width: 768px) {
      padding: 0 100px 0 0 !important;
    }
  }
  .slick-track {
    display: flex;
    align-items: stretch;
    margin: 0;
  }
  .slick-slide {
    display: flex;
    height: auto;
    margin: 0 20px;
    padding-bottom: 24px;
    @media (max-width: 1220px) {
      margin: 0 12px;
    }
    @media (max-width: 560px) {
      margin: 0 4px;
      padding-bottom: 16px;
    }
    & > div {
      display: flex;
      @media (max-width: 1220px) {
        width: 100%;
      }
    }
  }
  .slick-next {
    width: 55px;
    height: 55px;
    right: -8px;
    top: calc(50% - 27px);
    @media (max-width: 1250px) {
      right: 13px;
    }
    @media (max-width: 1220px) {
      right: -7px;
    }
  }
  .slick-prev {
    width: 55px;
    height: 55px;
    left: -8px;
    z-index: 1;
    top: calc(50% - 55px);
    transform: rotate(180deg);
    @media (max-width: 1250px) {
      left: 13px;
    }
    @media (max-width: 1220px) {
      left: -7px;
    }
  }
  .slick-disabled {
    display: none !important;
  }

  &.exhibitions-homepage {
    padding-top: 0;
    width: 1184px;
    margin: 0 auto;
    @media (max-width: 1220px) {
      width: 100%;
      padding: 0 24px;
    }
    @media (max-width: 768px) {
      padding: 0 0 0 24px;
    }
    @media (max-width: 560px) {
      padding: 0 0 0 16px;
      margin-bottom: 16px;
    }
    .exhibitions-component__header {
      margin: 0;
    }
    .exhibitions-component__title {
      a {
        color: #253c5e !important;
        text-decoration: none;
        font-weight: 700;
        text-transform: none;
        font-size: 26px;
        line-height: 32px;
      }
      margin-bottom: 12px;
      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 12px;
      }
      @media (max-width: 560px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
    .exhibitions-homepage__show-more {
      text-align: center;
      img {
        width: 285px;
        margin: 0 auto;
      }
      @media (max-width: 560px) {
        img {
          width: auto;
          max-height: 150px;
          margin: 0 auto;
        }
      }
      &-wrap {
        margin: 24px;
        @media (max-width: 560px) {
          margin: 16px 8px 16px;
        }
      }
      h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
        padding: 0;
      }
      p {
        max-width: 320px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-bottom: 24px;
      }
      a {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
        color: #ffffff;
        padding: 11px 0;
        display: block;
        width: 100%;
        background: #3366ff;
        box-shadow: 0px 4px 8px rgba(51, 102, 255, 0.3);
        border-radius: 4px;
        text-decoration: none;
        &:hover {
          background: #3366ff;
          box-shadow: 0px 3px 15px rgba(51, 102, 255, 0.5);
        }
        @media (max-width: 560px) {
          font-size: 14px;
          line-height: 20px;
          padding: 8px 0;
        }
      }
    }
    .slick-list {
      padding: 0 100px 0 0 !important;
    }
    .slick-slide {
      & > div {
        display: flex;
        @media (max-width: 1220px) {
          width: 100%;
          margin: 0 12px 0 0;
        }
        @media (max-width: 560px) {
          margin: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
