.exhibitions-component {
  #exhibitions-component {
    display: flex;
    justify-content: space-between;
  }
  margin: 0 -20px 24px;
  @media (max-width: 1220px) {
    margin: 0 -12px 24px;
  }
  @media (max-width: 768px) {
    overflow: hidden;
    margin: 0 -24px 24px;
    padding-left: 12px;
    padding-right: 6px;
  }
  @media (max-width: 560px) {
    overflow: hidden;
    margin: 0 -16px 16px;
    padding-left: 12px;
    padding-right: 2px;
  }
  .exhibition-card, .exhibition-placeholder {
    margin: 0 20px;
    @media (max-width: 1220px) {
      margin: 0 12px;
    }
    @media (max-width: 1180px) {
      &:last-child {
        display: none;
      }
    }
    @media (max-width: 768px) {
      min-width: 69.27vw;
      &:last-child {
        display: flex;
      }
    }
    @media (max-width: 560px) {
      margin: 0 4px;
    }
  }
}