.news-component {
  &__header-wrap {
    background: #fff;
    padding: 10px 10px 0;
    border-radius: 6px;
    position: sticky;
    top: 50px;
    z-index: 1;
    @media (max-width: 560px) {
      top: 48px;
    }
    a {
      text-decoration: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #72839c !important;
      transition: all 0.2s linear;
      &:hover {
        color: #3366ff !important;
      }
    }
    .ListFilter {
      display: flex;
      list-style: none;
      &__wrap {
        overflow-x: hidden;
      }
      li {
        &:not(:last-child) {
          margin-right: 8px;
        }
        span {
          display: block;
          padding: 0 6px 10px;
          border-bottom: 2px solid transparent;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: .2px;
          color: #72839c;
          text-decoration: none;
          white-space: nowrap;
          cursor: pointer;
          transition: border-bottom-color .2s linear;
          &._active {
            border-bottom-color: #3366ff;
          }
        }
      }
    }
    .news-component__title {
      padding: 0;
      span {
        font-weight: normal;
        text-transform: none;
      }
      @media (max-width: 560px) {
        margin-bottom: 10px;
      }
    }
  }
  &__header {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: baseline;
    @media (max-width: 560px) {
      display: block;
    }
  }
  &__title {
    padding-left: 12px;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  .NewsList__filter {
    margin-bottom: 0;
    padding: 0;
    border: none;
    @media (max-width: 560px) {
      margin-left: -6px;
    }
  }
  .infinite-scroll-component {
    overflow: visible!important;
  }
}

.user-news {
  margin-bottom: 24px;
  @media (max-width: 560px) {
    margin-bottom: 12px;
  }
  &__content {
    text-align: center;
    padding: 8px;
  }
  &__text {
    padding: 8px;
    font-weight: normal;
  }
}
