.card-organization {
  padding: 10px;

  &__content {
    position: initial;

    @media (max-width: 560px) {
      position: relative;
    }
  }

  &__mark {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(110%);
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__container {
    @media (max-width: 580px) {
      width: 70%
    }
  }

  &__heading {
    display: flex;
    height: 75px;
  }

  &__icons {
    display: flex;
    margin-left: 10px;

    & img {
      margin-left: 10px;
    }
  }

  &__author {
    text-decoration: none;
    display: flex;
    overflow: hidden;
    width: 100%;

    @media (max-width: 560px) {
      order: 2;
    }
  }

  &__logo {
    text-decoration: none;
    display: flex;
    flex-shrink: 0;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 700px) {
      width: 52px;
      height: 52px;
    }

    &--club {
      @media (max-width: 560px) {
        margin-bottom: 10px;
      }
    }
  }

  &__name {
    text-decoration: none;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;

    span:first-child {
      color: #72839c;
    }

    span:last-child {
      color: #36f;
    }

    &-wrap {
      width: 100%;
      overflow: hidden;
      height: 75px;

      & > div {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        @media (max-width: 700px) {
          display: block;
        }
      }
    }

    &-inner {
      position: relative;
    }
  }

  &__active-member {
    width: 16px;
    margin-left: 6px;
  }

  &__city {
    position: relative;
    padding-left: 16px;
    margin-left: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #72839c;
    white-space: nowrap;
    cursor: pointer;

    @media (max-width: 700px) {
      display: block;
      margin: 5px 0 2px 0;
    }


    &:before {
      content: "";
      position: absolute;
      width: 12px;
      height: 17px;
      left: 0;
      top: 0;
      background: url("/static/icons/pin-gray.svg") center no-repeat;
      background-size: contain;
    }

    &:hover {
      color: #36f;

      &:before {
        background: url("/static/icons/pin.svg") center no-repeat;
        background-size: contain;
      }
    }
  }

  &__subtitle {
    color: #253c5e !important;
    position: relative;
  }

  &__info {
    @media (max-width: 560px) {
      display: block;
      margin: 0;
    }

    &-item {
      margin-top: 5px;
      line-height: 20px;

      @media (max-width: 560px) {
        display: flex;
        flex-wrap: wrap;
      }

      span,
      a,
      p {
        color: #72839c;
      }

      a {
        display: inline-block;
        text-decoration: none;
        transition: color 0.2s linear;

        &:hover {
          color: #36f;
        }
      }
    }
  }

  &__text {
    width: 100%;
    letter-spacing: 0.2px;
    color: #72839c;
    max-height: 44px;
    overflow: hidden;
    margin: 10px 0 2px;
    line-height: 20px;

    &._centered {
      text-align: center;
    }

    @media (max-width: 560px) {
      text-align: left !important;
    }
  }

  &__controls {
    margin-top: 10px;
  }

  &__show-all {
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #72839c;
    transition: color 0.2s linear;

    &:hover {
      color: #36f;
    }

    &._disabled {
      color: #b9c1ce !important;
    }
  }

  &__description {
    margin-top: 7px;
  }

  &__special-position {
    &_left {
      @media (max-width: 700px) {
        margin-left: -63px;
      }
    }
  }
}