.card-organization {
  padding: 10px;

  &__no-url {
    .card-organization__name span:last-child {
      color: #72839c;
    }
  }

  &__content {
    position: initial;

    @media (max-width: 560px) {
      position: relative;
    }
  }

  &__mark {
    display: flex;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 0;
    transform: translateX(110%);
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__container {
    padding-left: 15px;
    width: 100%;
    @media (max-width: 700px) {
      width: 80%;
    }
  }

  &__heading {
    display: flex;
    margin-bottom: 10px;
    @media (max-width: 700px) {
      height: 70px;
      margin-bottom: 0;
    }
  }

  &__icons {
    display: flex;
    margin-left: 10px;

    & img {
      margin-left: 10px;
    }
  }

  &__author {
    text-decoration: none;
    display: flex;
    overflow: hidden;
    width: 100%;

    @media (max-width: 560px) {
      order: 2;
    }
  }

  &__logo {
    text-decoration: none;
    display: flex;
    flex-shrink: 0;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    @media (max-width: 700px) {
      width: 52px;
      height: 52px;
    }

    &--club {
      @media (max-width: 560px) {
        margin-bottom: 10px;
      }
    }
  }

  &__name {
    text-decoration: none;
    line-height: 20px;
    white-space: nowrap;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-weight: 500;
    @media (max-width: 700px) {
      margin-bottom: 0;
    }

    span:first-child {
      color: #72839c;
    }

    span:last-child {
      color: #36f;
    }

    &-wrap {
      width: 100%;
      overflow: hidden;
      @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        height: 70px;
      }

      & > div {
        display: flex;
        align-items: center;

        @media (max-width: 700px) {
          display: block;
        }
      }
    }

    &-fed {
      @media (max-width: 700px) {
        margin-top: -10px;
        margin-bottom: 20px;
      }
    }

    &-inner {
      position: relative;
    }
  }

  &__active-member {
    width: 16px;
    margin-left: 6px;
  }

  &__federation + &__city {
    margin-left: 20px;
    @media (max-width: 700px) {
      margin-left: 0;
    }
  }

  &__city {
    position: relative;
    padding-left: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #72839c;
    white-space: nowrap;
    cursor: pointer;

    @media (max-width: 700px) {
      display: block;
      margin: 5px 0 2px 0;
    }


    &:before {
      content: "";
      position: absolute;
      width: 17px;
      height: 17px;
      left: -3px;
      top: 1px;
      background: url("/static/icons/ico-pointer2.svg") center no-repeat;
      background-size: contain;
    }

    &:hover {
      color: #36f;

      &:before {
        background: url("/static/icons/ico-pointer2-blue.svg") center no-repeat;
        background-size: contain;
      }
    }
  }

  &__subtitle {
    color: #253c5e !important;
    position: relative;
  }

  &__info {
    @media (max-width: 560px) {
      display: block;
      margin: 0;
    }

    &-item {
      margin-top: 5px;
      line-height: 20px;

      @media (max-width: 560px) {
        display: flex;
        flex-wrap: wrap;
      }

      span,
      a,
      p {
        color: #72839c;
      }

      a {
        display: inline-block;
        text-decoration: none;
        transition: color 0.2s linear;

        &:hover {
          color: #36f;
        }
      }
    }
  }

  &__text {
    width: 100%;
    letter-spacing: 0.2px;
    color: #72839c;
    max-height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 0;
    line-height: 18px;


    &._centered {
      text-align: center;
    }

    @media (max-width: 560px) {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-align: left !important;
    }
    & p {
      word-break: break-all;
    }
  }

  &__show-all {
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #72839c;
    transition: color 0.2s linear;

    &:hover {
      color: #36f;
    }

    &._disabled {
      color: #b9c1ce !important;
    }
  }

  &__description {
    margin-top: 7px;
  }

  &__special-position {
    &_left {
      width: 90%;
      @media (max-width: 700px) {
        margin-left: -63px;
        width: 100%;
        .card-organization__text {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        &__fed {
          margin-left: -63px;
          margin-top: -15px;
        }
      }
    }
  }
  &.nkp-layout {
    & .nkp-card {
      min-height: 110px;
      min-width: 110px;
      max-height: 110px;
      max-width: 110px;
      @media (max-width: 600px) {
        min-height: 52px;
        min-width: 52px;
        max-height: 52px;
        max-width: 52px;
      }
    }
    @media (max-width: 600px) {
      & .card-organization__heading {
        height: auto;
      }
    }
  }
}