.copyright {
  &-info {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #72839c;
    &.with-socials {
      text-align: center;
    }
  }
  &-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    margin: 0 auto 10px;
    a {
      &:first-child {
        width: 10px;
      }
      width: 20px;
      height: 20px;
    }
    @media (max-width: 768px) {
      order: -1;
      margin-bottom: 16px;
    }
  }
}
