.copyright {
  &-info {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #72839c;
    &.with-socials {
      width: fit-content;
      text-align: center;
    }
    & p {
      padding: 0 !important;
      letter-spacing: normal !important;
    }
  }
  &-about {
    display: flex;
    justify-content: space-between;
  }

  &-policy {
    display: block;
    text-align: center;
    text-align-last: center;
  }

  &-link {
    text-decoration: none;
    color: #72839c !important;
    &:hover {
      color: #3366ff !important;
      text-decoration: underline;
    }
  }

  &-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    margin: 0 auto 15px;
    a {
      display: flex;
      align-items: center;
      width: 20px;
      height: 20px;
    }
    @media (max-width: 768px) {
      order: -1;
      margin-bottom: 16px;
    }
  }
  &-wrap {
    display: flex;
    justify-content: center;
    margin: 16px 0 18px 0;
    padding: 10px;
  }
}
