.copyright {
  &-info {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #72839c;
    &.with-socials {
      text-align: center;
    }
    & p {
      padding: 0 !important;
      letter-spacing: normal !important;
    }
  }
  &-about {
    display: flex;
    justify-content: space-between;
  }

  &-policy {
    // display: inline;
    text-align: justify;
    text-align-last: justify;
    @media (min-width: 990px) and (max-width: 1079px) {
      text-align: center;
      text-align-last: center;
    }
  }

  &-link {
    text-decoration: none;
    color: #72839c;
    &:hover {
      color: #3366ff;
      text-decoration: underline;
    }
  }
  &-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    margin: 0 auto 10px;
    a {
      &:first-child {
        width: 10px;
      }
      width: 20px;
      height: 20px;
    }
    @media (max-width: 768px) {
      order: -1;
      margin-bottom: 16px;
    }
  }
  &-wrap {
    padding: 10px;
    // margin-bottom: 18px;
    margin: 16px 0 18px 0;
  }
}
