.Footer {
  height: 64px;
  background: #253c5e;
  padding: 0 79px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  span {
    margin-right: auto;
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  a {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #72839c;
    margin-left: 34px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
