.registration {
  &__holder {
    box-sizing: border-box;
    max-width: 572px;
    min-width: 572px;
    padding: 40px;
    margin: 40px auto;
    border: solid 1px;
    border-color: transparent;
    flex: 2;
    @media (max-width: 768px) {
      min-width: auto;
    }
    @media (max-width: 560px) {
      width: 100%;
      margin-bottom: 0;
      padding: 12px;
    }
  }
  &__select {
    align-self: center;
    margin: 0 auto 24px;
  }
  &__not-found {
    max-width: 300px;
    text-align: center;
    margin: 24px auto 0;
    font-weight: 600;
    color: firebrick;
  }
  &__logo {
    width: 80px;
    height: 80px;
    background-image: url("/static/images/header/rkf-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px auto 8px auto;
  }
  &__title {
    text-align: center;
    font-size: 38px;
    line-height: 42px;
    font-weight: 400;
    margin: 0 0 24px 0;
  }
  &__list {
    list-style-position: inside;
    max-width: 300px;
    margin: auto;
    li:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  h3 {
    margin: auto;
    text-align: center;
  }
}

.ActivateClub {
  margin: 24px 0;
  @media (max-width: 560px) {
    margin: 12px 0;
  }
  h3 {
    margin-bottom: 12px;
  }
  text-align: center;
  form {
    @media (max-width: 560px) {
      input {
        width: 100%;
      }
    }
    button {
      margin-left: 10px;
      padding: 2px;
      cursor: pointer;
      font-size: 12px;
      @media (max-width: 560px) {
        margin-left: 0;
      }
    }
  }
  table,
  td,
  th {
    border: 1px solid #ddd;
    text-align: left;
    @media (max-width: 560px) {
      display: block;
      border: none;
      tr:first-child {
        display: none;
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
  }

  th,
  td {
    padding: 5px;
  }

  @media (max-width: 560px) {
    td {
      &:before {
        font-weight: bold;
        margin-right: 5px;
      }
      &:nth-child(1):before {
        content: 'ОГРН';
      }
      &:nth-child(2):before {
        content: 'ИНН';
      }
      &:nth-child(3):before {
        content: 'Адрес';
      }
      &:nth-child(4):before {
        content: 'ФИО';
      }
    }
  }
}
