.news-list {
  min-height: 776px;
  margin: 0;
  display: flex;
  justify-content: right;
  width: calc(100% - 318px);
  @media (max-width: 1100px) {
    width: 100%;
    min-width: auto;
  }
  @media (max-width: 560px) {
    margin: 12px 0;
  }
  @media (max-width: 560px) {
    display: block;
    top: 48px;
  }
  .infinite-scroll-component__outerdiv {
    width: calc(100% - 266px);

    .swiper-wrapper {
      @media(min-width: 1080px) {
        transform: none!important;
      }
    }

    @media (max-width: 1079px) {
      width: 100%;
    }
  }
  &__content {
    list-style: none;
    padding-top: 0;
  }
  &__item {
    margin-bottom: 16px;
  }
  .Card {
    padding: 10px;
  }
  .ListFilter {
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #fff;
    padding: 10px 10px 0;
    margin-bottom: 16px;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
    @media (max-width: 1080px) {
      box-shadow: none;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
      color: #253C5E;
      border-bottom: 1px solid rgb(229, 229, 229);
      line-height: 24px;
      padding-bottom: 10px;
    }
    li {
      &:not(:last-child) {
        margin-right: 8px;
      }
      span, a {
        cursor: pointer;
        display: block;
        padding: 10px 6px 8px 30px;
        line-height: 20px;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: #72839c;
        text-decoration: none;
        white-space: nowrap;
        border-bottom: 2px solid transparent;
        transition: all 0.2s linear;
        position: relative;
        &._active, &.active {
          color: #3366ff;
        }
      }
      a {
        &:hover {
          color: #3366ff;
        }
      }
      &:first-child {
        a {
          margin-left: 0;
          line-height: 20px;
        }
      }
    }
  }

  &__no-news {
    height: 1330px;
    padding-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    img {
      margin: 20px 0;
    }
    @media (max-width: 1100px) {
      height: 300px;
    }
  }
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}


.Homepage__news-title-w  .ListFilter li:nth-child(2){
  background: url('/static/icons/home-filters/cards-variant.svg') left no-repeat;
  margin-left: -7px;
}
.Homepage__news-title-w  .ListFilter li:nth-child(3){
  background: url('/static/icons/home-filters/radio-tower.svg') left no-repeat;
  margin-left: -7px;
}
.Homepage__news-title-w  .ListFilter li:nth-child(4){
  background: url('/static/icons/home-filters/bullhorn.svg') left no-repeat;
  margin-left: -7px;
}
.ListFilter__wrap .ListFilter li:nth-child(2){
  background: url('/static/icons/home-filters/cards-variant2.svg') left no-repeat;
}
.ListFilter__wrap .ListFilter .active:nth-child(2), .ListFilter__wrap .ListFilter li:nth-child(2):hover{
  background: url('/static/icons/home-filters/cards-variant2-blue.svg') left no-repeat;
}
.ListFilter__wrap .ListFilter li:nth-child(3){
  background: url('/static/icons/home-filters/bank2.svg') left no-repeat;
}
.ListFilter__wrap .ListFilter .active:nth-child(3), .ListFilter__wrap .ListFilter li:nth-child(3):hover{
  background: url('/static/icons/home-filters/bank-blue2.svg') left no-repeat;
}
.ListFilter__wrap .ListFilter li:nth-child(4){
  background: url('/static/icons/home-filters/club2.svg') left no-repeat;
}
.ListFilter__wrap .ListFilter .active:nth-child(4), .ListFilter__wrap .ListFilter li:nth-child(4):hover{
  background: url('/static/icons/home-filters/club2-blue.svg') left no-repeat;
}
.ListFilter__wrap .ListFilter li:nth-child(5){
  background: url('/static/icons/home-filters/nursery2.svg') left no-repeat;
}
.ListFilter__wrap .ListFilter .active:nth-child(5), .ListFilter__wrap .ListFilter li:nth-child(5):hover{
  background: url('/static/icons/home-filters/nursery2-blue.svg') left no-repeat;
}
.ListFilter__wrap .ListFilter li:nth-child(6){
  background: url('/static/icons/home-filters/dog2.svg') left no-repeat;
}
#news-list-filter li {
  background: none;
}
.publicFilter {
  display: flex;
  list-style: none;
  li {
    button {
      padding: 10px 6px;
      line-height: 20px;
      cursor: pointer;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid transparent;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: .2px;
      color: #72839c;
      white-space: nowrap;
      transition: all .2s linear;
      &._active {
        color: #3366ff;
        border-bottom: 2px solid #36f;
      }
    }
  }
  &__wrap {
    position: sticky;
    min-height: 87px;
    top: 15px;
    z-index: 2;
    background: #fff;
    padding: 10px 10px 0;
    margin-bottom: 16px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(51, 102, 255, 0.05), 0 4px 30px rgba(51, 102, 255, 0.1);
    @media (max-width: 1080px) {
      margin-right: 0;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      color: #253C5E;
      line-height: 24px;
      padding-bottom: 10px;
      padding-left: 5px;
    }

    .like-filter {
      margin: 9px 5px;
      label {
        color: #72839C;
      }
    }
  }
  &__header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(229, 229, 229);
    label {
      color: #72839C;
    }
  }
}