.NewsList {
  width: 600px;
  min-width: 600px;
  min-height: 776px;
  flex-grow: 2;
  z-index: 3;
  margin: 0;
  @media (max-width: 1220px) {
    min-width: 650px;
  }
  @media (max-width: 990px) {
    margin: 24px 0;
  }
  @media (max-width: 768px) {
    width: 100%;
    min-width: auto;
  }
  @media (max-width: 560px) {
    margin: 12px 0;
  }
  &__content {
    list-style: none;
  }
  &__item {
    margin-bottom: 16px;
  }
  &__filter {
    @media (min-width: 1220px) {
      position: sticky;
      top: 102px;
      background: white;
      z-index: 1;
      margin: 0 -10px;
      padding: 0 10px 5px 10px;
    }

    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    .Dropdown {
      &.left .Dropdown__content--visible {
        @media (max-width: 990px) {
          left: auto;
          right: 0;
          &:before {
            right: 20px;
            left: auto;
          }
        }
        @media (max-width: 700px) {
          left: 0;
          right: auto;
          &:before {
            right: auto;
            left: 20px;
          }
        }
      }
    }
    @media (max-width: 700px) {
      display: block;
      .Dropdown {
        display: inline-block;
        margin-top: 14px;
      }
    }
    @media (max-width: 560px) {
      margin-bottom: 16px;
    }
  }
  .Card {
    padding: 16px;
    @media (max-width: 560px) {
      padding: 8px;
    }
  }

  .Placeholder {
    height: 200px;
    box-shadow: 0 2px 10px rgba(51, 102, 255, 0.05), 0 4px 30px rgba(51, 102, 255, 0.1);
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    @media (max-width: 560px) {
      padding: 8px;
      display: block;
      height: auto;
      box-shadow: 0 1px 5px rgba(51, 102, 255, 0.05), 0 2px 15px rgba(51, 102, 255, 0.1);
    }
    &__image {
      width: 164px;
      height: 164px;
      flex-shrink: 0;
      margin-right: 24px;
      border-radius: 6px;
      background-color: #444;
      animation: fading 1.5s infinite;
      @media (max-width: 560px) {
        width: 100%;
        height: 47.8vw;
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
    &__content {
      width: 100%;
      .text {
        display: inline-block;
        background-color: #444;
        height: 12px;
        border-radius: 100px;
        margin: 5px 0;
        min-width: 100px;
        opacity: 0.1;
        animation: fading 1.5s infinite;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.longer {
          min-width: 150px;
        }
        &.line {
          width: 100%;
        }
      }
      .heading.line.text {
        height: 20px;
        margin: 3px 0 24px 0;
      }
      .button.line.text {
        height: 46px;
        margin: 12px 0 0;
        border-radius: 4px;
      }
    }
  }

  .ListFilter {
    display: flex;
    list-style: none;
    &__wrap {
      overflow-x: hidden;
      @media (max-width: 560px) {
        margin-right: -16px;
      }
    }
    li {
      &:not(:last-child) {
        margin-right: 8px;
      }
      a,
      span {
        display: block;
        padding: 8px 5px 0 5px;
        line-height: 18px;
        margin: 0 10px;
        //background: #ebf0f2;
        //border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: #72839c;
        text-decoration: none;
        white-space: nowrap;
        transition: all 0.2s linear;
        border-bottom: 2px solid transparent;
        &.active {
          //color: white;
          //background: #3366ff;
          border-bottom: 2px solid #3366ff;
        }
      }
      &:first-child {
        a {
          margin-left: 0;
        }
      }
    }
  }

  .list-item {
    &__wrap {
      display: flex;
      @media (max-width: 560px) {
        display: block;
      }
    }
    &__content {
      flex-grow: 1;
      width: calc(100% - 188px);
      @media (max-width: 560px) {
        width: 100%;
      }
    }
    &__photo {
      display: block;
      min-height: 164px;
      min-width: 164px;
      max-height: 164px;
      max-width: 164px;
      margin-right: 24px;
      border-radius: 6px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @media (max-width: 560px) {
        width: 100%;
        min-width: auto;
        max-width: none;
        height: 47.8vw;
        min-height: auto;
        max-height: none;
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 12px;
      text-align: right;
      // @media (max-width: 560px) {
      //   display: block;
      // }
    }
    &__club {
      display: flex;
      height: 40px;
      overflow: hidden;
      @media (max-width: 560px) {
        margin-bottom: 12px;
      }
      &-logo {
        display: flex;
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 4px 8px 4px 0;
      }
      &-name {
        display: block;
        width: calc(100% - 48px);
        margin-left: 8px;
        text-align: left;
        a {
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          text-decoration: none;
          color: #253c5e;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          span {
            display: inline-block;
          }
        }
        span {
          display: block;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #72839c;
        }
      }
    }
    &__city {
      position: relative;
      padding-left: 18px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #72839c;
      white-space: nowrap;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        cursor: pointer;
      }
      &:before {
        content: "";
        width: 12px;
        height: 16px;
        background: url("/static/icons/pin-gray.svg") center center/contain no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (max-width: 560px) {
        display: block;
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        margin-left: 0;
      }
    }
    &__text {
      height: 80px;
      max-height: 80px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #72839c;
      overflow: hidden;
      white-space: pre-wrap;
      @media (max-width: 560px) {
        height: auto;
        max-height: 80px;
      }
      * {
        max-width: 100% !important;
      }
    }
    &__controls {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      padding-top: 6px;
      border-top: 1px solid #e8e8e8;
    }
    &__show-all,
    &__share {
      text-decoration: none;
      display: inline-block;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #36f;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: border-bottom-color 0.2s linear;
      &:hover {
        border-bottom-color: #36f;
      }
    }
    &__share {
      &:after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url("/static/icons/icon-share-2.svg") no-repeat 50% / contain;
        vertical-align: middle;
        margin-left: 4px;
      }
    }
  }
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}
