.statistics {
    padding: 10px !important;
    &__title {
        font-weight: normal;
        line-height: 24px;
        margin-bottom: 8px;
    }
    &__text {
        text-align: center;
        & > span {
            font-size: 18px;
        }
        &-wrap {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #d1d1d1;
        }
    }
    &__federations {
        display: flex;
        align-items: center;
        font-size: 12px;
        min-width: 120px;
        & span:nth-child(2) {
            margin-left: 10px;
            min-width: 50px;
        }
        & span:nth-child(3) {
            min-width: 30px;
            text-align: right;
        }
        &-wrap {
            display: flex;
            justify-content: space-around;
        }
    }
    &__federation-logo {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        &--rfls {
            background-image: url("/static/images/federations/logo/rfls.png");
        }
        &--rfss {
            background-image: url("/static/images/federations/logo/rfss.png");
        }
        &--oankoo {
            background-image: url("/static/images/federations/logo/oankoo.png");
        }
        &--rfos {
            background-image: url("/static/images/federations/logo/rfos.png");
        }
    }
    &__text-wrap {
        display: flex;
        justify-content: space-around;
    }
    .Loading__title {
        margin: 0 auto;
    }
}