.statistics {
    padding: 10px !important;
    h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid #e8e8e8;
      }
  
    &__title {
        font-weight: normal;
        line-height: 24px;
    }
    &__wrap {
        margin-top: 10px;
    }
    &__text {
        width: 60%;
        text-align: right;
        &:last-of-type {
            text-align: right;
            padding-left: 0px;
            padding-right: 15px;
            width: 40%;
        }
        & > span {
            font-size: 16px;
        }
        &-wrap {
            padding-bottom: 10px;
        }
    }
    &__federations {
        display: flex;
        align-items: center;
        font-size: 16px;
        justify-content: space-between;
        &-wrap {
            display: flex;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e8e8e8;
        }
    }
    &__federation-logo {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 8px;
        &--rfls {
            background-image: url("/static/images/federations/logo/rfls.png");
        }
        &--rfss {
            background-image: url("/static/images/federations/logo/rfss.png");
        }
        &--oankoo {
            background-image: url("/static/images/federations/logo/oankoo.png");
        }
        &--rfos {
            background-image: url("/static/images/federations/logo/rfos.png");
        }
    }
    &__text-wrap {
        display: flex;
        justify-content: space-around;
    }
    .Loading__title {
        margin: 0 auto;
    }
}
._about_page {
    padding: 32px !important;
    h3 {
        font-size: 22px;
        padding-bottom: 15px;
    }
}
.statistics__federations-total {
    display: flex;
}
.statistics-total__name {
    font-size: 18px;
    flex-basis: 20%;
}
.statistics-list {
    display: flex;
    width: 100%;
    li {
        list-style-type: none;
        font-size: 18px;
        width: 60%;
        text-align: right;
        padding-right: 40px;
        &:last-of-type {
            width: 40%;
            padding-right: 5px;
            text-align: center;
        }
    }
}
.statistics__federations--table {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.statistics__federations--head {
    display: flex;
    align-items: center;
}
.statistics__federations--column {
    width: 60%;
    padding-right: 25px;
}
.statistics__federations--column--last {
    text-align: center;
    width: 40%;
    padding-right: 0;
    padding-left: 15px;
    .statistics__federations {
        justify-content: center;
        height: 40px;
    }
}
.federation-count {
    font-size: 14px;
}
@media screen and (max-width: 1100px) {
    .statistics__federations--column--last .statistics__federations {
        justify-content: flex-end;
    }
    .statistics__text:last-of-type {
        text-align: right;
        padding-left: 0;
        padding-right: 15px;
    }
    .statistics-list li:last-of-type {
        text-align: center;
        padding-right: 15px;
    }
    .statistics__federations--column--last {
        padding-right: 50px;
    }
}
@media screen and (max-width: 1100px) { 
    .statistics-list li:last-of-type {
        text-align: right;
        padding-right: 45px;
        width: 45%;
    }
    .statistics-list li {
        width: 55%;
    }
}