.ReactGridGallery {
    &__wrap {
        overflow: hidden;
        a,
        h4 {
            font-weight: normal;
            text-decoration: none;
        }
        h4 {
            color: #253c5e;
        }
    }
    &__controls {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        @media (max-width: 560px) {
            flex-direction: column;
            align-items: flex-start;
        }
        &-link {
            color: #36f;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
            cursor: pointer;
            margin-left: 10px;
            white-space: nowrap;
            @media (max-width: 560px) {
                margin: 0;
            }
        }
    }
    &__disabled {
        margin-bottom: 24px;
        text-align: center;
        padding: 8px;
        @media (max-width: 560px) {
            margin-bottom: 12px;
        }
        &-text {
            font-weight: normal;
            padding: 8px;
        }
        &-img {
            width: 150px;
        }
    }
}
