.ReactGridGallery {
    &__wrap {
        overflow: hidden;
    }
    &__disabled {
        margin-bottom: 24px;
        text-align: center;
        padding: 8px;
        @media (max-width: 560px) {
            margin-bottom: 12px;
        }
        &-text {
            padding: 8px;
        }
    }
}