.ReactGridGallery {
    &__wrap {
        overflow: hidden;
        a,
        h4 {
            font-weight: normal;
            text-decoration: none;
        }
        h4 {
            color: #253c5e;
        }
    }
    &__controls {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        @media (max-width: 560px) {
            flex-direction: column;
            align-items: flex-start;
        }
        &-link {
            color: #253c5e;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
            cursor: pointer;
            margin-left: 10px;
            white-space: nowrap;
            border-bottom: 1px solid #ffffff;
            &:hover {
                color: #3366ff;
            }
            @media (max-width: 560px) {
                margin: 0;
            }
            &--add-photo:hover {
                border-bottom: 1px solid #3366ff;
            }
        }
    }
    &__disabled {
        margin-bottom: 24px;
        text-align: center;
        margin: auto;
        padding: 8px;
        @media (max-width: 560px) {
            margin-bottom: 12px;
        }
        &-text {
            font-weight: normal;
            padding: 8px;
        }
        &-img {
            width: 150px;
        }
    }
}
.VideoGallery {
    &__items-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 32%;
        margin: 0 10px 10px 0;
        position: relative;
        &:hover {
            .VideoGallery__item-delete {
                display: block;
                position: absolute;
                top: 5px;
                right: 5px;
                width: 20px;
                height: 20px;
                background: url("/static/icons/delete-red.svg") no-repeat center center/contain;
                &:hover {
                    cursor: pointer;
                    top: 6px;
                }
            }
        }
        @media (max-width: 560px) {
            width: 100%;
            margin: 0 0 10px 0;
        }
        img {
            cursor: pointer;
            max-width: 100%;
        }
        &:nth-child(3n + 3) {
            margin: 0 0 10px;
            @media (max-width: 560px) {
                margin: 0 0 10px 0;
            }
        }
        &-name {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
            line-height: 22px;
        }
        &-delete {
            display: none;
        }
    }
}
