.edit-avatar-modal {
  & > div {
    max-width: 600px;
  }
  .Modal__inner {
    padding: 13px 20px 20px;
    box-shadow: 0 4px 4px rgba(120, 153, 255, 0.1);
  }
  .Modal__close {
    width: 16px;
    height: 16px;
    top: 8px;
    right: 8px;
  }
  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 11px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 8px;
  }
  .k-form-buttons {
    justify-content: center;
    margin-top: 24px;
  }
}