.widget-login {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  margin-left: 16px;
  &__user-icon {
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
  &__user-login {
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @media (max-width: 1024px) {
      max-width: 350px;
    }
  }
  .Dropdown {
    &__button,
    &__button--visible {
      padding: 5px;
      height: 70px;
      width: 70px;
      align-items: center;
      justify-content: center;
      display: flex;
      &:after {
        display: none;
      }
    }
    &__button--visible {
      background: #ccd9ff;
    }
    &__content--visible {
      top: 70px;
      width: 195px;
      border-radius: 0 0 6px 6px;
      box-shadow: none;
      background: #ccd9ff;
      padding: 0 0 10px 0;
      &:before {
        display: none;
      }
    }
  }
  .club-name {
    padding: 16px 8px 8px;
    text-decoration: none;
    cursor: default;
    color: #0067ff;
    display: block;
    text-align: center;
    user-select: none;
    max-height: 64px;
    overflow: hidden;
  }
}
a.login-link {
  padding: 8px 0 8px 12px;
  font-weight: normal;
  color: #72839c;
  text-decoration: none;
}
.feedback-link + div {
  height: 70px;
  display: flex;
}
