.widget-login {
  position: relative;
  margin-left: 64px;
  @media (max-width: 560px) {
    margin-left: 8px;
  }
  &__user-icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
  &__user-login {
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @media (max-width: 1024px) {
      max-width: 350px;
    }
  }
  .Dropdown {
    &__button,
    &__button--visible {
      height: 40px;
      width: 40px;
      min-width: 40px;
      padding: 0;
      border: 1px solid transparent;
      border-radius: 50%;
      &:after {
        display: none;
      }
    }
    &__button--visible {
      border-color: #3366FF;
    }
    &__content--visible {
      width: 230px;
      top: 100%;
      right: -6px !important;
      margin-top: 14px;
      padding: 0;
      box-shadow: 0 8px 25px rgba(176, 190, 197, 0.5);
      &:before {
        z-index: -1;
        right: 14px !important;
        background-color: #253C5E;
      }
      .drop-down__item a {
        margin: 8px 0;
      }
    }
  }
  .club-name {
    padding: 8px 16px;
    text-decoration: none;
    cursor: default;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    display: block;
    user-select: none;
    max-height: 62px;
    overflow: hidden;
    background-color: #253C5E;
    letter-spacing: -0.3px;
    border-radius: 6px 6px 0 0;
  }
}
a.login-link {
  padding: 8px 0 8px 12px;
  font-weight: normal;
  color: #72839c;
  text-decoration: none;
}
