.ClientClubInfo .FormInput textarea {
  resize: vertical;
}
.alias-name {
  max-width: 100%;
  overflow: hidden;
}
.ClientClubInfo .FormGroup > span {
  align-self: center;
  margin-top: 32px;
  margin-right: 16px;
  font-weight: 400;
}
