.redesign {
  .user-description {
    padding: 10px 10px 24px !important;
    position: relative;
    @media (max-width: 560px) {
      margin-bottom: 12px !important;
    }
    &__title {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }
    &__info {
      color: #72839c;
      text-indent: 20px;
      white-space: break-spaces;
    }
    &__show-more {
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      right: calc(50% - 16px);
      bottom: -15px;
      background: url("/static/images/slider/slider-button.svg") center no-repeat;
      background-size: cover;
      transform: rotate(90deg);
      &.opened {
        transform: rotate(-90deg);
      }
    }
    .ReactCollapse--collapse {
      min-height: 72px;
      transition: height 500ms;
      .ReactCollapse--content {
        white-space: break-spaces;
      }
    }
  }
}
