.feedback {
  margin: auto;
  width: calc(100vw - 10px);
  max-width: 600px;
  min-width: 310px;
  background: white;
  box-shadow: 2px 2px 10px black;
  border-radius: 6px;
  position: relative;
  h1 {
    font-size: 20px;
    padding: 5px 15px;
    border-bottom: 1px solid #dcd3de;
    @media (max-width: 560px) {
      padding: 5px 10px;
    }
    @media (max-width: 320px) {
      padding: 5px;
    }
  }
  &__inner {
    padding: 15px;
    @media (max-width: 560px) {
      padding: 8px;
    }
    @media (max-width: 320px) {
      padding: 8px 5px;
    }
  }
  .FormInput {
    margin-bottom: 8px;
    label {
      font-weight: normal;
    }
    input,
    textarea {
      padding: 5px 10px;
      border: 1px solid #dcd3de;
      &:focus,
      &:active {
        padding: 5px 10px;
        border: 1px solid #bcc3ce;
      }
    }
    &__custom-error {
      color: red;
      position: absolute;
      right: 10px;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      top: 25px;
      background: white;
      padding: 0 4px;
      white-space: nowrap;
    }
    &--select {
      .FormInput__error {
        color: red;
        position: absolute;
        top: 20px;
        right: 10px;
        bottom: auto;
        font-size: 14px;
        line-height: 14px;
        font-weight: normal;
        white-space: nowrap;
      }
      & > div > div {
        border: 1px solid #dcd3de;
        box-shadow: none;
        padding: 0;
      }
    }
  }
  &__close {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: url(/static/icons/cross-gray.svg) center no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 10;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      padding: 5px 15px;
    }
    button + button {
      margin-left: 8px;
    }
  }
  &__modal {
    .Modal__close {
      display: none;
    }
    .Modal__inner {
      max-height: none;
    }
  }
}
a.feedback-link {
  font-weight: normal;
  color: #253c5e;
  text-decoration: none;
}
