.search-page {
  display: flex;
  @media (max-width: 990px) {
    display: block;
  }
  &__wrap {
    background: #f5f8ff;
    & + .Footer {
      display: none;
    }
  }
  &__left {
    min-width: 300px;
    max-width: 300px;
    margin: 16px 16px 0 0;
    @media (max-width: 990px) {
      position: fixed;
      top: 50px;
      left: 0;
      z-index: 3;
      margin: 0;
      background-color: #fff;
      height: calc(100% - 50px);
      overflow-y: auto;
      visibility: hidden;
      transform: translateX(-100%);
      transition: all .2s ease-out;
      &._open {
        visibility: visible;
        transform: translateX(0);
      }
    }
    @media (max-width: 560px) {
      top: 48px;
      height: calc(100% - 48px);
    }
  }
  &__content {
    margin-top: 16px;
    width: calc(100% - 316px);
    @media (max-width: 990px) {
      width: 100%;
    }
  }
  .infinite-scroll-component {
    overflow: hidden !important;
  }
  &__copy-wrap {
    margin-top: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #72839c;
    padding-bottom: 16px;
    @media (max-width: 990px) {
      display: none;
    }
  }
}