.DocApply {
    .FormInput {
        margin-bottom: 20px;
        &.hidden {
            display: none;
        }
    }
    table {
        width: 100%;
        text-align: left;
        margin-bottom: 1rem;
        color: #212529;
        td, th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
        thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }
    }
}
