.Modal-popup {
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  top: 60px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  transform: translateY(0);
  &.bottomStyle {
    top: auto;
    bottom: 45px;
  }
  &.zIndexStyle {
    z-index: 99;
  }
  &--hidden {
    display: none;
  }
  & .popup__content {
    padding-top: 10px;
    position: relative;
    @media (max-width: 1080px) {
      position: static;
    }
  }
}

