.ClubOwnerName {
  position: relative;
  margin: 12px;
  margin-left: 32px;
  color: #253c5e;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  &:after {
    top: -4px;
    left: -40px;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/icons/owner.svg");
  }
  span {
    color: #767b84;
  }
}
