.AddStamp {
  font-weight: normal;
  overflow: hidden;
  &__inline {
    display: flex;
    flex-wrap: wrap;
    .FormInput {
      flex-grow: 1;
      max-width: 100%;
      &__error {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
      }
      &:first-child {
        flex-basis: 33%;
        flex-grow: 0;
        @media screen and (min-width: 899px) {
          margin-right: 2%;
        }
      }
    }
    @media screen and (max-width: 899px) {
      flex-direction: column;
    }
  }
  .SubmitButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .Loading.inline .Loading__title {
      margin: 5px 0;
    }
  }
}
.responsible-stamps {
  margin-bottom: 0 !important;
  &__head {
    margin-bottom: 40px;
    border-bottom: 1px solid #cbcbcb;
    @media (max-width: 560px) {
      margin-bottom: 16px;
    }
    .btn-backward {
      border: none;
      padding: 0;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 32px;
      color: #253c5e !important;
      text-decoration: none;
      @media (max-width: 560px) {
        font-size: 16px;
        line-height: 24px;
      }
      &:before {
        content: "‹";
        font-size: 40px;
        line-height: 1;
        vertical-align: bottom;
        margin-right: 8px;
        @media (max-width: 560px) {
          font-size: 32px;
          line-height: 0.9;
        }
      }
    }
  }
  &__table {
    padding-bottom: 55px;
    overflow-x: auto;
    td span {
      white-space: nowrap;
    }
    @media (max-width: 600px) {
      .primary-controls {
        display: block;
        &__per-page {
          margin-bottom: 8px;
        }
      }
    }
    @media (max-width: 560px) {
      h2 {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  .pedigree-link {
    color: #3366ff;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
  .stamp-loading {
    pointer-events: none;
  }
}
