.UploadedDocuments {
    .DocumentItem {
        &__date {
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #b9b9b9;
        }
        &__link {
            display: block;
        }
        &__delete-btn {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0;
            border: none;
            width: 24px;
            height: 24px;
        }
        .k-svg-i-file-pdf {
            width: 22px;
            height: 22px;
            margin-right: 10px;
            svg {
                fill: #3366ff !important;
            }
        }
        &__delete-btn {
            svg {
                fill: red !important;
            }
        }
    }
}
