$normal-size: 110px;
.ClientAvatar {
  min-width: $normal-size;
  max-width: $normal-size;
  min-height: $normal-size;
  max-height: $normal-size;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 50%;

  .ActivityIndicator {
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
}