.slider {
  width: 320px;
  height: 33px;
  overflow: hidden;
}
.slider-wrap {
  display: flex;
  align-items: center;
  transition: 1s;
}
.slider-wrap div {
  height: 100%;
  padding: 0 20px;
  border-bottom: 2px solid blue;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #72839c;
  cursor: pointer;
  transition: border-bottom-color 0.2s linear;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
}


#specialists-list-filter{
  & .slick-slide {
    height: 52px;
    padding: 0 15px;
  }
}
.list-filter {
  list-style: none;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  z-index: 2;
  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-left: 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__control {
    display: block;
    padding: 0 6px 10px;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #72839c;
    text-decoration: none;
    cursor: pointer;
    transition: border-bottom-color 0.2s linear;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    @media (max-width: 600px) {
      font-size: 13px;
    }
    &._active {
      border-bottom-color: #3366ff;
    }
  }
}
