.slider {
  width: 100%;
  overflow: hidden;
  &-wrap {
    transition: .2s;
    display: flex;
    align-items: center;
    div {
      height: 100%;
      letter-spacing: .2px;
      color: #72839c;
      line-height: 20px;
      font-weight: 600;
      font-size: 16px;
      padding:10px 15px;
      white-space: nowrap;
      text-align: center;
      border-bottom: 2px solid transparent;
      display: flex;
      align-items: center;
      cursor: pointer;
      &._active {
        border-bottom-color: #36f;
      }
    }
  }
}
#specialists-list-filter{
  & .slick-slide {
    height: 52px;
    padding: 0 15px;
  }
}
.list-filter {
  list-style: none;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  z-index: 2;
  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-left: 6px;
    padding-bottom: 10px;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__control {
    padding: 0 6px 10px;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #72839c;
    text-decoration: none;
    cursor: pointer;
    transition: border-bottom-color 0.2s linear;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 600px) {
      font-size: 13px;
      line-height: 14px;
    }
    &._active {
      border-bottom-color: #3366ff;
    }
  }

}
.specialists-page__list-filter {

  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
  }

  .verified-filter,
  .alphabet-filter {
    margin: 9px 15px;
  }
}
