.ClubDocumentLink{
  display: block;
  position: relative;
  margin-left: 24px;
  &:before {
    top: -4px;
    left: -32px;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/icons/ico-document-link.svg");
  }
}