.ClubDocumentLink{
  display: inline-block;
  position: relative;
  padding-left: 24px;
  &:before {
    top: -5px;
    left: -8px;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/icons/ico-document-link.svg");
  }
}