.ExhibitionsListLayout {
  background-color: #fff;
  padding: 35px 0 45px 0;
  .exhibition-list__header {
    padding: 0;
  }
  .exhibitions__holder {
    padding-top: 55px;
  }
  .ExhibitionsAside {
    position: fixed;
    width: 310px;
    padding: 0;
    top: 100px;
    height: calc(100% - 100px);
    overflow-y: auto;
  }
  .ExhibitionsContent {
    margin-left: 350px;
  }
}