.application-form {
  margin-top: 10px;
  padding-bottom: 15px;
  font-size: 16px;
  .document-item {
    & .row {
      padding: 0 10px!important;
    }
  }
  h3 {
    padding-bottom: 10px;
    font-size: 18px!important;
    line-height: 18px!important;
    font-weight: normal;
    color: #030404;
    border-bottom: 1px solid #E5E5E5;
    margin: 0 0 20px!important;
  }
  .k-svg-i-file-pdf {
    margin-right: 10px;
    svg {
      width: 22px;
      height: 22px;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }
  .document-item__download {
    padding: 0;
    border: 0;
    height: 30px;
    width: 30px;
    background: url(/static/icons/icon-download.svg), url(/static/icons/icon-download-blue.svg) no-repeat center;
    position: relative;
    top: 4px;
  }
  .document-item__delete-btn {
    justify-content: center;
    width: 30px;
    height: 30px;
    max-width: none;
    svg {
      fill: red !important;
    }
  }

  .document-item__date {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #b9b9b9;
  }
  button {
    border-color: transparent;
  }
  .k-svg-icon {
    display: flex!important;
  }
}