.payment-requisites{
  margin: 40px 0;
  &__title{
    font-size: 24px;
    line-height: 32px;
    margin: 8px 0;
    font-weight: 400;
  }
  &__content{
    p{
      font-size: 18px;
      line-height: 24px;
      margin: 0;
    }
  }
}