.breeds-filter {
  margin-bottom: 32px;
  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2px;
    color: #72839C;
  }
  &__control {
    border-color: hsl(0,0%,80%) !important;
    box-shadow: none !important;
  }
  &__menu {
    margin-top: 4px !important;
  }
}