.breeds-filter {
  margin-bottom: 32px;
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2px;
    color: #72839C;
  }
  .custom-checkbox{
    pointer-events: none;
  }
}

#breeds-filter {
  .breeds-filter {
    &__control {
      background-color: transparent;
      border-color: hsl(0,0%,80%);
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      box-shadow: none;
    }
    &__value-container {
      padding: 0;
    }
    &__indicator-separator,
    &__dropdown-indicator {
      display: none;
    }
    &__menu {
      position: static;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
    &__option {
      padding: 0 12px 0 0;
      color: #253c5e;;
      cursor: pointer;
      background-color: transparent !important;
      transition: background-color .2s linear;
      &:hover {
        background-color: #DEEBFF !important;
      }
    }
  }
}