.Modal {
    embed {
        width: 100%;
        height: 100%;
        min-height: 70vh;
    }
    .modal-download {
        position: relative;
        top: 20px;
    }
}

.btn__look {
    display: inline-block;
}