.auth-layout {
  width: 100%;
  min-height: calc(100vh - 102px);
  background: url("/static/images/authorization/auth-bg.jpg") no-repeat left center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 768px) {
    min-height: calc(100vh - 158px);
  }
  @media (max-width: 560px) {
    min-height: calc(100vh - 156px);
  }
  &.login-page{
    min-height: calc(100vh - 52px);
  }
  &__content {
    display: flex;
    box-sizing: border-box;
    max-width: 410px;
    width: 100%;
    .Card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (max-width: 990px) {
      max-width: none;
    }
  }
  .copyright-wrap{
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
  }
}