.news-component {
  &__header-wrap {
    background: #fff;
    margin-bottom: 16px;
    padding: 10px 10px 0;
    border-radius: 6px;
    position: sticky;
    top: 15px;
    z-index: 1;
    a {
      text-decoration: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #72839c !important;
      transition: all 0.2s linear;
      &:hover {
        color: #3366ff !important;
      }
    }
    .list-filter {
      display: flex;
      list-style: none;
      &__wrap {
        overflow-x: hidden;
      }
      li {
        &:not(:last-child) {
          margin-right: 8px;
        }
        span {
          display: block;
          padding: 10px 6px;
          border-bottom: 2px solid transparent;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: .2px;
          color: #72839c;
          text-decoration: none;
          white-space: nowrap;
          cursor: pointer;
          transition: border-bottom-color .2s linear;
          &._active {
            border-bottom-color: #3366ff;
          }
        }
      }
    }
    .news-component__title {
      span {
        font-weight: normal;
        text-transform: none;
      }
    }
  }
  &__header {
    border-bottom: 1px solid #e8e8e8;
    align-items: baseline;
    @media (max-width: 560px) {
      display: block;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 400;
    color: #253C5E;
    border-bottom: 1px solid #e5e5e5;
    line-height: 24px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  .news-list__filter {
    margin-bottom: 0;
    padding: 0;
    border: none;
  }
  .infinite-scroll-component {
    overflow: visible!important;
  }
}

.user-news {
  margin-bottom: 24px;
  @media (max-width: 560px) {
    margin-bottom: 12px;
  }
  &__content {
    text-align: center;
    padding: 8px;
  }
  &__text {
    padding: 8px;
    font-weight: normal;
  }
}

.list {
  &__content {
    list-style: none;
  }
  &__item {
    margin-bottom: 16px;
    @media (max-width: 560px) {
      margin-bottom: 12px;
    }
  }
  .Card {
    padding: 10px;
  }
}
