.application-form {
  &__contacts {
    @import "~@progress/kendo-theme-bootstrap/dist/all.scss";
    @import "~bootstrap/scss/bootstrap.scss";
    &._disabled {
      opacity: 0.65;
      pointer-events: none;
      .Contacts__custom-trash{
        display: none!important;
      }
      .Contacts__custom-plus{
        .k-i-plus-circle{
          opacity: 0.6;
        }
      }
    }
    &.k-form-fieldset {
      margin: 0;
    }
    .k-maskedtextbox,
    .k-textbox {
      width: 100%;
    }
    .k-radio[aria-checked="true"] {
      border-color: #007bff;
      color: #ffffff;
      background-color: #007bff;
      &::before {
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        background-color: white;
        transform: none;
      }
    }
    .Contacts {
      &__custom-label {
        display: flex;
        align-items: center;
        height: 100%;
      }
      &__custom-plus {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 10px;
        span.k-i-plus-circle {
          font-size: 24px;
          color: #007bff;
          &.k-icon-disabled {
            opacity: 0.6;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      &__custom-checkbox {
        display: flex;
        align-items: flex-start;
        padding-top: 8px;
        justify-content: center;
        &-label {
          margin-top: -24px;
          @media (max-width: 560px) {
            display: none;
          }
        }
      }
      &__custom-trash {
        padding-top: 8px;
        text-align: center;
        & > span {
          max-width: 100%;
          color: red;
          font-size: 22px;
          opacity: 0.8;
          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
    .k-form-field {
      margin-top: 0;
    }
  }
  &__content {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    &:nth-child(3) {
      border: none;
      padding-bottom: 0;
    }
  }
  &__controls {
    text-align: right;
    margin-top: 10px;
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__disclaimer {
    margin-top: 16px;
  }
  &__row {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    & .date-input__wrap {
      position: relative;
      & .date-input {
        z-index: 2;
      }
      & .custom-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 39px;
        width: 36px;
        height: 36px;
        margin-top: 2px;
        border-radius: 0 4px 4px 0;
        background-color: #e4e7eb;
        color: grey;
        z-index: 1;
        cursor: default;
      }
      & .MuiFormHelperText-root.Mui-error {
        //position: absolute;
        //top: 38px;
      }
    }
    & .date-input__wrap:nth-child(2) {
      & .custom-icon {
        right: 17px;
        @media (max-width: 560px) {
          right: 0;
        }
      }
    }
    @media (max-width: 560px) {
      display: block;
      & > div:not(:last-child) {
        margin-right: 0 !important;
      }
      & > .btn {
        margin-top: 16px !important;
      }
    }
    & > div {
      flex: 1 1;
    }
    & > .btn {
      margin-top: 40px;
      margin-right: 16px;
      &.btn-red {
        margin-right: 0;
      }
    }
    &.three-column {
      & > div {
        margin: 0;
        @media (min-width: 560px) {
          max-width: 33.3%;
          min-width: 33.3%;
          &:not(:last-child) {
            & > div {
              margin-right: 16px;
            }
          }
        }
      }
    }
    &.two-column {
      gap: 16px;
      & > div {
        margin: 0;
        @media (min-width: 560px) {
          max-width: calc(50% - 8px)!important;
          min-width: calc(50% - 8px)!important;
          &:first-child {
            & > div {
              margin-right: 16px;
            }
          }
        }
      }
    }
    &.two-thirds-column {
      & > div:first-child {
        margin: 0;
        @media (min-width: 560px) {
          max-width: 66.6%;
          min-width: 66.6%;
          & > div {
            margin-right: 16px;
          }
        }
      }
    }
  }
  &__danger {
    display: block;
    color: #721c24;
    background-color: #f8d7da;
    padding: 0.75rem 1.25rem;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    margin-bottom: 40px;
  }
  &__how-to-link {
    text-decoration: none;
  }
  &__declarant {
    p.k-label {
      display: block;
      margin-bottom: 0;
      opacity: 1 !important;
      letter-spacing: normal;
      &.k-text-disabled {
        opacity: 0.65 !important;
      }
    }
    .k-form-field {
      margin-top: 0;
    }
  }
  .btn {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .Card {
    padding: 24px 32px !important;
    @media (max-width: 990px) {
      padding: 10px !important;
    }
  }
  p.k-label {
    margin-top: 16px;
    opacity: 0.65;
    filter: grayscale(0.1);
  }
  .k-form-field + .nomargin {
    margin-top: 8px;
  }
  .k-notification-group {
    right: 10px;
    bottom: 10px;
    @media (max-width: 560px) {
      left: 5px;
      right: 5px;
      top: 48px;
      bottom: auto;
    }
  }
  .k-textarea {
    resize: none;
    & > .k-input {
      resize: none;
    }
  }
}

.club-documents-status__head {
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  border-bottom: 1px solid #cbcbcb;
  @media (max-width: 560px) {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
  }
  &-link {
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #253c5e;
    &:first-child {
      position: relative;
      padding-left: 19px;
      &:before {
        content: "\2039";
        font-size: 40px;
        line-height: 1;
        position: absolute;
        left: 0;
        top: -8px;
      }
      @media (max-width: 560px) {
        padding-left: 17px;
        &:before {
          font-size: 32px;
          top: -9px;
        }
      }
    }
  }
}
