.custom-checkbox {
  margin-bottom: 8px;
  &.disabled {
    opacity: 0.75;
    pointer-events: none;
  }
  &__input {
    display: none;
    &:checked ~.custom-checkbox__label {
      &:before {
        background-color: #3366ff;
        border-color: #3366ff;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  &__label {
    display: inline-block;
    margin-bottom: 0!important;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 30px;
    position: relative;
    &:before {
      content: '';
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: 2px solid #DADADA;
      border-radius: 4px;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 3px;
      transition: all .2s linear;
    }
    &:after {
      content: '';
      box-sizing: border-box;
      width: 7px;
      height: 11px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(45deg);
      position: absolute;
      top: 5px;
      left: 6px;
      opacity: 0;
      transition: opacity .2s linear;
    }
  }
}
