.container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;

  &--content,
  &.container--content {
    margin-top: 70px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &-main {
    padding: 0 48px;
    min-height: calc(100vh - 134px);
  }
}
