.RanksFilter {
  margin-bottom: 18px;
  h4 {
    margin-bottom: 18px;
  }
  label {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
      background: #dae4ff;
    }
  }
}
