.slide {
  //position: absolute;
  height: 100%;
  //background-color: #FA5D50;
  display: flex;
  flex-flow: row nowrap;


  &__content {
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 572px;
    height: 100%;
    flex-grow: 2;
  }
  &__image{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-shrink: 2;
  }

  &__title {
    font-size: 26px;
    line-height: 32px;
    margin: 8px 0;
  }

  &__text {
    margin: 8px 0;
  }

  &__controls {
    margin: 8px 0;
  }
}