.federation-page {
  background-color: #F5F8FF;
  h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      display: block;
    }
  }
  &__left {
    width: 266px;
    min-width: 266px;
    margin-right: 40px;
    @media (max-width: 1220px) {
      margin-right: 24px;
    }
  }
  &__right {
    width: 100%;
    order: 1;
  }
}