.exhibitions-calendar {
  margin-bottom: 32px;
  &__controls {
    margin-bottom: 16px;
  }
  &__button {
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #90999e;
    text-align: center;
    cursor: pointer;
    width: 83px;
    padding: 4px 0;
    border: 1px solid #ebf0f2;
    border-radius: 4px;
    transition: all 0.2s linear;
    &.active,
    &:hover {
      border-color: #00c48c;
      background-color: #00c48c;
      color: #fff;
      font-weight: 600;
    }
    &:first-child {
      margin-right: 8px;
    }
  }
  &__legend {
    position: relative;
    padding-left: 18px;
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #00c48c;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .DayPicker {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ebf0f2;
    border-radius: 4px;
    margin-bottom: 8px;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
    &-Weekdays {
      margin-top: 16px;
    }
    &-Weekday {
      &:first-child {
        margin-left: 0;
      }
    }
    &-NavBar {
      padding: 0 12px;
    }
    &-Week {
      &:last-child .DayPicker-Day {
        margin-bottom: 0;
      }
    }
    &-Day {
      transition: background-color 0.2s linear;
      &:first-child {
        margin-left: 0;
      }
      &--today {
        color: inherit;
        background-color: transparent;
      }
      &--selectedDate {
        color: #00c48c;
        background-color: #e5f9f3;
      }
    }
  }
  .DayPickerForm {
    display: flex;
    &__select {
      &:first-child {
        margin-right: 4px;
        .DayPickerForm__select__control {
          min-width: 115px;
        }
      }
      &__value-container {
        padding: 4px 0 4px 12px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #253c5e;
      }
      &__single-value {
        position: static;
        transform: none;
        margin: 0;
        & + div {
          display: none;
        }
      }
      &__control {
        border: 1px solid #ebf0f2 !important;
        box-shadow: none !important;
        min-width: 80px;
        min-height: auto;
      }
      &__indicator {
        padding: 0 2px 0 0;
        &-separator {
          display: none;
        }
      }
    }
  }
}
