.ue-delete-page {
  &__describe {
    line-height: 20px;
    text-align: center;
    margin: 150px 0 !important;
    b {
      color: #72839c;
    }
  }
  .k-form-buttons {
    justify-content: center;
    &__delete {
      background-color: red !important;
      border-color: red !important;
      opacity: 0.8;
      &:hover {
        opacity: 2;
        transition: all 0.2s linear;
      }
    }
  }
}