.user-header {
  padding: 0 !important;
  margin-bottom: 24px;
  word-break: break-word;
  @media (max-width: 560px) {
    margin-bottom: 12px;
  }
  &__img {
    height: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    @media (max-width: 768px) {
      height: 200px;
    }
    @media (max-width: 560px) {
      height: 150px;
    }
  }
  &__content {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 110px;
    min-width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    @media (max-width: 768px) {
      width: 48px;
      min-width: 48px;
      height: 48px;
      margin-right: 12px;
    }
  }
  &__wrap {
    flex: 1;
  }
  &__user {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #72839c;
    @media (max-width: 560px) {
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: normal;
    }
  }
  &__name {
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 1.2;
    }
    @media (max-width: 560px) {
      font-size: 18px;
    }
  }
  &__federation {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #72839c;
    transition: color 0.2s linear;
    &:hover {
      color: #3366ff;
    }
    @media (max-width: 560px) {
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: normal;
    }
  }
  .btn-share {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    border: none;
    background: url("/static/icons/icon-share-2.svg") no-repeat 50%/contain;
  }
}