.Paginator {
  display: flex;
  flex-flow: row wrap;
  .FormInput {
    margin: 0;
    &__input {
      width: 103px;
      padding: 7px 14px;
      margin-right: 8px;
      background: url(/static/icons/chevron_right.svg) 83px center no-repeat;
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:active,
      &:focus {
        padding: 6px 13px;
        background: url(/static/icons/chevron_right.svg) 82px center no-repeat;
      }
    }
  }
}

.btn.Paginator__Button {
  outline: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
  height: 40px !important;
  min-height: 40px !important;
  max-height: 40px !important;
  margin-right: 8px;
  padding: 0;
  box-sizing: border-box;
  border-color: #ebf0f2;
  color: #253c5e;

  &--active {
    background-color: #3366ff;
    color: white;
    border-color: #3366ff;
    box-shadow: 0 4px 15px rgba(51, 102, 255, 0.3);
  }
}
