.edit-banner-modal {
  & > div {
    max-width: 600px;
  }
  .k-form-buttons {
    justify-content: center;
    margin-top: 24px;
  }
  .k-file-validation-message.k-text-success:before {
    content: 'Файл успешно загружен';
    position: absolute;
    background: #fff;
    width: 200px;
  }
  .k-upload {
    margin-top: 20px;
  }
  .k-dropzone {
    min-height: 80px;
  }
  p {
    text-align: center;
    font-size: 14px;
  }
}