.NewsFeed {
  $font-family: "Source Sans Pro", Helvetica, sans-serif;
  @import "~@progress/kendo-theme-bootstrap/dist/all.scss";
  @import "~bootstrap/scss/bootstrap.scss";
  display: flex;
  @media (max-width: 560px) {
    flex-direction: column-reverse;
  }
  &-left {
    width: 70%;
    margin-right: 16px;
    flex-shrink: 0;
    @media (max-width: 1080px) {
      width: 100%;
    }
    @media (max-width: 560px) {
      width: auto;
      margin: 0;
    }
  }
  &-right {
    flex-grow: 1;
    & > .Card {
      @media (min-width: 560px) {
        min-width: 250px;
        position: fixed;
      }
    }
  }
  &__category {
    &-item {
      display: flex;
      align-items: center;
      margin-top: 10px;
      &:nth-child(4),
      &:nth-child(5) {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
      }
      &.disabled {
        pointer-events: none;
        color: #b9b9b9;
        &:hover {
          color: #b9b9b9;
        }
        .k-icon {
          color: #b9b9b9;
        }
      }
      span:first-child {
        font-size: 18px;
        color: #72839c;
        margin-right: 10px;
        & + span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      & > a {
        display: block;
        margin-left: 12px;
        cursor: pointer;
        align-items: baseline;
        color: #72839c;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.active {
        color: #3366ff;
        transition: all 0.2s linear;
        .NewsFeed__icon {
          filter: invert(52%) sepia(84%) saturate(6200%) hue-rotate(218deg) brightness(101%) contrast(102%);
        }
      }
      &:hover {
        color: #3366ff;
        transition: all 0.2s linear;
        cursor: pointer;
        & > .UploadedDocuments__category-controls {
          display: flex;
          flex-grow: 1;
          justify-content: space-between;
        }
        .NewsFeed__icon {
          filter: invert(52%) sepia(84%) saturate(6200%) hue-rotate(218deg) brightness(101%) contrast(102%);
        }
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &-controls {
      display: none;
      flex-shrink: 0;
    }
  }
  &__inner {
    &-list {
      margin-bottom: 0 !important;
    }
  }
  &__icon {
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    &--publications {
      background-image: url("/static/new-icons/publications.svg");
    }
    &--new {
      background-image: url("/static/new-icons/new.svg");
    }
    &--required {
      background-image: url("/static/new-icons/required.svg");
    }
    &--applications {
      background-image: url("/static/new-icons/applications.svg");
    }
    &--archive {
      background-image: url("/static/new-icons/archive.svg");
    }
    &--subscriptions {
      background-image: url("/static/new-icons/subscriptions.svg");
    }
  }
  .Card {
    margin: 10px 0 16px 0;
    padding: 12px;
    div {
      font-weight: normal;
    }
    &:first-child {
      margin-top: 0;
    }
    @media (max-width: 560px) {
      padding: 16px;
    }
  }
  .mark {
    padding: 0;
    background-color: initial;
  }
}
.nursery-page {
  position: relative;
}
@media (max-width: 1080px) {
  .notification-page__filters {
    width: 100%;
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 9;
    height: calc(100% - 60px);
    padding: 16px 6px;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.2s ease-out;
    box-shadow: 0 6px 12px rgba(51, 102, 255 , 0.12);
    & .Card {
      box-shadow: none;
      width: 100%;
    }
    &._open {
      visibility: visible;
      transform: translateX(0);
      background: white;
    }
  }
}


