.NewsFeed {
    $font-family: "Source Sans Pro", Helvetica, sans-serif;
    @import "~@progress/kendo-theme-bootstrap/dist/all.scss";
    @import "~bootstrap/scss/bootstrap.scss";
    display: flex;
    @media (max-width: 560px) {
        flex-direction: column-reverse;
    }
    &-left {
        width: 600px;
        margin-right: 16px;
        flex-shrink: 0;
        @media (max-width: 560px) {
            width: auto;
            margin: 0;
        }
        .Card {
            word-break: break-all;
        }
    }
    &-right {
        flex-grow: 1;
        @media (min-width: 560px) {
            max-width: 250px;
        }
    }
    &__category {
        &-item {
            display: flex;
            align-items: center;
            margin-top: 10px;
            &:nth-child(6) {
                border-bottom: 1px solid #e5e5e5;
                padding-bottom: 10px;
            }
            &.disabled {
                pointer-events: none;
                color: #b9b9b9;
                &:hover {
                    color: #b9b9b9;
                }
                .k-icon {
                    color: #b9b9b9;
                }
            }
            span:first-child {
                font-size: 18px;
                color: #72839c;
                margin-right: 10px;
                & + span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            & > a {
                display: block;
                margin-left: 12px;
                cursor: pointer;
                align-items: baseline;
                color: #72839c;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.active,
            &.active .k-icon {
                color: #3366ff;
                transition: all 0.2s linear;
            }
            &:hover {
                color: #3366ff;
                transition: all 0.2s linear;
                cursor: pointer;
                & > .UploadedDocuments__category-controls {
                    display: flex;
                    flex-grow: 1;
                    justify-content: space-between;
                }
                .k-icon {
                    color: #3366ff;
                    transition: all 0.2s linear;
                }
            }
            &:first-child {
                margin-top: 0;
            }
        }
        &-controls {
            display: none;
            flex-shrink: 0;
        }
    }
    &__inner{
        &-list{
            margin-bottom: 0!important;
        }
    }
    .Card {
        margin: 10px 0 16px 0;
        padding: 12px !important;
        div {
            font-weight: normal;
        }

        @media (max-width: 560px) {
            padding: 16px;
        }
    }
    .mark {
        padding: 0;
        background-color: initial;
    }
}
