.UserEdit {
    .About {
        .k-form-hint {
            @media (max-width: 1024px) {
                display: none;
            }
            &__description {
                @media (max-width: 1024px) {
                    display: flex !important;
                    margin-bottom: 10px;
                }
            }
        }
        .form-row {
            justify-content: space-between;
            .About__custom-plus {
                display: flex;
                justify-content: center;
                width: 24px;
                height: 24px;
                padding: 0;
                margin: 7px 0 7px 15px !important;
                flex: unset;
                max-width: unset;
                min-width: unset !important;

                span.k-i-plus-circle {
                    font-size: 24px;
                    color: #007bff;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .k-form-field {
                margin-top: 0;
            }
            .form-group {
                @media (max-width: 860px){
                    .form-row {
                        &:nth-child(1) {
                            max-width: 100%;
                            & > div {
                                max-width: 70%;
                            }
                        }
                        &:nth-child(2) {
                            max-width: 90%;
                        }
                        .About__custom-trash {
                            min-width: unset !important;
                            margin: 3px 0 7px 7px !important;
                        }
                    }
                }
                &:nth-child(2) {
                    margin-right: 42px;
                    min-width: 80%;
                    @media (min-width: 769px) {
                        margin-right: 65px;
                    }
                    @media (min-width: 1025px) {
                        margin-right: 48px;
                        min-width: 84%;
                    }
                }
                &:nth-child(3) {
                    margin-left: 50px;
                    min-width: 80%;
                    @media (min-width: 1025px){
                        min-width: 84%;
                    }
                    @media (max-width: 860px){
                        margin-left: 0;
                        min-width: 100%;
                    }
                }
                &:nth-child(4) {
                    @media (min-width: 1025px){
                        flex: unset;
                        min-width: unset;
                    }
                }
            }
            .col-md-7 {
            flex: unset !important;
            max-width: unset !important;
                @media (min-width: 1025px) {
                    min-width: 100% !important;
                }
            }
        }
        &__custom-label {
            display: flex;
            align-items: center;
            height: 100%;
        }
        &__custom-trash {
            padding-top: 4px;
            text-align: center;
            margin-bottom: 5px !important;
            & > span {
                max-width: 100%;
                color: red;
                font-size: 24px;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        .FormEditorTextarea {
            border-radius: 4px;

            &__counter {
                color: #72839c;
            }

            p > span, strong {
                font-size: 16px !important;
            }

            .k-toolbar {
                div > button > span {
                    display: none;
                }
            }
        }

        .d-sm-block {
            @media (max-width: 860px) {
                display: none!important;
            }
        }

        .d-block {
            @media (max-width: 860px) {
                display: block!important;
            }
        }
    }
}
