.exhibition-list{
  &__header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px 0 24px 0;
  }
  &__date-range-filter{
    display: flex;
    flex-flow: row nowrap;
  }
  &__btn-create{
    margin-left: auto;
  }
}