.exhibition-list {
  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px 0 24px 0;
  }

  &__date-range-filter {
    display: flex;
    flex-flow: row nowrap;
  }

  &__btn-create {
    margin-left: auto;
  }

  &__btn {
    color: #90999e;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px 6px 6px;
    padding: 0 2px;
    background-color: transparent;
    border: none;
    border-bottom: 2px dashed rgba(144, 153, 158, 0.5);
    letter-spacing: 0.2px;
    cursor: pointer;
    outline: none;
    &--archive,
    &--active {
      color: rgb(26, 99, 223);
      border-color: transparent;
      text-decoration: none;
    }
  }
}
