.contacts-component {
  padding: 14px 16px !important;
  margin-bottom: 24px;
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 12px !important;
  }
  &__block {
    padding-left: 25px;
    margin-bottom: 8px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 17px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &._name:before {background-image: url("/static/icons/icon-name.svg");}
    &._site:before {background-image: url("/static/icons/ico-web.svg");}
    &._address:before {background-image: url("/static/icons/ico-pointer.svg");}
    &._person:before {background-image: url("/static/icons/owner.svg");}
    &._phone:before {background-image: url("/static/icons/ico-contact-phone.svg");}
    &._email:before {background-image: url("/static/icons/ico-contact-email.svg");}
    &._work:before {background-image: url("/static/icons/time.svg");}
    &-title, &-info {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
    &-info {
      color: #72839C;
      overflow: hidden;
    }
  }
}