.exhibitions-invite {
  &__main-info {
    display: grid;
    grid-template-areas:
      "club club exh exh exh exh"
      "city city sdate sdate edate edate"
      "nkp nkp nkp nkp nkp nkp";
    gap: 30px 0;
    margin-top: 25px;
    p:first-of-type{
      grid-area: club;
    }
    p:nth-of-type(2) {
      grid-area: exh;
    }
    p:nth-of-type(3) {
      grid-area: city;
    }
    p:nth-of-type(4) {
      grid-area: sdate;
    }
    p:nth-of-type(5) {
      grid-area: edate;
    }
    p:nth-of-type(6) {
      grid-area: nkp;
    }
  }
  &__buttons {
    text-align: center;
  }
}