.CitySelect {
  justify-content: flex-end;
  &__heading {
    margin: 0;
    margin-left: 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
  .Dropdown {
    &__content--visible {
      height: 360px;
      width: 290px;
    }
    &__button,
    &__button--visible {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #3366ff;
      padding: 0 0 0 20px;
      white-space: nowrap;
      &:after {
        display: none;
      }
      &:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 20px;
        left: 0;
        top: 0;
        background: url("/static/icons/pin.svg") center no-repeat;
        background-size: contain;
        @media (max-width: 560px) {
          height: 16px;
          top: 2px;
        }
      }
    }
  }
}
