.CitySelect {
  justify-content: flex-end;

  .Dropdown {
    &__content--visible {
      height: 308px;
      width: 290px;
      padding-top: 0;
    }
    &__button,
    &__button--visible {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #72839c;
      padding: 0 0 0 20px;
      white-space: nowrap;
      &:after {
        display: none;
      }
      &:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 20px;
        left: 0;
        top: 0;
        background: url("/static/icons/ico-pointer2.svg") center no-repeat;
        background-size: contain;
        @media (max-width: 560px) {
          height: 16px;
          top: 2px;
        }
      }
      &:hover {
        color: #3366ff;
        transition: all .2s linear;
        &:before {
          transition: all .2s linear;
          background: url("/static/icons/pin.svg") center center/contain no-repeat;
        }
      }    
    }
  }
}

.cities-filter {
  margin-bottom: 16px;
  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2px;
    color: #253c5e;
    flex-grow: 1;
    padding-bottom: 5px;
    height: auto;

  }
  &__head {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &__chevron {
    width: 24px;
    height: 24px;
    background: url("/static/icons/chevron-down-light.svg") no-repeat center;
    transition: all .2s linear;
    margin-left: 4px;
    &:hover {
      background: url("/static/icons/chevron-down-blue.svg") no-repeat center;
    }
    &._dropdown_open {
      transform: rotate(180deg);
    }
  }
  &__placeholder {
    color: #757575 !important;
  }
  &__values {
    list-style: none;
    &-item {
      display: inline-block;
      padding: 4px;
      background-color: #e8e8e8;
      border-radius: 2px;
      font-size: 14px;
      line-height: 1;
      &:not(:last-child) {
        margin-right: 4px;
      }
      button {
        padding: 0;
        margin-left: 4px;
        border: none;
        font-size: 12px;
        vertical-align: middle;
      }
    }
  }
  .custom-checkbox{
    pointer-events: none;
  }
}

#cities-filter {
  //display: flex;
  //flex-direction: column-reverse;
  .cities-filter {
    &__control {
      background-color: transparent;
      border-color: hsl(0,0%,80%);
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      box-shadow: none;
    }
    &__value-container {
      padding: 0;
    }
    &__indicator-separator,
    &__dropdown-indicator {
      display: none;
    }
    &__menu {
      position: static;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
    &__option {
      padding: 0 12px 0 0;
      color: #253c5e;
      cursor: pointer;
      background-color: transparent !important;
      transition: background-color .2s linear;
      &:hover {
        background-color: #DEEBFF !important;
      }
    }
  }
}
.dropdown__filters {
  &-enter,
  &-appear {
    opacity: 0;
    transform: translateY(-10px);
  }
  &-enter-active,
  &-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s, transform 0.2s;
  }
  &-exit {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s, transform 0.2s;
  }
  &-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s, transform 0.2s;
  }
}