.NewsList {
  display: flex;

  &__announcement {
    min-width: 784px;
    margin-right: 32px;
  }
}

.NewsStory {
  display: flex;
  flex-flow: row nowrap;
  margin: 32px 0;

  &--main {
    min-height: 380px;
    margin-bottom: 32px;
  }

  &--secondary {
    max-width: 376px;
    margin-right: 32px;
    min-height: 192px;
  }

  &__image {
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
    background-color: #BABFC7;
    margin-right: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__category {
    font-size: 14px;
    line-height: 16px;
    color: #9DAFBD;
    font-weight: 400;
    letter-spacing: .3px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
  }
}