.search-form {
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 560px) {
        justify-content: flex-end;
    }
    h3 {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
    }
    &__text_wrap {
        @media (min-width: 1080px) {
            display: flow-root;
        }
    }
    &__wrap {
        position: relative;
        flex-grow: 1;
        margin: 0 6px 24px 0;
        &:not(:first-child) {
            @media (max-width: 768px) {
                margin-left: 0;
            }
        }
        &:nth-child(3) {
            @media (max-width: 768px) {
                margin-left: 0;
            }
        }
    }
    &__wrap-with_but{
        display: flex;
        align-items: center;
        .search-form__cancel{
            right: 40px;
        }
        .search-form__button{
            margin: 26px 0 0 6px;
        }
      .search-form__button--clear{
        margin: 23px 0 0 3px;
      }
    }
    &__input {
        border: 1px solid lightgray;
        border-radius: 0.25rem;
        padding: 5px 34px 5px 10px;
        margin: 26px 0 6px 0;
        height: calc( 1.5em + 0.75rem + 2px);
        width: 100%;
    }
    &__cancel {
        background: url("/static/icons/cross-gray.svg") no-repeat center;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 64%;
        transform: translateY(-50%);
        z-index: 1;
    }
    &__label{
        position: absolute;
        top: 0;
        left: 0;
    }
    &__note{
        position: absolute;
        top: 66px;
        left: 3px;
        font-size: 12px;
        line-height: 18px;
    }
    &__text{
        margin-bottom: 5px;
    }
    &__icon {
        float: right;
        width: 145px;
        height: 145px;
        margin: 0 0 10px 40px;
        background: url("/static/images/news/empty_list.png") center center/contain no-repeat;
        @media (max-width: 560px) {
            width: 100px;
            height: 100px;
        }
        &.stamp-search {
            background-image: url("/static/images/base_search/stamp-search.svg");
        }
        &.found-info {
            background-image: url("/static/images/base_search/found-info.svg");
            
        }
        &.check-registration {
            background-image: url("/static/images/base_search/check-registration.svg");
        }
        &.referee_search {
            background-image: url("/static/images/base_search/referee_search.svg");
        }
        &.publication-search {
            background-image: url("/static/images/base_search/publication-search.svg");
        }
    }
    &__default-content {
        padding-top: 16px;
        text-align: center;
        h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }
    }
    &__button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        word-break: normal;
        button {
            margin-left: 6px;
            padding: 0;
            display: block;
            border: none;
            background: #ffffff;
            box-sizing: border-box;
            & svg:hover {
                fill: #3366ff;
                transition: fill 0.2s linear;
            }
            &:disabled svg {
                fill: #90999e;
                cursor: not-allowed;
            }
        }
        &--clear {
            button {
                display: block;
                background-color: #ffffff;
                margin: 0 0 0 3px;
                border: none;
                padding: 0;
                span {
                    display: inline-block;
                    width: 20px;
                    height: 25px;
                    background: url("/static/icons/delete-red.svg") center no-repeat;
                    cursor: pointer;
                }
            }
        }
        .Loading__title {
            margin: 0;
            width: 5em;
            height: 5em;
        }
    }
    &__table {
        width: 100%;
        &-heading {
            text-align: center;
            font-weight: bold;
        }
        td {
            border: 1px solid;
            padding: 5px;
            min-width: 120px;
        }
        @media (max-width: 475px) {
            overflow-x: scroll;
        }
    }
    &__info {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        margin: 20px 0;
        padding: 12px 16px;
    }
    &__button--clear{

    }
}
._hide {
    display: none;
}
.Card._active_card {
    box-shadow: 0 6px 12px #3366ff;
    transition: all 0.2s linear;
}

.search-form-judge{
    .search-form__input{
        margin-top: 0;
    }
    .search-form__wrap{
        margin-bottom: 0;
    }
    .search-form__button{
        margin-top: 0px;
    }
}