.federations-page {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px -20px 0;
    @media (max-width: 1220px) {
      margin: 32px -12px 0;
    }
    @media (max-width: 990px) {
      display: block;
      margin: 24px 0 0;
    }
    @media (max-width: 500px) {
      margin-top: 16px;
    }
  }
  &__item {
    margin: 0 20px 40px;
    width: calc(50% - 40px);
    @media (max-width: 1220px) {
      margin: 0 12px 24px;
      width: calc(50% - 24px);
    }
    @media (max-width: 990px) {
      margin: 0 auto 24px;
      width: 100%;
      max-width: 580px;
    }
    @media (max-width: 500px) {
      margin-bottom: 16px;
    }
  }
  .federation-block {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    &:hover {
      .federation-block__img {
        transform: scale(1.05);
      }
    }
    &__img {
      display: block;
      width: 100%;
      transition: all .2s linear;
    }
    &__info-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__info {
      padding: 24px;
      color: #fff;
      @media (max-width: 500px) {
        padding: 8px;
      }
    }
    &__title {
      font-weight: bold;
      font-size: 26px;
      line-height: 1.2;
      color: #fff;
      margin-bottom: 16px;
      @media (max-width: 1220px) {
        margin-bottom: 8px;
      }
      @media (max-width: 990px) {
        margin-bottom: 16px;
      }
      @media (max-width: 500px) {
        font-size: 18px;
        margin-bottom: 4px;
      }
    }
    &__description {
      font-weight: normal;
      @media (max-width: 500px) {
        font-size: 14px;
        line-height: 1.1;
      }
    }
    &__link {
      text-decoration: none;
      display: inline-block;
      background-color: #fff;
      border-radius: 4px;
      padding: 10px 34px;
      margin-top: 16px;
      font-weight: normal;
      letter-spacing: 0.2px;
      color: #3366ff;
      transition: background-color .2s linear;
      &:hover {
        background-color: #ebf0fe;
      }
      @media (max-width: 1220px) {
        margin-top: 8px;
      }
      @media (max-width: 990px) {
        margin-top: 8px;
      }
      @media (max-width: 500px) {
        margin-top: 0;
        text-decoration: underline;
        color: #fff;
        padding: 0;
        letter-spacing: normal;
        background-color: transparent !important;
      }
    }
  }
}