.news-feed-item {
  padding: 10px 0 10px 0 !important;
  & + .Card {
    padding: 10px 0 10px 0 !important;
  }
  &.is-request-article {
    .news-feed-item__left {
      height: auto;
      a {
        display: inline;
      }
    }
    .news-feed-item__controls {
      display: none;
    }
    .news-feed-item__content {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
    .news-feed-item__show-all {
      margin: 0;
    }
    .news-feed-item__text-wrap {
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
    }
    .news-feed-item__show-all-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 6px 10px 0;
    }
    .Share {
      height: 20px;
    }
  }
  &__wrap {
    &.is_read {
      opacity: 0.6;
    }
    &.is_closed {
      .news-feed-item__controls,
      .news-feed-item__photo,
      .news-feed-item__text-wrap,
      .news-feed-item__club,
      .news-feed-item__city {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
  &__content {
    margin-bottom: 0;
  }
  &__media {
    & > div + div {
      margin-top: 3px;
    }
  }
  &__photo {
    padding-bottom: 75%; /* 3:4 горизонтальное фото*/
    height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  &__video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9*/
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &._disabled {
      display: none;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 10px;
    text-align: right;
    @media (max-width: 600px) {
      position: relative;
      margin: 0 20px 0 10px;
    }
    &-control {
      position: relative;
      right: 20px;
      bottom: 2px;
      & > button {
        outline: none !important;
      }
      & > div {
        position: absolute;
        right: -4px;
        top: 100%;
        z-index: 1;
        margin-top: 6px;
        min-width: 170px;
        box-shadow: 0 5px 10px rgba(176, 190, 197, 0.5);
        background-color: #fff;
        border-radius: 4px;
        &:before {
          content: "";
          display: block;
          width: 14px;
          height: 14px;
          border-radius: 4px;
          background-color: #fff;
          position: absolute;
          top: -7px;
          right: 2px;
          z-index: -1;
          transform: rotate(45deg);
          box-shadow: 0 8px 25px rgba(176, 190, 197, 0.5);
        }
      }
      &-list {
        list-style: none;
        padding: 8px 0;
        background-color: #fff;
        margin-bottom: 0 !important;
      }
      &-item {
        text-align: left;
        cursor: pointer;
        padding: 0 10px;
        &:hover {
          background-color: #3366ff;
          & > * {
            color: white !important;
          }
        }
        & > * {
          color: #253c5e !important;
          transition: none;
          &:hover {
            color: white !important;
            text-decoration: none !important;
          }
        }
      }
      &-btn {
        display: block;
        border: none;
        background: url("/static/icons/chevron-down-light.svg") no-repeat center;
        background-size: contain;
        padding: 0;
        width: 10px;
        height: 24px;
        margin-left: 10px;
        margin-top: 2px;
        transition: all 0.2s linear;
        &:hover {
          background: url("/static/icons/chevron-down-blue.svg") no-repeat center;
          background-size: contain;
        }
        &._open {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__date-city {
    flex-direction: column-reverse !important;
  }

  &__left {
    display: flex;
    height: 62px;
    overflow: hidden;
    flex-grow: 1;
    margin-bottom: 8px;
    @media (max-width: 560px) {
      width: 100%;
    }
    &-logo {
      display: flex;
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 0 10px 0 0;
    }
    &-name {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      min-width: 0;
      width: 100%;
      @media (min-width: 560px) {
        width: calc(100% - 70px);
      }

      &_text {
        position: relative;
        left: -70px;
        &.--bold {
          font-weight: 600;
        }
      }

      &_textfalse {
        position: relative;
        left: -70px;
      }

      a {
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        color: #36f;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        span {
          display: inline-block;
        }
      }
      div p {
        margin-bottom: 0;
        margin-top: 14px;
        color: #72839C;
      }
      div {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #b9b9b9;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        span {
          color: #72839c;
          @media (max-width: 560px) {
            display: block;
          }
        }

        a {
          margin-bottom: 10px;
        }

      }
      & > span {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        color: #b9b9b9;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 18px;
        max-width: 100%;
      }
    }
  }
  &__right {
    display: flex;
    padding-top: 0;
    @media (max-width: 600px) {
      position: absolute;
      right: -18px;
    }
    .k-chip.k-chip-filled,
    .k-chip.k-chip-filled.k-chip-selected {
      height: 26px;
      padding: 4px 6px !important;
      background-color: #7899ff4d !important;
      color: #72839c !important;
      @media (max-width: 550px) {
        &:not(:last-child) {
          display: none;
        }
      }
      &:hover {
        background: #7899ff5d;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    .k-chip.k-chip-filled.must-read__chip {
      color: #dc3545 !important;
      background-color: rgba(220, 53, 69, 0.15) !important;
    }
    .k-chip.k-chip-filled.k-chip-disabled.must-read__chip {
      background-color: #7899ff4d !important;
      color: #72839c !important;
    }
  }
  &__city {
    position: relative;
    padding-left: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #72839c;
    white-space: nowrap;
    &:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      left: 0;
      top: 2px;
      background: url("/static/icons/ico-pointer2.svg") center no-repeat;
      background-size: contain;
      @media (max-width: 560px) {
        height: 16px;
      }
    }
    @media (max-width: 560px) {
      display: block;
      text-align: left;
      font-size: 14px;
      line-height: 22px;
      padding-left: 18px;
      margin-left: 0;
    }
  }
  &__text-wrap {
    max-height: 140px;
    overflow: hidden;
    margin: 0 10px;
    &._collapsed {
      height: auto;
      max-height: none;
      min-height: 100px;
    }
    @media (max-width: 560px) {
      height: auto;
      max-height: 100px;
    }
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #72839c;
    white-space: pre-wrap;
    word-wrap: break-word;
    transition: height 0.2s linear;
    margin-bottom: 0 !important;
    &._disabled {
      margin-bottom: 10px !important;
    }
    * {
      max-width: 100% !important;
      line-height: 20px;
    }
  }
  &__ad {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #72839c;
    white-space: pre-wrap;
    word-wrap: break-word;
    transition: height 0.2s linear;
    &-breed,
    &-price {
      margin-bottom: 10px !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-breed {
      span:first-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 130px);
      }
    }
    &-price {
      & > div:first-child {
        display: flex;
        flex-wrap: wrap;
      }
      span:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-inactive {
      color: red;
    }
  }
  &__documents {
    clear: both;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 1px solid #e5e5e5;
    margin: 0 10px;
    &-list {
      list-style: none;
      margin-bottom: 0 !important;
    }
    &-link {
      position: relative;
      padding-left: 26px;
      text-decoration: none;
      color: #72839c;
      transition: color 0.2s linear;
      &:before {
        content: "";
        display: inline-block;
        height: 20px;
        width: 20px;
        background: url("/static/icons/icon-pdf.svg") no-repeat center/contain,
          url("/static/icons/icon-pdf-blue.svg") no-repeat center/contain;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &:hover {
        color: #3366ff;
        &:before {
          background: url("/static/icons/icon-pdf-blue.svg") no-repeat center/contain;
        }
      }
    }

    &-item-name {
      color: #007bff;

      &:hover {
        color: #3366ff;
        cursor: pointer;
      }
    }
  }
  &__controls {
    margin: 0 10px;
    .Share {
      height: 18px;

      .ya-share2__icon_more {
        height: 16px;
        background-color: white;

        &:after {
          width: 16px;
          height: 16px;
          top: 0;
          background: url("/static/icons/icon-share-3-gray.svg") no-repeat 50% / contain;
          background-color: white;
        }

        &:hover:after {
          background: url("/static/icons/icon-share-3.svg") no-repeat 50% / contain;
          background-color: white;
        }
      }
    }
  }
  &__show-all {
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #36f;
    cursor: pointer;
    margin: 10px;
    &._disabled {
      display: none;
    }
  }
  &__modal {
    & > div {
      max-width: 80%;
      @media (max-width: 560px) {
        max-width: 92%;
      }
    }
    .Modal__inner {
      padding: 0;
    }
    .Modal__close {
      right: 20px !important;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1), 1px -1px 2px rgba(0, 0, 0, 0.1),
        -1px 1px 2px rgba(0, 0, 0, 0.1);
      opacity: 0.8;
      transition: opacity 0.2s linear;
      &:before {
        content: "✕";
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        opacity: 1;
      }
      @media (max-width: 560px) {
        right: 12px !important;
      }
    }
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__transition {
    &-enter,
    &-appear {
      opacity: 0;
      transform: translateY(-10px);
    }
    &-enter-active,
    &-appear-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.2s, transform 0.2s;
    }
    &-exit {
      opacity: 1;
      transform: translateY(0);
    }
    &-exit-active {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.2s, transform 0.2s;
    }
  }
  .ya-share2__popup {
    right: -5px;
    top: 210px!important;
    z-index: 98;
  }

  &__control-checkbox {

  }

  &__control-checkbox-label {
    margin: 0 !important;

    &:hover {
      cursor: pointer;
    }
  }

  &__control-checkbox-label>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__control-checkbox-label>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__control-checkbox-label>span::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    margin-right: 1px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__control-checkbox-label>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }

  &__control-checkbox-label>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  &__control-checkbox-label>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &__control-checkbox-label>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }

  &__control-checkbox-label>input:checked+span::before {
    border-color: #007BFF;
    background-color: #007BFF;
    background-image: url(/static/new-icons/check_mark.svg);
  }

  &__control-checkbox-label>input:disabled+span::before {
    background-color: #e9ecef;
  }
}
