.search-page {
  &__list-filter {
    overflow: hidden;
    margin-bottom: 25px;
    padding: 10px 10px 0;
    border-radius: 6px;
    position: sticky;
    top: 15px;
    background: white;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(51, 102, 255, .05), 0 4px 30px rgba(51, 102, 255, .1);

    h4 {
      margin-left: 0;
      padding-left: 14px;
    }

    & .slider {
      transition: .2s;
    }
    & .slider-inner {
      overflow: hidden;
      & .slider {
        overflow: visible;
      }
    }
  }
  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  &__link.active:before {
    content: '';
    position: absolute;
    left: -15px;
    bottom: -7px;
    background-color: #3366ff;
    height: 2px;
    width: calc(100% + 30px);
    display: block;
  }
}
.list-filter {
  user-select: none;
  list-style: none;
  display: flex;
  li  {
    padding: 10px 10px 8px 10px;
    border-bottom: 2px solid transparent;
    a.active {
      color: red;
    }
  }
  &.slider-wrap {
    transition: .2s;
    display: flex;
    align-items: center;
    div {
      height: 100%;
      letter-spacing: .2px;
      color: #72839c;
      line-height: 20px;
      font-weight: 600;
      font-size: 16px;
      padding: 0 15px 5px;
      white-space: nowrap;
      text-align: center;
      display: flex;
      align-items: center;
      border-bottom: 2px solid transparent;
    }
  }
  div {
    text-align: center;
  }
  &__title-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
  }
  &__title {
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-left: 6px;
    border-bottom: 1px solid #e8e8e8;

  }
  &__control {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #72839c;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }
}
