.club-documents-status__chips {
    position: relative;
    top: 10px;
}

.k-chip-list {
    flex-wrap: wrap;

    .k-chip-filled {
        &:first-child {
            color: #dc3545 !important;
            background-color: rgba(40, 167, 69, 0.15) !important;
        }

        &:nth-child(2) {
            color: #28a745 !important;
            background-color: rgba(40, 167, 69, 0.15) !important;
        }

        &:nth-child(3) {
            color: #17a2b8 !important;
            background-color: rgba(23, 162, 184, 0.15) !important;
        }
    }
}

.k-chip {
    margin-bottom: 10px;
}