.nursery-documents-status {
  margin-bottom: 0 !important;
  &__head {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
    border-bottom: 1px solid #cbcbcb;
    @media (max-width: 560px) {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 24px;
    }
    .btn-backward {
      border: none;
      padding: 0;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 32px;
      color: #253c5e !important;
      text-decoration: none;
      @media (max-width: 560px) {
        font-size: 16px;
        line-height: 24px;
      }
      &:before {
        content: "‹";
        font-size: 40px;
        line-height: 1;
        vertical-align: bottom;
        margin-right: 8px;
        @media (max-width: 560px) {
          font-size: 32px;
          line-height: 0.9;
        }
      }
    }
  }
  &__table {
    padding-bottom: 40px;
    overflow-x: auto;
    @media (max-width: 860px) {
      padding-bottom: 12px;
    }
    @media (max-width: 600px) {
      .primary-controls {
        display: block;
        &__per-page {
          margin-bottom: 8px;
        }
      }
    }
    @media (max-width: 560px) {
      h2 {
        font-size: 24px;
        line-height: 32px;
      }
    }
    td:last-child {
      width: 44px;
      min-width: 44px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      padding: 0 !important;
    }
    @media (max-width: 560px) {
      flex-direction: column;
      .btn-add {
        order: -1;
        margin: 16px 0 !important;
      }
    }
  }
  .btn-add {
    display: block;
    text-decoration: none;
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: #3366ff;
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(51, 102, 255, 0.08);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    margin-left: 40px;
  }
  &__filters {
    display: flex;
    flex-direction: column;

    @media (max-width: 990px) {
      width: 300px;
      min-width: 300px;
      position: fixed;
      top: 50px;
      left: 0;
      z-index: 3;
      padding: 16px;
      height: calc(100% - 50px);
      overflow-y: auto;
      visibility: hidden;
      transform: translateX(-100%);
      transition: all 0.2s ease-out;
      &._open {
        visibility: visible;
        transform: translateX(0);
        background: white;
      }
    }
    @media (max-width: 560px) {
      top: 48px;
      height: calc(100% - 48px);
    }
    .StickyFilters {
      @media (min-width: 990px) {
        display: flex;
        justify-content: space-between;
      }
    }
    &-wrap {
      @media (min-width: 990px) {
        display: flex;
      }
      & > div {
        @media (min-width: 990px) {
          margin-right: 20px;
        }
      }
    }
  }
  .click-guard {
    top: 0;
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__control {
    display: inline-flex;
    align-items: center;
    padding: 0;
    border: none;
    margin: 10px 0 10px 10px;
    letter-spacing: .2px;
    color: #72839c;
    transition: color .2s linear;
    position: relative;
    &:hover {
      color: #3366FF;
    }
    &--tableIcon:before {
      content: '';
      width: 17px;
      height: 17px;
      display: inline-block;
      margin-right: 10px;
      background: url(/static/icons/full-screen.svg) no-repeat center / cover;
    }
    &--downloadIcon:before {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 10px;
      background: url(/static/icons/downloadIcon.svg) no-repeat center / cover;
    }
  }
  &__popup {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100vw;
    height: 100vh;
    &-close {
      width: 20px;
      height: 20px;
      display: block;
      border: none;
      background: url("/static/icons/cross-gray.svg") no-repeat center;
      background-size: contain;
      padding: 0;
      transition: all 0.2s linear;
      position: absolute;
      top: 33px;
      right: 35px;
      z-index: 100;
      &:hover {
        width: 20px;
        height: 20px;  
        background: url("/static/icons/cross-gray-blue.svg") no-repeat center;
        background-size: contain;
      }
      @media (max-width: 560px) {
        right: 23px;
        top: 23px;
      }
    }
  }
  .k-header {
    font-size: 14px;
  }
}