.top-component {
  margin: 1px 0 24px;
  padding: 0 !important;
  @media (max-width: 560px) {
    margin-bottom: 16px;
  }
  &__banner {
    height: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    @media (max-width: 768px) {
      height: 200px;
    }
    @media (max-width: 560px) {
      height: 150px;
    }
  }
  &__content {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-right: 24px;
    @media (max-width: 990px) {
      margin: 0 0 0;
    }
  }
  &__logo {
    display: block;
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    margin-right: 24px;
    border-radius: 50%;
    @media (max-width: 560px) {
      margin-right: 8px;
      width: 60px;
      height: 60px;
      min-width: 60px;
    }
  }
  &__title {
    flex: 1;
    h2 {
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 4px;
      @media (max-width: 560px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.2px;
      color: #72839C;
      @media (max-width: 560px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  .btn-share {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    border: none;
    background: url("/static/icons/icon-share-2.svg") no-repeat 50%/contain;
  }
}

.btn__blue {
  text-decoration: none;
  border: none;
  min-width: 165px;
  padding: 11px 14px;
  background: #3366FF;
  box-shadow: 0 4px 8px rgba(51, 102, 255, 0.3);
  border-radius: 4px;
  color: #fff !important;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  @media (max-width: 560px) {
    font-size: 14px;
    line-height: 20px;
    padding: 7px 0;
  }
  &:not(:last-child) {
    margin-right: 8px !important;
  }
}
