.ClearFilter {
  button {
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  &__apply {
    color: white;
    background: #00c48c;
    border-radius: 4px;
    padding: 10px 33px;
    margin-right: 24px;
    &:hover {
      background: #1ba889;
    }
  }
  &__cancel {
    color: #90999e;
    padding: 0;
    &:hover {
      color: #3366ff;
      text-decoration: underline;
      background: none;
    }
  }
}
