.banner_component{
    margin-bottom: 16px;
    &__a{
        display: flex;
        justify-content: center;
    }
    &__img{
        border-radius: 6px;
        box-shadow: 0 6px 12px rgba(51,102,255,.08);
    }
}