.banner-component {
  margin: 16px 0;
  &__link {
    display: flex;
    justify-content: center;
  }
  &__img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(51,102,255,.08);
  }
}