.HomepageSlider {
  max-height: 528px;
  padding: 40px 18px 0 18px;
  margin-bottom: 10px;
  .slick-slide img{
    width: 100%;
  }
  @media (max-width: 1230px){
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    min-height: auto;
    padding: 40px 0 0 0;
  }
  @media (max-width: 560px) {
    background: none;
  }
  .slick-slider {
    max-width: 1184px;
    margin: auto;
  }
  .slick-dots {
    bottom: 15px;
    line-height: 1;
    @media (max-width: 560px) {
      bottom: 12px;
      padding-left: 20px;
      button {
        padding: 0;
        line-height: 1;
        width: 7px;
        height: 7px;
      }
      li {
        width: auto;
        height: auto;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
    @media (max-width: 350px) {
      display: none!important;
    }
    li {
      margin: 0;
      button:before {
        color: #3366ff;
        opacity: 0.5;
        text-shadow: 0 0 3px #ffffff, 0 0 3px #ffffff;
        @media (max-width: 560px) {
          line-height: 1;
          width: 7px;
          height: 7px;
        }
      }
      &.slick-active button:before {
        color: #3366ff;
        opacity: 1;
      }
    }
  }
}
