.HomepageSlider {
  max-height: 528px;
  padding: 50px 16px 0;
  background: #f5f8ff;
  margin-bottom: 16px;
  @media (max-width: 768px) {
    min-height: auto;
    padding: 50px 0 0;
    margin-bottom: 16px;
  }
  @media (max-width: 560px) {
    margin-bottom: 16px;
    background: none;
  }
  @media (min-width: 1200px){
    height: 528px;
  }
  .slick-slider {
    max-width: 1184px;
    min-height: 150px;
    margin: auto;
  }
  .slick-dots {
    bottom: 15px;
    line-height: 1;
    @media (max-width: 560px) {
      bottom: 12px;
      padding-left: 20px;
      button {
        padding: 0;
        line-height: 1;
        width: 7px;
        height: 7px;
      }
      li {
        width: auto;
        height: auto;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
    li {
      margin: 0;
      button:before {
        color: #3366ff;
        opacity: 0.5;
        text-shadow: 0 0 3px #ffffff, 0 0 3px #ffffff;
        @media (max-width: 560px) {
          line-height: 1;
          width: 7px;
          height: 7px;
        }
      }
      &.slick-active button:before {
        color: #3366ff;
        opacity: 1;
      }
    }
  }
}
