.horizontal-swipe {
  transition: all .2s linear;
  .list-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .list-filter__item {
      margin-bottom: 10px;
    }
  }

}