.UserEdit {
  .ue-security {
    .k-form-hint {
      @media (max-width: 990px) {
        display: none;
      }
    }
    .k-button {
      @media (max-width: 990px) {
        margin: 20px auto 0!important;
        background-color: #00C48C!important;
      }
    }
    &__row {
      display: flex;
      flex-direction: column;
      .k-form-field {
        margin-top: 15px !important;
      }
    }
    &__label {
      line-height: 20px;
      margin: 9px 0 0 !important;
      &-second {
        line-height: 20px;
        margin: 9px 0 -5px !important;
        color: #b9b9b9;
      }
    }
    .k-form:not(:last-child) {
      margin-bottom: 32px;
    }
    .k-form:last-child {
      .ue-security__label {
        margin-right: 10px !important;
        margin-bottom: 0 !important;
      }
    }
  }
}
