.UserEdit {
  .ue-security {
    &__row {
      display: flex;
      align-items: flex-start;
      .k-form-field {
        margin-top: 0 !important;
      }
    }
  }
  &__label {
    line-height: 20px;
    margin: 9px 0 0 !important;
    &-second {
      line-height: 20px;
      margin: 9px 0 0 !important;
      color: #b9b9b9;
    }
  }
  .k-form:not(:last-child) {
    margin-bottom: 32px;
  }
  .k-form:last-child {
    .ue-security__label {
      margin-right: 10px !important;
      margin-bottom: 0 !important;
    }
  }
}
